<div class="fragment-buildings-image-text">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<lfr-editable id="image01" type="image">
					<img alt="" class="mw-100" src="" style="width:100vw" />
				</lfr-editable>
			</div>

			<div class="col-md-6">
				<h1>
					<lfr-editable id="title01" type="text">
						Cheesecake Recipe
					</lfr-editable>
				</h1>

				<p>
					<lfr-editable id="cardContent01" type="text">
						This helps in creating a more dynamic web site: you can
						place user-created wiki entries, blog posts, or message
						board messages in context.
					</lfr-editable>
				</p>

				<a class="btn btn-primary" href="sugar-free" role="button">
					Read More
				</a>
			</div>
		</div>
	</div>
</div>