.fragment-buildings-image-text {
}

.fragment-buildings-image-text p {
	color: #6B6C7E;
}

.fragment-buildings-image-text img,
.fragment-buildings-image-text h1,
.fragment-buildings-image-text p {
	margin: 0;
	padding: 12px;
}

.fragment-buildings-image-text .btn {
	margin: 12px;
}