$blue-color: #2e5aac;
$green-color: #28a745;

.change_tracking-control-group {
	.control-menu-nav {
		.control-menu-nav-item {
			.control-menu-icon {
				height: 32px;
				line-height: 34px;
				margin-left: 3px;
				margin-right: 3px;
				padding: 0;
				text-align: center;
				width: 32px;
			}
		}
	}
}

.tooltip-background-blue {
	.tooltip-inner {
		background-color: $blue-color !important;
	}
}

.tooltip-background-green {
	.tooltip-inner {
		background-color: $green-color !important;
	}
}

// Blue

// Bottom

.tooltip.bottom.tooltip-background-blue,
.clay-tooltip-bottom.tooltip-background-blue,
.clay-tooltip-bottom-left.tooltip-background-blue,
.clay-tooltip-bottom-right.tooltip-background-blue {
	.arrow {
		&::before {
			border-bottom-color: $blue-color !important;
		}
	}

	.tooltip-arrow {
		&::before {
			border-right-color: $blue-color !important;
		}
	}
}

// Left

.tooltip.left.tooltip-background-blue,
.tooltip.left.tooltip-background-blue,
.clay-tooltip-left.tooltip-background-blue,
.clay-tooltip-left-bottom.tooltip-background-blue,
.clay-tooltip-left-top.tooltip-background-blue {
	.arrow {
		&::before {
			border-left-color: $blue-color !important;
		}
	}

	.tooltip-arrow {
		&::before {
			border-right-color: $blue-color !important;
		}
	}
}

// Right

.tooltip.right.tooltip-background-blue,
.clay-tooltip-right.tooltip-background-blue,
.clay-tooltip-right-bottom.tooltip-background-blue,
.clay-tooltip-right-top.tooltip-background-blue {
	.arrow {
		&::before {
			border-right-color: $blue-color !important;
		}
	}

	.tooltip-arrow {
		&::before {
			border-right-color: $blue-color !important;
		}
	}
}

// Top

.tooltip.top.tooltip-background-blue,
.clay-tooltip-top.tooltip-background-blue,
.clay-tooltip-top-left.tooltip-background-blue,
.clay-tooltip-top-right.tooltip-background-blue {
	.arrow {
		&::before {
			border-top-color: $blue-color !important;
		}
	}

	.tooltip-arrow {
		&::before {
			border-right-color: $blue-color !important;
		}
	}
}

// Green

// Bottom

.tooltip.bottom.tooltip-background-green,
.clay-tooltip-bottom.tooltip-background-green,
.clay-tooltip-bottom-left.tooltip-background-green,
.clay-tooltip-bottom-right.tooltip-background-green {
	.arrow {
		&::before {
			border-bottom-color: $green-color !important;
		}
	}

	.tooltip-arrow {
		&::before {
			border-right-color: $green-color !important;
		}
	}
}

// Left

.tooltip.left.tooltip-background-green,
.clay-tooltip-left.tooltip-background-green,
.clay-tooltip-left-bottom.tooltip-background-green,
.clay-tooltip-left-top.tooltip-background-green {
	.arrow {
		&::before {
			border-left-color: $green-color !important;
		}
	}

	.tooltip-arrow {
		&::before {
			border-right-color: $green-color !important;
		}
	}
}

// Right

.tooltip.right.tooltip-background-green,
.clay-tooltip-right.tooltip-background-green,
.clay-tooltip-right-bottom.tooltip-background-green,
.clay-tooltip-right-top.tooltip-background-green {
	.arrow {
		&::before {
			border-right-color: $green-color !important;
		}
	}

	.tooltip-arrow {
		&::before {
			border-right-color: $green-color !important;
		}
	}
}

// Top

.tooltip.top.tooltip-background-green,
.clay-tooltip-top.tooltip-background-green,
.clay-tooltip-top-left.tooltip-background-green,
.clay-tooltip-top-right.tooltip-background-green {
	.arrow {
		&::before {
			border-top-color: $green-color !important;
		}
	}

	.tooltip-arrow {
		&::before {
			border-right-color: $green-color !important;
		}
	}
}
