<div class="footer private-footer">
	<div class="container">
		<div class="footer-bottom">
			<ul class="nav flex-row footer-nav align-items-center">
				<li class="nav-item">
					<a class="nav-link" href="#"><img class="footer-logo" src="[resources:logo_inv.svg]" alt="" /></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Accesibility</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Privacy</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Termns of Use</a>
				</li>
			</ul>

			<ul class="nav footer-nav flex-row">
				<li class="nav-item">
					<a class="nav-link" href="#" data-lfr-editable-id="Social01" data-lfr-editable-type="image"><img src="[resources:instagram.svg]" alt="" /></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" data-lfr-editable-id="Social02" data-lfr-editable-type="image"><img src="[resources:facebook.svg]" alt="" /></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" data-lfr-editable-id="Social03" data-lfr-editable-type="image"><img src="[resources:linkedin.svg]" alt="" /></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" data-lfr-editable-id="Social04" data-lfr-editable-type="image"><img src="[resources:youtube.svg]" alt="" /></a>
				</li>
			</ul>
		</div>

		<div class="footer-copy">
			<p data-lfr-editable-id="Copy" data-lfr-editable-type="text">© 2020 Raylife Inc. All Rights Reserved.</p>
		</div>
	</div>
</div>