@import 'atlas-variables';
@import 'variables';

$product-menu-width: 320px;
$product-menu-item-fixed-width: $product-menu-width;
$product-menu-pages-administration-link-height: 72px;

.pages-tree {
	.layout-finder {
		border-bottom: 1px solid #272833;
		padding: 24px 16px 0px 16px;

		input {
			background-color: #393a4a;
		}

		.breadcrumb {
			flex-wrap: nowrap;
			margin-bottom: 0px;
			padding-bottom: 4px;

			.breadcrumb-item {
				flex-shrink: 0;

				&:not(:first-child):not(:last-child) {
					flex-basis: 1.5rem;
					flex-grow: 0.5;
					flex-shrink: 1;
					width: 100%;

					.breadcrumb-text-truncate {
						max-width: 95%;
						padding-right: 0.5rem;
						position: absolute;
					}
				}
			}
		}

		& .form-control:focus {
			border-radius: 1px;
		}

		.layout-finder-icon {
			color: white;
			position: absolute;
			right: 1.8rem;
			top: 1.8rem;
		}
	}

	.pages-administration-link {
		align-items: center;
		background-color: #272833;
		border-top: 1px solid #393a4a;
		bottom: 0;
		display: flex;
		font-size: 14px;
		height: $product-menu-pages-administration-link-height;
		padding: 16px 0px 24px 16px;
		position: fixed;
		width: $product-menu-item-fixed-width;
	}

	.page-type-selector {
		border-top: 1px solid #393a4a;
		margin-top: 20px;
		padding-top: 16px;

		.form-control {
			background-color: #272833;
			border-color: #393a4a;
		}

		.collapse-all-link {
			button {
				color: #cdced9;
			}

			font-size: 14px;
		}
	}

	.tree-view {
		.tree-node {
			.tree-label a {
				color: #cdced9;
			}

			font-size: 14px;
			margin-bottom: 4px;
			margin-top: 4px;

			.tree-node-selected .tree-label a {
				color: white;
			}
		}

		a.tree-node-paginator {
			color: white !important;
		}

		.tree-view-content {
			padding-top: 1rem;
		}

		.tree-hitarea:focus:before {
			box-shadow: 0 0 0 0.125rem #fff,
				0 0 0 0.25rem rgba(11, 95, 255, 0.5);
		}

		.tree-view-content {
			margin-bottom: calc(
				#{$product-menu-pages-administration-link-height} + #{$spacer}
			);
		}
	}
}

.product-menu {
	.sidebar-header {
		line-height: 32px;
		padding-bottom: 8px;
		padding-right: 9px;
		padding-top: 8px;

		@include media-breakpoint-up(sm) {
			padding-bottom: 12px;
			padding-left: 24px;
			padding-top: 12px;
		}

		.sidenav-close {
			float: right;
			margin-right: -2px;
		}
	}

	.sidebar-header-logo {
		margin-right: 10px;
	}

	.sidebar-body {
		bottom: 0;
		left: 0;
		padding: 0;
		position: absolute;
		right: 0;
		top: 55px;

		@include media-breakpoint-up(sm) {
			top: 64px;
		}

		@include media-breakpoint-down(xs) {
			overflow: visible;
			position: static;
		}

		.panel-app-root {
			&.active {
				border-left: 4px solid #fff;
			}

			li {
				font-weight: 400;
				list-style: none;

				&.active {
					font-weight: 700;
					margin-left: -24px;
					padding-left: 20px;
				}
			}
		}

		.panel-group {
			border-radius: 0;
		}
	}

	.lfr-product-menu-sidebar .panel-group {
		overflow: hidden;
	}

	small {
		display: block;
	}

	.list-group {
		> .collapse,
		> .collapsing {
			> .list-group-item > .tabular-list-group {
				margin-bottom: -10px;
				margin-top: -10px;
			}
		}
	}

	.list-group-heading {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-bottom: 0;
			margin-top: 0;
		}
	}

	.list-group-item {
		border-top-width: 0;
		padding: 10px 20px;
	}

	.nav-nested-margins > li .nav > li {
		.nav > li {
			margin-bottom: 1px;
		}
	}

	&.popover {
		background-color: #fff;
	}

	.impersonation-message {
		font-size: 12px;
	}

	.manage-sites-link {
		padding: 1em;
	}

	.site-selector {
		box-shadow: none;

		.selectable-site {
			color: #333;
			height: auto;
		}

		.list-group-item-content,
		.list-group-item-field {
			vertical-align: middle;
		}

		.site-link {
			color: #333;

			&.selected-site {
				color: #999;
			}
		}

		.site-logo-container {
			padding: 2em;
		}
	}

	.staging-links {
		font-size: 12px;
		margin: 10px 22px 4px 16px;
	}
}

/* ---------- Icon animation ---------- */

.toast-animation {
	display: inline-block;
	height: 18px;
	margin: 8px 6px 0;
	position: relative;
	width: 20px;

	.pm {
		border-left: 1px solid #fff;
		border-radius: 1px;
		height: 16px;
		left: 0;
		position: absolute;
		top: 0;
		transition-delay: 0.2s;

		@include transition(all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1));
	}

	.cn {
		border: 1px solid #fff;
		border-radius: 1px;
		content: '';
		height: 18px;
		position: absolute;
		right: 0;
		top: -1px;
		transition-delay: 0.2s;
		width: 15px;

		@include transition(all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1));
	}
}

body.product-menu-open .toast-animation {
	.pm {
		border-left-width: 6px;
		height: 18px;
		left: 4px;
		top: -1px;
	}

	.cn {
		border-left-width: 9px;
		width: 19px;
	}
}
