<div class="fjord-section fjord-testimony">
	<section class="bg-dark bg-image fjord-testimony-image jumbotron jumbotron-fluid mb-0 text-white" data-lfr-background-image-id="fjord-testimony">
		<div class="container py-5 py-7">
			<div class="row">
				<div class="col-12">
					<blockquote class="blockquote text-center">
						<lfr-editable id="fjord-testimony-text" type="rich-text">
							<h2 class="display-4 fjord-blockquote">Love this! I've tried many other apps and this is the only one that kept me on track and led to real results.</h2>
						</lfr-editable>

						<lfr-editable id="fjord-testimony-author" type="rich-text">
							<footer class="blockquote-footer text-reset">Jack S., Satisfied Customer</footer>
						</lfr-editable>
					</blockquote>
				</div>
			</div>
		</div>
	</section>
</div>