/**
 * @deprecated As of Mueller (7.2.x)
 */
@mixin media-query($min, $max: null) {
	$maxWidth: -1;
	$minWidth: -1;

	@if $min != null {
		@if map-has-key($media-query-sizes, $min) {
			$minWidth: map-get($media-query-sizes, $min);
		} @else {
			$minWidth: $min;
		}
	}

	@if $max != null {
		@if map-has-key($media-query-sizes, $max) {
			$maxWidth: map-get($media-query-sizes, $max);
		} @else {
			$maxWidth: $max;
		}
	}

	@if $maxWidth <= 0 and $minWidth <= 0 {
		@content;
	} @else if $maxWidth <= 0 {
		@media (min-width: $minWidth) {
			@content;
		}
	} @else if $minWidth <= 0 {
		@media (max-width: $maxWidth) {
			@content;
		}
	} @else {
		@media (min-width: $minWidth) and (max-width: $maxWidth) {
			@content;
		}
	}

	@warn "media-query has been deprecated as of Mueller (7.2.x)";
}

/**
 * @deprecated As of Mueller (7.2.x)
 */
@mixin xs {
	@include media-query(xs) {
		@content;
	}

	@warn "xs has been deprecated as of Mueller (7.2.x)";
}

/**
 * @deprecated As of Mueller (7.2.x)
 */
@mixin sm {
	@include media-query(sm) {
		@content;
	}

	@warn "sm has been deprecated as of Mueller (7.2.x)";
}

/**
 * @deprecated As of Mueller (7.2.x)
 */
@mixin md {
	@include media-query(md) {
		@content;
	}

	@warn "md has been deprecated as of Mueller (7.2.x)";
}

/**
 * @deprecated As of Mueller (7.2.x)
 */
@mixin lg {
	@include media-query(lg) {
		@content;
	}

	@warn "lg has been deprecated as of Mueller (7.2.x)";
}
