.portlet-ddm-form-report {
	#container {
		overflow: hidden;
	}

	.card,
	.sidebar-body {
		box-shadow: none;
		margin-bottom: 0;
		padding: 0 12px;
		width: 100%;

		.card-header {
			background-color: white;
			background-image: none;
			padding: 0;
		}

		.card-body {
			display: flex;
			min-height: 242px;
			padding: 0;

			.dim {
				opacity: 0.5;
			}

			.empty-message {
				margin-top: 27px;
				width: 100%;
			}

			.legend-container {
				margin-left: 50px;
				width: 50%;

				ul {
					font-size: 14px;
					padding-left: 0;

					li {
						display: flex;
						padding-bottom: 10px;

						p {
							margin-bottom: 0;
							max-width: 90%;
							min-width: auto;
							padding-left: 8px;
							position: relative;
						}
					}

					.show-more-action {
						color: #0b5fff;

						.show-more-button {
							color: #0b5fff;
							padding-left: 8px;
							position: relative;
							top: 1px;

							&:hover {
								text-decoration: underline;
							}

							&:focus {
								box-shadow: none;
							}
						}
					}
				}
			}
		}

		.card-title {
			font-size: 16px;
		}
		.card-text {
			color: #6b6c7e;
			font-size: 12px;
		}
		.card-symbol {
			background: #f7f8f9;
			border-radius: 4px;
			color: #6b6c7e;
			height: 40px;
			padding: 5px 10px 0;
			width: 40px;

			&:hover {
				cursor: help;
			}
		}

		.custom-tooltip {
			background: #393a4a;
			border-radius: 4px;
			box-shadow: 0 2px 4px rgba(39, 40, 51, 0.2);
			color: #fff;
			display: flex;
			flex-direction: column;
			padding: 12px 16px;
			width: auto;

			ul {
				font-size: 12px;
				list-style-type: none;
				margin: 0;
				padding: 0;

				svg {
					margin-right: 8px;
				}

				li {
					display: flex;
					margin: 0 0 10px;

					svg {
						margin-top: 3px;
					}
				}

				li:last-child {
					margin-bottom: 0;
				}
			}

			.header {
				border-bottom: 1px solid #ccc;
				font-size: 13px;
				font-weight: 600;
				font-weight: 600;
				margin-bottom: 10px;
				padding-bottom: 10px;
				width: 100%;
			}

			#tooltip-label {
				max-width: 90%;
			}
		}

		.field-info {
			margin-bottom: 24px;
			margin-left: 52px;
		}

		.field-list {
			width: 100%;
		}

		.summary {
			display: flex;
			justify-content: flex-start;
			padding-bottom: 16px;

			.summary-item:last-child {
				margin-right: 0;
			}

			.summary-item {
				align-self: center;
				background: #f7f8f9;
				border-radius: 4px;
				cursor: default;
				margin-right: 16px;
				padding: 8px 12px;

				.type {
					color: #6b6c7e;
					font-size: 14px;
					line-height: 150%;
				}

				.value {
					color: #000;
					font-size: 24px;
					font-weight: 600;
				}
			}
		}
	}

	.chart-container {
		align-items: stretch;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		max-width: 100%;
		min-width: 0;
	}

	.color {
		.color-viewer {
			border-radius: 20%;
			border-width: 0;
			height: 28px;
			width: 28px;
		}
		.color-text {
			padding-top: 4px;
		}
	}

	.custom-chart-size {
		display: flex;
		min-height: 400px;
		min-width: 400px;
		width: 100%;

		&.multi-bar-chart {
			margin-left: -32px;
		}

		&.pie-chart {
			margin-left: 63px;
		}

		&.simple-bar-chart {
			margin-left: -43px;
		}
	}

	.empty-message {
		margin-top: 104px;

		h1 {
			color: #272833;
			font-size: 18px;
		}

		p {
			color: #6b6c7e;
			font-size: 14px;
		}
	}

	.entries-list {
		font-size: 14px;
		list-style: none;
		padding: 0;
		width: 100%;

		li {
			border-bottom: 1px solid #e7e7ed;
			padding: 16px;

			button {
				font-size: 14px;
				padding: 0;
			}

			button:not(:disabled):not(:disabled):active:focus {
				box-shadow: none;
			}

			button:focus {
				box-shadow: none;
			}
		}
	}

	.form-report {
		display: flex;

		.card-item {
			width: 808px;
		}

		.card-item::before {
			content: ' ';
			display: block;
			height: 54px;
			margin-top: -54px;
			pointer-events: none;
			visibility: hidden;
		}

		.report-cards-shortcut {
			align-self: flex-start;
			margin-top: 24px;
			padding-left: 24px;
			position: sticky;
			top: 78px;

			ul {
				list-style-type: none;
				padding: 0;
				width: 240px;

				li {
					padding-bottom: 16px;

					a {
						align-items: center;
						color: #6b6c7e;
						display: flex;
						height: 100%;
						text-decoration: none;
						width: 100%;

						.field-label {
							font-size: 14px;
							font-weight: normal;
							line-height: 150%;
						}

						&:hover {
							color: #272833;
							cursor: pointer;

							.indicator,
							.field-label {
								transition: all 0.3s
									cubic-bezier(0.25, 0.11, 0.25, 1);
							}

							.indicator {
								background-color: #272833;
								height: 1px;
								margin-right: 8px;
								width: 8px;
							}
						}

						&.selected {
							.field-label {
								color: #272833;
								font-weight: 600;
							}

							& > .indicator {
								background-color: #272833;
								height: 2px;
								margin-right: 8px;
								width: 16px;
							}
						}
					}
				}
			}
		}

		.sidebar-backdrop {
			background-color: #393a4a;
			height: 100vh;
			left: 0;
			opacity: 0.8;
			position: fixed;
			top: 0;
			width: 100vw;
		}

		.sidebar-container {
			transform: translateX(100%);
			transition: transform 0.3s ease-in-out;
			width: 720px !important;

			&.open {
				transform: translateX(0%);
			}

			p {
				margin: 0;
				padding-left: 12px;

				&.title {
					color: #272833;
					font-size: 18px;
					font-weight: 600;
				}

				&.description {
					font-size: 14px;
					font-weight: normal;
				}
			}

			.close-sidebar {
				border-width: 0;
				height: 32px;
				width: 32px;
			}

			.component-tbar {
				height: 88px;
				padding: 18px 8px;
			}

			.icon {
				background: #f7f8f9;
				border-radius: 4px;
				color: #6b6c7e;
				height: 40px;
				padding: 5px 10px 0;
				width: 40px;

				.lexicon-icon {
					height: 100%;
					width: 100%;
				}
			}

			.sidebar-body {
				margin-top: 24px;
				padding: 0 24px;
			}

			.summary {
				border-bottom: 1px solid #e7e7ed;
				padding-bottom: 15px;
			}

			.tbar-item-expand {
				text-align: left;
			}
		}

		.sidebar-reports {
			top: 56px;

			.component-tbar {
				background: #fff;
				position: sticky;
				top: 0;
			}
		}
	}

	.legend-container {
		display: flex;
		flex-direction: row;
		margin-top: 64px;
		min-width: 10%;
		padding: 5px;
	}

	.legend-item {
		font-size: 10pt;
		margin: 0 0 4px;
	}

	.legend-list {
		display: flex;
		flex-direction: column;
		max-height: 100%;
		overflow-y: hidden;
		width: 100%;

		ul {
			list-style-type: none;
		}
	}

	.loading-wrapper {
		display: none;
		height: 31px;
		left: 50%;
		position: absolute;
		top: 50%;
		width: 31px;
		z-index: 1000;
	}

	.recharts-cartesian-axis-ticks {
		font-size: 14px;
	}

	.recharts-legend-wrapper {
		align-items: center;
		display: flex;
		justify-content: center;

		.bar-legend {
			display: flex;
			font-size: 14px;
			line-height: 150%;
			list-style-type: none;

			svg {
				margin-right: 8px;
				min-width: 12px;
			}

			rect {
				width: 12px;
			}

			span {
				display: -webkit-box;
				width: 89%;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}

			li {
				align-items: center;
				display: flex;
				margin: 0;
				max-width: 204px;
				padding: 0 16px 0 0;
			}
		}
	}

	.recharts-responsive-container {
		height: 400px !important;
		min-height: 400px;
		min-width: 400px;
	}

	.report-cards-area {
		transition: all 0.3s cubic-bezier(0.25, 0.11, 0.25, 1);

		.sheet {
			margin-top: 24px;
			padding-top: 24px;
		}
	}
}
