#container {
	overflow: hidden;
}

html,
body,
#root {
	height: 100%;
	min-height: 0;
	min-width: 0;
	width: 100%;
}

.card {
	box-shadow: none;
	margin-bottom: 0;
	width: 100%;

	.card-header {
		background-color: white;
		background-image: none;
		padding-bottom: 28px;
		padding-top: 8px;
	}

	.card-body {
		display: flex;

		.dim {
			opacity: 0.4;
		}

		.legend-container {
			width: 50%;
			ul {
				font-size: 14px;
				li {
					display: flex;
					padding-bottom: 10px;
					svg {
						width: 6%;
					}
					text {
						max-width: 94%;
						min-width: auto;
						padding-left: 8px;
						position: relative;
						top: -1px;
					}
				}

				.show-more-action {
					color: #0b5fff;

					.show-more-button {
						color: #0b5fff;
						padding-left: 8px;
						position: relative;
						top: 1px;

						&:hover {
							text-decoration: underline;
						}

						&:focus {
							box-shadow: none;
						}
					}
				}
			}
		}
	}

	.card-title {
		font-size: 16px;
	}
	.card-text {
		font-size: 12px;
	}
	.card-symbol {
		background: #f7f8f9;
		border-radius: 4px;
		color: #6b6c7e;
		height: 40px;
		padding: 10px;
		width: 40px;

		&:hover {
			cursor: help;
		}
	}

	.custom-tooltip {
		background-color: #393a4a;
		border-radius: 4px;
		color: #fff;
		display: flex;
		font-size: 12px;
		height: auto;
		justify-content: center;
		padding: 12px 16px 0;
		width: auto;

		& > svg {
			margin-top: 3px;
		}

		.tooltip-label {
			margin-left: 7px;
		}
	}

	.field-info {
		margin-left: 34px;
	}
}

.chart-container {
	align-items: stretch;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	max-width: 100%;
	min-width: 0;
}

.chart-area {
	min-width: 0;
	overflow: hidden;
}

.form-report {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.legend-container {
	display: flex;
	flex-direction: row;
	margin-top: 64px;
	min-width: 10%;
	padding: 5px;
}

.legend-list {
	display: flex;
	flex-direction: column;
	max-height: 100%;
	overflow-y: hidden;
	width: 100%;
}

.legend-item {
	font-size: 10pt;
	margin: 0 0 4px;
}

.recharts-responsive-container {
	height: 400px !important;
	min-height: 400px;
	min-width: 400px;
}
