.form-builder-layout {
	.layout-row {
		border-width: 0;
	}

	.layout-builder-resize-col-breakpoint-over .layout-builder-resize-col-breakpoint-line, .layout-builder-resize-col-breakpoint-line:focus {
		border-width: 0;
	}

	.form-builder-field-list,
	.form-builder-field-list-container,
	.form-builder-field-actions-container {
		height: 100%;
	}

	.form-builder-field {
		min-height: 113px;

		&:hover {
			.form-builder-field-actions-container {
				opacity: 1;
			}
		}
	}

	.form-builder-field-actions-container {
		@include transition(opacity 0.2s linear);

		display: flex;
		flex-direction: column;
		justify-content: center;
		opacity: 0;
		position: absolute;
		right: 0;
		top: 0;

		.btn {
			background-color: $light;
			cursor: pointer;
			margin: #{$baseline / 2} 0;

			&:hover {
				background-color: $primary-color;
			}
		}
	}

	.layout-builder-resize-col-draggable {
		@include transition(opacity 0.2s linear);
	}

	.layout-builder-resize-col-draggable-dragging {
		.layout-builder-resize-col-draggable-handle {
			background: transparent;
		}
	}

	.layout-builder-resize-col-draggable-handle {
		border-radius: 0;
		font-size: 20px;
		height: 100%;
		margin-right: -10px;
		margin-top: 0;
		padding: 0;
		right: 0;
		text-align: center;
		top: 0;
		width: 9px;

		&, &:hover {
			background-color: transparent;
		}

		svg {
			display: none;
		}
	}

	.layout-builder-resize-col-breakpoint-line {
		border-color: transparent;
	}

	.layout-row-container-row:hover .layout-builder-move-cut-button.layout-builder-move-cut-row-button,
	.layout-row-container-row:focus .layout-builder-move-cut-button.layout-builder-move-cut-row-button,
	.layout-builder-move-cut-button.layout-builder-move-cut-row-button:focus,
	.layout-row-container-row:hover .layout-builder-remove-row-button,
	.layout-row-container-row:focus .layout-builder-remove-row-button,
	.layout-row-container-row .layout-builder-remove-row-button:focus {
		display: none;
	}
}

.portlet-forms-admin .form-builder-layout {
	.form-builder-field:hover {
		background-color: transparent;
	}

	div.layout-row-container-row .layout-row .col:first-of-type .layout-col-content,
	div.layout-row-container-row .layout-row .col.last-col .layout-col-content,
	div.layout-row-container-row .layout-row .col .layout-col-content {
		padding-left: 0;
		padding-right: 0;
	}
}

#deleteFieldDialog {
	.btn {
		border: 1px solid transparent;
		border-radius: 0.25rem;
		box-shadow: none;
		font-size: 1rem;
		font-weight: 600;
		line-height: 1.5;
		margin-right: 10px;
		padding: 0.438rem 0.938rem;
	}

	.btn-primary {
		background-color: #1865FB;
		border-color: #1865FB;
		color: $light;
	}

	.btn-link {
		background-color: #FFF;
		border-color: #CDCED9;
		color: #6B6C7E;

		&:hover {
			text-decoration: none;
		}
	}

	.modal-full-screen-content .modal-body {
		overflow: visible;
		padding: 1rem 1.5rem;
	}
}