$sidebar-background-color: #FFF;
$sidebar-content-width: 320px;
$sidebar-header-padding: 0.5rem 1.5rem;
$sidebar-list-group-icon-size: 0.75rem;
$sidebar-list-subtitle-font-size: 0.7rem;
$sidebar-load-icon-pos-top: 150px;
$sidebar-margin-top-lg: 65px;
$sidebar-margin-top-sm: 49px;
$sidebar-navbar-border-color: #F1F2F5;
$sidebar-subtitle-font-size: 1rem;
$sidebar-title-font-size: 1.2rem;
$sidebar-z-index: 1000;

%no-border-side {
	border-left-width: 0;
	border-right-width: 0;
}

@mixin sidebarContentHeight($height) {
	height: calc(100vh - #{$height + $sidebar-margin-top-lg});
}

@media only screen and (min-width: 768px) {
	.form-builder-field-settings-sidebar.form-builder-sidebar,
	.form-builder-field-types-sidebar.form-builder-sidebar {
		margin-top: $sidebar-margin-top-lg;
	}
}

.form-builder-sidebar {
	margin-top: $sidebar-margin-top-sm;

	&.sidenav-fixed.sidenav-menu-slider {
		z-index: $sidebar-z-index;
	}

	&.sidebar-light {
		background-color: $sidebar-background-color;
	}

	.navbar {
		border-bottom: 1px solid $sidebar-navbar-border-color;
		border-top: 1px solid $sidebar-navbar-border-color;
	}

	.form-builder-sidebar-title {
		margin-top: 8px;
	}

	.sidebar-body {
		padding: 0;
	}

	.sidebar-header {
		padding: $sidebar-header-padding;

		.nav {
			flex-direction: row;
		}
	}

	.sidebar-content {
		width: $sidebar-content-width;
	}

	.sidebar-title {
		font-size: $sidebar-title-font-size;
	}

	.sidebar-subtitle {
		font-size: $sidebar-subtitle-font-size;
	}

	.sidebar-title,
	.sidebar-subtitle {
		font-weight: 500;
	}

	.tab a {
		outline: none;
	}

	.tab-content .tab-pane {
		padding: 1.5rem;
	}

	.lfr-ddm-form-tabs-content {
		overflow: auto;

		@include sidebarContentHeight(145px);

		.help-icon:hover {
			color: $sidebar-background-color;
		}
	}
}

.form-builder-sidebar-close {
	text-align: right;
}

.form-builder-sidebar-list {
	overflow: auto;

	@include sidebarContentHeight(124px);

	.list-group {
		border-radius: 0;
	}

	.list-group-header {
		@extend %no-border-side;

		&:first-child {
			border-radius: 0;
		}
	}

	.list-group-header-icon-open,
	.list-group-header-icon-closed {
		font-size: $sidebar-list-group-icon-size;
	}

	.list-group-item {
		@extend %no-border-side;
		border-bottom-width: 0;

		.flex-col:first-child {
			margin: 0 16px 0 8px;
		}

		&:first-child,
		&:last-child {
			border-radius: 0;
		}
	}

	.list-group-subtitle {
		font-size: $sidebar-list-subtitle-font-size;
		margin-bottom: 2px;
	}

	.toggler-header-collapsed {
		.list-group-header-icon-closed {
			display: block;
		}

		.list-group-header-icon-open {
			display: none;
		}
	}

	.toggler-header-expanded {
		.list-group-header-icon-closed {
			display: none;
		}

		.list-group-header-icon-open {
			display: block;
		}
	}
}

.form-builder-field-settings-sidebar {
	&.loading-data {
		.lfr-ddm-form-container {
			visibility: hidden;
		}

		.loading-icon {
			display: block;
		}
	}

	.loading-icon {
		display: none;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: $sidebar-load-icon-pos-top;
	}

	.required-warning {
		display: none;
	}

	#field-type-menu-content {
		span {
			margin: 0 6px;
		}

		> div {
			display: inline;
		}
	}
}