.form-builder-field-types-sidebar-content {
	.nav {
		flex-direction: row;
	}

	.field-types-content {
		height: calc(100vh - 167px);
		overflow: auto;
		padding-bottom: 1rem;
	}

	.list-group-header, .list-field-type-item {
		cursor: pointer;
	}

	.list-group-header h5 {
		font-size: 0.75rem;
		margin: 0;
		text-transform: uppercase;
	}

	.list-group-subtitle {
		font-size: 0.74rem;
	}
}