$light: #FFF;
$light-100: #F0F5FF;
$light-200: #EDEDED;
$light-400: #CDCED9;
$light-700: #869CAD;

$light-blue: #66B3F1;
$light-blue-200: #80ACFF;
$medium-blue: #2E5AAC;

$primary-color: #1C67FB;

$baseline: 8px;
$horizontal-spacing: 35px;
$transition-time: 0.5s;