@import "mixins";

.layout-column .quick-action-menu {
	position: static;
}

@include sm {
	.layout-column {
		height: calc(100vh - 384px);
		overflow-y: scroll;

		.active-item {
			background-color: #F0F5FF;
		}
	}
}