<div class="component-social d-flex justify-content-center pb-4">
	<ul class="list-unstyled list-group list-group-horizontal">
		<a href="#">
			<li>
				<lfr-editable id="01-img" title="" type="image">
					<img alt="..." src="https://dummyimage.com/1080/A7A9BC/A7A9BC.png">
				</lfr-editable>
			</li>
		</a>
		<a href="#">
			<li class="mx-3">
				<lfr-editable id="02-img" title="" type="image">
					<img alt="..." src="https://dummyimage.com/1080/A7A9BC/A7A9BC.png">
				</lfr-editable>
			</li>
		</a>
		<a href="#">
			<li>
				<lfr-editable id="03-img" title="" type="image">
					<img alt="..." src="https://dummyimage.com/1080/A7A9BC/A7A9BC.png">
				</lfr-editable>
			</li>
		</a>
	</ul>
</div>