@import "components/navbars";
@import "components/widget";
@import "portlet/portlet_decorators";
@import "portlet/portlet_hello_world";

header {
	.portlet, .field-wrapper, .form-group {
		margin-bottom: 0;
	}

	.text-default {
		color: #FFF;
	}

	.field-wrapper {
		position: absolute;
		right: 4px;
		top: 2px;

		a {
			color: #FFF;
		}
	}

	.portlet {
		margin-bottom: 0;

		&:hover {
			z-index: 1034;
		}
	}

	.user-avatar-link {
		position: relative;
	}

	.user-personal-bar {
		.fieldset {
			position: relative;
		}

		.sticker {
			bottom: auto;
			left: -1rem;
			right: auto;
			top: -1rem;
		}
	}

	.search-input {
		background-color: $complementary-color;
		border-color: transparent;
		color: #FFF;
		font-size: 0.88rem;
		padding: 0.28rem 2rem 0.28rem 1rem;

		&:focus {
			background-color: $secondary;
			color: #FFF;
		}
	}

	.user-avatar-image {
		display: inline-flex;
	}

	.user-full-name {
		@include media-query(null, $screen-xs-max) {
			display: none;
		}
	}
}

.info-panel {
	@include md {
		bottom: 0;
		position: absolute;
		top: 0;

		> .sidenav-menu {
			bottom: 0;
			position: absolute;
			right: 0 !important;
			top: 0;
		}
	}
}

.btn-group + .info-panel {
	@include md {
		top: auto;
	}
}

#footer {
	background-color: $complementary-color;
	color: #FFF;
	margin-top: 1rem;

	> .container {
		padding-bottom: 3rem;
		padding-top: 3rem;
	}
}