.friendly-url .language-value {
	padding-right: 2.5rem;
}

.btn-url-history {
	position: absolute;
	right: 3.15rem;
	top: 3.5rem;
	z-index: 5;

	&-wrapper {
		position: relative;
	}
}

&-url-history-modal {
	.show-quick-actions-one-line .quick-action-menu {
		align-items: center;
	}

	.language-selector-container {
		margin-bottom: -2.5rem;
		text-align: right;
	}

	.active-url {
		padding-right: 3rem;
	}
	.active-url-tite {
		font-weight: 600;
	}
	.active-url-text {
		font-size: 0.875rem;
	}
}
