@import 'atlas-variables';

.preview-seo {
	$component: &;

	border: 1px solid $secondary-l3;
	border-radius: 0.25rem;
	font-size: 0.875rem;
	padding: 1rem;

	&-description,
	&-title,
	&-url {
		min-height: $line-height-base * 1em;
	}

	&-title {
		font-size: 1rem;
	}

	&-serp {
		box-sizing: content-box;
		font-family: arial, sans-serif;
		width: 600px;

		#{$component}-description {
			color: #545454;
		}

		#{$component}-title {
			color: #1a0dab;
			font-size: 1.25rem;
			line-height: 1.3;
		}

		#{$component}-url {
			color: #006621;
			font-size: 1rem;
		}
	}

	&-og {
		width: 535px;

		#{$component}-image {
			margin-bottom: 0.75rem;
		}

		#{$component}-url {
			color: $secondary;
			text-transform: uppercase;
		}

		#{$component}-title {
			color: $dark;
			font-weight: 600;
		}
	}
}

.aspect-ratio-191-to-100 {
	@include clay-aspect-ratio(1.91, 1);
}
