@import "./miller_columns/Layout";

@import "./miller_columns/LayoutColumn";

.portlet-layouts-admin {
	.customization-settings #main-content {
		.portlet-column {
			border: 1px solid #0B5FFF;
			padding: 0 10px;
			text-align: center;
		}

		.portlet-layout {
			margin-bottom: 0;
		}

		.row {
			&:nth-child(2n-1) .portlet-column:nth-child(2n-1), &:nth-child(2n) .portlet-column:nth-child(2n) {
				background-color: #E5F5FC;
			}
		}
	}

	.dialog-footer {
		position: absolute;
	}

	.layout-type-img {
		width: 100%;
	}

	.searchcontainer-content .breadcrumb {
		margin-bottom: 0;
		padding: 0;
	}
}