@import './miller_columns/DragPreview';
@import './miller_columns/MillerColumns';
@import 'atlas-variables';

.portlet-layouts-admin {
	@import './FriendlyURLHistory';

	.active > .card {
		box-shadow: 0 0 0 2px $primary-l1;
	}

	.card-page-item-directory {
		@include media-breakpoint-up(lg) {
			flex-basis: 33.33333%;
			max-width: 33.33333%;
		}
	}

	.customization-settings #main-content {
		.portlet-column {
			border: 1px solid #0b5fff;
			padding: 0 10px;
			text-align: center;
		}

		.portlet-layout {
			margin-bottom: 0;
		}

		.row {
			&:nth-child(2n-1) .portlet-column:nth-child(2n-1),
			&:nth-child(2n) .portlet-column:nth-child(2n) {
				background-color: #e5f5fc;
			}
		}
	}

	.dialog-footer {
		position: fixed;
	}

	.friendly-url {
		.input-group-item-shrink {
			max-width: 50%;
		}
	}

	.searchcontainer-content .breadcrumb {
		margin-bottom: 0;
		padding: 0;
	}

	.card-img-align-top img {
		top: 0;
		transform: translate(-50%, 0);
		width: 100%;
	}
}
