.portlet-commerce-organization-order {
	.order-item-quantity{
		.form-group{
			margin: 0;
		}

		label{
			display: none;
		}
	}

	.notes-icon .no-notes {
		opacity: 0.5;
	}

	.lfr-order-date-column {
		max-width: none;
	}
}

.portlet-commerce-organization-open-order {

	.row{
		flex-wrap: nowrap;
		overflow: auto;
	}

	.order-card{
		background-color: #F6F6F8;
		padding: 20px;

		.order-id{
			margin-top: 10px;
		}
	}
}