$c: '.ddm-form-pagination';

#{$c} {
	padding: 0 2.4rem 0 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&.position-absolute {
		right: 0;
	}

	&.wizard-mode {
		margin-bottom: 1.4rem;
		border-bottom: 1px solid $light-400;
		padding-bottom: .2rem;
	}

	&.pagination-mode {
		margin-top: 1.4rem;
		border-top: 1px solid $light-400;    
		min-height: 90px;
		margin-bottom: -25px;
	}
	
	.dmm-wizard, 
	.ddm-pagination {
		width: 100%;
	}

	.ddm-pagination {
		margin-bottom: 0;
		
		.ddm-page-settings {
			margin-left: 0;
		}
	}

	.ddm-page-settings {
		margin-left: 2.4rem;
	}

	.multi-step-item {
		cursor: pointer;
	}
}