#wrapper .portlet-layout {
	margin: 0 !important;
}

#wrapper .main-content-card {
	margin: 0 !important;
}

.dialog-iframe-popup {
	background: #fff;
}

.dialog-with-footer {
	.workflow-definition-content {
		height: calc(100vh - 148px);
		overflow: auto;
	}
}

.info-bar-item {
	margin-top: -3px;
	position: absolute;
}

.info-bar-container .info-bar-default .btn.sidenav-transition {
	pointer-events: none;
}

.info-content {
	font-size: 0.875rem;
	font-weight: 100;
}

.info-title {
	font-size: 0.875rem;
	font-weight: 600;
}

.sidenav-container {
	padding-bottom: 75px;

	.sidenav-content {
		padding-top: 20px;
	}
	.sidenav-menu-slider {
		z-index: 101;
	}

	.sidebar-body {
		padding-top: 0;
	}

	.tbar-visible-xs {
		display: none;
	}

	@media (max-width: 767px) {
		.tbar-visible-xs {
			display: block !important;
		}
	}

	@media (max-width: 576px) {
		.sidenav-visible-xs {
			width: 100% !important;
		}
	}

	.lfr-nav.nav-tabs {
		margin-bottom: 0;
	}
}

.lfr-sidebar-list-group-workflow {
	&.sidebar-list-group {
		margin-top: 0;
	}

	.list-group-item {
		border-bottom-width: 1px;
		border-top-width: 1px;
		box-shadow: none;

		&:first-child {
			border-top: 0;
		}
	}
}

.workflow-definition-container {
	margin-top: 20px;
}

.workflow-definition-content {
	padding: 10px;

	.workflow-definition-content-source {
		border: 1px solid #b5b5b5;
	}

	.workflow-definition-content-source-wrapper {
		margin-bottom: 15px;
	}

	.workflow-definition-upload {
		margin-bottom: $baseline * 3;
	}

	.workflow-definition-upload-source {
		display: none;
	}
}

#workflowTasksPanelContainer {
	border-width: 0;
}
