.lfr-asset-column-details {
	.lfr-asset-actions {
		float: right;
		position: absolute;
		right: 10px;
		z-index: 1;
	}

	.task-content-actions {
		float: right;

		.btn-secondary {
			padding: 0;
		}
	}
}

.asset-icon .lexicon-icon {
	height: 32px;
	width: 32px;
}

.asset-title {
	font-weight: bold;
}

.workflow-instance-container {
	.asset-type,
	.status,
	.definition,
	.end-date {
		margin-right: 20px;
	}
}
