$c: '.ddm-rule-list-container';

#{$c} {
	.card-col-field {
		display: flex;
		width: max-content;

		.invalid-rule {
			padding-top: 3px;
		}
	}

	.ddm-condition-container {
		display: inline-block;
	}
}

.form-builder-rule-list {
	.inline-item-after {
		margin-left: 0.3rem;
	}

	.inline-item-before {
		margin-right: 0.3rem;
	}
}
