.timeline-item .panel-body {
	position: relative;

	.dropdown {
		position: absolute;
		right: 4px;
		top: 4px;
	}

	.ddm-data-provider-container .dropdown {
		position: relative;
	}

	.dropdown-toggle-operator {
		padding: 4px 12px;
	}
}

.liferay-ddm-form-builder-rule-condition-list {
	.timeline-item {
		.lfr-ddm-form-field-container {
			padding: 0;
		}

		&:first-child:before {
			top: 31px;
		}

		&:last-child > .operator {
			display: none;
		}

		.operator {
			border-radius: 4px;
			font-size: 14px;
			margin-top: 10px;
			position: relative;

			.panel-body {
				padding: 5px 17px;
			}
		}

		.panel-inline {
			display: inline-block;
		}
	}
}

.liferay-ddm-form-rule-builder-timeline {
	&.liferay-ddm-form-builder-rule-action-list {
		.action-rule-data-provider {
			p {
				display: inline-block;
			}

			.data-provider-label-container {
				margin-bottom: 15px;
			}

			.data-provider-parameter-output,
			.data-provider-parameter-input {
				margin-right: 10px;
			}

			.data-provider-parameter-output-container,
			.data-provider-parameter-input-container {
				background-color: #f8f8f8;
				border-top: 1px solid #dce0e3;
				margin-top: 15px;
				padding: 20px 55px;
			}

			.data-provider-parameter-output-list,
			.data-provider-parameter-input-list {
				.container-input-field {
					margin-bottom: 10px;
				}

				.container-input-label {
					margin-top: 10px;
				}
			}

			.no-padding {
				padding: 0;
			}
		}

		.container-target-action {
			display: inherit;

			h4 {
				margin-right: 10px;
			}
		}

		.lfr-ddm-form-field-container-inline {
			display: inline-block;
		}

		.timeline-item {
			&:last-child:before {
				bottom: 42px;
			}

			.lfr-ddm-form-field-container {
				padding: 0;
			}
		}

		& + div div:before {
			bottom: 20px;
			top: -72px;
		}

		& .timeline-item .panel .no-padding-bottom {
			padding-bottom: 0;
		}

		.calculate-container {
			background-color: #f8f8f8;
			display: flex;
			flex-wrap: wrap;
			margin-top: 15px;
		}

		.calculate-container-fields {
			margin-top: 22px;
			padding: 8px 25px 25px;

			textarea {
				background-color: #f5f5f5;
				border: 1px solid #ccc;
				border-radius: 2px;
				color: #333;
				font-family: Menlo;
				font-size: 13px;
				min-height: 200px;
				padding: 10px;
			}

			textarea[readOnly] {
				cursor: not-allowed;
			}

			.calculate-field-target {
				padding-top: 45px;
			}
		}

		.calculate-container-calculator-component {
			min-width: 238px;
			padding-bottom: 30px;
			padding-top: 30px;

			.calculator-add-field-button-container {
				margin: 0 auto;
				padding: 0;
				width: 206px;

				.calculator-add-field-button {
					height: 49px;
					margin-bottom: 5px;
					margin-left: 1px;
					width: inherit;
				}

				.form-builder-select-field {
					margin-left: 0;
					width: 206px;

					.select-field-trigger {
						display: none;
					}
				}
			}

			.calculator-button-area {
				display: flex;
				margin: 0 auto;
				padding: 0;

				& ul {
					list-style-type: none;
				}

				.calculator-buttons {
					display: flex;
					flex-flow: row wrap;
					margin: 0;
					overflow: inherit;
					padding: 0;

					li.calculator-button,
					.calculator-add-operator-button-area {
						align-items: center;
						cursor: pointer;
						display: flex;
						height: 49px;
						justify-content: center;
						margin: 1px;
						text-align: center;
						width: 49px;
					}

					.calculator-add-operator-button-area {
						.calculator-add-operator-button {
							height: 50px;
							position: absolute;
							width: 50px;
						}

						.form-builder-select-field {
							margin-left: -19px;
							margin-top: -10px;
							position: absolute;

							.select-field-trigger {
								display: none;
							}

							.drop-chosen {
								border: solid 1px #dde1e3;
								border-radius: 4px;
								left: -17px;
								padding: 5px 0;
								text-align: left;
								top: 11px;
								width: 100px;

								.search-chosen {
									display: none;
								}
							}
						}
					}

					li.button-padding-icons {
						padding-left: 8px;
						padding-top: 10px;
					}

					li.button-two-columns {
						width: 100px;
					}

					li.border-top-left {
						border-top-left-radius: 4px;
					}

					li.border-top-right {
						border-top-right-radius: 4px;
					}

					li.border-bottom-right {
						border-bottom-right-radius: 4px;
					}

					li.border-bottom-left {
						border-bottom-left-radius: 4px;
					}
				}

				.calculator-buttons-numbers {
					margin-right: 4px;
					width: 153px;
				}

				.calculator-buttons-operators {
					width: 51px;
				}
			}
		}
	}

	.form-group-item div.dropdown,
	.action {
		position: relative !important;
		right: inherit !important;
		top: inherit !important;
	}

	.timeline-item {
		color: #869cad;
		position: relative;

		&:not(:nth-of-type(1)) .timeline-icon {
			background-color: #6b6c7e;
		}

		.action-panel {
			display: table;
			width: 100%;
		}

		.calculate-container .form-group {
			margin: 0;
		}

		.form-group,
		.form-group-autofit {
			margin: 0;
		}

		.form-group-item {
			max-width: 200px;
		}

		.rule-choose-box {
			display: table-cell;
		}

		& .timeline-icon {
			border: 2px solid #6b6c7e;
			margin-right: 2px;
		}
	}
}
