<div class="wb-tertiary-background-color">
	<div class="container-fluid container-fluid-max-xl">
		<div class="row">
			<div class="col-md-8 mx-auto">
				<h2 class="text-center">
					<lfr-editable id="offeringsTitle" type="text">Always thinking of you</lfr-editable>
				</h2>
			</div>

			<div class="col-md-6 col-xs-10 mx-auto">
				<lfr-editable id="offeringsContent" type="rich-text">
					<p>Whether it''s your child''s first savings account, your first home or your retirement plan, we offer personal banking products and services tailored to your needs today with the flexibility to grow with you. We''re here to help you every step of the way.</p>
				</lfr-editable>
			</div>

			<lfr-widget-asset-list></lfr-widget-asset-list>
		</div>
	</div>

	<div class="wb-bottom-modules">
		<section class="container-fluid container-fluid-max-lg">
			<div class="row">
				<div class="col-md-4">
					<div class="content-wrapper">
						<h2>
							<lfr-editable id="offering1Title" type="text">Life Insurance</lfr-editable>
						</h2>

						<lfr-editable id="offering1Content" type="rich-text">
							<p>Westeros gives you and your loved ones reassurance that you''re covered if the unexpected happens.</p>
						</lfr-editable>

						<lfr-editable id="offering1Link" type="rich-text">
							<p><a class="small text-uppercase" href="#"><strong>Submit Your Request</strong></a></p>
						</lfr-editable>
					</div>
				</div>

				<div class="col-md-4">
					<div class="content-wrapper">
						<h2>
							<lfr-editable id="offering2Title" type="text">Multicredit 24h</lfr-editable>
						</h2>

						<lfr-editable id="offering2Content" type="rich-text">
							<p>Use your Westeros loan&nbsp;for almost anything you can think of, from getting a new car to consolidating existing debt.</p>
						</lfr-editable>

						<lfr-editable id="offering2Link" type="rich-text">
							<p><a class="small text-uppercase" href="#"><strong>See your options</strong></a></p>
						</lfr-editable>
					</div>
				</div>

				<div class="col-md-4">
					<div class="content-wrapper">
						<h2>
							<lfr-editable id="offering3Title" type="text">Online Banking</lfr-editable>
						</h2>

						<lfr-editable id="offering3Content" type="rich-text">
							<p>Quick and convenient access to your accounts and much more, even&nbsp;on your mobile device...</p>
						</lfr-editable>

						<lfr-editable id="offering3Link" type="rich-text">
							<p><a class="small text-uppercase" href="#"><strong>Register Now</strong></a></p>
						</lfr-editable>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>