<div class="wb-iconLinks">
	<div class="container-fluid container-fluid-max-xl">
		<div class="row">
			<div class="col-12">
				<h2 class="h6 text-uppercase">
					<lfr-editable id="linksTitle" type="text">Find Us</lfr-editable>
				</h2>
			</div>
		</div>

		<div class="row" id="footer-modules">
			<div class="col-sm-6">
				<div class="icon-phone user-icon user-icon-xl"></div>

				<div class="txt">
					<h3>
						<lfr-editable id="link1" type="rich-text">
							<a href="#" rel="external" target="_blank" title="">(0054) 432 943 435</a>
						</lfr-editable>
					</h3>

					<lfr-editable id="link1subtitle" type="text">+435 432 654 654 from Overseas</lfr-editable>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="icon-paper-clip user-icon user-icon-xl"></div>

				<div class="txt">
					<h3>
						<lfr-editable id="link2" type="rich-text">
							<a href="http://www.liferay.com" rel="external" target="_blank" title="">Press Room</a>
						</lfr-editable>
					</h3>
				</div>
			</div>

			<div class="clearfix visible-lg-block visible-md-block"></div>

			<div class="col-sm-6">
				<div class="icon-home user-icon user-icon-xl"></div>

				<div class="txt">
					<h3>
						<lfr-editable id="link3" type="rich-text">
							<a href="#" rel="external" target="_blank" title="">Westeros Branches</a>
						</lfr-editable>
					</h3>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="icon-briefcase user-icon user-icon-xl"></div>

				<div class="txt">
					<h3>
						<lfr-editable id="link4" type="rich-text">
							<a href="#" rel="external" target="_blank" title="">Work with Us</a>
						</lfr-editable>
					</h3>
				</div>
			</div>

			<div class="clearfix visible-lg-block visible-md-block"></div>
		</div>
	</div>
</div>