<div class="container-fluid container-fluid-max-xl wb-video-preview">
	<div class="row">
		<div class="col-md-6 text">
			<p class="small text-uppercase">
				<lfr-editable id="videoSubtitle" type="text">More than a bank account</lfr-editable>
			</p>

			<h2>
				<lfr-editable id="videoTitle" type="text">Place your content here</lfr-editable>
			</h2>

			<p class="lead">
				<lfr-editable id="videoLead" type="rich-text">
					Open a new account with us and switch at the end of your application. Choose your preferred switch date – all payments will be moved over in just 7 working days.
				</lfr-editable>
			</p>

			<p>
				<lfr-editable id="videoLink" type="rich-text">
					<a class="small text-uppercase" href="#" rel="external" target="_blank" title=""><strong>See how to apply</strong></a>
				</lfr-editable>
			</p>
		</div>

		<div class="col-md-6 image">
			<lfr-widget-media-gallery></lfr-widget-media-gallery>
		</div>
	</div>
</div>