@import "mixins";

.portlet-blogs {
	.entry-subtitle {
		margin-bottom: 20px;

		h4 {
			font-weight: 600;
		}

		.view-single-entry {
			h4 {
				font-size: 32px;
				font-weight: 300;
				line-height: 45px;
				margin-top: 35px;
				text-align: center;
			}
		}
	}

	.entry-body {
		position: relative;

		h1 {
			font-weight: bold;
			text-align: center;
		}

		p {
			line-height: 27px;
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.cover-image-container {
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			height: 400px;
		}

		.uploading-image-container {
			display: inline-block;

			.progressbar {
				height: 20px;
			}
		}

		.uploading-image {
			opacity: 0.4;
		}
	}

	.cover-image-caption {
		color: #868896;
		text-align: right;
	}

	.entry-body, .portlet-body {
		img, .cke_widget_image {
			&[style*="float:"][style*="left;"] {
				margin-right: 24px;
			}

			&[style*="float:"][style*="right;"] {
				margin-left: 24px;
			}

			&[style*="display: block;"][style*="margin-left: auto;"][style*="margin-right: auto;"], &[style*="display:block;"][style*="margin-left:auto;"][style*="margin-right:auto;"], &[style*="float: left;"], &[style*="float:left;"], &[style*="float: right;"], &[style*="float:right;"] {
				margin-bottom: 24px;
				margin-top: 24px;
			}

			& {
				max-width: 100%;
			}
		}
	}

	.social-bookmarks {
		.fb-like.fb_iframe_widget span {
			vertical-align: top !important;
		}
	}
}

.firefox .portlet-blogs fieldset {
	display: table-cell;
}