$contextualSidebarContentPadding: 320px;
$controlMenuHeight: 48px;
$desktopControlMenuHeight: 56px;
$managementBarHeight: 48px;
$managementBarZIndex: 4;
$productMenuTransitionDuration: 0.5s;
$productMenuWidth: 320px;
$sidebarZIndex: 4;
$sidebarCardPlusButtonZIndex: 6;
$sidebarCardWidth: 272px;
$sidebarCardZIndex: 5;
$sidebarWidth: 320px;

$fragmentEditableFieldGridAccentColor: #80ACFF;
$fragmentEditableFieldGridDefaultColor: #A7A9BC;
$fragmentEditableFieldGridSize: 8px;
$fragmentEditableFieldGridTranslatedColor: #3DC513;
$fragmentEditableFieldTooltipZIndex: 4;

$fragmentEntryLinkBorderRadius: 3px;
$fragmentEntryLinkBorderWidth: 1px;
$fragmentEntryLinkContentZIndex: 0;
$fragmentEntryLinkContentHoverZIndex: auto;
$fragmentEntryLinkControlHeight: 48px;
$fragmentEntryLinkControlZIndex: 1;
$fragmentEntryLinkControlHoverZIndex: 2;
$fragmentEntryLinkZIndex: 5;

$fragmentEntryLinkBorderColor: #0B5FFF;
$fragmentEntryLinkControlColor: #FFF;
$fragmentEntryLinkControlBackgroundColor: #0B5FFF;
$fragmentEntryLinkHoverBorder: 1px solid #0B5FFF;
$fragmentEntryLinkColumnBorder: 1px dashed #CDCED9;
$fragmentEntryLinkSectionBorder: 1px solid #CDCED9;
$fragmentEntryLinkSectionHoverBorder: 1px solid #0B5FFF;
$fragmentEntryLinkSpacing: 12px;

$fragmentEntryLinkListPadding: 48px;

$portletColor: #0B5FFF;
$portletBorderColor: #89A7E0;
$portletBorderRadius: $fragmentEntryLinkBorderRadius;
$portletBorderWidth: $fragmentEntryLinkBorderWidth;
$portletTopperZIndex: $fragmentEntryLinkControlZIndex;

$sidebarHeaderHeight: 80px;

$sectionBorderColor: #0B5FFF;
$sectionBorderRadius: 3px;
$sectionBorderWidth: 1px;
$sectionControlBackgroundColor: #0B5FFF;
$sectionControlColor: #FFF;
$sectionControlHoverZIndex: 1;
$sectionMinimumHeight: 160px;
$sectionZIndex: 5;

$translationStatusListZIndex: 4;