$controlMenuHeight: 48px;
$desktopControlMenuHeight: 56px;
$managementBarHeight: 48px;
$sidebarHeaderHeight: 80px;

$productMenuTransitionDuration: 0.5s;

$contextualSidebarContentPadding: 320px;
$productMenuWidth: 320px;
$sidebarCardWidth: 272px;
$sidebarWidth: 320px;

$draggableItemZIndex: 991;
$fragmentEditableFieldTooltipZIndex: 4;
$fragmentEntryLinkContentHoverZIndex: auto;
$fragmentEntryLinkContentZIndex: 0;
$fragmentEntryLinkZIndex: 5;
$managementBarZIndex: 4;
$portletTopperZIndex: 1;
$sidebarCardPlusButtonZIndex: 6;
$sidebarCardZIndex: 5;
$sidebarZIndex: 4;
$topperHoverZIndex: 2;
$topperZIndex: 1;
$translationStatusListZIndex: 4;

$fragmentEditableFieldGridAccentColor: #80ACFF;
$fragmentEditableFieldGridDefaultColor: #A7A9BC;
$fragmentEditableFieldGridSize: 8px;
$fragmentEditableFieldGridTranslatedColor: #3DC513;

$fragmentEntryLinkListPadding: 48px;
$sectionMinimumHeight: 160px;

$fragmentEntryLinkSectionBorder: 1px solid #CDCED9;
$fragmentEntryLinkSpacing: 12px;

$draggableItemBackgroundColor: #E1EBFF;
$draggableItemColor: #0B5FFF;
$dropTargetColor:#80ACFF;
$dropTargetWidth: 5px;

$topperBorderColor: #0B5FFF;
$topperBorderRadius: 2px;
$topperBorderWidth: 1px;
$topperFocusedBorderWidth: 2px;
$topperBackgroundColor: #0B5FFF;
$topperColor: #FFF;
$topperShowDelay: 0.3s;
$topperShowDuration: 0.3s;

$portletColor: #0B5FFF;
$portletBorderColor: #89A7E0;
$portletBorderRadius: 3px;
$portletBorderWidth: 1px;