@import "variables";

.fragments-editor__floating-toolbar {
	bottom: auto;
	left: auto;
	padding: $fragmentsEditorSpacing;
	position: absolute;
	right: 0;
	text-align: right;
	top: 100%;
	z-index: $floatingToolbarZIndex;

	&-buttons.popover,
	&-panel.popover {
		position: static;
	}

	&-buttons {
		display: inline-block;
	}

	&-panel {
		margin-top: $fragmentsEditorSpacing;
		padding: $fragmentsEditorSpacing;
	}
}