@import "./variables";

lfr-editable {
	background-size: $fragmentEditableFieldGridSize $fragmentEditableFieldGridSize;
	box-shadow: 0 0 0 1px transparent;
	cursor: pointer;
	display: block;
	min-height: 25px;
	min-width: 25px;
	position: relative;
	transition: box-shadow ease 0.2s;

	& > div[data-lfr-editable-id] {
		display: inline;
		outline: none;
	}

	&[type="image"]:after {
		background-size: $fragmentEditableFieldGridSize $fragmentEditableFieldGridSize;
		content: '';
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	&:hover {
		box-shadow: 0 0 0 1px fade_out($fragmentEditableFieldGridAccentColor, 0.6);
	}

	&:focus,
	&:focus-within {
		background-color: fade_out($fragmentEditableFieldGridAccentColor, 0.9);
		box-shadow: 0 0 0 1px $fragmentEditableFieldGridAccentColor;
	}

	.fragment-entry-link-list.translating & {
		background-color: fade_out($fragmentEditableFieldGridDefaultColor, 0.9);
		box-shadow: 0 0 0 1px $fragmentEditableFieldGridDefaultColor;

		&.translated,
		&.translated[type="image"]:after {
			background-color: fade_out($fragmentEditableFieldGridTranslatedColor, 0.9);
			box-shadow: 0 0 0 1px $fragmentEditableFieldGridTranslatedColor;
		}

		&:hover {
			box-shadow: 0 0 0 1px fade_out($fragmentEditableFieldGridAccentColor, 0.6);
		}

		&:focus,
		&:focus-within {
			background-color: fade_out($fragmentEditableFieldGridAccentColor, 0.9);
			box-shadow: 0 0 0 1px $fragmentEditableFieldGridAccentColor;
		}
	}

	.fragment-entry-link-list.mapping & {
		box-shadow: 0 0 0 1px $fragmentEditableFieldGridDefaultColor;

		&,
		&[type="image"]:after {
			background-image: linear-gradient(45deg, transparent 0%, transparent calc(50% - 1px), fade_out($fragmentEditableFieldGridDefaultColor, 0.7) 50%, transparent calc(50% + 1px), transparent 100%);
		}

		&:hover,
		&[type="image"]:hover:after {
			box-shadow: 0 0 0 1px $fragmentEditableFieldGridAccentColor;
		}
	}

	&.mapped,
	&.mapped[type="image"]:after {
		background-image: linear-gradient(45deg, transparent 0%, transparent calc(50% - 1px), fade_out($fragmentEditableFieldGridAccentColor, 0.7) 50%, transparent calc(50% + 1px), transparent 100%);
		box-shadow: 0 0 0 1px fade_out($fragmentEditableFieldGridAccentColor, 0.7);
	}

	&.mapped:hover,
	&.mapped[type="image"]:hover:after {
		box-shadow: 0 0 0 1px fade_out($fragmentEditableFieldGridAccentColor, 0.4);
	}
}

.lfr-editable-field-tooltip.tooltip {
	font-size: 0.8rem;
	max-width: 100vw;
	position: absolute;
	z-index: $fragmentEditableFieldTooltipZIndex;

	.tooltip-inner {
		max-width: 100%;
	}

	.btn {
		font-size: 1em;
	}

	.btn + .btn {
		margin-left: 1em;
	}

	&__btn-group {
		display: flex;
		flex-flow: nowrap;
	}
}