@import "./mixins/lfr_drag_indicator";

@import "./variables";

.fragment-entry-link-list {
	margin-top: $managementBarHeight + $fragmentEntryLinkListPadding;

	@media (min-width: 768px) {
		margin-top: $desktopManagementBarHeight + $fragmentEntryLinkListPadding;
	}
}

.fragment-entry-link-list {
	padding: 0 ($fragmentEntryLinkListPadding + $sidebarButtonsWidth) 0 $fragmentEntryLinkListPadding;
	transition: padding-right ease $productMenuTransitionDuration;

	&--padded, &--padded.no-fragments-message {
		padding-right: ($sidebarWidth + $fragmentEntryLinkListPadding);
	}

	&__row-section {
		box-shadow: inset 0 0 0 $topperBorderWidth $fragmentEntryLinkSectionBorderColor;
		margin: 0;
		padding: 0;
		position: relative;

		&--empty .row {
			min-height: $sectionMinimumHeight;
		}

		&.drag-bottom {
			@include lfr-drag-indicator("bottom");
		}

		&.drag-top {
			@include lfr-drag-indicator("top");
		}
	}

	&__col {
		margin: 0;
		padding: $fragmentEntryLinkSpacing;
		position: relative;

		&:after {
			box-shadow: inset 0 0 0 $topperBorderWidth $fragmentEntryLinkColumnBorderColor;
			content: '';
			display: block;
			height: calc(100% - #{$fragmentEntryLinkSpacing * 2});
			left: $fragmentEntryLinkSpacing;
			pointer-events: none;
			position: absolute;
			top: $fragmentEntryLinkSpacing;
			width: calc(100% - #{$fragmentEntryLinkSpacing * 2});
		}

		&.targetOver:after {
			@include lfr-drag-indicator("bottom");
			content: '';
			display: block;
			width: 100%;
		}
	}
}

.no-fragments-message {
	padding: 10vh 1em;
}