@import "./variables";

.fragments-editor-sidebar-section {
	background-color: $sidebarContentBackgroundColor;
	flex-grow: 2;
	max-height: 100%;
	overflow: scroll;
	padding: 0 1rem 1rem;

	&__card {
		box-shadow: none;
		margin-bottom: $sidebarCardMarginBottom;
		padding: $sidebarCardPadding;

		&-image {
			border: 1px solid $sidebarCardImageBorderColor;
			border-radius: 0;
			max-height: $sidebarCardImageMaxHeight;
			overflow: hidden;
			text-align: center;

			img {
				width: 100%;
			}
		}

		&-no-preview {
			background-color: $sidebarCardNoPreviewBackgroundColor;
			color: $sidebarCardTitleColor;
			font-size: 24px;
			height: 80px;
			line-height: 80px;
			text-align: center;
		}

		.card-body {
			padding: 8px 0 0;

			.btn {
				z-index: $sidebarCardPlusButtonZIndex;
			}

			.card-title {
				color: $sidebarCardTitleColor;
				font-size: 12px;
			}

			.card-row {
				min-height: 32px;
			}
		}
	}

	&__elements-panel {
		.card {
			flex-basis: $sidebarElementCardWidth;

			.card-body {
				text-align: center;

				.btn {
					display: none;
				}
			}
		}

		&-grid {
			align-items: flex-start;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}

	&__panel {
		background-color: transparent;

		& a {
			font-size: 12px;
			margin-bottom: $sidebarCardMarginBottom;
		}
	}

	&__title {
		font-size: 18px;
		font-weight: bold;
		margin: 24px 0;
	}

	.drag-handler {
		background-color: transparent;
		cursor: move;
		display: block;
		height: 100%;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: $sidebarCardZIndex;
	}

	button.component-action {
		cursor: pointer;
	}

	.sidebar-fragment-collections {
		padding-bottom: 2rem;
	}

	.sidebar-fragments-section > .navbar {
		box-shadow: 0 1px 0 0 rgba(200, 200, 200, 0.2);
		margin-bottom: 1.5rem;
	}
}