@import "./variables";

.fragment-entry-link-list {
	margin-top: $managementBarHeight + $fragmentEntryLinkListPadding;

	@media (min-width: 768px) {
		margin-top: $desktopManagementBarHeight + $fragmentEntryLinkListPadding;
	}
}

.fragment-entry-link-list {
	padding: 0 ($fragmentEntryLinkListPadding + $sidebarButtonsWidth) 0 $fragmentEntryLinkListPadding;
	transition: padding-right ease $productMenuTransitionDuration;

	&--padded, &--padded.no-fragments-message {
		padding-right: ($sidebarWidth + $fragmentEntryLinkListPadding);
	}

	&__container {
		box-shadow: inset 0 0 0 $topperBorderWidth $fragmentEntryLinkSectionBorderColor;
		padding: $fragmentEntryLinkSpacing ($fragmentEntryLinkSpacing * 1.5);
		position: relative;
	}

	&__container--empty &__row {
		min-height: $sectionMinimumHeight;
	}

	&__col {
		padding: 0 ($fragmentEntryLinkSpacing / 2);
		position: relative;

		&:before {
			box-shadow: inset 0 0 0 $topperBorderWidth $fragmentEntryLinkColumnBorderColor;
			content: '';
			display: block;
			height: 100%;
			left: $fragmentEntryLinkSpacing / 2;
			pointer-events: none;
			position: absolute;
			top: 0;
			width: calc(100% - #{$fragmentEntryLinkSpacing});
		}
	}
}

.no-fragments-message {
	padding: 10vh 1em;
}