@import "./variables";

body:not(.has-contextual-sidebar) .contextual-sidebar-content {
	padding-right: $contextualSidebarContentPadding;
}

.btn-link {
	z-index: 6;
}

.drag-card{
	z-index: 5;
	overflow: hidden;
}

.drag-handler {
	background-color: transparent;
	cursor: move;
	display: block;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 5;
}

.dragging {
	width: 272px;
}

.fragments-editor .contextual-sidebar.fragments-editor-sidebar {
	height: calc(100vh - #{$controlMenuHeight} - #{$managementBarHeight});
	margin-top: 2px;
	top: $controlMenuHeight + $managementBarHeight;
	z-index: $sidebarZIndex;

	button.component-action {
		cursor: pointer;
	}

	.sidebar-body {
		padding-top: 0;
	}

	.sidebar-body > .sidebar-section:first-child {
		border-bottom: solid thin #CDCED9;
	}

	@media (min-width: 768px) {
		& {
			height: calc(100vh - #{$desktopControlMenuHeight} - #{$managementBarHeight});
			top: $desktopControlMenuHeight + $managementBarHeight;
		}
	}
}