@import "./DragDrop";

@import "./ElementTopper";

@import "./FloatingToolbar";

@import "./FragmentEntryLink";

@import "./FragmentEntryLinkList";

@import "./FragmentEntryLinkEditables";

@import "./FragmentsEditorToolbar";

@import "./FragmentsEditorSidebar";

@import "./SelectMappingDialog";

@import "./SidebarLayoutsSection";

@import "./variables";

.lfr-edit-mode__disabled-area {
	cursor: not-allowed;
	position: relative;
}

.lfr-edit-mode__disabled-area:after {
	background-color: rgba(255, 255, 255, 0);
	content: '';
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transition: background-color ease 0.3s;
	width: 100%;
}

.lfr-edit-mode__disabled-area:hover:after {
	background-color: rgba(255, 255, 255, 0.4);
}

.fragments-editor-toolbar__add-fragment-button {
	display: none;
}

.has-control-menu.has-edit-mode-menu #wrapper {
	margin-top: $controlMenuHeight + $managementBarHeight;

	@media (min-width: 768px) {
		margin-top: $desktopControlMenuHeight + $desktopManagementBarHeight;
	}
}

.fragment-entry-link-list-wrapper {
	margin-right: $sidebarButtonsWidth;
	transition: margin-right ease $productMenuTransitionDuration;
	will-change: margin-right;

	&--padded, &--padded.no-fragments-message {
		margin-right: $sidebarWidth;
	}
}

.fragment-entry-link-list {
	margin-right: 0;
	margin-top: 0;
	padding: 0;
	transition: none;
	will-change: auto;

	@media (min-width: 768px) {
		margin-top: 0;
	}

	&--padded, &--padded.no-fragments-message {
		margin-right: 0;
	}
}

.disabled-area-popover {
	opacity: 0;
	pointer-events: none;

	&--visible {
		opacity: 1;
		pointer-events: all;
	}
}