@import "./FragmentsEditorSidebarSection";

@import "./FragmentsEditorSidebarSectionsButtons.scss";

@import "./variables";

.fragments-editor-sidebar {
	box-shadow: none;
	height: 100vh;
	padding-left: $sidebarWidth - $sidebarButtonsWidth;
	position: fixed;
	right: 0;
	top: 0;
	transition: padding-left ease $productMenuTransitionDuration;
	will-change: padding-left;
	z-index: $sidebarZIndex;

	&-content {
		background-color: $sidebarContentBackgroundColor;
		display: flex;
		height: 100%;
	}

	&-section {
		border-left: $sidebarLeftBorderWidth solid $sidebarLeftBorderColor;
		height: 100vh;
		overflow-x: hidden;
		overflow-y: scroll;
		right: $sidebarButtonsWidth;
		transform: translateX(0);
		transition: transform ease $productMenuTransitionDuration;
		width: $sidebarWidth - $sidebarButtonsWidth;
		will-change: transform;
		z-index: $sidebarSectionZIndex;
	}

	&--collapsed {
		padding-left: 0;
	}

	&--collapsed > &-content > &-section {
		transform: translateX(calc(100% + #{$sidebarButtonsWidth + $sidebarLeftBorderWidth}));
	}

	body.has-control-menu & {
		height: calc(100vh - #{$controlMenuHeight});
		top: $controlMenuHeight;

		@media (min-width: 768px) {
			height: calc(100vh - #{$desktopControlMenuHeight});
			top: $desktopControlMenuHeight;
		}
	}
}