@import "./variables";

.fragments-editor-toolbar {
	background-color: #6B6C7E;
	color: #FFF;
	height: $managementBarHeight;
	left: 0;
	max-height: $managementBarHeight;
	min-height: $managementBarHeight;
	position: fixed;
	top: $controlMenuHeight;
	transition: left ease $productMenuTransitionDuration, width ease $productMenuTransitionDuration;
	width: 100%;
	will-change: left, width;
	z-index: $managementBarZIndex;

	body.open & {
		left: $sidebarWidth;
		width: calc(100% - #{$sidebarWidth});
	}

	& > .container-fluid {
		padding: 6px 1rem 7px;
		padding-right: $sidebarButtonsWidth;
	}

	&__add-fragment-button {
		border: none;
		color: #FFF;
		padding: 0;
	}

	&__translation-status-button {
		height: 32px;
		line-height: 1;
		padding: 0;
		width: 32px;

		.inline-item {
			vertical-align: text-top;
		}

		.btn-section {
			font-size: 9px;
			line-height: 0;
			padding: 0;
		}
	}

	&__translation-status-list {
		min-width: 35ch;
		z-index: $translationStatusListZIndex;
	}

	&__translation-status-item {
		cursor: pointer;

		&__label {
			text-transform: uppercase;

			&.default {
				border-color: #5A70C2;
				color: #5A70C2;
			}

			&.untranslated,
			&.translating {
				border-color: #FEA500;
				color: #FEA500;
			}

			&.translated {
				border-color: #33A766;
				color: #33A766;
			}
		}
	}

	@media (min-width: 768px) {
		height: $desktopManagementBarHeight;
		top: $desktopControlMenuHeight;

		& > .container-fluid {
			padding: 10px 1.25rem;
			padding-right: $sidebarButtonsWidth;
		}
	}
}