@import "./variables";

.contextual-sidebar-content > .fragment-entry-link-list {
	margin-top: $managementBarHeight + $fragmentEntryLinkListPadding;
}

.fragment-entry-link-list {
	padding: 0;

	&__row-section {
		border: $fragmentEntryLinkSectionBorder;
		padding: $fragmentEntryLinkSpacing 0;
		position: relative;

		&--empty .row {
			min-height: $sectionMinimumHeight;
		}

		&.drag-bottom {
			border-bottom: 5px solid #80ACFF;
		}

		&.drag-top {
			border-top: 5px solid #80ACFF;
		}
	}

	&__col {
		position: relative;

		&:after {
			border: 1px dashed #CDCED9;
			content: '';
			display: block;
			height: calc(100% + 2px);
			left: $fragmentEntryLinkSpacing - 1;
			pointer-events: none;
			position: absolute;
			top: -1px;
			width: calc(100% - #{$fragmentEntryLinkSpacing * 2} + 2px);
		}
	}
}

.no-fragments-message {
	padding: 10vh 1em;
}