.portlet-commerce-organization-admin {
	.user-invitation-header {
		padding: 20px 0;

		.btn {
			display: inline-block;
		}

		.form-group {
			display: inline-block;
			width: 90%;
		}
	}

	.label-user-mail-address {
		min-width: 200px;
		padding: 15px;

		.modify-link {
			float: right;
			padding-left: 10px;
		}
	}
}

.portlet-commerce-organization-search{
	h6{
		padding: 15px;
		text-align: center;
	}

	.organization-container{
		form{
			margin-bottom: 30px;

			.form-control, .input-group-inset-item {
				background-color: #F1F2F5;
			}
		}

		.table-list{
			thead{
				display: none;
			}

			td{
				&:first-child{
					box-shadow: inset 0 0.0625rem #DEE2E6, 0 0.0625rem #DEE2E6, inset 0.0625rem 0 #FFF;
				}

				&:last-child{
					box-shadow: inset 0 0.0625rem #DEE2E6, inset -0.0625rem 0 #FFF, 0 0.0625rem #DEE2E6;
					padding-right: 0;
					text-align: right;
				}
			}
		}
	}
}