var simulationToggle = document.getElementById('${portletNamespace}simulationToggleId');

Liferay.SideNavigation.initialize(simulationToggle);

var simulationPanel = $('#${portletNamespace}simulationPanelId');

simulationPanel.on(
	'open.lexicon.sidenav',
	function(event) {
		Liferay.fire('SimulationMenu:openSimulationPanel');
	}
);

simulationPanel.on(
	'closed.lexicon.sidenav',
	function(event) {
		Liferay.fire('SimulationMenu:closeSimulationPanel');
	}
);

Liferay.once(
	'screenLoad',
	function() {
		Liferay.SideNavigation.destroy(simulationToggle);
	}
);
