<div class="closed lfr-admin-panel lfr-product-menu-panel lfr-simulation-panel sidenav-fixed sidenav-menu-slider sidenav-right" id="${portletNamespace}simulationPanelId">
	<div class="product-menu sidebar sidebar-inverse sidenav-menu">
		<div class="sidebar-header">
			<h1 class="sr-only">${simulationPanel}</h1>

			<span>${sidebarMessage}</span>

			${sidebarIcon}
		</div>

		<div class="sidebar-body"></div>
	</div>
</div>