<div class="fjord-actions">
	<div class="jumbotron main-background-image">
		<section class="container-fluid container-fluid-max-xl">
			<div class="col-md-6 mr-auto text-left">
				<h1 class="display-4">
					<lfr-editable id="title" type="text">Dynamic and Customizable for a Healthier You</lfr-editable>
				</h1>

				<p class="lead">
					<lfr-editable id="subtitle" type="rich-text">Take advantage of a clean layout and page templates to help you launch your new app and <strong>make this page your own</strong>.</lfr-editable>
				</p>

				<div class="btn-group">
					<lfr-editable id="actions" type="rich-text">
						<div class="btn-group-item">
							<a class="btn btn-default btn-fjord-default btn-xl-fjord-default" href="#">Discover</a>
						</div>

						<div class="btn-group-item">
							<a class="btn btn-primary btn-fjord-primary btn-xl-fjord-default" href="#">Download</a>
						</div>
				</lfr-editable>
			   </div>
			</div>
		</section>
	</div>
</div>