<div class="fjord-devices">
	<div class="jumbotron tertiary-background-image">
		<section class="container-fluid container-fluid-max-xl">
			<div class="row">
				<div class="col-lg-5 col-md-6 col-sm-8">
					<h1 class="display-4">
						<lfr-editable id="title" type="rich-text">The Fitness App That's Ready When You Are</lfr-editable>
					</h1>

					<lfr-editable id="description" type="rich-text">
						<p class="lead">Add a short explanation of how to use your app. Link to demos, samples, or forums so your customers can learn more.</p>
						<h3>30-Day Guarantee</h3>
						<p>Include reminders on discounts, promotions, or special pricing to seal the deal.</p>
						<a class="btn btn-primary btn-fjord-info btn-xl-fjord-default" href="#">Get Started</a>
					</lfr-editable>
				</div>

				<div class="col-lg-6 col-md-6 d-none d-sm-block" style="background-image: url(../../resources/background_2.jpg);">&nbsp;</div>
			</div>
		</section>
	</div>
</div>