<div class="big-item-list-template fjord-items jumbotron secondary-background-color">
	<section class="container-fluid container-fluid-max-xl">
		<div class="row">
			<div class="text-center col-md-4">
				<lfr-editable id="image1" type="image">
					<img alt="" src="../../resources/item_1.png">
				</lfr-editable>

				<h2>
					<lfr-editable id="title1" type="text">Join</lfr-editable>
				</h2>

				<p>
					<lfr-editable id="description1" type="rich-text">Highlight a feature here with clear benefits to your customers.</lfr-editable>
				</p>
			</div>

			<div class="text-center col-md-4">
				<lfr-editable id="image2" type="image">
					<img alt="" src="../../resources/item_2.png">
				</lfr-editable>

				<h2>
					<lfr-editable id="title2" type="text">Explore</lfr-editable>
				</h2>

				<p>
					<lfr-editable id="description2" type="rich-text">Encourage your users to dig deeper and provide them with great resources.</lfr-editable>
				</p>
			</div>

			<div class="text-center col-md-4">
				<lfr-editable id="image3" type="image">
					<img alt="" src="../../resources/item_3.png">
				</lfr-editable>

				<h2>
					<lfr-editable id="title3" type="text">Spread the Word</lfr-editable>
				</h2>

				<p>
					<lfr-editable id="description3" type="rich-text">Make it easy for happy customers to share experiences with friends.</lfr-editable>
				</p>
			</div>
		</div>
	</section>
</div>