<div class="big-item-list-template jumbotron secondary-background-color">
	<section class="container-fluid container-fluid-max-xl">
		<div class="row">
			<div class="text-center col-md-4">
				<img alt="" src="$item_1.png$">
				<h2>Join</h2>
				<p>Highlight a feature here with clear benefits to your customers.</p>
			</div>

			<div class="text-center col-md-4">
				<img alt="" src="$item_2.png$">
				<h2>Explore</h2>
				<p>Encourage your users to dig deeper and provide them with great resources.</p>
			</div>

			<div class="text-center col-md-4">
				<img alt="" src="$item_3.png$">
				<h2>Spread the Word</h2>
				<p>Make it easy for happy customers to share experiences with friends.</p>
			</div>
		</div>
	</section>
</div>