<div class="big-item-list-template jumbotron tertiary-background-color">
	<section class="container-fluid container-fluid-max-xl">
		<div class="row">
			<div class="text-center col-md-4">
				<img alt="Alloy Logo" src="$offering_1.png$">
				<h2></h2>
				<p>Add a short explanation of how to use your app.</p>
				<p class="external-link"> <a href="http://www.liferay.com" rel="external" target="_blank" title=""> <span class="sticker sticker-lg center-block user-icon-color-1"> <span class="icon-link"> </span> </span> Find your challenge </a> </p>
			</div>

			<div class="text-center col-md-4">
				<img alt="Connected Services" src="$offering_2.png$">
				<h2></h2>
				<p>Link to demos, samples, or forums so your customers can learn more.</p>
				<p class="external-link"> <a href="http://www.liferay.com" rel="external" target="_blank" title=""> <span class="sticker sticker-lg center-block user-icon-color-1"> <span class="icon-link"> </span> </span> Make a plan </a> </p>
			</div>

			<div class="text-center col-md-4">
				<img alt="Liferay" src="$offering_3.png$">
				<h2></h2>
				<p>Include reminders on discounts, promotions, or special pricing to seal the deal.</p>
				<p class="external-link"> <a href="http://www.liferay.com" rel="external" target="_blank" title=""> <span class="sticker sticker-lg center-block user-icon-color-1"> <span class="icon-link"> </span> </span> Go! </a> </p>
			</div>
		</div>
	</section>
</div>