<div class="fjord-publications fjord-section">
	<section class="bg-secondary fjord-bg-secondary jumbotron jumbotron-fluid mb-0 text-white">
		<div class="container py-5">
			<div class="row text-center">
				<div class="col-12 col-md-4 col-sm-6 mt-5 mt-md-0 mx-auto">
					<lfr-editable id="fjord-publications-image" type="image">
						<img alt="" class="img-fluid mx-auto" src="[resources:offering_1.png]" />
					</lfr-editable>

					<div class="font-weight-light mt-3">
						<lfr-editable id="fjord-publications-title" type="rich-text">
							<p>Add a short explanation of how to use your app.</p>
						</lfr-editable>
					</div>

					<lfr-editable id="fjord-publications-text" type="rich-text">
						<div class="d-inline-flex">
							<a class="btn btn-link text-reset" href="#">Find your challenge</a>
						</div>
					</lfr-editable>
				</div>

				<div class="col-12 col-md-4 col-sm-6 mt-5 mt-md-0 mx-auto">
					<lfr-editable id="fjord-publications-image2" type="image">
						<img alt="" class="img-fluid mx-auto" src="[resources:offering_2.png]" />
					</lfr-editable>

					<div class="font-weight-light mt-3">
						<lfr-editable id="fjord-publications-title2" type="rich-text">
							<p>Link to demos, samples, or forums so your customers can learn more.</p>
						</lfr-editable>
					</div>

					<lfr-editable id="fjord-publications-text2" type="rich-text">
						<div class="d-inline-flex">
							<a class="btn btn-link text-reset" href="#">Make a plan</a>
						</div>
					</lfr-editable>
				</div>

				<div class="col-12 col-md-4 col-sm-6 mt-5 mt-md-0 mx-auto">
					<lfr-editable id="fjord-publications-image3" type="image">
						<img alt="" class="img-fluid mx-auto" src="[resources:offering_3.png]" />
					</lfr-editable>

					<div class="font-weight-light mt-3">
						<lfr-editable id="fjord-publications-title3" type="rich-text">
							<p>Include reminders on discounts, promotions, or special pricing to seal the deal.</p>
						</lfr-editable>
					</div>

					<lfr-editable id="fjord-publications-text3" type="rich-text">
						<div class="d-inline-flex">
							<a class="btn btn-link text-reset" href="#">Make a plan</a>
						</div>
					</lfr-editable>
				</div>
			</div>
		</div>
	</section>
</div>