<div class="big-item-list-template fjord-publications jumbotron tertiary-background-color">
	<section class="container-fluid container-fluid-max-xl">
		<div class="row">
			<div class="text-center col-md-4">
				<lfr-editable id="image1" type="image">
					<img alt="" src="../../resources/offering_1.png">
				</lfr-editable>

				<p>
					<lfr-editable id="description1" type="rich-text">
						Add a short explanation of how to use your app.
					</lfr-editable>
				</p>

				<p class="external-link">
					<lfr-editable id="link1" type="rich-text">
						<a href="#" rel="external" target="_blank" title="">Find your challenge</a>
					</lfr-editable>
				</p>
			</div>

			<div class="text-center col-md-4">
				<lfr-editable id="image2" type="image">
					<img alt="" src="../../resources/offering_2.png">
				</lfr-editable>

				<p>
					<lfr-editable id="description2" type="rich-text">
						Link to demos, samples, or forums so your customers can learn more.
					</lfr-editable>
				</p>

				<p class="external-link">
					<lfr-editable id="link2" type="rich-text">
						<a href="#" rel="external" target="_blank" title="">Make a plan</a>
					</lfr-editable>
				</p>
			</div>

			<div class="text-center col-md-4">
				<lfr-editable id="image3" type="image">
					<img alt="" src="../../resources/offering_3.png">
				</lfr-editable>

				<p>
					<lfr-editable id="description3" type="rich-text">
						Include reminders on discounts, promotions, or special pricing to seal the deal.
					</lfr-editable>
				</p>

				<p class="external-link">
					<lfr-editable id="link3" type="rich-text">
						<a href="#" rel="external" target="_blank" title="">Make a plan</a>
					</lfr-editable>
				</p>
			</div>
		</div>
	</section>
</div>