<div class="fjord-quote">
	<div class="jumbotron main-background-image">
		<section class="container-fluid container-fluid-max-xl">
			<div class="row">
				<div class="col-md-10 mx-auto text-center">
					<h1 class="display-4">
						"<lfr-editable id="quote" type="text">I use this every single day. I will definitely be recommending to my friends.</lfr-editable>"
					</h2>

					<p>
						-<lfr-editable id="quotee" type="text">Alexandra F., Satisfied Customer</lfr-editable>
					</p>
				</div>
			</div>
		</section>
	</div>
</div>