<div class="fjord-testimony">
	<div class="jumbotron main-background-image" style="background-image: url('../../resources/background_4.jpg');">
		<section class="container-fluid container-fluid-max-xl">
			<div class="row">
				<div class="col-md-8 mx-auto text-center">
					<h1 class="display-4">
						"<lfr-editable id="quote" type="text">Love this! I’ve tried many other apps and this is the only one that kept me on track and led to real results.</lfr-editable>"
					</h2>

					<p>
						-<lfr-editable id="quotee" type="text">Jack S., Satisfied Customer</lfr-editable>
					</p>
				</div>
			</div>
		</section>
	</div>
</div>