@import 'bourbon';

.portlet-quick-note {
	margin: 2px;
	padding: 5px;

	textarea {
		min-height: 100px;
		padding: 3px;
		width: 95%;
	}

	.portlet-title-default {
		float: none;
		width: 100%;
	}

	.note-color {
		border: 1px solid;
		cursor: pointer;
		float: right;
		font-size: 0;
		height: 10px;
		margin: 3px 5px;
		width: 10px;

		&.yellow {
			background-color: #ffc;
			border-color: #fc0;
			margin-left: 0;
		}

		&.green {
			background-color: #cfc;
			border-color: #0c0;
		}

		&.blue {
			background-color: #ccf;
			border-color: #309;
		}

		&.red {
			background-color: #fcc;
			border-color: #f00;
		}
	}

	.close-note {
		float: right;
	}

	.note-content {
		@include word-wrap(break-all);
	}
}

.ie6 {
	.portlet-quick-note {
		textarea {
			height: expression(this.height < 100 ? '100px': this.height);
		}
	}
}
