// This file is for overwriting Clay UI Framework Sass Variables used in the
// file clay.scss and its imports. For theme related Sass Variables use the file
// in partials/_variables.scss.

$primary: #1865FB !default;
$secondary: #6B6C7E !default;
$success: #287D3D !default;
$info: #2E5AAC !default;
$warning: #B95000 !default;
$danger: #DA1414 !default;
$light: #F1F2F5 !default;
$dark: #272834 !default;

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1440px
) !default;

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1440px
) !default;

$body-bg: #30313F !default;

$input-bg: #F1F2F5 !default;

// Buttons

$btn-light: (
	color: #272833,
	hover-bg: #FFF,
	hover-border-color: transparent,
	focus-box-shadow: 0 0 0 2px rgba(darken(#FFF, 4%), 0.5),
	disabled-bg: #FFF,
	active-bg: darken(#FFF, 8%),
	active-border-color: transparent,
	active-box-shadow: none
) !default;

// Sticker

$sticker-light-bg: #FFF !default;
$sticker-light-color: #272833 !default;

// Table

$table-list-border-radius: 0 !default;
$table-list-border-width: 0 !default;
$table-list-head-font-weight: normal !default;
$table-list-margin-bottom: 0 !default;;

$table-list-title: () !default;
$table-list-title: map-merge((
	font-size: 0.875rem
), $table-list-title);

// Navigation Bar

$navigation-bar-size: () !default;
$navigation-bar-size: map-merge((
	border-bottom-width: 0,
	height: 3.5rem
), $navigation-bar-size);

$navigation-bar-light: () !default;
$navigation-bar-light: map-merge((
	bg: #FFF,
	link-color: #272833,
	link-hover-color: #272833
), $navigation-bar-light);

// Management Bar

$management-bar-margin-bottom: 1rem !default;

$management-bar-default-bg: #FFF !default;
$management-bar-default-border: #FFF !default;

$management-bar-default-btn-default-bg: !default;
$management-bar-default-btn-default-border: !default;
$management-bar-default-btn-default-color: !default;

$management-bar-default-btn-default-hover-bg: !default;
$management-bar-default-btn-default-hover-border: !default;
$management-bar-default-btn-default-hover-color: !default;

$management-bar-default-btn-default-active-bg: !default;
$management-bar-default-btn-default-active-border: !default;
$management-bar-default-btn-default-active-color: !default;