// This file is for overwriting Clay UI Framework Sass Variables used in the
// file clay.scss and its imports. For theme related Sass Variables use the file
// in partials/_variables.scss.

$primary: #1865FB !default;
$secondary: #6B6C7E !default;
$success: #287D3D !default;
$info: #2E5AAC !default;
$warning: #B95000 !default;
$danger: #DA1414 !default;
$light: #F1F2F5 !default;
$dark: #272834 !default;

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1440px
) !default;

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1440px
) !default;

$body-bg: #30313F !default;

$input-bg: #F1F2F5 !default;