@import "portlet_decorator";

@import "partials/application-bar";
@import "partials/card";
@import "partials/btn";
@import "partials/footer";
@import "partials/nav";
@import "partials/sidenav";

#wrapper {
	padding-top: 0;
}

.header {
	padding: 20px;

	@include media-breakpoint-up(sm) {
		padding: 40px 20px;
	}
}

#content {
	margin-bottom: 40px;
	margin-top: 30px;

	@include media-breakpoint-up(sm) {
		padding-left: 40px;
		padding-right: 40px;
	}
}

.collapse-hover {
	&:hover {
		.collapse {
			display: block;
		}
	}
}

.user-avatar-image {
	display: inline-flex;

	.user-icon {
		font-size: 14px;
		height: 28px;
		line-height: 28px;
		margin-right: 8px;
		width: 28px;
	}
}

.portlet-title-text {
	margin-bottom: 40px;
}

.link-brand-underline {
	position: relative;

	&:after {
		background-color: $brand-color-primary;
		bottom: 0;
		content: '';
		height: 3px;
		left: 0;
		position: absolute;
		right: 0;
	}
}

.search-facet {
	border-radius: 0;
	border-width: 1px 0 0;

	.panel-heading {
		background-color: transparent;
	}

	.panel-title {
		font-size: 1rem;
	}
}