body, html {
	height: 100%;
}

body.has-control-menu {
	height: calc(100% - 48px);

	@include media-breakpoint-up(md) {
		height: calc(100% - 64px);
	}
}

#content {
	min-height: calc(100vh - #{map-get($b2b-main-navbar-size, height)} - #{$footer-height});
}

.has-control-menu #content {
	min-height: calc(100vh - 64px - #{map-get($b2b-main-navbar-size, height)} - #{$footer-height});
}

#wrapper {
	padding-top: 0;
}

.header {
	padding: 20px;

	@include media-breakpoint-up(sm) {
		padding: 40px 20px;
	}
}

.collapse-hover {
	&:hover {
		.collapse {
			display: block;
		}
	}
}

.user-avatar-image {
	display: inline-flex;

	.user-icon {
		font-size: 14px;
		height: 28px;
		line-height: 28px;
		margin-right: 8px;
		width: 28px;
	}
}

.portlet-title-text {
	margin-bottom: 40px;
}

.portal-popup .portlet-body {
	background-color: $b2b-site-body-bg;
}

.link-brand-underline {
	position: relative;

	&:after {
		background-color: $brand-color-primary;
		bottom: 0;
		content: '';
		height: 3px;
		left: 0;
		position: absolute;
		right: 0;
	}
}

.search-facet {
	border-radius: 0;
	border-width: 1px 0 0;

	.panel-heading {
		background-color: transparent;
	}

	.panel-title {
		font-size: 1rem;
	}
}

.account-selector-modal {
	.modal-dialog {
		margin-top: 180px;
		position: relative;
	}
}

// Portlet Content Header

.b2b-portlet-content-header {
	.header-back-to {
		font-size: 1.5rem;
		height: 2rem;
		margin-bottom: 1.5rem;
		width: 2rem;

		> a,
		> a > span {
			align-items: center;
			display: inline-flex;
			height: 100%;
			justify-content: center;
			width: 100%;
		}

		.lexicon-icon-order-arrow-down {
			margin-top: 0;
			transform: rotate(90deg);

			[dir="rtl"] & {
				transform: rotate(-90deg);
			}
		}
	}

	.header-title-bar {
		align-items: center;
		margin-bottom: 1.5rem;

		.autofit-col {
			padding: 0.25rem;
		}
	}

	.header-title {
		color: $body-color;
		font-size: 1.5rem;
		font-weight: $font-weight-bold;
		margin: 0;
	}

	.taglib-header {
		border-bottom-width: 0;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.taglib-icon {
		&:hover, &:focus {
			.taglib-text {
				text-decoration: none;
			}
		}
	}

	.component-action {
		font-size: 0.8125rem;
	}

	.link-outline {
		font-weight: $font-weight-normal;
	}
}

.lfr-icon-item-reverse {
	align-items: center;
	display: inline-flex;

	> span:first-child {
		order: 3;
	}

	.taglib-text {
		line-height: 1;
	}
}

// Portlet Search Bar

%portlet-search-bar-inset {
	margin-bottom: 1.5rem;

	.lfr-ddm-field-group {
		margin-bottom: 0;
	}

	.input-group.search-bar .search-field .search-bar-input {
		@include border-radius($input-border-radius);

		padding-right: 3.125rem;
	}

	.input-group-btn {
		bottom: 0.25rem;
		position: absolute;
		right: 0.25rem;
		top: 0.25rem;
		z-index: $zindex-input-group-focus;

		.btn-default {
			background-color: rgba(0, 0, 0, 0.0001); // IE10 can't click if transparent

			@include border-radius($btn-border-radius);

			border-width: 0;
			padding-bottom: 0;
			padding-top: 0;
		}
	}
}

// Datepicker

.datepicker-popover {
	padding: 1.25rem;
}

// Pagination

a[type="button"] {
	-webkit-appearance: none;
}

.pagination-items-per-page {
	.dropdown-toggle {
		font-weight: $font-weight-semi-bold;

		.icon-sort {
			margin-left: 0.5rem;
		}
	}
}

// Tables

.table-list {
	thead {
		td, th {
			border-width: 1px 0;
		}
	}

	tbody, tfoot {
		td, th {
			border-width: 1px 0;
		}
	}
}

.table-responsive {
	border-color: $table-list-border-color;
	border-style: solid;
	border-width: 0 0 1px 0;
	margin-bottom: 1.5rem;
}

// Customer Portal Custom Form

.commerce-custom-control-button {
	height: $input-height;
	opacity: 0;
	position: absolute;
	width: 100%;
	z-index: 5;

	+ .input-group {
		.form-control[readonly] {
			background-color: $input-bg;
		}

		.input-group-text {
			transition: $input-transition;
		}
	}

	&:focus + .input-group {
		.form-control, .input-group-text {
			background-color: #FFF;
			border-color: $input-focus-border-color;
		}
	}
}

.commerce-custom-control-input {
	height: $input-height;
	opacity: 0;
	position: absolute;
	width: 100%;
	z-index: 5;

	+ .input-group {
		.form-control[readonly] {
			background-color: $input-bg;
		}

		.input-group-text {
			transition: $input-transition;
		}
	}

	&:focus + .input-group {
		.form-control, .input-group-text {
			background-color: $input-focus-bg;
			border-color: $input-focus-border-color;
		}
	}

	&:checked + .input-group {
		.form-control, .input-group-text {
			background-color: #FFF;
			border-color: $input-focus-border-color;
		}
	}
}

// Customer Portal

#content {
	background-color: #FFF;
	padding-bottom: 2.5rem;
	padding-left: $grid-gutter-width / 2;
	padding-right: $grid-gutter-width / 2;
	padding-top: 2.5rem;

	@include media-breakpoint-up(md) {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	@include media-breakpoint-up(lg) {
		padding-left: 4rem;
		padding-right: 4rem;
	}
}

.b2b-site-body {
	background-color: $b2b-site-body-bg;
	padding-left: 0;
	padding-right: 0;
	position: relative;
}

.b2b-wrapper {
	background-color: #393B49;
}

// Login

.b2b-login-container {
	bottom: 0;
	display: flex;
	flex-direction: column;
	left: 0;
	overflow: auto;
	padding-left: 0;
	padding-right: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2000;
}

.b2b-login-header {
	background-color: $b2b-login-header-bg;
	flex-shrink: 0;
	height: $b2b-login-header-height;
	text-align: center;

	.autofit-col {
		justify-content: center;
	}
}

.b2b-login-header-logo {
	border-right: 1px solid $b2b-login-header-border-color;
	width: 160px;

	@include media-breakpoint-down(xs) {
		width: 100px;
	}
}

.b2b-logo-image {
	width: 105px;
}

.b2b-login-header-title {
	@include media-breakpoint-up(md) {
		padding-right: 160px;
	}
}

.b2b-login-footer {
	background-color: #21222B;
	color: #FFF;
	flex-shrink: 0;
	height: 64px;
	text-align: center;

	.autofit-col {
		justify-content: center;
	}
}

.b2b-login-body {
	align-items: center;
	background-color: #30313F;
	display: flex;
	flex-grow: 1;
	flex-shrink: 0;
	justify-content: center;
	padding-bottom: 1.25rem;
	padding-left: ($grid-gutter-width / 2);
	padding-right: ($grid-gutter-width / 2);
	padding-top: 1.25rem;
	position: relative;
}

.b2b-login-overlay {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.b2b-overlay-scanline {
	background-image: repeating-linear-gradient(
		45deg,
		rgba(0, 0, 0, 0.3),
		rgba(0, 0, 0, 0.3) 0.0625rem,
		rgba(0, 0, 0, 0.2) 0.0625rem,
		rgba(0, 0, 0, 0.2) 0.3125rem
	);
}

.b2b-login-bg {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
}

.b2b-login-card {
	margin-bottom: 0;
	max-width: 34rem;
	width: 100%;

	.lfr-name-column {
		max-width: 100px;
		min-width: 100px;
	}

	.portlet {
		margin-bottom: 0;
	}

	.portlet-body {
		padding: 2rem 2.5rem;
	}

	.portlet-content-editable {
		@include border-bottom-radius($card-border-radius);
	}
}

// Navigation Bar

.navigation-bar-light {
	margin-bottom: 2rem;

	.nav-link {
		font-size: 1rem;
		font-weight: 500;
	}
}

.navigation-bar-light.navbar-expand-md {
	.container {
		margin-left: 0;
		margin-right: 0;
		max-width: none;
		padding-left: 0;
		padding-right: 0;
	}

	.nav-link:after {
		@include media-breakpoint-up(md) {
			background-color: #F1F2F5;
			bottom: 0;
			content: '';
			display: block;
			height: 0.25rem;
			left: 0;
			position: absolute;
			right: 0;
			width: auto;
		}
	}
}

.nav-underline-light {
	margin-bottom: 2rem;

	.nav-link {
		color: $body-color;
		font-size: 0.9375rem;
		font-weight: $font-weight-semi-bold;
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.nav-link:after {
		background-color: #F1F2F5;
		bottom: 0;
		content: '';
		display: block;
		height: 0.25rem;
		left: 0;
		position: absolute;
		right: 0;
		width: auto;
	}
}

// Management Bar Default (Remove this when Clay Management Toolbar is
// implemented)

.management-bar-container .management-bar > .container-fluid-1280 > .management-bar-header-right {
	align-items: center;
	display: flex;
	margin-left: auto;
}

.management-bar-default {
	.container-fluid-1280 {
		display: flex;
		justify-content: space-between;
		max-width: none;
		padding-left: $grid-gutter-width / 2;
		padding-right: $grid-gutter-width / 2;
	}

	.management-bar-toggle-link.management-bar-toggle {
		display: none;
	}

	.management-bar-text {
		padding: 0;
	}

	.management-bar-header-right > .btn {
		margin: 0 0 0 ($grid-gutter-width / 2);
	}

	.management-bar-collapse {
		align-items: center;
		box-shadow: none;
		display: flex;
		flex-grow: 1;
		padding-left: $grid-gutter-width / 2;
		padding-right: 0;
		position: static;

		@include media-breakpoint-up(md) {
			padding-right: 0;
		}

		&.collapse {
			@include media-breakpoint-up(md) {
				display: flex !important;
			}
		}

		.management-bar-nav {
			margin: 0;
			width: 100%;

			> li {
				@include media-breakpoint-up(md) {
					float: none;
				}
			}
		}
	}

	.basic-search {
		.input-group-input {
			flex-grow: 1;

			.form-control {
				@include border-right-radius($input-border-radius);

				padding-right: 3rem;
			}
		}

		.input-group-btn {
			align-items: center;
			bottom: 0;
			position: absolute;
			right: 0.25rem;
			top: 0;

			.btn-default {
				background-color: rgba(0, 0, 0, 0.0001); // IE10 can't click if transparent

				@include border-left-radius($btn-border-radius);

				border-width: 0;
				height: 75%;
				padding-bottom: 0;
				padding-top: 0;
			}
		}
	}

	.basic-search-slider {
		@include media-breakpoint-down(sm) {
			left: auto;
		}

		.basic-search-close {
			@include media-breakpoint-down(sm) {
				display: none;
			}
		}
	}
}

// Catalog

.catalog-1-2-columns {

	// Catalog Layout Template

	#column-2 {
		@include media-breakpoint-up(md) {
			width: 200px;
		}

		@include media-breakpoint-up(lg) {
			width: 300px;
		}
	}

	#column-3 {
		@include media-breakpoint-up(md) {
			width: calc(100% - 200px);
		}

		@include media-breakpoint-up(lg) {
			padding-left: 4rem;
			width: calc(100% - 300px);
		}
	}

	.portlet-column {
		padding-left: $grid-gutter-width / 2;
		padding-right: $grid-gutter-width / 2;
		width: 100%;
	}

	// Catalog Facets

	.collapse-icon-closed {
		color: $primary;
		font-size: 0.5rem;
		transform: rotate(90deg) translateX(-50%);
	}

	.collapse-icon-open {
		color: $primary;
		font-size: 0.5rem;
		transform: rotate(180deg) translateY(50%);
	}

	.collapse-icon {
		text-decoration: none;
	}

	.portlet-category-facet {
		.panel-group {
			margin-bottom: 1rem;
		}

		.panel {
			border-top-width: 0;
		}

		.panel-title {
			border-color: $input-border-color;

			@include border-radius($input-border-radius);

			border-style: solid;
			border-width: $input-border-width;
			color: #9B9B9B;
			font-size: 0.75rem;
			font-weight: normal;
		}

		.panel-collapse {
			left: $input-border-left-width;
			margin-top: $dropdown-spacer;
			position: absolute;
			right: $input-border-right-width;
			transition: none;
			z-index: $zindex-dropdown;
		}

		.panel-body {
			background-color: #FFF;
			border-color: $input-border-color;

			@include border-radius($input-border-radius);

			border-style: solid;
			border-width: $input-border-width;
		}
	}

	.portlet-cp-option-facets {
		.collapse-icon {
			padding-left: 0.25rem;
		}

		.panel-title {
			color: $body-color;
			font-size: 0.875rem;
		}
	}

	// Catalog Search Portlet

	.portlet-search-bar {
		@extend %portlet-search-bar-inset;
	}
}

.term-name {
	font-weight: 500;
	margin-left: 0.25rem;
}

.term-count {
	color: $secondary;
	font-size: 100%;
}

// Catalog Cards

.card-page {
	.product-expand {
		flex-grow: 1;
	}
}

.catalog-card-page {
	.card {
		display: flex;
		padding: 1.25rem;
		width: 100%;
	}

	.card-page-item-asset {
		display: flex;
		flex-basis: 17.25rem;
		min-width: 17.25rem; // 276px

		@include media-breakpoint-up(xl) {
			max-width: 16.66667%;
		}
	}

	.product-sku {
		margin-bottom: 0.5rem;
	}

	.product-description {
		margin-bottom: 3rem;
	}

	.product-actions {
		margin-bottom: 1.25rem;
	}

	// Product Price

	.product-price {
		margin-bottom: 2rem;
	}

	.commerce-prefix {
		color: $secondary;
		font-size: 0.9375rem;
		font-weight: $font-weight-light;
	}

	.commerce-price {
		font-size: 1.125rem;
		font-weight: $font-weight-semi-bold;
	}

	.commerce-suffix {
		font-size: 0.75rem;
	}

	// Quantity Input

	.commerce-quantity-container {
		margin-right: 0.5rem;
		max-width: 54px;

		.control-label {
			display: none;
		}

		.form-control {
			padding-left: 0.5rem;
			padding-right: 0.5rem;
		}

		.form-group {
			margin-bottom: 0;
		}
	}

	.product-footer {
		.custom-control-label-text {
			font-weight: $font-weight-normal;
		}

		.add-to-list-link {
			font-size: 0.8125rem;
			line-height: 1.625rem;
		}

		.available-variants {
			color: $secondary;
			font-size: 0.8125rem;
			font-weight: $font-weight-semi-bold;
			line-height: 1.625rem;
		}
	}
}

// Orders

.notes-icon .table-action-link {
	font-size: 1.1rem;
}

.order-filter-settings {
	background-color: #F1F2F5;
	flex-direction: column;
	margin-bottom: 2rem;

	@include media-breakpoint-up(md) {
		align-items: center;

		@include border-radius($border-radius);

		flex-direction: row;
	}

	.autofit-col {
		padding: 0.75rem 0.5rem;
	}

	.apply-filters {
		@include media-breakpoint-down(sm) {
			text-align: center;
		}

		.btn {
			margin-left: 0.5rem;
			margin-right: 0.5rem;
		}
	}

	.dropdown-toggle {
		.inline-item-after {
			margin-left: 2em;
		}

		.lexicon-icon {
			color: #272833;
		}
	}

	.component-link {
		display: inline-block;
		padding: 0.5rem 1rem;

		&:hover {
			text-decoration: none;
		}
	}
}

.order-details-header {
	background-color: #393B4A;

	@include border-top-radius($border-radius);

	color: rgba(255, 255, 255, 0.65);
	font-size: 0.75rem;

	.autofit-col {
		padding: $grid-gutter-width / 2;

		@include media-breakpoint-up(md) {
			padding: 1.5rem;
		}
	}
}

.order-details-reorder {
	align-items: center;
	background-color: #30313F;
	justify-content: center;
}

.order-details-title {
	@include clay-text-typography($order-details-title);
}

.order-details-subtitle {
	@include clay-text-typography($order-details-subtitle);
}

.order-details-footer {
	border-color: #E7E7ED;
	border-style: solid;
	border-width: 0 1px;
	font-size: 0.8125rem;

	.autofit-col {
		padding: $grid-gutter-width / 2;

		@include media-breakpoint-up(md) {
			padding: 1rem;
		}
	}

	strong {
		font-weight: $font-weight-semi-bold;
	}
}

.order-shipping-address-list {
	.list-group-text, .list-group-title {
		display: block;
	}

	.custom-control .custom-control-input:focus ~ .custom-control-label::before {
		box-shadow: 0 0 0 1px $list-group-bg, 0 0 0 2px lighten(saturate($component-active-bg, 3.40), 21.18);
	}
}

// Cart Content Mini

.commerce-order-items-header {
	background-color: $commerce-order-items-header-bg;
	color: $commerce-order-items-header-color;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: 1.5rem;

	.autofit-row {
		align-items: center;
	}

	.autofit-col {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	.commerce-title {
		font-size: 1.25rem;
		font-weight: $font-weight-normal;
		margin-bottom: 0;
	}
}

.commerce-order-items-body {
	background-color: $commerce-order-items-body-bg;
	color: $commerce-order-items-body-color;
	padding-bottom: 9rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: 1.5rem;

	.list-group-notification {
		color: inherit;
		margin-bottom: 0;

		.list-group-item {
			background-color: $commerce-order-items-body-bg;
			border-bottom-width: $list-group-border-width;
			border-color: rgba(255, 255, 255, 0.1);
			border-top-width: $list-group-border-width;
			box-shadow: none;
			color: inherit;
		}

		.thumbnail-section {
			.sticker {
				background-color: $sticker-light-bg;
				color: $sticker-light-color;
			}
		}

		.quantity-section, .value-section {
			margin-top: 1rem;
		}
	}

	.list-group-text {
		@include clay-text-typography($commerce-order-items-body-list-group-text);
	}

	.list-group-title {
		@include clay-text-typography($commerce-order-items-body-list-group-title);
	}

	.list-group-subtitle {
		@include clay-text-typography($commerce-order-items-body-list-group-subtitle);
	}

	.main-content-body {
		margin-top: 0;
	}
}

.commerce-order-items-footer {
	background-color: $commerce-order-items-footer-bg;
	color: $commerce-order-items-footer-color;
	padding: 1.5rem;

	.autofit-row {
		align-items: center;

		+ .autofit-row {
			margin-top: 1.5rem;
		}
	}

	.autofit-col {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	.commerce-description {
		font-size: 1rem;
		font-weight: $font-weight-light;
	}

	.commerce-value {
		font-size: 1.25rem;
	}

	.commerce-total {
		.commerce-description {
			font-weight: $font-weight-bold;
		}

		.commerce-value {
			font-weight: $font-weight-bold;
		}
	}
}

.order-details-table {
	.table-list {
		thead {
			background-color: #F2F3F7;
		}
	}

	.table-responsive {
		@include border-bottom-radius($border-radius);

		border-left-width: 1px;
		border-right-width: 1px;
	}
}

// Chat Portlet

.portlet-chat .chat-bar {
	margin-left: auto;
	margin-right: auto;
	max-width: map-get($container-max-widths, xl);
	z-index: $zindex-fixed;
}

// Checkout

.commerce-payment-types, .commerce-shipping-types {
	border-left-width: 0;
	border-right-width: 0;

	&:first-child {
		border-top-width: 0;
	}
}

.commerce-order-summary {
	.commerce-checkout-summary {
		border-right: 1px solid #E7E7E7;
		padding-right: 2rem;

		.commerce-checkout-summary-header {
			padding: 0;

			.commerce-title {
				margin-bottom: 0;
			}
		}

		.commerce-checkout-summary-body {
			.table {
				border-bottom: 1px solid #E7E7E7;

				td {
					border-width: 0;
				}
			}

			.list-group-text {
				@include clay-text-typography($commerce-checkout-summary-body-list-group-text);
			}

			.list-group-title {
				@include clay-text-typography($commerce-checkout-summary-body-list-group-title);
			}

			.list-group-subtitle {
				@include clay-text-typography($commerce-checkout-summary-body-list-group-subtitle);
			}

			.sticker {
				border: 1px solid #6B6C7E;
			}
		}

		.commerce-checkout-summary-footer {
			margin-top: 0.75rem;

			.autofit-row {
				align-items: center;

				.autofit-col {
					padding-left: 0.5rem;
					padding-right: 0.5rem;
				}
			}

			.commerce-description {
				@include clay-text-typography($commerce-checkout-summary-footer-commerce-description);
			}

			.commerce-total {
				.commerce-description, .commerce-value {
					font-weight: $font-weight-bold;
				}
			}
		}
	}

	.commerce-checkout-info {
		padding-left: 2rem;

		.payment-method, .shipping-address, .shipping-method {
			@include clay-text-typography($commerce-checkout-summary-body-list-group-subtitle);
		}

		.shipping-address, .shipping-method {
			margin-bottom: 1.5rem;
		}

		.payment-method {
			padding-bottom: 1.5rem;
		}

		.payment-method {
			border-bottom: 1px solid #E7E7E7;
		}
	}
}

.commerce-checkout-confirmation {
	text-align: center;

	.success-message {
		@include clay-text-typography($commerce-checkout-success-messsage);
	}
}