@import "partials/fonts";

body {
	font-family: 'Montserrat_Regular';

	.portlet-content, .portlet-content-editable {
		padding: 0;
	}
}

.portlet-decorate .portlet-content {
	border-width: 0px;
}

#wrapper {
	padding-bottom: 0;
	padding-top: 0;
	position: relative;

	#banner {
		position: relative;
	}
}

.commerce-navigation {
	display: inline-block;
	margin-left: 100px;
	vertical-align: middle;

	.portlet {
		margin-bottom: 0px;
		position: initial;
	}

	.cp-asset-category-navigation {
		ul > li > a {
			display: inline-block;
			font-size: 14px;
			line-height: 18px;
			padding: 40px 30px;
			text-transform: uppercase;

			span {
				border-bottom: 4px solid #FFF;
				color: #3F3F3F;
				font-family: Montserrat_Regular;
				padding-bottom: 7px;
			}

			&:hover {
				text-decoration: none;

				span {
					border-bottom: 4px solid #9A8468;
					font-family: Montserrat_Regular;
					text-decoration: none;
				}
			}
		}

		.dropdown-menu {
			border: 0;
			box-shadow: none;
			margin: 0;
			max-width: 100%;
			min-width: 100%;
			padding: 0px 0 30px 0px;
			width: 100%;

			.container-fluid-1280 {
				position: relative;
			}

			.category-description {
				display: inline-block;
				float: right;
				color:#9A8468;

				h5 {
					font-family: Montserrat_Regular;
					font-size: 12px;
					text-transform: uppercase;
				}

				.description {
					font-size: 12px;
				}
			}

			.child-menu-level-1 {
				display: inline-block;
				margin-left: 60px;
				vertical-align: top;

				&:first-child {
					margin-left: 230px;
				}

				h5 {
					color: #3F3F3F;
					font-family: Montserrat_Regular;
					font-size: 14px;
					line-height: 18px;
					text-transform: uppercase;
				}

				ul {
					list-style: none;
					margin: 0;
					padding: 0;

					li > a {
						border-bottom: 1px solid #FFF;
						color: #3F3F3F;
						display: inline-block;
						font-family: Montserrat_Light;
						font-size: 14px;
						line-height: 18px;
						padding: 10px 0px;
						text-transform: capitalize;

						&:hover {
							border-bottom: 1px solid #9A8468;
						}
					}
				}
			}
		}
	}
}

#footer {
	background-color: #F6F8F9;
	color: #9A8468;
	padding: 72px 0;

	#p_p_id_com_liferay_site_navigation_menu_web_portlet_SiteNavigationMenuPortlet_ {
		.portlet-title-text {
			color: #9A8468;
			font-size: 14px;
			font-weight: 600;
		}

		#navbar_com_liferay_site_navigation_menu_web_portlet_SiteNavigationMenuPortlet {
			.lfr-nav-item {
				float: none;

				a, a:hover, a:focus {
					color: #9A8468;
					font-size: 14px;
					font-weight: 300;
					padding: 0;
				}
			}
		}
	}

	.social-content {
		color: #9A8468;
		font-size: 14px;
		font-weight: 600;
	}

	.social-icons {
		padding-bottom: 33px;
		padding-top: 16px;

		img {
			height: 20.81px;
			padding-right: 19px;
		}
	}

	#copyright {
		a, a:hover, a:focus {
			color: #9A8468;
			font-size: 14px;
		}
	}
}

.focus-product-column {
	height: 100%;
}

.focus-product-title {
	color: #9A8468;
	font-size: 60px;
	font-weight: 200;
	padding: 80px 120px;
}

.focus-product-description {
	color: #3F3F3F;
	font-size: 24px;
	font-weight: 200;
	padding: 0 120px;
}

.focus-product-logo {
	padding: 10px 0 0 30px;
}

.focus-product-image {
	img {
		object-fit: cover;
		width: 100%;
	}
}

.focus-product-highlighter-long {
	background-color: #9A8468;
	height: 1px;
	margin-left: 120px;
	margin-top: 35px;
	width: 420px;
}

.focus-product-highlighter-short {
	background-color: #9A8468;
	height: 1px;
	margin-left: 120px;
	margin-top: 22px;
	width: 348px;
}

.section-title-background {
	background-color: #6B6157;
	height: 90px;

	.section-title-highlighter {
		background-color: #FFFFFF;
		height: 1px;
		margin: 43px auto;
		width: 320px;
	}

	.section-title {
		color: #FFFFFF;
		font-family: 'Montserrat_Light';
		font-size: 27px;
		font-weight: 200;
		opacity: 0.9;
		padding: 23px 0;
		text-align: center;

		p {
			margin: 0 0 5px;
		}
	}
}

@media screen and (min-width: 1491px) and (max-width: 1837px) {
	#footer {
		.social-icons {
			img {
			padding-right: 15px;
			}
		}
	}

	.section-title-background {
		.section-title-highlighter {
			width: 300px;
		}

		.section-title {
			font-size: 20px;
			padding: 29px 0;
		}
	}
}

@media screen and (min-width: 1385px) and (max-width: 1490px) {
	#footer {
		.social-icons {
			img {
			padding-right: 11px;
			}
		}
	}

	.focus-product-title {
		font-size: 50px;
		padding: 50px 75px;
	}

	.focus-product-description {
		font-size: 19px;
		padding: 0 75px;
	}

	.focus-product-highlighter-long {
		margin-left: 75px;
	}

	.focus-product-highlighter-short {
		margin-left: 75px;
	}

	.section-title-background {
		.section-title-highlighter {
			width: 300px;
		}

		.section-title {
			font-size: 19px;
			padding: 30px 0;
		}
	}
}

@media screen and (min-width: 1280px) and (max-width: 1384px) {
	#footer {
		.social-icons {
			img {
			padding-right: 6px;
			}
		}
	}

	.focus-product-title {
		font-size: 50px;
		padding: 40px 60px;
	}

	.focus-product-description {
		font-size: 19px;
		padding: 0 60px;
	}

	.focus-product-logo {
		padding: 10px 0 0 80px;
	}

	.focus-product-highlighter-long {
		margin-left: 60px;
	}

	.focus-product-highlighter-short {
		margin-left: 60px;
	}

	.section-title-background {
		.section-title-highlighter {
			width: 270px;
		}

		.section-title {
			font-size: 19px;
			padding: 30px 0;
		}
	}
}

.category-detail {
	padding:0;
	color: #9A8468;
	text-align: center;

	h1 {
		font-family: 'Montserrat_SemiBold';
		font-size: 26px;
		margin: 60px 0 25px 0;
		text-transform: uppercase;
	}

	p {
		font-family: 'Montserrat_Regular';
		font-size: 14px;
	}
}