@import "portlet_decorator";

@import "partials/animation";
@import "partials/card";
@import "partials/carousel";
@import "partials/dropdown";
@import "partials/fonts";
@import "partials/footer";
@import "partials/jumbotron";
@import "partials/navbar";
@import "partials/portlets";
@import "partials/progress_bar";
@import "partials/sticker";
@import "partials/tab";

#column-1 {
	padding-left: 0;
	padding-right: 0;
}

#wrapper {
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	padding-top: 0;

	#mainSearchIcon {
		position: relative;

		.card {
			&, .list-group-item {
				border-color: transparent;
			}

			@include sm {
				margin: 0;
				padding: 0;
			}

			.form-group {
				position: relative;
			}

			.lexicon-icon-search-static {
				z-index: 9;

				@include position(absolute, null null 8px 8px);
			}
		}

		.form-group {
			width: 100%;
		}

		.form-control {
			background-color: #F6F8F9;
			border-color: #F6F8F9;
			color: #000;
			padding-left: 40px;
		}
	}
}

.main-wrapper {
	@import "partials/buttons";
	@import "partials/forms";
	@import "partials/table";

	a, .btn, input, .form-control {
		// @include hover-focus-active();
	}
}

#content {
	color: $brand-color;
	min-height: calc(100vh - 112px);
	padding-top: 20px;

	@include sm {
		padding-top: 132px;
	}

	.table {
		margin-top: 40px;
	}

	.portlet:hover {
		.portlet-topper {
			z-index: 1034;
		}
	}
}

#commercePaymentMethodsContainer {
	margin-bottom :50px;

	.col-md-3 {
		border-bottom: 1px solid;
		border-top: 1px solid;
		cursor: pointer;
		padding: 30px 20px 0 20px;
	}

	.col-md-3:hover {
		background-color: #FAF9F7;

		.card-commerce {
			background-color: #FAF9F7;
		}
	}
}

#commerceShippingMethodsContainer {
	margin-bottom :50px;

	.col-md-3 {
		border-bottom: 1px solid;
		border-top: 1px solid;
		padding: 30px 20px 0 20px;
	}
}

.product-detail-header {
	margin-top: 20px;

	.btn-lg + .btn-lg {
		margin-left: 20px;
	}
}

.product-detail-header, .nav-tabs-centered .nav-tabs {
	margin: 0 auto;
	max-width: $limited-container-width;
}

.product-detail-body {
	background-color: $brand-color-extra-light;
	margin-top: 20px;
}

.carousel-item img {
	width:100%;
}

.collapse-login {
	background-color: $bg-color-secondary;

	.container {
		padding: 20px;
	}

	&, a {
		color: $brand-color;
	}

	.btn {
		width: 100%;
	}

	.button-holder {
		margin: 0 0 20px;
	}

	p {
		margin: 40px 0;
	}

	.control-label {
		display: none;
	}
}

.category-detail {
	text-align: center;
}

.category-image img {
	max-width: 100%;
	width: 100%;
}

.search-facet {
	box-shadow: none;

	.card-heading {
		background: transparent;
		border-color: transparent;
		color: $brand-text-color;

		& + .card-collapse > .card-body {
			border-color: transparent;
		}
	}
}

.separator-dark {
	background-color: $brand-color;
	color: #FFF;
	font-weight: 200;
	text-align: center;

	.container-fluid-1280 {
		min-height: 90px;
		position: relative;

		&:after {
			background-color: #FFF;
			content: '';
			height: 1px;
			width: 100%;

			@include position(absolute, 50% 0 null 0);
		}
	}

	h1, h2, h3 {
		background-color: $brand-color;
		display: inline-block;
		font-size: 28px;
		line-height: 90px;
		margin: 0;
		padding: 0 20px;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		z-index: 2;
	}

	.form-group {
		background-color: $brand-color;
		padding: 25px 20px;
		position: relative;
		z-index: 2;

		.form-control, .btn {
			border-color: #FFF;
		}

		.form-control {
			color: #FFF;

			@include placeholder(#FFF);
		}
	}
}

.wrapped-lines-top {
	border-top: 1px solid $brand-color;
}

.wrapped-lines-bottom {
	border-bottom: 1px solid $brand-color;
}

.category-description {
	color: $brand-color;
}

.card {
	background-color: #FFF;
	border-color: transparent;
	border-radius: 0;
	box-shadow: none;

	.table {
		margin: 0;
	}
}

.collapse-hover {
	&:hover {
		.collapse {
			display: block;
		}

		a > .lexicon-icon {
			fill: $brand-color;
		}
	}

	.lexicon-icon {
		transition: fill 0.4s ease-in-out;
	}
}

.form-builder-select-field .drop-chosen .results-chosen li.option-selected {
	color: $brand-text-color;
}

.lfr-notification-container {
	left: 25%;
	max-width: 50%;
	position: absolute;
	right: 25%;
}

.commerce-alert-danger {
	background-color: transparent;
	font-weight: 600;
}