@import "portlet_decorator";

@import "partials/card";
@import "partials/carousel";
@import "partials/dropdown";
@import "partials/fonts";
@import "partials/footer";
@import "partials/jumbotron";
@import "partials/navbar";
@import "partials/sticker";
@import "partials/tab";

#column-1 {
	padding-left: 0;
	padding-right: 0;
}

#wrapper {
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	padding-top: 0;
}

.main-wrapper {
	@import "partials/buttons";
	@import "partials/forms";
	@import "partials/table";

	a, .btn, input, .form-control {
		@include form-control-focus($brand-color);
	}
}

#content {
	color: $brand-color;
	min-height: 100vh;

	.table {
		margin-top: 40px;
	}
}

.collapse-login {
	background-color: $bg-color-secondary;

	.container {
		padding: 20px;
	}

	&, a {
		color: $brand-color;
	}

	.btn {
		width: 100%;
	}

	.button-holder {
		margin: 0 0 20px;
	}

	p {
		margin: 40px 0;
	}

	.control-label {
		display: none;
	}
}

.category-detail {
	text-align: center;
}

.category-image img {
	max-width: 100%;
	width: 100%;
}

.search-facet {
	box-shadow: none;

	.panel-heading {
		background: transparent;
		border-color: transparent;
		color: $brand-text-color;

		& + .panel-collapse > .panel-body {
			border-color: transparent;
		}
	}
}

.separator-dark {
	background-color: $brand-color;
	color: #FFF;
	font-weight: 200;
	text-align: center;

	.container-fluid-1280 {
		min-height: 90px;
		position: relative;

		&:after {
			background-color: #FFF;
			content: '';
			height: 1px;
			width: 100%;

			@include position(absolute, 50% 0 null 0);
		}
	}

	h1, h2, h3 {
		background-color: $brand-color;
		display: inline-block;
		font-size: 28px;
		line-height: 90px;
		margin: 0;
		padding: 0 20px;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		z-index: 2;
	}

	.form-group {
		background-color: $brand-color;
		padding: 25px 20px;
		position: relative;
		z-index: 2;

		.form-control, .btn {
			border-color: #FFF;
		}

		.form-control {
			color: #FFF;

			@include placeholder(#FFF);
		}
	}
}

.category-description {
	color: $brand-color;
}

.well {
	background-color: #FFF;
	border-color: $brand-border-color;
	border-radius: 0;
	box-shadow: none;
}