$bg-color: #f1f2f5;

$lead-font-weight: 400;
$small-font-size: 0.875rem;

// Compat

$compat-alerts: false;
$compat-breadcrumbs: false;
$compat-button_groups: false;
$compat-buttons: false;
$compat-dropdowns: false;
$compat-responsive_utilities: false;
$compat-utilities: false;
