$body-bg: #f1f2f5;
$border-color: #f1f2f5;

$lead-font-weight: 400;
$small-font-size: 0.875rem;

$navigation-bar-size: (
	active-border-offset-bottom: -0.4375rem,
	active-border-offset-bottom-mobile: -0.4375rem,
	border-bottom-width: 0.0625rem,
);

$navigation-bar-light: (
	border-color: $border-color,
);
