$warning-secondary: #ff8f39;
$warning-primary: #863a00;

$danger-secondary: #f48989;
$danger-primary: #da1414;

$success-secondary: #5aca76;
$success-primary: #287d3d;

$info-secondary: #89a7e0;
$info-primary: #2e5aac;

$error-l1: lighten($danger-primary, 28%);
$gray-600: #6b6c7e;
$secondary-text: $gray-600;
$spacer: 1rem;

$spacers: (
	0: 0,
	1: $spacer * 0.25,
	2: $spacer * 0.5,
	3: $spacer,
	4: $spacer * 1.5,
	5: $spacer * 3,
);

$primary-color: #0b5fff;
$background-color: #f1f2f4;
$border-color: #e7e7ed;
$info-bc: #eef2fa;

$step-tracker-completed: #6fcf97;
$step-tracker-active: #6b6c7e;
$step-tracker-inactive: #cdced9;
