.taglib-social-bookmarks {
	.taglib-social-bookmark {
		display: inline-block;
		vertical-align: top;

		img {
			vertical-align: baseline;
		}
	}

	.lfr-icon-item {
		height: 32px;
		width: 40px;
		img {
			height: 1em;
			max-width: initial;
			position: relative;
			top: 1px;
			width: 1em;
		}
		i {
			display: inline-block;
			font-size: 17px;
			position: relative;
			top: -1px;
			width: 14px;
		}
	}

	> ul, > div {
		display: inline-block;
		margin: 0;
		vertical-align: top;
	}
}