.taglib-social-bookmarks {
	display: inline-flex;

	.taglib-social-bookmark {
		display: inline-block;
		vertical-align: top;

		img {
			vertical-align: baseline;
		}
	}

	.taglib-social-bookmark + .taglib-social-bookmark {
		padding-left: 0.5rem;
	}

	.dropdown {
		button:not(:hover):not(:active):not(:focus) {
			background: none;
		}
		svg {
			font-size: 1rem;
		}
	}

	.lfr-icon-item {
		height: 32px;
		width: 40px;
		img {
			height: 1rem;
			max-width: initial;
			vertical-align: middle;
			width: 1rem;
		}
		i {
			font-size: 19px;
			vertical-align: middle;
		}
	}

	> ul,
	> div {
		display: inline-flex;
		margin: 0;
		vertical-align: top;
	}

	> div {
		padding-left: 0.5rem;
	}
}
