{
    "com.liferay.fragment.entry.processor.background.image.BackgroundImageFragmentEntryProcessor": {},
    "com.liferay.fragment.entry.processor.editable.EditableFragmentEntryProcessor": {},
    "com.liferay.fragment.entry.processor.freemarker.FreeMarkerFragmentEntryProcessor": {},
    "instanceId": "${instanceId}",
    "portletId": "${portletName}"
}