<portlet-preferences>
	<preference>
		<name>ddmTemplateKey</name>
		<value></value>
	</preference>
	<preference>
		<name>assetEntryId</name>
		<value>${assetEntryId}</value>
	</preference>
	<preference>
		<name>userToolAssetAddonEntryKeys</name>
		<value>false</value>
	</preference>
	<preference>
		<name>enableViewCountIncrement</name>
		<value>false</value>
	</preference>
	<preference>
		<name>groupId</name>
		<value>${groupId}</value>
	</preference>
	<preference>
		<name>articleId</name>
		<value>${articleId}</value>
	</preference>
	<preference>
		<name>contentMetadataAssetAddonEntryKeys</name>
		<value>false</value>
	</preference>
</portlet-preferences>