@import 'atlas-variables';
@import 'mixins';

.lfr-analytics-reports-panel {
	&.open-admin-panel.sidenav-menu-slider {
		visibility: visible;
		width: 320px;
	}

	.sidebar-body {
		background-color: #fff;
		border-left-color: #e7e7ed;
		border-left-style: solid;
		border-left-width: 1px;
	}
}

.lfr-analytics-reports-panel {
	.sidebar .sidebar-header {
		padding-bottom: 0.75rem;
		padding-top: 0.75rem;
	}
	@media only screen and (min-width: 768px) {
		.sidebar-header {
			padding-bottom: 12px;
			padding-left: 24px;
			padding-top: 12px;
		}
	}
	.sidebar-header {
		background-color: #272833;
		color: #d5d6e1;
		display: flex;
		justify-content: space-between;
		line-height: 32px;
		padding-bottom: 8px;
		padding-right: 9px;
		padding-top: 8px;
	}
	.sidebar-body {
		bottom: 0;
		left: 0;
		padding: 0;
		position: absolute;
		right: 0;
		top: 56px;
	}
	@media only screen and (min-width: 768px) {
		.sidebar-header {
			padding-bottom: 12px;
			padding-left: 24px;
			padding-top: 12px;
		}
	}

	.recharts-tooltip-label {
		font-weight: bold;
	}
}
