// ---------- Regular sizes ----------

$animation: cubic-bezier(0.25, 0.1, 0.25, 1);
$sidebarMainWidth: 326px;
$sidebarMiniWidth: 72px;

// Animations

$defaultTransitionDuration: 0.5s;

// Colors

$multiPanelSidebarBorderColor: #e7e7ed;
$multiPanelSidebarButtonBackgroundColor: #393a4a;
$multiPanelSidebarButtonColor: #a7a9bc;
$multiPanelSidebarButtonHoverColor: #fff;
$multiPanelSidebarButtonSeparatorColor: #6b6c7e;
$multiPanelSidebarContentBackgroundColor: #fff;

// Layout

$controlMenuHeight: 48px;
$desktopControlMenuHeight: 56px;
$managementBarHeight: 64px;
$multiPanelSidebarButtonWidth: 40px;
$multiPanelSidebarContentWidth: 340px;
$toolbarHeight: 64px;

// z-indexes, ordered numerically.

$zIndexMultiPanelSidebar: 199;
$portletTopperZIndex: 990;
$dragPreviewLayer: 991;
$shimZIndex: 9999;
