.marketplace-app-manager-portlet {
	.additional-info {
		.additional-info-item {
			display: inline-block;
			margin-right: 2em;
		}
	}

	.search-container-icon {
		.lexicon-icon {
			width: 1.5em;
		}
	}
}
