.fragment-jumbo-cover {
	height: 0;
	overflow: hidden;
	padding-top: 36.25%;
	position: relative;
	width: 100%;
}

.fragment-jumbo-cover video {
	height: auto;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.fragment-jumbo-cover h1 {
	color: white;
	font-size: 10vm;
	font-weight: bolder;
	left: 1em;
	position: absolute;
	text-transform: uppercase;
	top: 1em;
	z-index: 1;
}

.fragment-jumbo-cover h1::after {
	border-bottom: solid thin white;
	content: '';
	left: 0.05em;
	position: absolute;
	top: 1.1em;
	width: 3em;
}