.component-dropdown .dropdown-fragment-menu {
	background-clip: padding-box;
	background-color: #fff;
	border-color: #e7e7ed;
	border-radius: 0.25rem;
	border-style: solid;
	border-width: 0;
	box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.3);
	display: none;
	left: 0;
	min-width: 240px;
	position: absolute;
	top: 100%;
	z-index: 976;
}

.component-dropdown .dropdown-fragment-menu.dropdown-fragment-menu-regular {
	width: 240px;
}

.component-dropdown .dropdown-fragment-menu.dropdown-fragment-menu-full {
	width: 100%;
}
