.component-dropdown .dropdown-fragment-menu {
	background-clip: padding-box;
	background-color: #fff;
	border-color: #e7e7ed;
	border-radius: 0.25rem;
	border-style: solid;
	border-width: 0;
	box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.3);
	display: none;
	min-width: 240px;
	position: fixed;
	z-index: 976;
}
