<div class="fjord-offerings fjord-section">
	<section class="bg-primary fjord-bg-primary jumbotron jumbotron-fluid mb-0 text-white">
		<div class="container text-center">
			<div class="row">
				<div class="col-12">
					<lfr-editable id="fjord-offerings-title" type="rich-text">
						<h2 class="display-4">Choose Your Plan</h2>
					</lfr-editable>

					<div class="lead">
						<lfr-editable id="fjord-offerings-text" type="rich-text">
							<p>Use this pricing table template to make purchasing easy and compelling for your customers.</p>
						</lfr-editable>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12 col-lg-4 col-md-6 col-sm-8 d-flex flex-column mt-5 mx-auto">
					<div class="bg-white-10 d-flex flex-column p-4 rounded shadow-sm">
						<div class="fjord-text-success text-success">
							<lfr-editable id="fjord-offerings-card-title" type="rich-text">
								<h3>Beginner</h3>
							</lfr-editable>
						</div>

						<div class="mb-3">
							<span class="align-top d-inline-block ml-4 small">
								<lfr-editable id="fjord-offerings-card-currency" type="text">$</lfr-editable>
							</span>
							<span class="d-inline-block display-4 mx-1">
								<lfr-editable id="fjord-offerings-card-value" type="text">30</lfr-editable>
							</span>
							<span class="d-inline-block">
								<lfr-editable id="fjord-offerings-card-period" type="text">mo*</lfr-editable>
							</span>
						</div>

						<div class="fjord-offerings-paragraph">
							<lfr-editable id="fjord-offerings-card-text" type="rich-text">
								<p>Out standard suite of products</p>
							</lfr-editable>
						</div>

						<div class="small text-white-50">
							<lfr-editable id="fjord-offerings-card-subtext" type="rich-text">
								<p>$35 month-to-month (USD)</p>
							</lfr-editable>
						</div>

						<lfr-editable id="fjord-offerings-card-button" type="rich-text">
							<a class="btn btn-block btn-outline-light px-4 px-sm-5 py-2 py-sm-3 text-uppercase" href="#">Try for free</a>
						</lfr-editable>
					</div>

					<div class="mt-3 small text-white-50">
						<lfr-editable id="fjord-offerings-list" type="rich-text">
							<ul class="list-unstyled">
								<li>Workout Tracker</li>

								<li>Group Scheduler</li>

								<li>Calendar Sync</li>
							</ul>
						</lfr-editable>
					</div>
				</div>

				<div class="col-12 col-lg-4 col-md-6 col-sm-8 d-flex flex-column mt-5 mx-auto">
					<div class="bg-white-10 d-flex flex-column p-4 rounded shadow-sm">
						<div class="fjord-text-success text-success">
							<lfr-editable id="fjord-offerings-card-title2" type="rich-text">
								<h3>Standard</h3>
							</lfr-editable>
						</div>

						<div class="mb-3">
							<span class="align-top d-inline-block ml-4 small">
								<lfr-editable id="fjord-offerings-card-currency2" type="text">$</lfr-editable>
							</span>
							<span class="d-inline-block display-4 mx-1">
								<lfr-editable id="fjord-offerings-card-value2" type="text">60</lfr-editable>
							</span>
							<span class="d-inline-block">
								<lfr-editable id="fjord-offerings-card-period2" type="text">mo*</lfr-editable>
							</span>
						</div>

						<div class="fjord-offerings-paragraph">
							<lfr-editable id="fjord-offerings-card-text2" type="rich-text">
								<p>Standard suite plus two expansions of your choice</p>
							</lfr-editable>
						</div>

						<div class="small text-white-50">
							<lfr-editable id="fjord-offerings-card-subtext2" type="rich-text">
								<p>$65 month-to-month (USD)</p>
							</lfr-editable>
						</div>

						<lfr-editable id="fjord-offerings-card-button2" type="rich-text">
							<a class="btn btn-block btn-outline-light px-4 px-sm-5 py-2 py-sm-3 text-uppercase" href="#">Try for free</a>
						</lfr-editable>
					</div>

					<div class="mt-3 small text-white-50">
						<lfr-editable id="fjord-offerings-list2" type="rich-text">
							<ul class="list-unstyled">
								<li>Workout Tracker</li>

								<li>Group Scheduler</li>

								<li>Calendar Sync + 2 Expansions</li>
							</ul>
						</lfr-editable>
					</div>
				</div>

				<div class="col-12 col-lg-4 col-md-6 col-sm-8 d-flex flex-column mt-5 mx-auto">
					<div class="bg-white-10 d-flex flex-column p-4 rounded shadow-sm">
						<div class="fjord-text-success text-success">
							<lfr-editable id="fjord-offerings-card-title3" type="rich-text">
								<h3>Hardcore</h3>
							</lfr-editable>
						</div>

						<div class="mb-3">
							<span class="align-top d-inline-block ml-4 small">
								<lfr-editable id="fjord-offerings-card-currency3" type="text">$</lfr-editable>
							</span>
							<span class="d-inline-block display-4 mx-1">
								<lfr-editable id="fjord-offerings-card-value3" type="text">135</lfr-editable>
							</span>
							<span class="d-inline-block">
								<lfr-editable id="fjord-offerings-card-period3" type="text">mo*</lfr-editable>
							</span>
						</div>

						<div class="fjord-offerings-paragraph">
							<lfr-editable id="fjord-offerings-card-text3" type="rich-text">
								<p>Includes full suite of product expansions and VIP customer support.</p>
							</lfr-editable>
						</div>

						<div class="small text-white-50">
							<lfr-editable id="fjord-offerings-card-subtext3" type="rich-text">
								<p>Annual only</p>
							</lfr-editable>
						</div>

						<lfr-editable id="fjord-offerings-card-button3" type="rich-text">
							<a class="btn btn-block btn-outline-light px-4 px-sm-5 py-2 py-sm-3 text-uppercase" href="#">Try for free</a>
						</lfr-editable>
					</div>

					<div class="mt-3 small text-white-50">
						<lfr-editable id="fjord-offerings-list3" type="rich-text">
							<ul class="list-unstyled">
								<li>Workout Tracker</li>

								<li>Group Scheduler</li>

								<li>Calendar Sync</li>

								<li>Fitness Target Manager</li>

								<li>Calorie Tracker</li>

								<li>Sleep Tracker</li>
							</ul>
						</lfr-editable>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>