@import 'atlas-variables';

.dropdown {
	&-item {
		text-overflow: ellipsis;
		white-space: nowrap;

		span {
			color: $secondary-l1;
			font-size: 0.75rem;
			margin-left: 1em;
		}
	}

	&-menu {
		max-height: 320px;
		max-width: 280px;
		width: 280px;
	}
}
