$brand-color: #9A8468;
$brand-color-dark: #6B6157;
$brand-color-light: #FAF9F7;
$brand-color-extra-light: #F5F7F8;
$brand-dark: #3F3F3F;

$brand-text-color: $brand-dark;

$bg-color-main: $brand-color-extra-light;
$bg-color-secondary: $brand-color-light;