<div class="jumbotron">
	<div class="default-background-color jumbotron">
		<div class="container-fluid container-fluid-max-xl">
			<div class="row">
				<div class="col-md-8 mx-auto text-center">
					<h1 class="display-4">Engage Your Audience</h1>
					<p class="lead">Feature videos, news, or anything else you want your customer to see.</p>
					<a href="http://www.liferay.com"> <img alt="[Insert alternative description of the image here]" class="center-block img-responsive img-spacing" src="$phone.png$"> </a>
				</div>
			</div>
		</div>
	</div>
</div>