<div class="fjord-device">
	<div class="jumbotron">
		<div class="default-background-color jumbotron">
			<div class="container-fluid container-fluid-max-xl">
				<div class="row">
					<div class="col-md-8 mx-auto text-center">
						<h1 class="display-4">
							<lfr-editable id="title" type="text">Engage Your Audience</lfr-editable>
						</h1>

						<p class="lead">
							<lfr-editable id="lead" type="rich-text">Feature videos, news, or anything else you want your customer to see.</lfr-editable>
						</p>

						<lfr-editable id="image" type="rich-text">
							<a href="#">
								<img alt="" class="center-block img-responsive img-spacing" src="../../resources/phone.png">
							</a>
						</lfr-editable>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>