<div class="container-fluid container-fluid-max-xl">
	<div class="row">
		<div class="col-md-8 mx-auto text-center">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<img alt="" class="img-rounded" src="$feature_1.png$">
						<h3>Awesome Features</h3>
						<p>Add your unique product features.</p>
					</div>

					<div class="col-md-6">
						<img alt="" class="img-rounded" src="$feature_2.png$">
						<h3>Fully Customizable</h3>
						<p>Match your fitness routine to your day, not the other way around.</p>
					</div>

					<div class="col-md-6">
						<img alt="" class="img-rounded" src="$feature_3.png$">
						<h3>Goal Tracking</h3>
						<p>Set targets and track personal bests.</p>
					</div>

					<div class="col-md-6">
						<img alt="" class="img-rounded" src="$feature_4.png$">
						<h3>Discovery</h3>
						<p>Find your next great workout with the activities library, updated daily.</p>
					</div>

					<div class="col-md-6">
						<img alt="" class="img-rounded" src="$feature_5.png$">
						<h3>Expansions</h3>
						<p>Use expansions to track calories, sleep, and more.</p>
					</div>

					<div class="col-md-6">
						<img alt="" class="img-rounded" src="$feature_6.png$">
						<h3>Award Winning Design</h3>
						<p>Created by leading fitness trainers.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>