<div class="fjord-features">
	<div class="container-fluid container-fluid-max-xl">
		<div class="row">
			<div class="col-md-8 mx-auto text-center">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-6">
							<lfr-editable id="image1" type="image">
								<img alt="" class="img-rounded" src="../../resources/feature_1.png">
							</lfr-editable>

							<h3>
								<lfr-editable id="title1" type="text">Awesome Features</lfr-editable>
							</h3>

							<p>
								<lfr-editable id="description1" type="rich-text">Add your unique product features.</lfr-editable>
							</p>
						</div>

						<div class="col-md-6">
							<lfr-editable id="image2" type="image">
								<img alt="" class="img-rounded" src="../../resources/feature_2.png">
							</lfr-editable>

							<h3>
								<lfr-editable id="title2" type="text">Fully Customizable</lfr-editable>
							</h3>

							<p>
								<lfr-editable id="description2" type="rich-text">Match your fitness routine to your day, not the other way around.</lfr-editable>
							</p>
						</div>

						<div class="col-md-6">
							<lfr-editable id="image3" type="image">
								<img alt="" class="img-rounded" src="../../resources/feature_3.png">
							</lfr-editable>

							<h3>
								<lfr-editable id="title3" type="text">Goal Tracking</lfr-editable>
							</h3>

							<p>
								<lfr-editable id="description3" type="rich-text">Set targets and track personal bests.</lfr-editable>
							</p>
						</div>

						<div class="col-md-6">
							<lfr-editable id="image4" type="image">
								<img alt="" class="img-rounded" src="../../resources/feature_4.png">
							</lfr-editable>

							<h3>
								<lfr-editable id="title4" type="text">Discovery</lfr-editable>
							</h3>

							<p>
								<lfr-editable id="description4" type="rich-text">Find your next great workout with the activities library, updated daily.</lfr-editable>
							</p>
						</div>

						<div class="col-md-6">
							<lfr-editable id="image5" type="image">
								<img alt="" class="img-rounded" src="../../resources/feature_5.png">
							</lfr-editable>

							<h3>
								<lfr-editable id="title5" type="text">Expansions</lfr-editable>
							</h3>

							<p>
								<lfr-editable id="description5" type="rich-text">Use expansions to track calories, sleep, and more.</lfr-editable>
							</p>
						</div>

						<div class="col-md-6">
							<lfr-editable id="image6" type="image">
								<img alt="" class="img-rounded" src="../../resources/feature_6.png">
							</lfr-editable>

							<h3>
								<lfr-editable id="title6" type="text">Award Winning Design</lfr-editable>
							</h3>

							<p>
								<lfr-editable id="description6" type="rich-text">Created by leading fitness trainers.</lfr-editable>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>