<div class="fjord-offerings">
	<div class="jumbotron list-packages-template main-background-color">
		<section class="container-fluid container-fluid-max-xl">
			<div class="row">
				<div class="col-md-8 mx-auto text-center">
					<h1 class="display-4">
						<lfr-editable id="title" type="text">Choose Your Plan</lfr-editable>
					</h1>

					<p class="lead">
						<lfr-editable id="lead" type="rich-text">Use this pricing table template to make purchasing easy and compelling for your customers.</lfr-editable>
					</p>
				</div>
			</div>
		</section>

		<section class="container-fluid container-fluid-max-xl">
			<div class="row">
				<div class="text-center col-md-4">
					<div class="card card-body">
						<h3 class="h2">
							<lfr-editable id="lead1" type="text">Beginner</lfr-editable>
						</h3>

						<p>
							<lfr-editable id="title1" type="rich-text">
								<sup class="currency">$</sup>
								<span class="h1">30</span>
								<span class="period">mo <sup>*</sup></span>
							</lfr-editable>
						</p>

						<p>
							<lfr-editable id="description1" type="text">Our standard suite of products.</lfr-editable>
						</p>

						<p class="small">
							<lfr-editable id="periodicity1" type="text">
								$35 month-to-month (USD)
							</lfr-editable>
						</p>

						<lfr-editable id="link1" type="rich-text">
							<a class="btn btn-block btn-primary btn-fjord-primary btn-xl-fjord-default" href="#">Try it for free</a>
						</lfr-editable>
					</div>

					<lfr-editable id="list1" type="rich-text">
						<ul class="list-unstyled small">
							<li>Workout Tracker</li>
							<li>Group Scheduler</li>
							<li>Calendar Sync</li>
						</ul>
					</lfr-editable>
				</div>

				<div class="text-center col-md-4">
					<div class="card card-body">
						<h3 class="h2">
							<lfr-editable id="lead2" type="text">Standard</lfr-editable>
						</h3>

						<p>
							<lfr-editable id="title2" type="rich-text">
								<sup class="currency">$</sup>
								<span class="h1">60</span>
								<span class="period">mo <sup>*</sup></span>
							</lfr-editable>
						</p>

						<p>
							<lfr-editable id="description2" type="text">Standard suite plus two expansions of your choice.</lfr-editable>
						</p>

						<p class="small">
							<lfr-editable id="periodicity2" type="text">
								$35 month-to-month (USD)
							</lfr-editable>
						</p>

						<lfr-editable id="link2" type="rich-text">
							<a class="btn btn-block btn-primary btn-fjord-primary btn-xl-fjord-default" href="#">Try it for free</a>
						</lfr-editable>
					</div>

					<lfr-editable id="list2" type="rich-text">
						<ul class="list-unstyled small">
							<li>Workout Tracker</li>
							<li>Group Scheduler</li>
							<li>Calendar Sync + 2 Expansions</li>
						</ul>
					</lfr-editable>
				</div>

				<div class="text-center col-md-4">
					<div class="card card-body">
						<h3 class="h2">
							<lfr-editable id="lead3" type="text">Hardcore</lfr-editable>
						</h3>

						<p>
							<lfr-editable id="title3" type="rich-text">
								<sup class="currency">$</sup>
								<span class="h1">135</span>
								<span class="period">mo <sup>*</sup></span>
							</lfr-editable>
						</p>

						<p>
							<lfr-editable id="description3" type="text">Includes full suite of product expansions and VIP customer support.</lfr-editable>
						</p>

						<p class="small">
							<lfr-editable id="periodicity3" type="text">
								Annual only
							</lfr-editable>
						</p>

						<lfr-editable id="link3" type="rich-text">
							<a class="btn btn-block btn-primary btn-fjord-primary btn-xl-fjord-default" href="#">Try it for free</a>
						</lfr-editable>
					</div>

					<lfr-editable id="list3" type="rich-text">
						<ul class="list-unstyled small">
							<li>Workout Tracker</li>
							<li>Group Scheduler</li>
							<li>Calendar Sync</li>
							<li>Fitness Target Manager</li>
							<li>Calorie Tracker</li>
							<li>Sleep Tracker</li>
						</ul>
					</lfr-editable>
				</div>
			</div>
		</section>
	</div>
</div>