<div class="jumbotron list-packages-template main-background-color">
	<section class="container-fluid container-fluid-max-xl">
		<div class="row">
			<div class="col-md-8 mx-auto text-center">
				<h1 class="display-4">Choose Your Plan</h1>
				<p class="lead">Use this pricing table template to make purchasing easy and compelling for your customers.</p>
			</div>
		</div>
	</section>

	<section class="container-fluid container-fluid-max-xl">
		<div class="row">
			<div class="text-center col-md-4">
				<div class="card card-body">
					<h3 class="h2">Beginner</h3>
					<p><sup class="currency">$</sup> <span class="h1">30</span> <span class="period">mo <sup>*</sup></span></p>
					<p>Our standard suite of products.</p>
					<p class="small">$35 month-to-month (USD)</p>
					<a class="btn btn-block btn-primary btn-theme-primary btn-xl" href="http://www.liferay.com"> Try it for free </a>
				</div>

				<ul class="list-unstyled small">
					<li>Workout Tracker</li>
					<li>Group Scheduler</li>
					<li>Calendar Sync</li>
				</ul>
			</div>

			<div class="text-center col-md-4">
				<div class="card card-body">
					<h3 class="h2">Standard</h3>
					<p><sup class="currency">$</sup> <span class="h1">60</span> <span class="period">mo <sup>*</sup></span></p>
					<p>Standard suite plus two expansions of your choice.</p>
					<p class="small">$35 month-to-month (USD)</p>
					<a class="btn btn-block btn-primary btn-theme-primary btn-xl" href="http://www.liferay.com"> Try it for free </a>
				</div>

				<ul class="list-unstyled small">
					<li>Workout Tracker</li>
					<li>Group Scheduler</li>
					<li>Calendar Sync + 2 Expansions</li>
				</ul>
			</div>

			<div class="text-center col-md-4">
				<div class="card card-body">
					<h3 class="h2">Hardcore</h3>
					<p><sup class="currency">$</sup> <span class="h1">135</span> <span class="period">mo <sup>*</sup></span></p>
					<p>Includes full suite of product expansions and VIP customer support.</p>
					<p class="small">Annual only</p>
					<a class="btn btn-block btn-primary btn-theme-primary btn-xl" href="http://www.liferay.com"> Try it for free </a>
				</div>

				<ul class="list-unstyled small">
					<li>Workout Tracker</li>
					<li>Group Scheduler</li>
					<li>Calendar Sync</li>
					<li>Fitness Target Manager</li>
					<li>Calorie Tracker</li>
					<li>Sleep Tracker</li>
				</ul>
			</div>
		</div>
	</section>
</div>