<div class="fjord-download fjord-section">
	<section class="bg-dark bg-image fjord-download-image jumbotron jumbotron-fluid mb-0 text-white" data-lfr-background-image-id="fjord-download">
		<div class="container py-5 py-7">
			<div class="row">
				<div class="col-12 text-center">
					<lfr-editable id="fjord-download-title" type="rich-text">
						<h2 class="display-4">Start Building Today</h2>
					</lfr-editable>

					<div class="lead">
						<lfr-editable id="fjord-download-text" type="rich-text">
							<p>This theme is included with your Liferay product. Visit <a class="text-reset" href="https://www.liferay.com">www.liferay.com</a> for more information.</p>
						</lfr-editable>
					</div>

					<div class="d-inline-block fjord-download-button">
						<lfr-editable id="fjord-download-button1" type="image">
							<a href="#" target="_blank" title="Download from App Store, in a new window">
								<img alt="Download from App Store" src="[resources:badge_apple.png]" />
							</a>
						</lfr-editable>
					</div>

					<div class="d-inline-block fjord-download-button">
						<lfr-editable id="fjord-download-button2" type="image">
							<a href="#" target="_blank" title="Download from Google Play, in a new window">
								<img alt="Download from Google Play" src="[resources:badge_play.png]" />
							</a>
						</lfr-editable>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>