.dashboard-card {
	background-color: var(--white);
	border-radius: var(--border-radius-lg);
	box-shadow: var(--box-shadow-sm);
	height: 100% !important;
	margin-bottom: var(--spacer-5);
	padding-bottom: calc(var(--spacer-1)*8);
	padding-left: var(--spacer-4);
	padding-right: var(--spacer-4);
}

.dashboard-card .dashboard-class-title {
	margin-bottom: var(--spacer-5);
}

.dashboard-card:before {
	background-color: var(--primary);
	content: '';
	display: block;
	height: 7px;
	margin-bottom: calc(var(--spacer-1)*5);
	width: 64px;
}