{namespace MockField}

{template .render}
	{@param? type: string}

	<div id="fields-rule">
		{switch $type}
			{case 'checkbox'}
				{call .Checkbox /}
			{case 'checkbox_multiple'}
				{call .CheckboxMultiple /}
			{case 'date'}
				{call .Date /}
			{case 'numeric'}
				{call .Numeric /}
			{case 'radio'}
				{call .Radio /}
			{case 'select'}
				{call .Select /}
			{case 'text'}
				{call .Text /}
			{case 'validation'}
				{call .Validation /}
			{default}
				<div class="ddm-template-undefined">Undefined template.</div>
		{/switch}
	</div>
{/template}

{template .Checkbox}
	<p>Checkbox Field</p>
{/template}

{template .CheckboxMultiple}
	<p>Checkbox Multiple Field</p>
{/template}

{template .Date}
	<p>Date Field</p>
{/template}

{template .Numeric}
	<p>Numeric Field</p>
{/template}

{template .Radio}
	<p>Radio Field</p>
{/template}

{template .Select}
	<p>Select Field</p>
{/template}

{template .Text}
	<p>Text Field</p>
{/template}

{template .Validation}
	<p>Validation Field</p>
{/template}