<div class="product-actions">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-6 col-xl-3"><a class="product-action-link" href="#"><span class="product-action"><img src="[resources:claim.svg]" alt="" data-lfr-editable-id="01-image" data-lfr-editable-type="image" />Submit Claim</span></a></div>
			<div class="col-12 col-lg-6 col-xl-3"><a class="product-action-link" href="#"><span class="product-action"><img src="[resources:pay.svg]" alt="" data-lfr-editable-id="02-image" data-lfr-editable-type="image" />Make a Payment</span></a></div>
			<div class="col-12 col-lg-6 col-xl-3"><a class="product-action-link" href="#"><span class="product-action"><img src="[resources:safety.svg]" alt="" data-lfr-editable-id="03-image" data-lfr-editable-type="image" />View Resources</span></a></div>
			<div class="col-12 col-lg-6 col-xl-3"><a class="product-action-link" href="#"><span class="product-action"><img src="[resources:union.svg]" alt="" data-lfr-editable-id="04-image" data-lfr-editable-type="image" />Find an Agent</span></a></div>
		</div>
	</div>
</div>