@import "components/breadcrumb";
@import "components/color";
@import "components/group-item";
@import "components/info-panel";
@import "components/navbars";
@import "components/sidebar";
@import "components/splitter";
@import "components/table";
@import "components/widget";
@import "portlet/portlet";
@import "portlet/portlet_decorators";
@import "portlet/portlet_hello_world";

header {
	.portlet, .field-wrapper, .form-group {
		margin-bottom: 0;
	}

	.text-default {
		color: #6B6C7E;
		font-weight: 600;
	}

	.field-wrapper {
		position: absolute;
		right: 4px;
		top: 2px;

		a {
			color: #FFF;
		}
	}

	.portlet {
		margin-bottom: 0;

		&:hover {
			z-index: 1034;
		}
	}

	.user-avatar-link {
		display: block;
		position: relative;

		.text-default {
			align-items: center;
			display: flex;

			.user-full-name {
				margin-left: 0.5rem;

				@include media-query(null, $screen-xs-max) {
					display: none;
				}
			}
		}

		.panel-notifications-count {
			margin: 0;
			position: absolute;
			right: calc(100% - 0.7rem);
			top: -0.4rem;
		}
	}

	.user-personal-bar {
		.fieldset {
			position: relative;
		}
	}

	.search-input {
		font-size: 0.88rem;
		padding: 0.28rem 2rem 0.28rem 1rem;
	}
}

.btn-group + .info-panel {
	@include md {
		top: auto;
	}
}

#footer {
	background-color: $complementary-color;
	color: #FFF;
	margin-top: 1rem;

	> .container {
		padding-bottom: 3rem;
		padding-top: 3rem;
	}
}