.loading-indicator {
	background-color: transparent;
	left: 50%;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
}

.change-lists-helper {
	.lexicon-icon-exclamation-circle {
		fill: #b95000;
	}
}

.change-lists-helper {
	.lexicon-icon-check-circle {
		fill: #287d3c;
	}
}

.small-loading-indicator {
	background-color: transparent;
	position: relative;
	z-index: 5;
}

.change-list-publish-modal {
	background-color: #fff;
}

.contents-affected-dialog {
	min-height: 700px;
	min-width: 600px;

	.bold {
		font-weight: bold;
	}

	.container-fluid-max-sm {
		max-width: 100%;
		padding: 1.5rem;
	}

	.padding-left {
		padding-left: 1.5rem;
	}

	.modal-content {
		height: 700px;
	}

	&.modal-dialog-sm .modal-content {
		height: 800px;

		.modal-body.inline-scroller {
			max-height: 800px;
			padding: 0;
		}
	}
}
