.loading-indicator {
	background-color: transparent;
	left: 50%;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
}

.change-lists-helper {
	.lexicon-icon-exclamation-circle {
		fill: #b95000;
	}
}

.change-lists-helper {
	.lexicon-icon-check-circle {
		fill: #287d3c;
	}
}

.small-loading-indicator {
	background-color: transparent;
	position: relative;
	z-index: 5;
}

.change-list-publish-modal {
	background-color: #fff;
}
