.card-col-content.production-details-column {
	vertical-align: middle;
}

.select-card-sheet {
	font-size: 0.875rem;
	height: 90%;

	.card-h3 {
		color: inherit;
		font-family: inherit;
		font-size: 1.1875rem;
		font-weight: 650;
		line-height: 1.2;
		margin-bottom: 0.5rem;
	}

	.card-h4 {
		color: inherit;
		font-family: inherit;
		font-weight: 600;
		line-height: 1.2;
		margin-bottom: 0.5rem;
		margin-top: 0;
	}

	.changes {
		float: left;
		padding-right: 3.175rem;
	}

	.big-number {
		font-size: 1.575rem;
		font-weight: 700;
	}

	.card-text {
		color: #6B6C7E;
		margin-bottom: 0.8rem;
		word-wrap: break-word;
	}
}