.stick-to-right {
	position: absolute;
	right: 0;
}

.user-icon-color-9 {
	background-color: #FFF;
	border: 1px solid #E7E7ED;
	color: #9C33BE;
}

.border-left-blue {
	border-left-color: #2E5AAC !important;
	border-left-width: 0.45rem !important;
}

.border-left-gray {
	border-left-color: #ADB5BD !important;
	border-left-width: 0.45rem !important;
}

.border-left-green {
	border-left-color: #28A745 !important;
	border-left-width: 0.45rem !important;
}

.header-line {
	display: block;
	padding-bottom: 5px;
	padding-top: 5px;
	position: relative;
}

.navbar-text-icon {
	padding-left: 5px;
	padding-top: 0;
	position: absolute;
}

.dropdown-item-last {
	border-top: 1px solid #E7E7ED;
}

.empty-production-view {
	padding-bottom: 20%;
	padding-top: 20%;
}