.overview-card-sheet {
	background-color: #FFF;
	border-color: #E7E7ED;
	border-radius: 0.25rem;
	border-style: solid;
	border-width: 0.063rem;
	margin-bottom: 1.5rem;
	margin-top: 1.5rem;
	min-height: 413px;
	padding-bottom: 2rem;
	padding-top: 1.5rem;
}

.overview-card-container {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.overview-card-sheet-title {
	display: block;
	font-size: 1.6rem;
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: 1.5rem;
	word-wrap: break-word;
}

.overview-card-sheet-divider {
	border-color: #A7A9BC;
	border-style: solid;
	border-width: 0 0 1px;
	margin-bottom: 1.5rem;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
}

.stick-to-right {
	position: absolute;
	right: 0;
}

.big-number {
	font-size: 2.775rem;
	font-weight: bold;
}

.changes-title {
	color: inherit;
	font-family: inherit;
	font-size: 1.188rem;
	font-weight: 600;
	line-height: 1.2;
	margin-bottom: 0.5rem;
}

.changes-row {
	display: flex;
}

.changes {
	float: left;
	padding-right: 3.4rem;
}

.user-icon-color-9 {
	background-color: #FFF;
	border: 1px solid #E7E7ED;
	color: #9C33BE;
}

.border-left-blue {
	border-left-color: #2E5AAC;
	border-left-width: 0.45rem;
}

.border-left-green {
	border-left-color: #28A745;
	border-left-width: 0.45rem;
}

.header-line {
	display: block;
	padding-bottom: 5px;
	padding-top: 5px;
	position: relative;
}

.navbar-text-icon {
	padding-left: 5px;
	padding-top: 0;
	position: absolute;
}

.dropdown-item-last {
	border-top: 1px solid #E7E7ED;
}

.empty-production-view {
	padding-bottom: 20%;
	padding-top: 20%;
}