.loading-indicator {
	background-color: transparent;
	left: 50%;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
}

.small-loading-indicator {
	background-color: transparent;
	position: relative;
	z-index: 5;
}