@import 'atlas-variables';

$target-overlay-background-color: rgba(128, 172, 255, 0.05);
$target-overlay-border-color: rgba(128, 172, 255, 0.4);

// You would think we could use Liferay.zIndex.OVERLAY (1000) here, but
// we can't: see _variables.scss from layout-content-page-editor-web for
// z-indices in the high 900s that apply to the top nav of the control
// menu, and which we have to slide under while scrolling.
$target-z-index: 900;

.lfr-segments-experiment-click-goal-root {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: $target-z-index;
}

.lfr-segments-experiment-click-goal-target {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	pointer-events: none;
	position: absolute;
}

.lfr-segments-experiment-click-goal-target-delete {
	cursor: pointer;
}

.lfr-segments-experiment-click-goal-target-overlay {
	background-color: $target-overlay-background-color;
	border: 1px solid $target-overlay-border-color;
	cursor: pointer;
	pointer-events: auto;

	&.lfr-segments-experiment-click-goal-target-overlay-selected {
		border-color: $gray-800;
	}

	&.lfr-segments-experiment-click-goal-target-overlay-editing {
		border-color: $blue;
	}
}

.lfr-segments-experiment-click-goal-target-popover {
	background-color: $white;
	border-color: $dropdown-border-color;
	border-radius: 4px;
	border-width: $dropdown-border-width;
	box-shadow: $dropdown-box-shadow;
	cursor: initial;
	font-size: $dropdown-font-size;
	pointer-events: auto;
}

.lfr-segments-experiment-click-goal-target-topper {
	background-color: $gray-800;
	border-radius: 2px 2px 0px 0px;
	cursor: initial;
	pointer-events: auto;
	position: absolute;
}

.lfr-segments-experiment-click-goal-target-topper-editing {
	background-color: $blue;
}
