@import "bourbon";
@import "mixins";
@import "variables";

@import "form-builder-field-settings";
@import "form-builder-layout";
@import "form-builder-pagination";
@import "form-builder-sidebar";
@import "form-rules";
@import "timeline-item";

@import "form-builder-drag-and-drop";

.modal div[class*="ae-toolbar-"][role="toolbar"] {
	z-index: 9990;
}

* div[class*="ae-toolbar-"][role="toolbar"] {
	z-index: 1000;
}

.clay-tooltip, .tooltip {
	padding-top: 10px;

	.tooltip-content {
		padding: 8px 12px;
	}

	.tooltip-inner {
		text-align: left;
	}

	&.tooltip {
		max-width: 280px;
	}

	&.right {
		&.tooltip {
			padding-left: 6px;
		}

		.tooltip-arrow {
			height: 0.8rem;
			left: 0;
			margin-top: -0.4rem;
			top: 50%;
			width: 0.4rem;

			&:before {
				border-right-color: #272833;
				border-width: 0.4rem 0.4rem 0.4rem 0;
				right: 0;
			}
		}
	}

	&.left {
		&.tooltip {
			padding-right: 6px;
		}

		.tooltip-arrow {
			height: 0.8rem;
			margin-top: -0.4rem;
			right: 0;
			top: 50%;
			width: 0.4rem;

			&:before {
				border-right-color: #272833;
				border-width: 0.4rem 0 0.4rem 0.4rem;
				left: 0;
			}
		}
	}

	&.top {
		&.tooltip {
			padding-bottom: 6px;
		}

		.tooltip-arrow {
			bottom: 0;
			left: 50%;
			margin-left: -0.4rem;

			&:before {
				border-top-color: #272833;
				border-width: 0.4rem 0.4rem 0;
				top: 0;
			}
		}
	}

	&.bottom {
		&.tooltip {
			padding-top: 6px;
		}

		.tooltip-arrow {
			left: 50%;
			margin-left: -0.4rem;
			top: 0;

			&:before {
				border-right-color: #272833;
				border-width: 0 0.4rem 0.4rem;
				bottom: 0;
			}
		}
	}

	.tooltip-arrow {
		display: block;
		height: 0.4rem;
		position: absolute;
		width: 0.8rem;
	}
}

.tooltip {
	.tooltip-arrow:before {
		border-color: transparent;
		border-style: solid;
		content: '';
		position: absolute;
	}
}

.ddm-form-export-modal-content.modal-content {
	max-height: fit-content;

	.modal-body {
		height: auto !important;
	}
}

.form-group .trigger-tooltip {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0;
	width: initial;
}

.multi-step-item.success-page {
	&.complete {
		.multi-step-divider {
			background-color: $light-500;
		}

		.multi-step-icon {
			background-color: $light-blue-400;
		}
	}

	.multi-step-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='512'%20height='512'%20viewBox='0%200%20512%20512'%3E%3Cpath%20class='lexicon-icon-outline'%20d='M502.091%2060.993c-9.909-9.91-25.962-9.91-35.843%200L129.26%20397.981%2045.752%20314.53c-9.881-9.909-25.962-9.909-35.843%200-9.909%209.909-9.909%2025.962%200%2035.843l98.257%2098.257c2.608%202.608%205.679%204.433%208.924%205.679%204.028%202.464%208.403%204.115%2012.952%204.115%206.49%200%2012.981-2.464%2017.936-7.418L502.09%2096.865c9.909-9.909%209.909-25.962%200-35.871v-.001z'%20fill='#{$dark}'/%3E%3C/svg%3E");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 0.875rem;
		text-indent: -9999px;
	}
}

.form-builder-page-manager-popover-header.popover-one-page .popover-content {
	left: -14px;
	top: 35px;
}

.form-builder-page-manager-popover-header.popover-wizard .popover-content {
	left: 3px;
	top: 3px;
}

.form-builder-page-manager-popover-header.popover-pagination .popover-content {
	left: -13px;
	top: 32px;
}