.fragment-buildings-text-image {
}

.fragment-buildings-text-image {
}

.fragment-buildings-text-image p {
	color: #6B6C7E;
}

.fragment-buildings-text-image img,
.fragment-buildings-text-image h1,
.fragment-buildings-text-image p {
	margin: 0;
	padding: 12px;
}

.fragment-buildings-text-image .btn {
	margin: 12px;
}