@import '../styles/variables';

.clay-modal .modal-dialog {
	position: static;
}

.modal-body-iframe {
	position: relative;

	.loader-container {
		align-items: center;
		background: white;
		bottom: 0;
		display: flex;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
}
