{
	"presets": [
		"env",
		"react"
	],
	"plugins": [
		"transform-class-properties",
		"transform-object-rest-spread",
		["module-resolver", {
			"root": ["./src/main/resources/META-INF/resources/js/"],
			"alias": {
				"test": "./test/js/"
			}
		}]
	]
}
