.cursor-pointer {
	cursor: pointer;
}

.lfr-form-content .sheet {
	padding-bottom: 1.5em;

	.taglib-page-iterator .lfr-pagination-buttons {
		margin-top: 0.5em;
	}
}

td.lfr-name-column {
	font-weight: 600;
}

.ddm-form-builder-buttons .icon-spinner,
.lfr-ddm-form-pagination-controls .icon-spinner,
.ddm-form-settings-modal .btn-toolbar-button .icon-spinner {
	margin-left: 10px;
}

.ddm-form-builder-buttons {
	.btn-secondary {
		margin-left: 12px;
	}

	.btn-link {
		font-weight: 600;

		&:focus {
			box-shadow: none;
		}
	}

	.btn-primary {
		margin-left: 0;
	}

	&.button-holder {
		margin: 20px 0 0;
	}
}

.ddm-form-body-content {
	margin-top: $baseline * 4;
}

.liferay-ddm-form-builder-rule-builder-content .text-default {
	font-weight: normal;
}

.ddm-form-settings-modal,
.ddm-publish-modal,
.dynamic-data-mapping-data-providers-modal {
	.btn {
		transition: opacity $transition-time;
	}
}

.ddm-form-settings-modal,
.publish-modal-container {
	.modal-body {
		background-color: #fff;
	}
}

.ddm-form-settings-modal {
	.ddm-form-settings-modal-content {
		.modal-body {
			padding: 0;

			.tab-pane.active {
				padding: 24px 24px 0;
			}

			.tab a {
				outline: none;
			}
		}
	}

	.ddm-form-instance-settings {
		padding: 0;

		.lfr-ddm-form-page {
			.row {
				margin-left: 0;
				margin-right: 0;
				padding: 0;
			}
		}
	}

	.navbar-nav {
		float: none;
		margin-right: 0;
	}
}

.ddm-publish-modal {
	.alert-info {
		text-align: center;
	}

	.ddm-publish-checkbox {
		margin-bottom: 0;
		width: 100%;

		small {
			display: block;
		}

		> span {
			margin-bottom: 0.4em;
			margin-top: 0.4em;
		}
	}

	.input-checkbox-wrapper {
		float: right;
		margin-bottom: 0;
	}

	.lfr-ddm-repeatable-delete-button {
		position: absolute;
		right: 15px;
		top: 0;
	}

	select.form-control[multiple] {
		height: auto;
	}

	.text-to-copy {
		background-color: transparent;
	}

	.toggle-switch {
		display: none;
	}
}

.dynamic-data-mapping-data-providers-modal {
	max-width: 720px;

	.modal-content {
		z-index: 1;
	}
}

.editing-form-entry {
	background-color: white;

	.ddm-form-basic-info {
		padding-left: 20px;
		padding-top: 15px;
	}
}

.editing-form-entry-admin {
	background-color: white;

	.ddm-form-basic-info {
		padding-bottom: 8px;
		padding-left: 20px;
		padding-top: 15px;

		.ddm-form-name {
			font-weight: bold !important;
			padding-top: 0 !important;
		}
	}
}

.form-builder-section-title {
	font-size: 32px;
	font-weight: 300;
	margin: 0;
	padding-top: $baseline * 5;
}

.lfr-ddm-field-settings-confirmation-message {
	margin: 0;
	padding: $horizontal-spacing;
	text-align: center;
}

.form-builder-sidebar,
.portlet-forms {
	.form-group
		.alloy-editor-container.input-group
		.alloy-editor-placeholder.ae-placeholder {
		border-left: 0;
		padding-left: 0;
		width: inherit;
	}

	.forms-navigation-bar,
	.navigation-bar-secondary,
	.management-bar {
		position: sticky;
		top: 56px;
		width: 100%;
		z-index: 51;
	}

	.icon-asterisk {
		margin-left: 4px;
	}

	.input-group-container .input-group-addon {
		background-color: #e7e7ed;
	}

	.liferay-ddm-form-field-editor .form-control-feedback {
		margin-top: -25px;
		position: absolute;
		z-index: 2;
	}

	.management-bar {
		top: 102px;
	}

	.radio-inline {
		padding-top: 11px;

		& + .radio-inline {
			margin-left: 0;
		}
	}
}

.lfr-ddm-field-settings-yes {
	padding-left: 21px;
	padding-right: 21px;
}

.lfr-ddm-form-container .lfr-ddm-form-pagination-controls {
	overflow: hidden;
}

.portal-popup,
.portlet-forms-admin {
	.alert {
		margin: 0;
	}

	.asset-icon .lexicon-icon {
		height: 32px;
		width: 32px;
	}

	.checkbox,
	.radio {
		margin-bottom: 0;
		margin-top: 0;
	}

	.ddm-form-basic-info {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin: 0;
		}

		.ae-placeholder:empty:before {
			content: attr(data-placeholder);
		}

		.alloy-editor-container
			.alloy-editor.alloy-editor-placeholder.ae-placeholder:not(:focus):not(.form-control),
		.ddm-form-name,
		.ddm-form-description {
			border-width: 0;
			margin: 0;
			padding-left: 0;

			.form-feedback-item {
				top: -15px;
			}

			p {
				margin: 0;
			}
		}

		.alloy-editor.alloy-editor-placeholder {
			color: #000;
			font-weight: 500;
		}

		.alloy-editor.alloy-editor-placeholder:empty:not(:focus) {
			color: #c0ccd3;
		}

		.ddm-form-name {
			font-weight: 300;
			padding: $baseline * 5 0 0 0;

			p {
				margin: 0;
			}
		}

		.ddm-form-description {
			font-weight: normal;
			padding: $baseline * 2 0 0 0;

			p {
				margin: 0;
			}
		}
	}

	.ddm-form-builder {
		.modal-content .modal-footer {
			justify-content: flex-start;
		}
	}

	.ddm-form-builder-app {
		margin-top: $baseline * 4;

		.form-builder-content,
		.lfr-ddm-form-content {
			background: #fff;
			border-color: #e7e7ed;
			border-radius: 4px;
			margin: 0 auto;
			width: auto;
		}

		.form-builder-content {
			overflow: hidden;
		}

		.form-builder-field-list-empty .form-builder-field-list-add-button {
			padding: 16px 0;
			position: relative;
		}

		.form-builder-field-list-container
			.lfr-ddm-form-field-container.form-builder-field
			.form-group {
			margin-bottom: 0;
		}

		.hide {
			display: none;
		}

		.liferay-ddm-form-field-text textarea {
			resize: none;
		}

		.toggle-switch-text {
			word-break: break-word;
		}
	}

	.form-builder-tabview,
	.lfr-ddm-form-wizard {
		border-bottom: 1px solid #dee4e9;
		padding: 20px 34px 11px;
		position: relative;
	}

	.form-instance-id,
	.form-instance-modified-date {
		margin-right: 20px;
	}
}

.portlet-forms-admin {
	#formsNavigationBar .nav-item {
		.nav-link {
			color: #cdced9;
			cursor: pointer;

			&.active,
			&:hover {
				color: #fff;
			}
		}
	}
}

.portal-popup {
	.portlet-column {
		padding: 0;
	}

	.required-warning {
		margin-left: 34px;
		margin-right: 34px;
	}

	.lfr-ddm-form-page .required-warning {
		margin-top: 0;
	}
}

.form-builder-success-page {
	padding: 35px;
}

.progress-bar-success-item {
	margin-bottom: 42px !important;

	&:before {
		background-color: #cad3db;
		content: '';
		display: block;
		height: 12px;
		margin-top: -5px;
		position: absolute;
		right: 0;
		width: 12px;
	}
}

.search-container-column-language {
	.lexicon-icon {
		width: 1em;
	}
}

.taglib-empty-result-message {
	margin-top: 104px;
}

.modal {
	max-width: none;
}

.portlet-forms {
	.ddm-form-basic-info {
		h1 > .form-group {
			margin-bottom: 0;
		}

		.form-control {
			background: transparent;
			box-shadow: none;
			font-weight: 600;
			overflow: hidden;
			resize: none;

			&.ddm-form-name {
				font-weight: 600;

				&::placeholder {
					color: #b0b4bb;
					font-weight: 500;
				}
			}

			&.ddm-form-description {
				color: #000;
				font-size: 14px;
				font-weight: 400;
				height: auto;
				padding-top: 0;

				&::placeholder {
					color: #b0b4bb;
				}
			}
		}

		.ddm-placeholder {
			&:focus::placeholder {
				color: transparent;
			}
		}

		.hidden {
			display: none;
		}
	}
}
