.portlet-forms,
.form-entry {
	label,
	p {
		float: initial;
	}

	.aspect-ratio img {
		top: 0;
	}

	.btn {
		transition: opacity $transition-time;
	}

	.control-label {
		float: none;
		margin-bottom: 0;
		word-wrap: break-word;
	}

	.ddm-form-basic-info {
		.ddm-form-name,
		.ddm-form-description {
			color: #6b6c7e;
			margin: 0;
			word-wrap: break-word;
		}

		.ddm-form-description {
			font-weight: normal;
			line-height: 24px;
			padding: $baseline * 2 0 0 0;
		}

		.ddm-form-name {
			font-size: 32px;
			font-weight: 300;
			padding: $baseline * 5 0 0 0;

			p {
				font-weight: 400;
			}
		}
	}

	.ddm-form-builder-buttons {
		margin-bottom: 0;
	}

	.form-builder-field-list-container {
		hyphens: auto;
		padding: 0;
		word-break: normal;
	}

	.form-builder-page-header {
		padding-top: 25px;
	}

	.form-builder-page-header-description,
	.form-builder-page-header-title,
	.lfr-ddm-form-page-description,
	.lfr-ddm-form-page-title {
		font-weight: normal;
		resize: none;
		width: 90%;
		word-break: normal;
	}

	.form-builder-page-header-description.form-control,
	.lfr-ddm-form-page-description {
		font-size: 14px;
	}

	.form-builder-page-header-title {
		font-weight: 600;
	}

	.form-feedback-item {
		font-size: 14px;
	}

	.lfr-ddm-form-page-description {
		margin-top: 9px;
	}

	.lfr-ddm-form-field-container {
		border-radius: 0;
		border-width: 0;
		box-shadow: none;
		margin: 0;
	}

	.liferay-ddm-form-field-paragraph {
		blockquote {
			margin: 1em 40px;
		}

		p {
			margin-top: 14px;
			word-wrap: break-word;
		}
	}

	.liferay-ddm-form-field-tip {
		margin: 0;
		min-height: 16px;
	}

	.lfr-ddm-form-page-title,
	.form-builder-page-header-title.form-control {
		font-size: 28px;
		margin-bottom: 9px;
		margin-top: 0;
	}

	.management-bar {
		border-bottom: 1px solid #e7e7ed;
	}

	.checkbox-multiple-options .checkbox-multiple-switcher-inline {
		cursor: pointer;
		display: inline-block;
		font-weight: normal;
		margin: 5px 15px 0 0;
		padding-left: 0;
		position: relative;
		vertical-align: middle;
	}

	.radio-inline {
		margin-right: 10%;
	}

	.required-warning {
		display: block;
		font-weight: inherit;
		margin-top: -17px;
		text-align: left;
	}
}
