.ddm-form-report {
	.ddm-form-report-container {
		.container-fluid-1280 {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.ddm-form-report-header > .container-fluid-max-xl {
		padding-left: 12rem;
		padding-right: 12rem;
	}

	.ddm-form-report-header {
		background-color: #fff;
		height: 173px;
		padding-top: 24px;
	}

	.ddm-form-report-subtitle {
		color: #6b6c7e;
		font-size: 14px;
		font-weight: normal;
	}

	.ddm-form-report-title {
		font-size: 32px;
		font-weight: 600;
	}

	.pt-custom {
		padding-top: 43px;
	}
}
