.portlet-ddm-form-report {
	.container-fluid {
		max-width: 808px;
	}

	.portlet-ddm-form-report-header {
		background-color: #fff;
		height: 124px;
		padding-top: 24px;

		.portlet-ddm-form-report-header-subtitle {
			color: #6b6c7e;
			font-size: 14px;
			font-weight: normal;
		}

		.portlet-ddm-form-report-header-title {
			font-size: 32px;
			font-weight: 600;
		}
	}

	.portlet-ddm-form-report-tabs {
		.nav-item {
			.nav-link {
				cursor: pointer;
			}
		}
	}
}
