<div class="fjord-features fjord-section">
	<section class="bg-transparent jumbotron jumbotron-fluid mb-0 pt-0 text-secondary">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-8 col-md-10 mx-auto">
					<div class="row text-center">
						<div class="col-12 col-sm-6 mt-5">
							<lfr-editable id="fjord-features-image" type="image">
								<img alt="" class="img-fluid mx-auto" src="[resources:feature_1.png]" />
							</lfr-editable>

							<div class="mt-3">
								<lfr-editable id="fjord-features-title" type="rich-text">
									<h3>Awesome Features</h3>
								</lfr-editable>
							</div>

							<div class="font-weight-light">
								<lfr-editable id="fjord-features-text" type="rich-text">
									<p>Add your unique product features.</p>
								</lfr-editable>
							</div>
						</div>

						<div class="col-12 col-sm-6 mt-5">
							<lfr-editable id="fjord-features-image2" type="image">
								<img alt="" class="img-fluid mx-auto" src="[resources:feature_2.png]" />
							</lfr-editable>

							<div class="mt-3">
								<lfr-editable id="fjord-features-title2" type="rich-text">
									<h3>Fully Customizable</h3>
								</lfr-editable>
							</div>

							<div class="font-weight-light">
								<lfr-editable id="fjord-features-text2" type="rich-text">
									<p>Match your fitness routine to your day, not the other way around.</p>
								</lfr-editable>
							</div>
						</div>

						<div class="col-12 col-sm-6 mt-5">
							<lfr-editable id="fjord-features-image3" type="image">
								<img alt="" class="img-fluid mx-auto" src="[resources:feature_3.png]" />
							</lfr-editable>

							<div class="mt-3">
								<lfr-editable id="fjord-features-title3" type="rich-text">
									<h3>Goal Tracking</h3>
								</lfr-editable>
							</div>

							<div class="font-weight-light">
								<lfr-editable id="fjord-features-text3" type="rich-text">
									<p>Set targets and track personal bests.</p>
								</lfr-editable>
							</div>
						</div>

						<div class="col-12 col-sm-6 mt-5">
							<lfr-editable id="fjord-features-image4" type="image">
								<img alt="" class="img-fluid mx-auto" src="[resources:feature_4.png]" />
							</lfr-editable>

							<div class="mt-3">
								<lfr-editable id="fjord-features-title4" type="rich-text">
									<h3>Discovery</h3>
								</lfr-editable>
							</div>

							<div class="font-weight-light">
								<lfr-editable id="fjord-features-text4" type="rich-text">
									<p>Find your next great workout with the activities library, updated daily.</p>
								</lfr-editable>
							</div>
						</div>

						<div class="col-12 col-sm-6 mt-5">
							<lfr-editable id="fjord-features-image5" type="image">
								<img alt="" class="img-fluid mx-auto" src="[resources:feature_5.png]" />
							</lfr-editable>

							<div class="mt-3">
								<lfr-editable id="fjord-features-title5" type="rich-text">
									<h3>Expansions</h3>
								</lfr-editable>
							</div>

							<div class="font-weight-light">
								<lfr-editable id="fjord-features-text5" type="rich-text">
									<p>Use expansions to track calories, sleep, and more.</p>
								</lfr-editable>
							</div>
						</div>

						<div class="col-12 col-sm-6 mt-5">
							<lfr-editable id="fjord-features-image6" type="image">
								<img alt="" class="img-fluid mx-auto" src="[resources:feature_6.png]" />
							</lfr-editable>

							<div class="mt-3">
								<lfr-editable id="fjord-features-title6" type="rich-text">
									<h3>Award Winning Design</h3>
								</lfr-editable>
							</div>

							<div class="font-weight-light">
								<lfr-editable id="fjord-features-text6" type="rich-text">
									<p>Created by leading fitness trainers.</p>
								</lfr-editable>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>