.publications-conflicts-container {
	button.panel-header {
		border-bottom-color: #a7a9bc;
		border-bottom-left-radius: 1px;
		border-bottom-right-radius: 1px;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		color: #272833;
		font-size: 0.875rem;
		font-weight: 600;
		line-height: 1.2;
		margin-bottom: 1.5rem;
		padding-bottom: 0.5rem;
		padding-top: 0.5rem;
		position: relative;
		text-transform: uppercase;
	}

	.conflicts-description-text {
		font-size: 87.5%;
	}

	.conflicts-success-text {
		color: #287d3d;
	}

	.conflicts-warning-text {
		color: #b95000;
	}

	.entry-title {
		margin-top: 0.25rem;
	}

	.lfr-portal-tooltip.quick-action-item {
		display: flex;
	}

	.list-group {
		margin-bottom: 0;

		.list-group-item {
			word-wrap: break-word;
		}

		.list-group-title {
			margin-top: 0;
		}
	}

	.sheet-section {
		margin-bottom: 16px;
	}
}

.publications-discard-container {
	padding-top: 48px;

	.cursor-pointer {
		cursor: pointer;
	}
}

.publications-entry-table.table {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
	word-wrap: break-word;

	td.publications-entry-table-divider {
		border-top: none;
		text-align: center;
	}

	td.publications-entry-td {
		vertical-align: top;
	}
}

.publications-fieldset .panel-body {
	margin-bottom: 24px;
	padding-left: 0;
	padding-right: 0;

	.col-5 {
		padding-left: 0;
	}

	input {
		margin-top: 3px;
	}

	.radio-inline {
		padding-left: 8px;

		.publications-radio-help {
			color: #6b6c7e;
		}

		.publications-radio-label {
			font-weight: 600;
		}
	}
}

.publications-hidden {
	visibility: hidden;
}

.publications-modal {
	.modal-description {
		color: #6b6c7e;
		font-size: 14px;
		font-weight: normal;
	}

	.modal-header.publications-conflicts-header {
		height: auto;

		.alert {
			margin-top: 16px;
			width: 100%;

			.btn {
				margin-right: 16px;
			}
		}
	}

	.publications-discard-user-portrait {
		padding-left: 2px;
		padding-right: 12px;
		padding-top: 5px;
	}

	.publications-modal-body {
		overflow-y: auto;
	}

	table.publications-render-view {
		border-top: none;

		td.publications-render-view-toolbar {
			border-top: none;
		}
	}
}

.publications-render-table {
	.publications-key-td {
		font-weight: 600;
	}
}

table.publications-render-view {
	border: 1px solid #e7e7ed;
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
	word-wrap: break-word;

	.publications-render-view-loading-wrapper {
		height: 100%;
		left: 0;
		margin-top: 49px;
		opacity: 1;
		position: absolute;
		width: 100%;
		z-index: 10;
	}

	.publications-render-view-divider.table-divider {
		text-align: center;

		td.publications-render-view-divider {
			border: 1px solid #e7e7ed;
		}

		td.publications-render-view-divider:first-child {
			padding-left: 24px;
		}

		td.publications-render-view-divider:last-child {
			padding-left: 24px;
		}
	}

	.publications-render-view-loading {
		opacity: 0.5;
	}

	.publications-render-view-toolbar {
		border: 1px solid #e7e7ed;
		padding: 0;

		.autofit-row {
			.autofit-col:first-child {
				padding-right: 0;
			}

			.row-divider {
				padding: 0;

				div {
					background-color: #6b6c7e;
					height: 16px;
					padding: 0;
					width: 1px;
				}
			}

			.taglib-diff-html .legend-item {
				margin-right: 15px;
			}
		}

		button.active {
			background-color: #f2f2f3;
			color: #272833;
		}

		.dropdown button {
			font-size: 0.875rem;
		}
	}

	td.publications-render-view-content {
		border: 1px solid #e7e7ed;
		vertical-align: top;

		.loading-animation {
			margin-top: 8px;
		}
	}

	td.publications-render-view-content:first-child {
		padding-left: 24px;
	}

	td.publications-render-view-content:last-child {
		padding-right: 24px;
	}
}

.publications-table {
	.publication-description {
		color: #6b6c7e;
	}

	.publication-name {
		color: #272833;
		font-weight: 600;
	}

	.change-row-button {
		background-color: inherit;
		border: none;
		padding: 0;
		text-align: left;

		&:active:focus,
		&:focus {
			box-shadow: none;
			outline: none;
		}
	}
}

.publications-tbar {
	font-size: 14px;
	height: auto;
	min-height: 3.5rem;

	.publication-name {
		color: #272833;
		font-size: 18px;
		font-weight: 600;

		.label {
			margin-left: 0.5rem;
			vertical-align: middle;
		}
	}
}

.publications-view-changes-wrapper {
	.alert-warning {
		margin-top: 20px;
	}

	.breadcrumb {
		margin-top: 20px;
		padding-bottom: 0;
		padding-top: 0;
	}

	.publications-changes-content {
		margin-top: 20px;

		.panel-body {
			margin-top: 1rem;
			padding-bottom: 0;
			padding-top: 0;

			.custom-control:only-child {
				margin-bottom: 1rem;
			}
		}

		.publications-loading-animation-wrapper {
			height: 100%;
			left: 0;
			opacity: 1;
			position: absolute;
			width: 100%;
			z-index: 10;
		}

		.publications-sheet-loading {
			opacity: 0.5;
		}

		.sheet {
			margin-bottom: 16px;

			.sheet-title .entry-description {
				color: #6b6c7e;
				font-size: 14px;
				font-weight: normal;
			}
		}

		.table {
			.cursor-pointer {
				cursor: pointer;
			}
		}

		.taglib-empty-result-message {
			margin-top: 0;
		}
	}

	.management-bar {
		margin-bottom: 0;

		.navbar-nav {
			flex-grow: 1;

			.nav-item-expand {
				flex-grow: 1;
			}
		}
	}

	.taglib-empty-result-message {
		margin-top: 20px;
	}
}

.select-publication-table {
	border-collapse: collapse;

	td:first-child {
		vertical-align: top;
	}
}

#selectPublicationManagementToolbar nav:last-child {
	margin-bottom: 0;
}
