@import 'atlas-variables';

@import '../../app/components/variables';

$collapseMarginBottom: $pageEditorSpacing * 2;

.page-editor__collapse {
	cursor: pointer;

	.ellipsis {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.collapse-icon {
		background: none;
		border-color: $secondary-l3;
		font-size: 0.75rem;
		margin-bottom: $collapseMarginBottom;
		padding-left: 0;
		text-align: left;
		width: 100%;
	}

	.page-editor__collapse {
		margin-left: 1rem;

		& > &-content {
			margin-left: 1rem;
		}
	}
}
