@import '../../app/components/variables';

$collapseLineColor: #dfdfe9;
$collapseMarginBottom: $pageEditorSpacing * 2;

.page-editor__collapse {
	cursor: pointer;

	.collapse-icon {
		border-color: $collapseLineColor;
		font-size: 0.75rem;
		margin-bottom: $collapseMarginBottom;
	}
}
