.page-header {
	 padding: var(--spacer-4);
	 background-color: var(--dark);
	height: 96px;
}
 .page-header .container {
	 display: flex;
	 align-items: center;
	 justify-content: space-between;
}
 .page-header .page-header-title {
	 color: var(--white);
	 font-size: var(--h3-font-size);
	 font-weight: var(--font-weight-bolder);
}
 .page-header .page-header-title a {
	 color: var(--white);
}