.page-header {
	background-color: var(--dark);
	height: 96px;
	padding: var(--spacer-4);
}

.page-header .container {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.page-header .page-header-title {
	color: var(--white);
	font-size: var(--h3-font-size);
	font-weight: var(--font-weight-bolder);
}

.page-header .page-header-title a {
	color: var(--white);
}