<div class="component-slider bd-example pb-4">
	<div class="slide" id="">
		<ol class="carousel-indicators">
			<li data-target="#" data-slide-to="0" class="active"></li>
			<li data-target="#" data-slide-to="1"></li>
			<li data-target="#" data-slide-to="2"></li>
		</ol>

		<div class="carousel-inner">
			<div class="carousel-item active">
				<lfr-editable id="01-01-image" type="image">
					<img alt="..." class="d-block w-100" src="https://dummyimage.com/16:9x1080/A7A9BC/A7A9BC.png">
				</lfr-editable>
				<div class="carousel-caption d-none d-md-block">
					<div class="h1">
						<lfr-editable id="01-02-title" type="rich-text">First Slide Title</lfr-editable>
					</div>
					<p>
						<lfr-editable id="01-03-subtitle" type="rich-text">First Slide Subtitle</lfr-editable>
					</p>
				</div>
			</div>
			<div class="carousel-item">
				<lfr-editable id="02-01-image" type="image">
					<img alt="..." class="d-block w-100" src="https://dummyimage.com/16:9x1080/A7A9BC/A7A9BC.png">
				</lfr-editable>
				<div class="carousel-caption d-none d-md-block">
					<div class="h1">
						<lfr-editable id="02-02-title" type="rich-text">Second Slide Title</lfr-editable>
					</div>
					<p>
						<lfr-editable id="02-03-subtitle" type="rich-text">Second Slide Subtitle</lfr-editable>
					</p>
				</div>
			</div>
			<div class="carousel-item">
				<lfr-editable id="03-01-image" type="image">
					<img alt="..." class="d-block w-100" src="https://dummyimage.com/16:9x1080/A7A9BC/A7A9BC.png">
				</lfr-editable>
				<div class="carousel-caption d-none d-md-block">
					<div class="h1">
						<lfr-editable id="03-02-title" type="rich-text">Third Slide Title</lfr-editable>
					</div>
					<p>
						<lfr-editable id="03-03-subtitle" type="rich-text">Third Slide Subtitle</lfr-editable>
					</p>
				</div>
			</div>
		</div>

		<a class="carousel-control-prev" data-slide="prev" href="#" role="button">
	 	 <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	 	 <span class="sr-only">Previous</span>
	</a>

		<a class="carousel-control-next" data-slide="next" href="#" role="button">
	  	<span class="carousel-control-next-icon" aria-hidden="true"></span>
	  	<span class="sr-only">Next</span>
	</a>
	</div>
</div>