@keyframes moveLeftActive {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(100%);
	}
}

@keyframes moveLeft {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes moveRightActive {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

@keyframes moveRight {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}

.component-slider .carousel {
	position: relative;
}

.component-slider .carousel-caption {
	left: 25%;
	right: 25%;
}

.component-slider .carousel-item {
	opacity: 0;
}

.component-slider .carousel-item.move-right,
.component-slider .carousel-item.move-left {
	animation-duration: 0.6s;
	animation-iteration-count: 1;
	display: block;
}

.component-slider .carousel-item.active,
.component-slider .carousel-item.move-left,
.component-slider .carousel-item.move-right {
	opacity: 1;
}

.component-slider .carousel-item.active {
	transform: translateX(0);
}

.component-slider .carousel-item.active.move-left {
	animation-name: moveLeftActive;
}

.component-slider .carousel-item.move-left {
	animation-name: moveLeft;
}

.component-slider .carousel-item.active.move-right {
	animation-name: moveRightActive;
}

.component-slider .carousel-item.move-right {
	animation-name: moveRight;
}

.component-slider .carousel-control-next,
.component-slider .carousel-control-prev {
	background-color: transparent;
	border: 0;
}

.component-slider .carousel-navigation {
	bottom: 10px;
	display: flex;
	justify-content: center;
	left: 0;
	list-style: none;
	padding-left: 0;
	position: absolute;
	right: 0;
	z-index: 15;
}

.component-slider .carousel-navigation button {
	background-color: rgba(255, 255, 255, 0.5);
	border: 0;
	flex: 0 1 auto;
	height: 3px;
	margin-left: 3px;
	margin-right: 3px;
	position: relative;
	width: 30px;
}

.component-slider .carousel-navigation button:focus {
	outline: 0;
	text-decoration: none;
}

.component-slider .carousel-navigation button.active {
	background-color: rgba(255, 255, 255, 1);
}
