<div class="component-slider bd-example pb-4">
	<div class="slide" id="">
		<ol class="carousel-indicators">
			<li data-target="#" data-slide-to="0" class="active"></li>
			<li data-target="#" data-slide-to="1"></li>
			<li data-target="#" data-slide-to="2"></li>
		</ol>

		<div class="carousel-inner">
			<div class="carousel-item active">
				<lfr-editable id="01-01-image" type="image">
					<img alt="First Responsive Image" class="w-100" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJCAYAAAA7KqwyAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAkSURBVHgB7cxBEQAACAIwtH8Pzw52kxD8OBZgNXsPQUOUwCIgAz0DHTyygaAAAAAASUVORK5CYII=" />
				</lfr-editable>

				<div class="carousel-caption d-none d-md-block">
					<lfr-editable id="01-02-title" type="rich-text">
						<h2>First Slide Title</h2>
					</lfr-editable>

					<lfr-editable id="01-03-subtitle" type="rich-text">
						<p>First Slide Subtitle</p>
					</lfr-editable>
				</div>
			</div>

			<div class="carousel-item">
				<lfr-editable id="02-01-image" type="image">
					<img alt="Second Responsive Image" class="w-100" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJCAYAAAA7KqwyAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAkSURBVHgB7cxBEQAACAIwtH8Pzw52kxD8OBZgNXsPQUOUwCIgAz0DHTyygaAAAAAASUVORK5CYII=" />
				</lfr-editable>

				<div class="carousel-caption d-none d-md-block">
					<lfr-editable id="02-02-title" type="rich-text">
						<h2>Second Slide Title</h2>
					</lfr-editable>

					<lfr-editable id="02-03-subtitle" type="rich-text">
						<p>Second Slide Subtitle</p>
					</lfr-editable>
				</div>
			</div>

			<div class="carousel-item">
				<lfr-editable id="03-01-image" type="image">
					<img alt="Third Responsive Image" class="w-100" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJCAYAAAA7KqwyAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAkSURBVHgB7cxBEQAACAIwtH8Pzw52kxD8OBZgNXsPQUOUwCIgAz0DHTyygaAAAAAASUVORK5CYII=" />
				</lfr-editable>

				<div class="carousel-caption d-none d-md-block">
					<lfr-editable id="03-02-title" type="rich-text">
						<h2>Third Slide Title</h2>
					</lfr-editable>

					<lfr-editable id="03-03-subtitle" type="rich-text">
						<p>Third Slide Subtitle</p>
					</lfr-editable>
				</div>
			</div>
		</div>

		<a class="carousel-control-prev" data-slide="prev" href="#" role="button">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>

		<a class="carousel-control-next" data-slide="next" href="#" role="button">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>