.lfr-item-viewer {
	.search-info {
		background: none;
		font-size: 0.875rem;
		margin-top: 20px;

		a:first-child {
			margin-left: 16px;
			margin-right: 8px;
		}

		a.active {
			cursor: default;
			pointer-events: none;
		}
	}

	.taglib-vertical-card-footer {
		min-height: 3.6em;
	}
}
