<div class="component-card pb-4">
	<div class="card shadow-sm m-0">
		<lfr-editable id="01-img" type="image">
			<img alt="responsive image" class="img-fluid rounded-top" src="https://dummyimage.com/16:9x1080/A7A9BC/A7A9BC.png">
		</lfr-editable>
		<div class="card-body py-4">
			<lfr-editable id="02-title" type="rich-text">
				<h2>Card Title Example</h2>
			</lfr-editable>
			<div class="mb-4">
				<lfr-editable id="03-content" type="rich-text">
					<p>This is an example of quick text to fill the body of the card with some content in order to present it properly in page. We hope you like it.</p>
				</lfr-editable>
			</div>
			<lfr-editable id="04-link" type="link">
				<a href="#" class="link">Go somewhere</a>
			</lfr-editable>
		</div>
	</div>
</div>