<div class="component-card pb-4">
	<div class="card shadow-sm m-0">
		<lfr-editable id="01-img" type="image">
			<img alt="responsive image" class="w-100 rounded-top" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJCAYAAAA7KqwyAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAkSURBVHgB7cxBEQAACAIwtH8Pzw52kxD8OBZgNXsPQUOUwCIgAz0DHTyygaAAAAAASUVORK5CYII=" />
		</lfr-editable>

		<div class="card-body py-4">
			<lfr-editable id="02-title" type="rich-text">
				<h2>Card Title Example</h2>
			</lfr-editable>

			<div class="mb-4">
				<lfr-editable id="03-content" type="rich-text">
					<p>This is an example of quick text to fill the body of the card with some content in order to present it properly in page. We hope you like it.</p>
				</lfr-editable>
			</div>

			<lfr-editable id="04-link" type="link">
				<a href="#" class="link">Go somewhere</a>
			</lfr-editable>
		</div>
	</div>
</div>