.layouts-selector {
	.card {
		border: 1px solid #e7e7ed;
		box-shadow: none;
		color: #6b6c7e;
		margin-bottom: 0;

		&:hover {
			background-color: #f7f8f9;
			border-color: #cdced9;
			color: #272833;
		}

		&:focus {
			box-shadow: 0 0 0 2px white, 0 0 0 4px #80afff;
			color: #272833;
		}
	}

	.card-row-padded {
		padding: 8px 12px;
	}

	.selected .card {
		background-color: #80acff;
		border-color: #80acff;
		color: #272833;
	}

	.disabled {
		.card,
		.card:hover,
		.card:focus {
			background-color: #e7e7ed;
			border: 1px solid #e7e7ed;
			box-shadow: none;
			color: #272833;
			cursor: not-allowed;
			outline: none;
		}
	}

	.treeview {
		margin-left: -15px;

		@media (min-width: 768px) {
			margin-left: -54px;
		}
	}

	.treeview-node {
		position: relative;
	}

	.treeview-node-main {
		float: none;
		margin-bottom: 15px;
		padding-left: 15px;
		position: relative;

		&:not(.disabled) {
			cursor: pointer;
		}

		@media (min-width: 768px) {
			margin-bottom: 24px;
			padding-left: 24px;
		}
	}

	.treeview-nodes {
		border-left: 2px solid #869cad;
		list-style: none;
		margin-left: 15px;
		padding-left: 0;

		.treeview-nodes {
			border-left-style: dashed;
			border-left-width: 1px;
		}

		@media (min-width: 768px) {
			margin-left: 54px;
		}
	}

	.treeview-node-name {
		margin-left: 2px;
	}

	.treeview-node-toggler {
		background-color: #869cad;
		border-radius: 3px;
		display: inline-block;
		height: 14px;
		left: 0;
		margin-left: -7px;
		margin-top: -8px;
		position: absolute;
		text-align: center;
		top: 50%;
		width: 14px;

		&:before {
			color: #fff;
			content: '+';
			display: block;
			line-height: 11px;

			.win & {
				line-height: 14px;
			}
		}
	}

	.treeview-node-wrapper > .treeview-nodes {
		display: none;
	}

	.expanded {
		> .treeview-node-main > .treeview-node-toggler:before {
			content: '-';
			font-size: 21px;

			.win & {
				line-height: 11px;
			}
		}

		> .treeview-nodes {
			display: block;
		}
	}

	margin-top: 20px;

	li.tree-node .tree-node-content {
		overflow: visible;
	}

	.layout-prototype-tree {
		padding-bottom: 30px;
	}

	.layouts-tree-container {
		padding-left: 10px;
	}

	.lfr-tree {
		li {
			margin-bottom: 0;
		}

		li.tree-node .tree-node-content {
			&.lfr-root-node {
				display: none;
			}

			.tree-label {
				display: inline-block;
				overflow: visible;
				padding-right: 20px;
			}
		}

		.icon-file {
			display: none;
		}
	}

	.tree-container {
		border-left: 2px solid #869cad;
		margin-left: 10px;

		.tree-container {
			border-left: 1px dashed #869cad;
			margin-left: 20px;

			.tree-node-content {
				&:not(.tree-node-selected) {
					.tree-node-hidden-hitarea {
						&:before {
							color: #869cad;
							content: '\e00d';
							font-size: 0.7em;
							visibility: visible;
						}
					}
				}
			}
		}
	}

	.tree-hitarea {
		background-color: #869cad;
		border-radius: 3px;
		display: inline-block;
		line-height: 14px;
		margin-left: -11px;
		margin-top: -8px;
		position: absolute;
		text-align: center;
		top: 50%;
		width: 14px;
	}

	.tree-label {
		line-height: normal;
	}

	.tree-node [class^='icon-'] {
		margin-right: 0;
	}

	.tree-node-content {
		display: inline;
		padding-left: 3px;
		padding-right: 25px;
		position: relative;

		.layout-tree {
			display: block;
			padding-bottom: 12px;
			padding-top: 12px;
		}

		.tree-hitarea {
			color: #1a2126;
			padding-right: 0;
		}

		.tree-label {
			margin-left: 12px;
		}
	}

	.tree-pages .tree-node-selected .tree-label {
		.layout-tree {
			color: #65b6f0;
		}

		.layout-tree,
		.icon-monospaced {
			cursor: pointer;
		}
	}

	.tree-root-container {
		margin-left: -10px;
	}

	.tree-view {
		overflow: visible;
	}
}
