.portlet-commerce-admin {
	.product-detail-header {
		background-color: #FFF;
	}

	.breadcrumb {
		margin-bottom: 0;

		& > li {
			text-transform: capitalize;

			a {
				font-size: 0.9rem;
			}
		}
	}

	.btn-update-exchange-rates {
		padding: 4px;
	}

	.commerce-admin-icon-check .lexicon-icon-check {
		fill: #75BD4A;
	}

	.commerce-admin-icon-times .lexicon-icon-times {
		fill: #FF0000;
	}
}