.portlet-commerce-admin {
	.product-detail-header {
		background-color: #FFF;
	}

	.breadcrumb {
		margin-bottom: 0;

		& > li {
			text-transform: capitalize;

			a {
				font-size: 0.9rem;
			}
		}
	}

	.commerce-shipping-method-description, .commerce-shipping-method-name {
		.input-localized-content {
			display: none;
		}
	}
}