.navbar-top {
	padding-bottom: 0.63rem;
	padding-top: 0.63rem;
}

.navbar-classic {
	background-color: #FFF;
	border-bottom: 1px solid #E7E7ED;

	.portlet-navigation {
		margin-left: auto;
	}

	.logo:hover {
		text-decoration: none;
	}

	.nav-item {
		@include media-query(null, $screen-xs-max) {
			margin-left: 1rem;
		}
	}

	.nav-link {
		font-size: 0.88rem;
		font-weight: 600;
		letter-spacing: 0.031rem;
		padding-left: 16px;
		padding-right: 16px;
	}
}