.preview-file-image {
	bottom: 0;
	left: 0;
	margin: auto;
	max-height: 100%;
	max-width: 100%;
	position: absolute;
	right: 0;
	top: 0;
}

.preview-toolbar-label-percent {
	display: inline-block;
	min-width: 5ch;
}
