.liferay-ddm-form-rule-builder-timeline {
	.timeline-item {
		color: #869CAD;
		position: relative;

		&:not(:nth-of-type(1)) .timeline-icon {
			background-color: #6B6C7E;
		}

		.action-panel {
			display: table;
			width: 100%;
		}

		.calculate-container .form-group {
			margin: 0;
		}

		.form-group {
			margin: 0 10px;
		}

		.rule-choose-box {
			display: table-cell;
		}

		& .timeline-icon {
			border: 2px solid #6B6C7E;
			margin-right: 2px;
		}
	}
}