@import "./config/config";

@import "./components/components";
@import "./form-builder/form-builder";
@import "./rule-builder/rule-builder";

.ddm-btn-full button {
	width: 100%;
}

.col-empty > p {
	margin: 0;
}

.calculate-fieldname {
	display: block;
	font-size: 10px;
}

.dropdown-menu.dropdown-opened {
	display: block;
	min-width: 100%;
}

.ddm-field-actions-container {
	display: flex;
	justify-content: space-between;
	opacity: 0;
	position: absolute;
	right: 15px;
	top: calc(-32px / 2);
	transition: all ease 0.3s;
	visibility: hidden;
	width: 78px;
	z-index: 11;
}

.liferay-ddm-form-builder-calculator {
	flex-direction: column;

	.calculator-button-area li {
		&.disabled {
			pointer-events: none;
		}
	}
}

.ddm-field-container {
	border: 1px solid transparent;
	cursor: -webkit-grab;
	position: relative;
}

.ddm-field-container:hover .ddm-field-actions-container {
	opacity: 1;
	visibility: visible;
}

.ddm-target {
	height: 100%;
	width: 100%;
}

textarea[class^="form-builder-page-header"] {
	background: transparent;
	border: none;
	height: 36px;
	margin: 0;
	padding-top: 0;

	&:focus {
		background: none;
		border: none;
	}
}

.liferay-ddm-form-rule-builder-timeline .timeline-item .panel-body .dropdown {
	&.dropdown-action, &.calculator-add-field-button-container {
		position: relative;
		right: 0;
		top: 0;
	}

	.calculator-add-operator-button-area {
		background-color: #FFF;
		border: solid 1px #CDCED9;
		color: #6B6C7E;
	}
}

.form-builder-rule-builder {
	.add-item.timeline-increment-icon {
		padding-left: 10px;
	}

	.liferay-ddm-form-rule-builder-timeline {
		margin-bottom: 0;

		&.can-remove-item {
			.timeline-item:hover > .container-trash {
				display: block;
			}
		}

		[class*=' target-message-'] {
			max-width: max-content;
		}

		&.liferay-ddm-form-builder-rule-action-list .timeline-item:last-child:before {
			bottom: 0;
		}

		.container-trash {
			cursor: pointer;
			display: none;
			padding: 10px;
			position: absolute;
			right: 10px;
			top: 13px;

			&:hover {
				color: #65B6F0;
			}
		}
	}
}

.form-builder-rule-builder-rule-description {
	margin-bottom: 0;
}

.form-builder-select-field {
	position: relative;
}

.form-builder-select-field .select-field-trigger {
	display: flex;
	justify-content: space-between;
}

.form-builder-select-field .option-selected-placeholder {
	color: #6A6C7D;
}

.form-builder-select-field .dropdown-menu {
	display: block;
	max-width: initial;
	min-width: 0;
	overflow: hidden;
	width: 100%;
}

.form-builder-select-field .dropdown-menu .dropdown-section, .form-builder-select-field .dropdown-menu .dropdown-item, .form-builder-select-field .dropdown-menu .no-results-list {
	padding: 0.5rem 1rem;
}

.form-builder-select-field .dropdown-menu .placeholder-dropdown-item {
	color: #A7A9BC;
}

.form-builder-select-field .dropdown-menu .placeholder-dropdown-item:hover {
	color: #A7A9BC;
}

.form-builder-select-field .dropdown-menu .custom-control {
	padding-bottom: 0;
}

.form-builder-select-field .select-arrow-down-container {
	color: #6B6C7E;
}

.form-builder-select-field .search-chosen {
	border-bottom: 1px solid #E4E9EC;
	position: relative;
}

.form-builder-select-field .select-search-container {
	left: 8px;
	position: absolute;
	top: 2px;
}

.form-builder-select-field .select-search-container a {
	color: #869CAD;
}

.form-builder-select-field.active .select-field-trigger {
	border-bottom: 2px solid #65B6F0;
}

.form-builder-select-field .form-control[disabled] > a.select-arrow-down-container {
	cursor: not-allowed;
	opacity: 0.5;
}

.form-builder-select-field .form-control[disabled]:focus {
	border-bottom: 2px solid #869CAD;
	text-decoration: none;
}

.form-builder-select-field .select-field-trigger {
	height: inherit;
}

.form-builder-select-field .select-field-trigger .option-selected {
	overflow: hidden;
}

.form-builder-select-field .drop-chosen {
	background-color: #FFF;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 14px 0 rgba(58, 75, 87, 0.1);
	left: 0;
	position: absolute;
	right: 0;
	z-index: 1010;
}

.form-builder-select-field .drop-chosen .dropdown-visible {
	display: block;
}

.form-builder-select-field .drop-chosen .results-chosen {
	margin: 0;
	min-width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0;
}

.form-builder-select-field .drop-chosen .results-chosen .inline-scroller > span {
	padding-left: 16px;
}

.form-builder-select-field .multiple-label-list {
	display: flex;
	flex-flow: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-right: 20px;
	width: auto;
}

.form-builder-select-field .multiple-label-list li {
	overflow: hidden;
}

.form-builder-select-field .multiple-label-list span.label-secondary {
	max-width: 200px;
}

.form-builder-select-field .multiple-label-list .multiple-label {
	margin-bottom: 4px;
	margin-right: 6px;
	margin-top: 0;
	overflow: hidden;
	padding-right: 20px;
	position: relative;
}

.form-builder-select-field .multiple-label-list .multiple-label a {
	font-size: 6px;
	position: absolute;
	right: 5px;
	top: 1px;
}

.form-builder-select-field .multiple-label-list .multiple-label a .icon-monospaced.lexicon-icon {
	margin-bottom: 1px;
	margin-left: 5px;
	padding: 0;
}

.ddm-form-builder {
	.modal {
		display: none;
		margin: inherit;
	}

	.modal-sm {
		max-width: 300px;
	}

	.modal-dialog {
		position: relative;
	}
}

@media (min-width: 576px) {
	.ddm-form-builder .modal-sm {
		max-width: 300px;
	}
}