{namespace FieldsRegister}

{deltemplate FormRenderer.RegisterFieldType variant="'date'"}
	{call MockField.render data="all"}
		{param type: 'date' /}
	{/call}
{/deltemplate}

{deltemplate FormRenderer.RegisterFieldType variant="'radio'"}
	{call MockField.render data="all"}
		{param type: 'radio' /}
	{/call}
{/deltemplate}

{deltemplate FormRenderer.RegisterFieldType variant="'text'"}
	{call MockField.render data="all"}
		{param type: 'text' /}
	{/call}
{/deltemplate}

{deltemplate FormRenderer.RegisterFieldType variant="'select'"}
	{call MockField.render data="all"}
		{param type: 'select' /}
	{/call}
{/deltemplate}