<?xml version="1.0"?>
#if (${liferayVersion.startsWith("7.0")})
<!DOCTYPE display PUBLIC "-//Liferay//DTD Display 7.0.0//EN" "http://www.liferay.com/dtd/liferay-display_7_0_0.dtd">
#elseif (${liferayVersion.startsWith("7.1")})
<!DOCTYPE display PUBLIC "-//Liferay//DTD Display 7.1.0//EN" "http://www.liferay.com/dtd/liferay-display_7_1_0.dtd">
#elseif (${liferayVersion.startsWith("7.2")})
<!DOCTYPE display PUBLIC "-//Liferay//DTD Display 7.2.0//EN" "http://www.liferay.com/dtd/liferay-display_7_2_0.dtd">
#elseif (${liferayVersion.startsWith("7.3")})
<!DOCTYPE display PUBLIC "-//Liferay//DTD Display 7.3.0//EN" "http://www.liferay.com/dtd/liferay-display_7_3_0.dtd">
#end

[$XML$]