<?xml version="1.0"?>
#if (${liferayVersion.startsWith("7.0")})
<!DOCTYPE layout-templates PUBLIC "-//Liferay//DTD Layout Templates 7.0.0//EN" "http://www.liferay.com/dtd/liferay-layout-templates_7_0_0.dtd">
#elseif (${liferayVersion.startsWith("7.1")})
<!DOCTYPE layout-templates PUBLIC "-//Liferay//DTD Layout Templates 7.1.0//EN" "http://www.liferay.com/dtd/liferay-layout-templates_7_1_0.dtd">
#elseif (${liferayVersion.startsWith("7.2")})
<!DOCTYPE layout-templates PUBLIC "-//Liferay//DTD Layout Templates 7.2.0//EN" "http://www.liferay.com/dtd/liferay-layout-templates_7_2_0.dtd">
#elseif (${liferayVersion.startsWith("7.3")})
<!DOCTYPE layout-templates PUBLIC "-//Liferay//DTD Layout Templates 7.3.0//EN" "http://www.liferay.com/dtd/liferay-layout-templates_7_3_0.dtd">
#end

[$XML$]