@import './actionable';
@import './field-settings';
@import './field-types-dropdown';
@import './field-types-panel';
@import './form-page';
@import './form-pagination';
@import './moveable';
@import './resizeable';
@import './share_url_popover';
@import './sidebar';

$c: '.ddm-form-builder';

#{$c} {
	.ddm-select-option-label .label-item {
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.ddm-field-container .btn:disabled {
		cursor: inherit;
	}

	.lfr-ddm-form-pagination-controls {
		display: none;
	}

	.ddm-field-container {
		border: 2px solid transparent;

		&:hover,
		&.dragging,
		&.expanded,
		&.selected {
			border-color: $active-blue;
		}

		&:hover {
			border-width: 1px;
			margin: 1px 2px;
		}

		&.selected {
			border-width: 2px;
			margin: 0 1px;
		}
	}

	.form-builder-layout {
		padding: 1em;
	}
}

.ddm-select-dropdown .dropdown-item:focus {
	background-color: transparent;
}
