@import './field-settings';
@import './field-types-dropdown';
@import './field-types-panel';
@import './form-page';
@import './form-pagination';
@import './moveable';
@import './resizeable';
@import './share_url_popover';
@import './sidebar';

$c: '.ddm-form-builder';

#{$c} {
	.ddm-select-option-label .label-item {
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.ddm-field-container .btn:disabled {
		cursor: inherit;
	}

	.ddm-parent-dragging {
		border: none;

		.ddm-field-actions-container {
			display: none;
		}
	}

	.ddm-field-container {
		&:hover,
		&:active {
			border-color: #cdced9;
		}
	}
}

.ddm-select-dropdown .dropdown-item:focus {
	background-color: transparent;
}
