$c: '.ddm-form-pagination';

#{$c} {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 0 2.4rem 0 3rem;

	&.position-absolute {
		right: 0;
	}

	&.wizard-mode {
		border-bottom: 1px solid $light-400;
		margin-bottom: 1.4rem;
		padding-bottom: 0.2rem;
		padding-right: 6rem;
	}

	&.pagination-mode {
		border-top: 1px solid $light-400;
		margin-bottom: -25px;
		margin-top: 1.4rem;
		min-height: 90px;
	}

	.dmm-wizard,
	.ddm-pagination {
		width: 100%;
	}

	.ddm-pagination {
		margin-bottom: 0;

		.ddm-page-settings {
			margin-left: 0;
		}
	}

	.ddm-page-settings {
		margin-left: 2.4rem;
	}

	.multi-step-item {
		cursor: pointer;
	}
}

.ddm-paginated-builder {
	padding: 0;
	position: relative;

	.ddm-paginated-builder-dropdown {
		position: absolute;
		right: 3rem;
	}

	&.bottom .ddm-paginated-builder-dropdown {
		bottom: 25px;
	}

	&.top .ddm-paginated-builder-dropdown {
		top: 45px;
	}
}
