$c: '.ddm-layout-builder';

.shim {
	cursor: -webkit-grabbing;
}

#{$c} {
	.ddm-field-container:hover .ddm-resize-handle-left,
	.ddm-field-container:hover .ddm-resize-handle-right {
		cursor: col-resize;
		opacity: 1;
		transition: all ease-out 0.3s;
		visibility: visible;
	}

	.ddm-resize-handle-left {
		left: -1px !important;
	}

	.ddm-resize-handle-right {
		left: inherit !important;
		right: -1px !important;
	}

	.ddm-resize-column {
		margin-left: -25px;
		width: 21px;
	}

	.ddm-resize-handle, .ddm-resize-column {
		top: 0 !important;
	}

	@for $range from 1 to 13 {
		.ddm-resize-column:nth-child(#{$range}) {
			left: $range * (100% / 12);
		}
	}

	.ddm-field-container {
		.ddm-resize-handle-left,
		.ddm-resize-handle-right {
			background-color: #1C67FB;
			opacity: 0;
			transition: all ease-out 0.3s;
			visibility: hidden;
		}

		&:hover, &:active {
			border-color: #CDCED9;

			.ddm-resize-handle-left,
			.ddm-resize-handle-right {
				cursor: col-resize;
				opacity: 1;
				transition: all ease-out 0.3s;
				visibility: visible;
			}

			.ddm-field-actions-container {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.ddm-resize-handle, .ddm-resize-column {
	height: 100%;
	position: absolute;
	width: 5px;
}