$c: '.ddm-form-builder';

#{$c} {
	.ddm-resize-column {
		margin-left: -25px;
		width: 21px;
	}

	.ddm-resize-column {
		top: 0 !important;
	}

	.ddm-resize-handle {
		top: calc(50% - 4px);
	}

	@for $range from 1 to 13 {
		.ddm-resize-column:nth-child(#{$range}) {
			left: $range * (100% / 12);
		}
	}

	.ddm-field-container {
		margin: 0 1px;

		.ddm-resize-handle-left {
			left: -5px !important;
		}

		.ddm-resize-handle-right {
			left: inherit !important;
			right: -5px !important;
		}

		.ddm-resize-handle-left,
		.ddm-resize-handle-right {
			background-color: #ccc;
			cursor: inherit;
			opacity: 0;
		}

		&:hover,
		&:active {
			.ddm-resize-handle-left,
			.ddm-resize-handle-right {
				opacity: 0.5;
			}
		}
	}

	.resizeable .ddm-field-container {
		&:hover,
		&.dragging,
		&.expanded,
		&.selected {
			.ddm-resize-handle-left,
			.ddm-resize-handle-right {
				background-color: #1c67fb;
				cursor: col-resize;
				opacity: 1;
			}
		}
	}
}

.ddm-resize-handle,
.ddm-resize-column {
	height: 8px;
	position: absolute;
	width: 8px;
}

.shim {
	cursor: -webkit-grabbing;
}
