$c: '.ddm-share-url-popover';
$c-button: '.ddm-btn-disabled';

#{$c} {
	max-width: 500px;
	width: 100%;
}

#{$c-button} {
	background-color: #FFF;
	border-color: #CDCED9;
	cursor: not-allowed;
	opacity: 0.26;
}