<!DOCTYPE html>

<html>
	<head>
		<title>[$TITLE$]</title>
	</head>
	<body>
		<form action="[$URL$]" id="fm" method="post" name="fm">
			<input name="token" type="hidden" value="[$TOKEN$]" />
		</form>

		<script>
			var fm = document.getElementById("fm");

			fm.submit();
		</script>
	</body>
</html>