.base-custom-object-field-type {
	padding: 0.375rem 0;
	position: relative;

	.sticker {
		height: 1.5rem;
		width: 1.5rem;
	}

	p,
	small {
		font-size: 0.75rem;
		font-weight: 500;
		line-height: 1rem;
	}

	h4 {
		font-size: 0.75rem;
		line-height: 1.25rem;
	}

	.field-type-remove-icon {
		bottom: 0;
		height: 40px;
		margin: auto;
		opacity: 0;
		position: absolute;
		right: 0;
		top: 0;
		transform: translateX(40px);

		&:hover {
			opacity: 1;
		}

		button:hover {
			background-color: transparent;
		}

		.loading-animation {
			font-size: 1rem;
			margin-right: 10px;
			margin-top: 12px;
		}
	}

	&.loading .field-type-remove-icon {
		opacity: 1;
	}

	&:hover .field-type-remove-icon {
		opacity: 1;
	}
}

.app-builder-form-view-app .data-layout-builder-sidebar {
	top: 7rem;

	.lfr-ddm-form-container .ddm-field-options-container .ddm-options-target {
		margin: 2px 0;
	}
}

.app-builder-form-view-body {
	display: flex;
	margin-top: $upperToolbarHeight;

	.app-builder-custom-object-sidebar .data-layout-builder-sidebar {
		background-color: transparent;
		right: auto;
		top: auto;
		width: 300px;

		.custom-object-sidebar-header {
			border-bottom: 1px solid #cdced9;

			h3 {
				font-size: 1rem;
				margin: 0;
			}

			.btn {
				color: #6b6c7e;
			}

			.btn:hover {
				background-color: #e7e7ed;
			}

			h3.category-text {
				color: #6b6c7e;
				font-weight: 600;
			}
		}

		.sidebar {
			background-color: transparent;
		}

		.sidebar-body {
			background-color: transparent;
			height: calc(100vh - 200px);
			overflow-x: hidden;
			padding-left: 20px;
			padding-right: 30px;

			&.empty {
				display: flex;

				.custom-object-sidebar-empty {
					margin: auto 0;
					text-align: center;

					.lexicon-icon-custom-field {
						color: #a7a9bc;
						height: 40px;
						width: 40px;
					}

					h3 {
						font-size: 1.125rem;
						margin-bottom: 0;
						margin-top: 1.5rem;
					}

					p {
						color: #6b6c7e;
						font-size: 1rem;
						margin-bottom: 0;
						margin-top: 0.5rem;
					}
				}
			}

			.field-type {
				@extend .base-custom-object-field-type;

				&.dragging {
					background-color: rgba(39, 40, 51, 0.04);
					border-color: transparent;
					box-shadow: none;
				}

				&:hover:not(.disabled) {
					background-color: rgba(39, 40, 51, 0.04);
					border-color: transparent;
					box-shadow: none;
					transform: translateX(2px);

					.sticker {
						background-color: rgb(210, 212, 219);
					}
				}

				&.active,
				&.active:hover {
					border-color: #0b5fff;
				}

				.sticker {
					background-color: rgb(234, 235, 239);
				}
			}
		}
	}

	.data-layout-builder-wrapper {
		width: 100%;
	}

	.ddm-form-builder-wrapper .sheet {
		.form-builder-layout {
			padding: 0;

			.ddm-form-page {
				padding: 0 0.5rem;
			}
		}
	}
}

.field-type-drag-preview .custom-object-field {
	height: 48px;
	width: 258px;

	@extend .base-custom-object-field-type;
}
