.base-custom-object-field-type {
	padding: 0.375rem 0;

	.sticker {
		height: 1.5rem;
		width: 1.5rem;
	}

	p,
	small {
		font-size: 0.75rem;
		font-weight: 500;
		line-height: 1rem;
	}

	h4 {
		font-size: 0.75rem;
		line-height: 1.25rem;
	}
}

.app-builder-form-view-body {
	display: flex;

	.app-builder-custom-object-sidebar .app-builder-sidebar {
		background-color: transparent;
		right: initial;
		width: 280px;

		.custom-object-sidebar-header {
			border-bottom: 1px solid #cdced9;

			h3 {
				font-size: 1rem;
				margin: 0;
			}

			.btn {
				color: #6b6c7e;
			}

			.btn:hover {
				background-color: #e7e7ed;
			}
		}

		.sidebar {
			background-color: transparent;
		}

		.sidebar-body {
			background-color: transparent;
			padding-left: 1.375rem;
			padding-right: 0;

			.field-type {
				@extend .base-custom-object-field-type;

				&.dragging {
					background-color: rgba(39, 40, 51, 0.04);
					border-color: transparent;
					box-shadow: none;
				}

				&:hover:not(.disabled) {
					background-color: rgba(39, 40, 51, 0.04);
					border-color: transparent;
					box-shadow: none;
					transform: translateX(2px);

					.sticker {
						background-color: rgb(210, 212, 219);
					}
				}

				.sticker {
					background-color: rgb(234, 235, 239);
				}
			}
		}
	}

	.app-builder-sidebar-content {
		flex-direction: column;
		flex-grow: 1;
		padding-left: 280px;

		.ddm-form-builder {
			.ddm-paginated-builder-dropdown,
			.form-builder-page-header-description,
			.form-builder-page-header-title {
				display: none;
			}
		}
	}

	.ddm-form-builder-wrapper .sheet {
		margin: 1.5rem auto 0;
		max-width: 808px;
		padding-top: 0;

		.form-builder-layout {
			padding: 0;

			.ddm-form-page {
				padding: 0 0.5rem;
			}
		}
	}
}

.field-type-drag-preview .custom-object-field {
	height: 48px;
	width: 258px;

	@extend .base-custom-object-field-type;
}
