.sidebar-container {
	border-top-width: 0;
	display: flex;
	flex-flow: column;
	height: 100%;
	position: fixed;
	right: 0;
	transform: translateX(0%);
	transition: transform 0.3s ease-in-out;
	width: $sidebarWidth;

	&.closed {
		transform: translateX(100%);
	}
}
