.app-builder-standalone {
	background-color: #e5e5e5;
	min-height: 100vh;
	padding-bottom: 9.5rem;

	.app-builder-standalone-content {
		margin-top: -7rem;
		padding-bottom: 2rem;

		&.edit-entry {
			max-width: 856px;
		}

		.app-builder-root {
			.edit-entry {
				padding-top: 3rem;
			}

			.loading-wrapper {
				height: auto;
				position: relative;
			}

			.view-entry {
				background-color: #f7f8f9;
				border-radius: 4px;
				margin-bottom: -2rem;
				margin-left: calc(-1.5rem - 1px);
				margin-right: calc(-1.5rem - 1px);
				margin-top: 0;
				padding-bottom: 8rem;

				.sheet {
					margin-bottom: 2rem;
				}
			}
		}
	}

	.app-builder-standalone-header {
		background-color: #393a4a;
		min-height: 320px;
		padding-top: 1rem;
		width: 100%;

		.app-builder-standalone-name {
			color: #fff;
			font-size: 2.5rem;
			font-weight: bold;
			margin-top: 4.5rem;
			padding: 0;
		}

		.company-link {
			color: #fff;

			.company-details {
				display: flex;

				.company-logo {
					max-height: 52px;
					max-width: 52px;
				}

				.company-name {
					font-size: 22px;
					font-weight: bold;
					line-height: 52px;
					margin-left: 1rem;
				}
			}
		}
	}
}
