$background-header-color: #393a4a;

.app-builder-standalone {
	background-color: #f1f2f5;
	min-height: 100vh;
	padding-bottom: 9.5rem;

	.app-builder-standalone-content {
		margin-top: -7rem;
		padding-bottom: 2rem;

		&.edit-entry {
			max-width: 808px;
		}

		.app-builder-root {
			.control-menu-back-button {
				.icon-monospaced {
					padding-left: 4px;
				}
			}

			.edit-entry {
				padding-top: 3rem;
			}

			.loading-wrapper {
				height: auto;
				position: relative;
			}

			.view-entry {
				background-color: #f7f8f9;
				border-radius: 4px;
				margin-bottom: -2rem;
				margin-left: calc(-1.5rem - 1px);
				margin-right: calc(-1.5rem - 1px);
				margin-top: 0;
				padding-bottom: 8rem;

				.sheet {
					margin-bottom: 2rem;
				}
			}
		}
	}

	.app-builder-standalone-header {
		background-color: $background-header-color;
		min-height: 320px;
		padding-top: 1rem;
		width: 100%;

		.app-builder-standalone-name {
			color: #fff;
			font-size: 2.5rem;
			font-weight: bold;
			margin-top: 4.5rem;
			padding: 0;

			&.edit-entry {
				display: none;
			}
		}

		.company-link {
			color: #fff;
			display: inline-block;

			.company-details {
				display: flex;

				.company-logo {
					max-height: 52px;
					max-width: 52px;
				}

				.company-name {
					font-size: 22px;
					font-weight: bold;
					line-height: 52px;
					margin-left: 1rem;
				}
			}
		}
	}

	.app-builder-standalone-translation-manager {
		align-items: center;
		flex-direction: row;

		.btn.btn-secondary.dropdown-toggle {
			background-color: $background-header-color;
			border-color: #6b6c7e;
			color: #a7a9bc;

			&:hover {
				background-color: rgba(107, 108, 126, 0.2);
				border-color: #6b6c7e;
				color: #fff;

				.localizable-dropdown-label {
					color: #fff;
				}
			}
		}
	}
}
