.empty-drop-zone {
	background: #f7f8f9;
	border: 2px dashed #a7a9bc;
	box-sizing: border-box;
	border-radius: 4px;
	color: #a7a9bc;
	line-height: 57px;
	text-align: center;
}

.table-view-container {
	margin-top: 20px;
}
