.empty-drop-zone {
	background: #f7f8f9;
	border: 2px dashed #a7a9bc;
	border-radius: 4px;
	box-sizing: border-box;
	color: #a7a9bc;
	line-height: 57px;
	text-align: center;

	&.target-droppable {
		animation-direction: alternate;
		animation-duration: 0.7s;
		animation-iteration-count: infinite;
		animation-name: drop-color;
		animation-timing-function: $animation;
		background-color: #2e5aac;
		border-color: #0b5fff;
		color: #0b5fff;
	}

	&.target-over {
		border-color: #0b5fff;
		border-style: solid;

		p {
			visibility: hidden;
		}
	}

	@keyframes drop-color {
		0% {
			background-color: #f0f5ff;
		}

		100% {
			background-color: rgba(179, 205, 255, 0.3);
		}
	}
}

.table-view-container {
	margin-top: 20px;
}
