@import 'mixins';

.app-builder-upper-toolbar-standalone,
.app-builder-upper-toolbar-widget {
	margin-bottom: 2rem;
	position: relative;
	top: 0;
	width: auto;
}

.app-builder-upper-toolbar-productMenu {
	height: $upperToolbarHeight;
	position: fixed;
	top: $controlMenuHeight;
	transition: width 0.5s $animation;
	width: 100%;
	z-index: 10;

	@include respond-to(phone, tablet) {
		top: $mobile_controlMenuHeight;
	}
}
