.app-builder-upper-toolbar {
	height: $upperToolbarHeight;
	position: fixed;
	top: $controlMenuHeight;
	transition: width 0.5s $animation;
	width: 100%;
	z-index: 10;

	@media (max-width: 576px) {
		top: $mobile_controlMenuHeight;
	}

	&.standalone,
	&.widget {
		margin-bottom: 2rem;
		position: relative;
		top: 0;
		width: auto;
	}
}
