/* ---------- Regular sizes ---------- */

$animation: cubic-bezier(0.25, 0.1, 0.25, 1);
$controlMenuHeight: 3.5rem;
$productMenuWidth: 320px;
$sidebarMainWidth: 326px;
$sidebarMiniWidth: 72px;
$upperToolbarHeight: 3.5rem;

/* ---------- Mobile sizes ---------- */

$mobile_controlMenuHeight: 3rem;
