// ---------- Regular sizes ----------

$animation: cubic-bezier(0.25, 0.1, 0.25, 1);
$controlMenuHeight: 56px;
$productMenuWidth: 320px;
$sidebarMainWidth: 326px;
$sidebarMiniWidth: 72px;
$upperToolbarHeight: 64px;

// ---------- Mobile sizes ----------

$mobile_controlMenuHeight: 48px;
