@import 'variables';

@import 'standalone';

.app-builder-root {
	@import 'components';
	@import 'pages';

	.custom-object-app {
		display: flex;
		flex-flow: column;
		height: calc(100vh - 91px);
	}

	.taglib-empty-result-message {
		margin: auto;
		padding: 0 2rem;
	}
}

body.open .app-builder-upper-toolbar {
	width: calc(100% - #{$productMenuWidth});
}

.custom-object-dropdown-list {
	.dropdown-item {
		cursor: pointer;
		padding: 0.75rem 1rem;
	}

	.dropdown-item-indicator-start {
		background-color: #f7f7f9;
		border-radius: 4px;
		display: inline-block;
		height: 24px;
		margin-right: 0.5rem;
		text-align: center;
		vertical-align: middle;
		width: 24px;
	}
}

.custom-object-dropdown-menu {
	margin-left: 9px;
	margin-top: 9px;
	max-width: 260px;
	min-width: 260px;
}

.ie11 .table-list {
	border-collapse: separate;
	border-spacing: 0px;
}

:-ms-input-placeholder {
	color: #6b6c7e !important;
}

.remove-object-field-message {
	color: #6b6c7e;
	font-size: 14px;
}

.remove-object-field-panel {
	label {
		margin-right: 0.25rem;
	}

	.panel-header {
		background-color: #f7f8f9;
		border-bottom: 1px solid #e7e7ed;
	}
}

.shadowless-card {
	border: 1px solid #e7e7ed;
	box-shadow: none;
}
