@import 'configs/variables';

@import 'configs/standalone';
@import 'configs/utilities';

@import 'components/dropdown';

.app-builder-root {
	@import 'pages/edit_app';
	@import 'pages/edit_entry';
	@import 'pages/form_view';
	@import 'pages/table_view';
	@import 'pages/view_entry';

	@import 'components/control_menu';
	@import 'components/custom_object_app';
	@import 'components/custom_object_sidebar';
	@import 'components/data_engine_form_builder';
	@import 'components/empty_state';
	@import 'components/form_renderer_required_field';
	@import 'components/multiple_select_filter_dropdown';
	@import 'components/upper_toolbar';
}
