@import 'variables';

@import 'standalone';

.app-builder-root {
	@import 'components';
	@import 'pages';

	.custom-object-app {
		display: flex;
		flex-flow: column;
		height: calc(100vh - 91px);
	}

	.taglib-empty-result-message {
		margin: auto;
		padding: 0 2rem;
	}

	.tooltip-icon {
		color: #b0b2c4;
		margin-left: 0.25rem;
	}
}

body.open .app-builder-upper-toolbar {
	width: calc(100% - #{$productMenuWidth});
}

.custom-object-dropdown-list {
	.dropdown-item {
		cursor: pointer;
		padding: 0.75rem 1rem;
	}

	.dropdown-item-indicator-start {
		background-color: #f7f7f9;
		border-radius: 4px;
		display: inline-block;
		height: 24px;
		margin-right: 0.5rem;
		text-align: center;
		vertical-align: middle;
		width: 24px;
	}
}

.custom-object-dropdown-menu {
	margin-left: 9px;
	margin-top: 9px;
	max-width: 260px;
	min-width: 260px;
}

.edge,
.ie11 {
	.table-list {
		border-collapse: separate;
		border-spacing: 0;
	}
}

:-ms-input-placeholder {
	color: #6b6c7e !important;
}

.multiple-select-filter-dropdown {
	min-width: 293px;

	.dropdown-search {
		padding-left: 0.75rem;
		padding-right: 0.75rem;

		.form-control {
			height: 2rem;
		}
	}

	.dropdown-select-all {
		display: flex;
		padding-bottom: 0;
		padding-left: 0.75rem;
		padding-right: 0.75rem;
		padding-top: 0;

		&.clearable {
			&:hover {
				background-color: transparent;
			}

			.btn-unstyled {
				&:hover {
					background-color: #f7f8f9;
				}
			}
		}

		.btn-unstyled {
			padding: 0.375rem 0.75rem;

			&:active:focus,
			&:focus {
				box-shadow: none;
				outline: none;
			}
		}

		.all {
			flex-grow: 1;
			font-size: 14px;
			margin-right: 0.5rem;
		}

		.clear {
			font-size: 14px;
			font-weight: 600;
		}
	}

	.lexicon-icon-check {
		color: #0b5fff;
	}
}

.remove-object-field-message {
	color: #6b6c7e;
	font-size: 14px;
}

.remove-object-field-panel {
	label {
		margin-right: 0.25rem;
	}

	.panel-header {
		background-color: #f7f8f9;
		border-bottom: 1px solid #e7e7ed;
	}
}

.shadowless-card {
	border: 1px solid #e7e7ed;
	box-shadow: none;
}

.taglib-empty-result-message-description {
	&.empty-message-color {
		color: #6b6c7e;
	}
}
