{
#if (${liferayVersion.startsWith("7.2")} || ${liferayVersion.startsWith("7.3")})
	"presets": ["@babel/preset-env"#if(${liferayVersion.startsWith("7.3")} && ${reactTemplate.equals("true")}), "@babel/preset-react"#end],
	"plugins": [
		"@babel/proposal-class-properties",
		"@babel/proposal-object-rest-spread"
	]
#else
	"presets": ["es2015", "liferay-project"]
#end
}