.change-lists-table {
	.change-list-description {
		color: #6b6c7e;
	}

	.change-list-name {
		color: #272833;
		font-weight: 600;
	}
}

.change-lists-tbar {
	font-size: 14px;
	height: auto;
	min-height: 3.5rem;

	.change-list-name {
		color: #272833;
		font-size: 18px;
		font-weight: 600;

		.label {
			margin-left: 0.5rem;
			vertical-align: middle;
		}
	}
}

.change-lists-conflicts-table {
	.entry-title {
		margin-top: 0.25rem;
	}

	.user-portrait-wrapper {
		display: block;
	}
}

.change-lists-diff-table-wrapper table {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
	word-wrap: break-word;

	.change-lists-diff-td {
		border-left: solid 1px #e7e7ed;
		border-right: solid 1px #e7e7ed;
		vertical-align: top;
	}
}

.select-change-list-table {
	border-collapse: collapse;

	td:first-child {
		vertical-align: top;
	}
}

#selectChangeListManagementToolbar nav:last-child {
	margin-bottom: 0;
}

.change-lists-view-changes-wrapper {
	.breadcrumb {
		margin-top: 20px;
		padding-bottom: 0;
		padding-top: 0;
	}

	.change-lists-changes-content {
		margin-top: 20px;

		.panel-body {
			margin-top: 16px;
		}

		.sheet {
			margin-bottom: 16px;
		}

		.table {
			.change-row-button {
				background-color: inherit;
				border: none;
				padding: 0;
				text-align: left;

				&:active:focus,
				&:focus {
					box-shadow: none;
					outline: none;
				}
			}
		}
	}

	.management-bar {
		margin-bottom: 0;
	}

	.navigation-bar {
		a:hover {
			cursor: pointer;
		}
	}

	.taglib-empty-result-message {
		margin-top: 20px;
	}
}
