#selectChangeListManagementToolbar nav:last-child {
	margin-bottom: 0;
}

.select-change-list-table {
	.change-list-description {
		color: #6b6c7e;
	}

	.change-list-name {
		color: #272833;
		font-weight: 600;
	}

	td:first-child {
		vertical-align: top;
	}
}
