@import "mixins";

$controlMenuDesktopHeight: 56px;
$controlMenuHeight: 49px;
$productMenuWidth: 320px;
$upperTbarHeight: 4rem;

.upper-tbar {
	background-color: #FFF;
	border-color: #E7E7ED;
	border-style: solid;
	border-width: 0 0 1px;
	height: $upperTbarHeight;

	.tbar-nav {
		padding: 0 calc(1.25rem - 12px);
	}

	.tbar-item {
		padding-left: 0.5rem;
		padding-right: 0.5rem;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}
}

.upper-tbar-title {
	color: #272833;
	font-size: 1.125rem;
	font-weight: bold;
	line-height: 1.25;
	margin: 0;
}

.upper-tbar-container-fixed {
	height: $upperTbarHeight;

	.upper-tbar {
		position: fixed;
		left: 0;
		right: 0;
		top: $controlMenuHeight;
		z-index: 1;

		@include sm {
			top: $controlMenuDesktopHeight;

			body.open & {
				left: $productMenuWidth;
			}

			body.sidenav-transition & {
				transition: left 0.5s ease;
			}
		}
	}
}