$control-menu-height-desktop: 56px;
$control-menu-height: 49px;
$product-menu-width: 320px;
$upper-tbar-height: 4rem;

.upper-tbar {
	background-color: #fff;
	border-color: #e7e7ed;
	border-style: solid;
	border-width: 0 0 1px;
	height: $upper-tbar-height;

	.tbar-nav {
		padding: 0 calc(1.25rem - 12px);
	}

	.tbar-item {
		padding-left: 0.5rem;
		padding-right: 0.5rem;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}
}

.upper-tbar-title {
	color: #272833;
	font-size: 1.125rem;
	font-weight: bold;
	line-height: 1.25;
	margin: 0;
}

.upper-tbar-container-fixed {
	height: $upper-tbar-height;

	.upper-tbar {
		left: 0;
		position: fixed;
		right: 0;
		top: $control-menu-height;
		z-index: 1;

		@include media-breakpoint-up(sm) {
			top: $control-menu-height-desktop;

			body.open & {
				left: $product-menu-width;
			}

			body.sidenav-transition & {
				transition: left 0.5s ease;
			}
		}
	}
}
