@import 'atlas-variables';

.color-cell-editor-hidden {
	display: none;
}

.portlet-document-library,
.portlet-dynamic-data-mapping {
	.field-labels-inline {
		clear: both;
		display: block;

		.field-label {
			margin-top: 0;
		}
	}

	.field {
		.field-content {
			clear: both;
		}
	}

	.form-builder {
		.field-checkbox {
			margin-top: -7px;
		}

		.nav-tabs + .tab-content .tab-pane {
			padding: 2rem 1rem;
		}

		.property-builder-drop-container,
		.tab-pane {
			min-height: 500px;

			@include media-breakpoint-down(sm) {
				min-height: 100px;

				.form-builder-field .btn {
					display: inline;
					margin-top: 0;
					width: auto;
				}
			}
		}

		.property-builder-fields-container .property-builder-field {
			width: 33%;
		}

		.radio {
			display: inline-block;
		}
	}

	.lfr-structure-entry-details-container {
		margin-top: 10px;
	}

	.lfr-translation-manager {
		margin-bottom: 15px;
	}

	.lfr-ddm-link-to-page a {
		clear: both;
		display: block;
	}

	.lfr-ddm-small-image-preview {
		background-color: #fff;
		border: 1px solid #ccc;
		margin-right: 1em;
		max-height: 120px;
		max-width: 120px;
		padding: 4px;
	}

	.lfr-ddm-small-image-content {
		background-color: #f5f5f5;
		padding: 5px;

		th {
			padding: 5px;
			white-space: nowrap;
			width: 1%;
		}
	}

	.lfr-ddm-small-image-view {
		max-height: 120px;
		max-width: 120px;
	}

	.lfr-ddm-types-form-column .column-content-first {
		margin-right: 10px;
	}

	.lfr-ddm-search-form .column {
		margin-right: 10px;
	}

	.lfr-document-library-add-menu {
		margin-bottom: 10px;
	}

	.lfr-template-editor-container {
		.lfr-template-palette-container {
			width: 265px;

			.lfr-template-palette {
				overflow: auto;
				width: 100%;

				.title-text {
					font-weight: bold;
					margin: 0.5em;
				}

				.palette-item-content .palette-item-container {
					cursor: pointer;
					line-height: 1.8em;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;

					.palette-item {
						padding-right: 13px;
					}
				}
			}

			.search-query {
				margin-bottom: 26px;
			}
		}

		.lfr-editor-container {
			margin-left: 275px;

			.lfr-template-editor .lfr-rich-editor {
				padding-left: 0.2em;
			}
		}

		.lfr-editor-container-full {
			margin-left: 0;
		}
	}

	@include media-breakpoint-down(sm) {
		.lfr-template-editor-container {
			.lfr-template-palette-container {
				width: 100%;

				.lfr-template-palette {
					height: auto !important;
					margin-bottom: 15px;
				}
			}

			.lfr-editor-container {
				clear: left;
				margin-left: 0;
			}
		}
	}

	.lfr-wcm-image-icon {
		background-position: 50%;
		padding: 0;
	}

	.form-builder-source-wrapper {
		height: 600px;
		position: relative;

		.form-builder-source {
			position: relative;
		}
	}

	.property-builder-drop-container {
		overflow: auto;
	}

	.property-builder-field {
		padding: 5px 0;

		.property-builder-field-icon {
			font-size: 24px;
		}
	}
}

.ltr .form-builder-rtl-inputs,
.rtl .form-builder-ltr-inputs {
	.portlet-dynamic-data-mapping .form-builder-content,
	.textcelleditor,
	.textareacelleditor {
		input[type='text'],
		textarea {
			direction: rtl;
		}
	}
}

textarea.script {
	min-height: 200px !important;
}

.vertical-scrolling.nav {
	flex-direction: row;
}

.vertical-scrolling.nav {
	li {
		width: 100%;
	}
}
