@import 'atlas-variables';

@import 'upper_tbar';

.preview-file {
	@import 'floating_bar';

	margin: 1.5rem auto;
	position: relative;

	.preview-file-container {
		overflow: auto;
		position: relative;
		text-align: center;

		&.preview-file-max-height {
			height: 624px;
		}
	}

	.preview-file-loader {
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50);
	}

	.preview-toolbar-container {
		bottom: 0;
		margin-bottom: 1.5rem;
		position: absolute;
		text-align: center;
		width: 100%;
	}
}

.sidebar-preview {
	.sidebar-panel {
		background-color: #fff;
	}

	@include media-breakpoint-up(sm) {
		.panel {
			border-color: transparent;
		}
	}

	&.contextual-sidebar {
		$control-menu-height-sm: 56px;
		$control-menu-height: 49px;
		$sidebar-width: 320px;
		$upper-tbar-height: 64px;

		$top: $control-menu-height + $upper-tbar-height;

		height: calc(100vh - #{$top});
		overflow-y: scroll;
		top: $top;
		z-index: 1;

		@include media-breakpoint-up(sm) {
			$top-sm: $control-menu-height-sm + $upper-tbar-height;

			height: calc(100vh - #{$top-sm});
			top: $top-sm;

			& + .contextual-sidebar-content {
				padding-right: 0;
				transition: padding-right ease 0.5s;
			}

			&.contextual-sidebar-visible + .contextual-sidebar-content {
				padding-right: $sidebar-width;
			}
		}
	}
}

.preview-file-error-container {
	margin: auto;
	max-width: 340px;
	padding-bottom: 5em;
	padding-top: 10em;
	text-align: center;
}
