@import 'atlas-variables';

.portlet-login {
	.form {
		fieldset {
			border-width: 0;
			margin-bottom: 0;
			padding: 0;
		}

		.button-holder,
		.form-column {
			margin-bottom: 10px;
		}
	}

	.navigation {
		background: #eee;
		border-top: 1px solid #bfbfbf;
		padding: 10px;
	}

	.signed-in {
		display: inline-block;

		@include hyphens();
	}
}
