.info-bar-item {
	position: absolute;
}

.workflow-definition-container, .workflow-definition-sidebar {
	.lfr-active-column, .lfr-description-column, .lfr-last-modified-column, .lfr-version-column {
		width: auto;
	}
}

.workflow-definition-container {
	margin-top: 20px;
}

.workflow-definition-content {
	padding: 10px;

	.workflow-definition-content-source {
		border: 1px solid #B5B5B5;
	}

	.workflow-definition-content-source-wrapper {
		margin-bottom: 15px;
	}

	.workflow-definition-upload {
		margin-bottom: $baseline * 3;
	}

	.workflow-definition-upload-source {
		display: none;
	}
}

#workflowTasksPanelContainer {
	border-width: 0;
}