.portlet-journal-content {
	.asset-links .list-group-item:last-child {
		border-bottom-width: 0;
	}

	.journal-content-article {
		word-wrap: break-word;

		img,
		.cke_widget_image {
			max-width: 100%;

			&[style*='float: left;'],
			&[style*='float:left;'] {
				margin-right: 24px;
			}

			&[style*='float: right;'],
			&[style*='float:right;'] {
				margin-left: 24px;
			}

			&[style*='float: left;'],
			&[style*='float:left;'],
			&[style*='float: right;'],
			&[style*='float:right;'] {
				margin-bottom: 24px;
				margin-top: 24px;
			}
		}

		&:after {
			clear: both;
			content: '';
			display: block;
		}
	}

	.portlet .portlet-header {
		flex-wrap: nowrap;
	}

	.portlet .portlet-header .visible-interaction {
		display: block;
		visibility: hidden;

		.lfr-icon-menu {
			background-color: #fff;
			color: #0b5fff;
		}

		.lfr-icon-menu > a {
			color: inherit;
			line-height: 23px;
			width: auto;
		}
	}

	.preview-asset-entry {
		border: 1px solid #0b5fff;
		border-radius: 0;
	}

	@media only screen and (min-width: 768px) {
		.portlet .portlet-header .visible-interaction {
			display: block;
			visibility: hidden;
		}
	}

	&:hover .portlet,
	&:focus .portlet,
	& .portlet.open {
		.portlet-header .visible-interaction {
			visibility: visible;
		}
	}

	&.portlet-barebone .portlet .portlet-header {
		margin-bottom: 0;
		position: absolute;
		right: 2px;
		top: 2px;
		z-index: 1;
	}
}
