<style>

.list-menu ul {
	list-style: none;
}

.nav {
	font-size: inherit;
	font-weight: inherit;
}

.lfr-nav-item > a {
	color: inherit;
}

.lfr-nav-item.selected > a {
	color: ${selectedItemColor};
}

.lfr-nav-item > a:hover {
	color: ${hoveredItemColor};
}
</style>