@font-face {
	font-family: open_sanslight;
	font-weight: normal;
	src: url(../fonts/opensans-light-webfont.woff);
}

@font-face {
	font-family: open_sanslight;
	font-style: italic;
	font-weight: normal;
	src: url(../fonts/opensans-lightitalic-webfont.woff);
}

@font-face {
	font-family: open_sansregular;
	font-weight: bold;
	src: url(../fonts/opensans-bold-webfont.woff);
}

@font-face {
	font-family: open_sansregular;
	font-style: italic;
	font-weight: bold;
	src: url(../fonts/opensans-bolditalic-webfont.woff);
}

@font-face {
	font-family: open_sansregular;
	font-style: italic;
	font-weight: normal;
	src: url(../fonts/opensans-italic-webfont.woff);
}

@font-face {
	font-family: open_sansregular;
	font-weight: normal;
	src: url(../fonts/opensans-regular-webfont.woff);
}

@font-face {
	font-family: open_sanssemibold;
	font-weight: normal;
	src: url(../fonts/opensans-semibold-webfont.woff);
}

@font-face {
	font-family: open_sanssemibold;
	font-style: italic;
	font-weight: normal;
	src: url(../fonts/opensans-semibolditalic-webfont.woff);
}
