header {
	.portlet:hover,
	.portlet.open {
		z-index: 1050;
	}

	.logo {
		@include media-breakpoint-up(sm) {
			margin: 4px 0;
		}
	}

	.navbar-toggle {
		margin: 10px 15px;
	}

	a {
		color: $main-header-color;

		&:hover,
		&:focus {
			color: $secondary-header-color;
		}
	}

	.form-control {
		color: $main-header-color;

		&:focus {
			border-color: $main-header-color;
			color: $main-header-color;
		}
	}

	.navbar-user {
		.user-avatar-link,
		.sign-in {
			& > a {
				color: $main-header-color;
				display: inline-block;
				font-size: 12px;
				padding: 16px 16px 16px 6px;
				text-transform: uppercase;

				&:hover,
				&:focus,
				&.active,
				&.open {
					color: $secondary-header-color;
					text-decoration: none;
				}
			}
		}

		.user-icon,
		.icon-user {
			display: inline-table;
		}

		.user-full-name {
			margin-left: 4px;
		}
	}

	.porygon-search {
		.porygon-search-form {
			display: none;

			.portlet {
				margin-bottom: 0;
			}

			.form-group {
				display: block;
				margin-bottom: 0;

				.form-control {
					background-color: transparent;
				}
			}

			.lfr-ddm-field-group {
				display: none;
			}
		}

		.porygon-search-button {
			font-size: 1.5rem;

			.lexicon-icon {
				display: none;

				&:first-child {
					display: inline-block;
				}
			}
		}

		&.active {
			background-color: $main-black-color;
			left: 0;
			padding: 0.75rem;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 1;

			.porygon-search-form {
				display: block;
			}

			.porygon-search-button {
				.lexicon-icon {
					&:first-child {
						display: none;
					}

					&:last-child {
						display: inline-block;
					}
				}
			}

			@include media-breakpoint-up(md) {
				bottom: 0;
				z-index: 1000;
			}
		}
	}

	.lfr-nav-child-toggle {
		@include media-breakpoint-down(sm) {
			float: left;
			padding: 0 10px;
		}
	}

	.portlet-body > .navbar {
		margin: 0 15px;
	}
}

.search-opened {
	header {
		#search {
			@include media-breakpoint-up(sm) {
				height: 60px;
			}
		}
	}

	#content,
	footer {
		opacity: 0.3;
	}
}
