.grid-container {
	display: grid;
	margin-left: auto;
	margin-right: auto;
	max-width: 1170px;
}

.grid-container-fluid {
	display: grid;
}

.grid-1-columns,
.grid-2-columns,
.grid-3-columns,
.grid-4-columns {
	grid-template-columns: 100%;
}

.grid-2-columns {
	@include media-breakpoint-up(md) {
		grid-template-columns: 50% 50%;
	}
}

.grid-3-columns {
	@include media-breakpoint-up(md) {
		grid-template-columns: 33.32% 33.32% 33.32%;
	}
}

.grid-4-columns {
	@include media-breakpoint-up(sm) {
		grid-template-columns: 50% 50%;
	}

	@include media-breakpoint-up(md) {
		grid-template-columns: 25% 25% 25% 25%;
	}
}

.grid-gap {
	grid-gap: 30px;
}

.grid-gap-inside {
	.grid-col {
		padding: 0 15px;
	}
}

.grid-horizontal-gap {
	grid-row-gap: 30px;
}

.grid-vertical-gap {
	grid-column-gap: 30px;
}

.grid-horizontal-align-center {
	justify-content: space-evenly;
}

.grid-horizontal-align-center {
	align-content: center;
}

.grid-display-1 {
	> div:first-of-type {
		grid-row: 1 / span 2;

		> .grid-col {
			height: 100%;
		}
	}
}

.grid-display-2 {
	> div:first-of-type {
		grid-column: 2;
		grid-row: 1 / span 2;

		> .grid-col {
			height: 100%;
		}
	}
}
