<div class="section-subscription">
	<div class="container">
		<div class="section-subscription-title" data-lfr-editable-id="01-text" data-lfr-editable-type="text">
			Get updates to your inbox
		</div>

		<div class="section-subscription-details" data-lfr-editable-id="02-text" data-lfr-editable-type="text">
			Serving our customers insightful safety news and resources is part of how we care for the greater good.
		</div>

		<form class="form-inline section-subscription-form">
			<div class="form-group mx-sm-3 mb-2">
				<label for="inputPassword2" class="sr-only">Password</label>

				<input class="form-control form-control-lg" id="inputPassword2" placeholder="Enter your email address *" type="password" />
			</div>

			<button type="submit" class="btn btn-lg btn-primary mb-2 shadow">Sign Up</button>
		</form>

		<div class="input-info-text" data-lfr-editable-id="03-text" data-lfr-editable-type="text">* We respect your inbox and promise we won't spam you.</div>
	</div>
</div>