@import 'atlas-variables';

.portlet-navigation {
	width: 100%;
}

.portlet-wiki {
	.child-pages h3 {
		margin-bottom: 0.2em;
	}

	.syntax-help h4 {
		margin-bottom: 0.3em;
	}
}

.table-list {
	border-collapse: separate;
	border-spacing: 0;
}

:-ms-input-placeholder {
	color: $gray-500 !important;
}

:-ms-input-placeholder.form-builder-page-header-title,
:-ms-input-placeholder.form-builder-page-header-description,
.form-builder-page-header-description:-ms-input-placeholder,
.form-builder-page-header-title:-ms-input-placeholder {
	color: $gray-500 !important;
}

.form-control-inline {
	&:-ms-input-placeholder,
	&::-ms-input-placeholder {
		color: $gray-500;
		font-style: italic;
	}
}

.control-menu-container.has-control-menu-fixed {
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: all 0.5s ease;

	body.open #wrapper & {
		padding-left: 320px;
	}
}
