$appBuilderTableViewSidebarWidth: 340px;
$appBuilderTableViewTransitionTime: 0.5s;

.app-builder-table-view {
	margin-top: 64px;

	&__content {
		margin: 1.5rem $appBuilderTableViewSidebarWidth 0 0;
		transition: margin ease $appBuilderTableViewTransitionTime;

		&--sidebar-closed {
			margin-right: 0;
		}
	}

	&__sidebar {
		.default,
		.secondary {
			border-left: 1px solid $grayColor400;
			flex-flow: column;
			height: 100%;
			position: fixed;
			right: 0;
			top: 120px;
			transition: transform ease $appBuilderTableViewTransitionTime;
			width: $appBuilderTableViewSidebarWidth;
		}

		.default {
			transform: translateX(0%);
		}

		.secondary {
			transform: translateX(100%);
			width: 73px;
		}

		&--closed {
			.default {
				transform: translateX(100%);
			}

			.secondary {
				transform: translateX(0%);
			}
		}
	}

	.data-layout-builder-sidebar {
		@media (max-width: 576px) {
			top: 112px;
		}

		.sidebar-header {
			padding-bottom: 1rem;

			&.table-view-filters-sidebar-header {
				border-bottom: 1px solid $grayColor400;
			}

			.btn-monospaced {
				width: 3rem;
			}

			.field-type {
				border-width: 0;
				cursor: inherit;
				padding: 0;

				&:hover {
					border-color: transparent;
					box-shadow: none;
					transform: none;
				}

				.app-builder-field-sticker {
					height: 2.5rem;
					width: 2.5rem;
				}

				.list-group-title {
					font-size: 1rem;
				}

				.list-group-subtitle {
					font-size: 0.75rem;
				}
			}
		}

		.sidebar-body {
			height: calc(100vh - 192px);
			padding-top: 0;

			.table-view-filters-header {
				margin-bottom: 0;
			}

			.table-view-filters-list:not(.single-field) .table-view-filter {
				border-bottom: 1px solid $grayColor400;
				padding: 1.5rem 0;
			}

			.component-tbar {
				.container-fluid {
					margin-top: 4px;
				}
			}
		}

		.multiple-select-filter-trigger {
			align-items: center;
			background-color: $whiteColor200;
			border-color: $grayColor400;
			color: $grayColor900;
			display: flex;
			font-weight: normal;
			text-align: left;
			width: 100%;

			.multiple-select-filter-values {
				flex-grow: 1;
			}

			&.empty {
				color: $grayColor700;
			}
		}
	}

	.column-drop-zone-right {
		border-right-width: 2px;
		position: absolute;

		&.target-over {
			border-right-color: $primaryColor;
			border-right-style: solid;
		}
	}

	.column-drop-zone-left {
		border-left-width: 2px;
		position: absolute;

		&.target-over {
			border-left-color: $primaryColor;
			border-left-style: solid;
		}
	}

	.column-overlay {
		border: 1px solid $primaryColor;
		pointer-events: none;
		position: absolute;

		&.selected {
			border-width: 2px;

			header {
				left: -2px;
				top: -28px;
			}
		}

		header {
			background-color: $primaryColor;
			border: 2px solid $primaryColor;
			border-radius: 4px 4px 0 0;
			color: $whiteColor;
			left: -1px;
			line-height: 20px;
			padding: 0 8px;
			pointer-events: all;
			position: absolute;
			top: -27px;
			z-index: 50;

			.btn {
				color: $whiteColor;
				height: 20px;
				line-height: 12px;
				padding: 0;
				width: 20px;
			}

			label {
				color: $whiteColor;
				margin-bottom: 0;
				margin-right: 5px;
			}
		}
	}

	.data-layout-builder-sidebar-content {
		margin-top: 3.5rem;
		padding-top: 1.5rem;
	}

	.empty-drop-zone {
		background: $whiteColor200;
		border: 2px dashed $grayColor600;
		border-radius: 4px;
		box-sizing: border-box;
		color: $grayColor600;
		line-height: 1rem;
		padding: 2rem 1rem;
		text-align: center;

		&.target-droppable {
			animation-direction: alternate;
			animation-duration: 0.7s;
			animation-iteration-count: infinite;
			animation-name: drop-color;
			animation-timing-function: $animation;
			background-color: $blueColor300;
			border-color: $primaryColor;
			color: $primaryColor;
		}

		&.target-over {
			border-color: $primaryColor;
			border-style: solid;

			p {
				visibility: hidden;
			}
		}

		@keyframes drop-color {
			0% {
				background-color: $whiteColor200;
			}

			100% {
				background-color: rgba($blueColor200, 0.3);
			}
		}
	}

	.empty-drop-zone-header {
		border-bottom: 1px solid $grayColor400;
		margin: 1.5rem -1.5rem;
	}
}

.publications-enabled .app-builder-table-view {
	&__sidebar {
		.default,
		.secondary {
			top: 144px;
		}
	}
}
