//
// Animations
//

$defaultTransitionDuration: 0.5s;

//
// Colors
//

$fragmentCardImageBorderColor: #e7e7ed;
$fragmentCardNoPreviewBackgroundColor: #e7e7ed;
$fragmentCardNoPreviewIconColor: #a7a9bc;
$fragmentCardTitleColor: #6b6c7e;
$sidebarBorderColor: #e7e7ed;
$sidebarButtonBackgroundColor: #393a4a;
$sidebarButtonColor: #a7a9bc;
$sidebarButtonHoverColor: #fff;
$sidebarButtonSeparatorColor: #6b6c7e;
$sidebarCollapseLineColor: #dfdfe9;
$sidebarContentBackgroundColor: #fff;
$sidebarLayoutPreviewBorderColor: #6b6c7e;
$sidebarLayoutPreviewColumnColor: #ddd;
$toolbarBorderColor: fade_out(#dcdcdc, 0.5);

//
// Layout
//

$pageEditorSpacing: 8px;

$controlMenuHeight: 56px;
$fragmentCardImageMaxHeight: 200px;
$fragmentCardMarginBottom: $pageEditorSpacing * 2;
$fragmentCardPadding: $pageEditorSpacing;
$fragmentCardWidth: calc(50% - #{$pageEditorSpacing});
$sidebarContentWidth: 280px;
$sidebarLayoutPreviewBorderRadius: 2px;
$sidebarLayoutPreviewRowHeight: 40px;
$sidebarLayoutPreviewSpacing: 2px;
$toolbarBorderWidth: 1px;
$toolbarHeight: 64px;

//
// z-indexes, ordered numerically.
//

$zIndexToolbar: 971;
$zIndexSidebar: 972;
