// Animations

$defaultTransitionDuration: 0.5s;

// Colors

$colorInfoL1: #89a7e0;
$colorPrimary: #0b5fff;

$columnOverlayGridColor: #ff5f5f;
$dragSourceBackgroundColor: #e1ebff;
$fragmentEntryLinkErrorBorderColor: #da1414;
$sidebarBorderColor: #e7e7ed;
$sidebarButtonBackgroundColor: #393a4a;
$sidebarButtonColor: #a7a9bc;
$sidebarButtonHoverColor: #fff;
$sidebarButtonSeparatorColor: #6b6c7e;
$sidebarContentBackgroundColor: #fff;
$toolbarBorderColor: fade_out(#dcdcdc, 0.5);

// Layout

$pageEditorSpacing: 8px;

$controlMenuHeight: 48px;
$desktopControlMenuHeight: 56px;
$managementBarHeight: 112px;
$sidebarButtonWidth: 40px;
$sidebarContentWidth: 280px;
$toolbarBorderWidth: 1px;
$toolbarHeight: 64px;

$floatingToolbarPanelMinWidth: 288px;

$dropTargetWidth: 5px;
$fragmentsEditorSpacing: 8px;

// z-indexes, ordered numerically.

$zIndexToolbar: 971;
$zIndexSidebar: 972;
$floatingToolbarZIndex: 976;
$dragSourceZIndex: 977;
$translationStatusListZIndex: 977;
$floatingToolbarPanelZIndex: 989;
$portletTopperZIndex: 990;
$dragPreviewLayer: 991;
$shimZIndex: 9999;
