// Animations

$defaultTransitionDuration: 0.5s;

// Layout

$pageEditorSpacing: 8px;

$sidebarButtonWidth: 42px;
$sidebarContentWidth: 280px;
$toolbarBorderWidth: 1px;

$floatingToolbarPanelMinWidth: 288px;

$controlMenuHeight: 48px;
$desktopControlMenuHeight: 56px;

$dropTargetWidth: 5px;

// z-indexes, ordered numerically.

$floatingToolbarZIndex: 976;
$dragSourceZIndex: 977;
$translationStatusListZIndex: 977;
$portletTopperZIndex: 986;
$floatingToolbarPanelZIndex: 987;
$floatingToolbarZIndex: 987;
$sidebarZIndex: 988;
$dragPreviewLayer: 991;
$undoHistoryOverlayZIndex: 1001;
$modalZIndex: 1050;
