//
// Animations
//

$defaultTransitionDuration: 0.5s;

//
// Colors
//

$sidebarBorderColor: #e7e7ed;
$sidebarButtonBackgroundColor: #393a4a;
$sidebarButtonColor: #a7a9bc;
$sidebarButtonHoverColor: #fff;
$sidebarButtonSeparatorColor: #6b6c7e;
$sidebarContentBackgroundColor: #fff;
$toolbarBorderColor: fade_out(#dcdcdc, 0.5);

//
// Layout
//

$pageEditorSpacing: 8px;

$controlMenuHeight: 56px;
$sidebarContentWidth: 280px;
$toolbarBorderWidth: 1px;
$toolbarHeight: 64px;

//
// z-indexes, ordered numerically.
//

$zIndexToolbar: 971;
$zIndexSidebar: 972;
