.page-editor__allowed-fragment__modal {
	.modal-body {
		padding: 0;
	}

	.page-editor__allowed-fragment__new-fragments-checkbox {
		background: #f7f8f9;
		padding: 12px 24px;

		.custom-control {
			margin-bottom: 0;
		}

		span {
			font-weight: normal;
		}
	}

	.page-editor__allowed-fragment__tree {
		max-height: 40vh;
		overflow-y: auto;

		.lfr-treeview-node-list-item {
			margin-bottom: 0;

			&:not(.with-children) span {
				font-weight: normal;
			}
		}

		.lfr-treeview-node-list-item__children {
			padding-left: 32px;
		}

		.lfr-treeview-node-list-item__button-icon {
			background-color: #f1f2f5;
			color: #6b6c7e;
		}

		& > .lfr-treeview-node-list {
			margin-left: 8px;

			border-left: 1px solid #e7e7ed;

			.lfr-treeview-node-list {
				border-left-color: #e7e7ed;
				border-left-style: solid;
			}
		}
	}
}
