@import 'atlas-variables';

.page-editor__allowed-fragment__modal {
	.modal-body {
		padding: 0;
	}

	.page-editor__allowed-fragment__new-fragments-checkbox {
		background: $gray-100;
		padding: 12px 24px;

		.custom-control {
			margin-bottom: 0;
		}

		span {
			font-weight: normal;
		}
	}

	.page-editor__allowed-fragment__tree {
		height: 40vh;
		overflow-y: auto;

		.lfr-treeview-node-list-item {
			margin-bottom: 0;

			&:not(.with-children) span {
				font-weight: normal;
			}
		}

		.lfr-treeview-node-list-item__children {
			padding-left: 32px;
		}

		.lfr-treeview-node-list-item__button-icon {
			background-color: $light;
			color: $secondary;
		}

		& > .lfr-treeview-node-list {
			margin-left: 8px;

			border-left: 1px solid $secondary-l2;

			.lfr-treeview-node-list {
				border-left-color: $secondary-l2;
				border-left-style: solid;
			}
		}
	}
}
