@import 'variables';

.has-control-menu.has-edit-mode-menu #wrapper {
	height: calc(100vh - #{$controlMenuHeight + $managementBarHeight});
	margin-top: $controlMenuHeight + $managementBarHeight;
	overflow-y: auto;

	@media (min-width: 768px) {
		height: calc(
			100vh - #{$desktopControlMenuHeight + $desktopManagementBarHeight}
		);
		margin-top: $desktopControlMenuHeight + $desktopManagementBarHeight;
	}
}
