@import 'variables';

@mixin lfr-drag-indicator($position) {
	@keyframes lfrDragIndicator#{$position} {
		to {
			border-#{$position}-width: $dropTargetWidth;
		}
	}

	animation: lfrDragIndicator#{$position} ease 0.15s;
	animation-fill-mode: forwards;
	border-#{$position}: solid $colorPrimary 0;
}

@keyframes fragmentsEditorDragSource {
	to {
		background-color: $dragSourceBackgroundColor;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		opacity: 1;
		transform: scale(1);
	}
}

.page-editor__drag-source {
	transition: opacity ease 0.2s;
	will-change: opacity;

	&.dragged {
		opacity: 0.6;
	}

	&.dragging {
		background: transparent;
		border: none;
		box-shadow: none;
		height: 64px;
		opacity: 1;
		outline: none;
		padding: 0;
		width: 116px;
		z-index: $dragSourceZIndex;

		& > * {
			display: none;
		}

		&:after {
			animation: fragmentsEditorDragSource ease 0.2s;
			animation-fill-mode: forwards;
			background-color: fade_out($dragSourceBackgroundColor, 1);
			border-radius: 4px;
			box-shadow: none;
			color: $colorPrimary;
			content: attr(data-drag-source-label);
			cursor: grabbing;
			display: block;
			font-size: 12px;
			font-weight: 600;
			height: 64px;
			opacity: 0;
			overflow: hidden;
			padding: 8px;
			text-align: center;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 116px;
		}
	}

	&.page-editor__drag-handler,
	.page-editor__drag-handler {
		cursor: pointer;
		cursor: grab;
	}
}

.page-editor__drop-target {
	&.page-editor__border-bottom {
		border-bottom: none;
	}

	&.page-editor__border-top {
		border-top: none;
	}

	&.page-editor__border-bottom,
	&.page-editor__border-top {
		&:after {
			content: '';
			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}

		&.fragment-entry-link-list__col:after {
			left: $fragmentsEditorSpacing * 1.5;
			width: calc(100% - #{$fragmentsEditorSpacing * 3});
		}
	}

	&.page-editor__border-bottom:after {
		@include lfr-drag-indicator('bottom');
	}

	&.page-editor__border-top:after {
		@include lfr-drag-indicator('top');
	}
}
