@import 'atlas-variables';

.page-editor__drop-zone {
	align-items: center;
	background: $gray-100;
	border: 1px solid $secondary-l2;
	color: $secondary;
	display: flex;
	flex-direction: column;
	font-family: $font-family-base;
	justify-content: center;
	min-height: 400px;

	p {
		font-size: 14px;
		max-width: 300px;
		text-align: center;

		&:first-child {
			font-weight: bold;
			margin-bottom: 0.5em;
		}
	}
}
