.page-editor__drop-zone {
	align-items: center;
	background: #f7f8f9;
	border: 1px solid #e7e7ed;
	color: #6b6c7e;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 400px;

	p {
		font-size: 14px;
		max-width: 300px;
		text-align: center;

		&:first-child {
			font-weight: bold;
			margin-bottom: 0.5em;
		}
	}
}
