@import 'atlas-variables';

@import './variables';

.master-page {
	transition: padding-right ease $defaultTransitionDuration;
	will-change: padding-right;

	&--with-sidebar {
		padding-right: $sidebarButtonWidth;
	}

	&--with-sidebar-open {
		padding-right: $sidebarButtonWidth + $sidebarContentWidth;
	}
}
