@import 'atlas-variables';

@import 'variables';

.page-editor {
	transition: padding-right ease $defaultTransitionDuration;
	will-change: padding-right;

	&--with-sidebar {
		padding-right: $sidebarButtonWidth;
	}

	&--with-sidebar-open {
		padding-right: $sidebarButtonWidth + $sidebarContentWidth;
	}

	&__col {
		&.col:after {
			box-shadow: inset 0 0 0 1px rgba(11, 95, 255, 0.2);
			left: 12px;
			width: calc(100% - 24px);
		}
		&-resizer {
			border-radius: 50%;
			height: 16px;
			left: 100%;
			padding: 0;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 16px;
			z-index: 1;
			html.rtl & {
				transform: translate(50%, -50%);
			}
		}
		&-resizer:not(:disabled):not(.disabled) {
			cursor: col-resize;
		}
	}
	&__container,
	&__container > .container,
	&__container > .container-fluid,
	&__fragment {
		box-shadow: inset 0 0 0 1px rgba(11, 95, 255, 0.2);
	}

	&__container.empty > .container,
	&__container.empty > .container-fluid,
	&__row.empty {
		min-height: 10em;
	}

	&__editable {
		cursor: pointer;
		display: block;
	}

	&__fragment {
		cursor: pointer;

		.portlet {
			> .portlet-topper {
				background-color: rgba(255, 255, 255, 0.95);
				border: 1px solid $colorInfoL1;
				border-radius: 3px;
				height: 100%;
				min-height: 54px;
				opacity: 0;
				padding: 10px 20px 10px 10px;
				pointer-events: none;
				transform: translateY(0);
				width: 100%;
				z-index: $portletTopperZIndex;
			}

			@include media-breakpoint-up(sm) {
				&:hover,
				&.focus {
					> .portlet-topper {
						opacity: 1;
						pointer-events: all;
						transform: translateY(0);

						.portlet-topper-toolbar {
							position: absolute;
							right: 5px;

							.lexicon-icon {
								fill: $colorPrimary;
								stroke: currentColor;
							}
						}
					}
				}
			}
		}
	}

	&__row.no-gutters .page-editor__col:after {
		left: 0;
		width: 100%;
	}

	&__no-fragments-message {
		background: #f7faff;
		box-shadow: inset 0 0 0 2px #b3cdff;
		padding: 10vh 0;
		transition: box-shadow ease 0.3s;
		will-change: box-shadow;

		&--active {
			box-shadow: inset 0 0 0 4px $colorPrimary;
		}

		.taglib-empty-result-message-header {
			max-width: 120px;
			padding-top: 160px;
		}
	}
}
