@import 'atlas-variables';

@import 'variables';

.page-editor {
	transition: padding-right ease $defaultTransitionDuration;
	will-change: padding-right;

	&--with-sidebar {
		padding-right: $sidebarButtonWidth;
	}

	&--with-sidebar-open {
		@include media-breakpoint-up(sm) {
			padding-right: $sidebarButtonWidth + $sidebarContentWidth;
		}
	}

	&__col &__col__resizer.btn.btn-primary {
		border-radius: 50%;
		cursor: col-resize;
		height: 16px;
		left: 100%;
		padding: 0;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 16px;
		z-index: 1;

		html.rtl & {
			transform: translate(50%, -50%);
		}
	}

	&__col:after,
	&__container,
	&__container > .container:after,
	&__container > .container-fluid:after,
	&__row:after {
		box-shadow: inset 0 0 0 1px rgba(11, 95, 255, 0.2);
	}

	&__col &__row:after,
	&__container &__row:after {
		box-shadow: none;
	}

	&__col,
	&__container > .container,
	&__container > .container-fluid,
	&__row {
		position: relative;

		&:after {
			$spacingUnit: 12px;

			content: '';
			display: block;
			height: 100%;
			left: $spacingUnit;
			pointer-events: none;
			position: absolute;
			top: 0;
			width: calc(100% - #{$spacingUnit * 2});
		}
	}

	&__container.empty > .container,
	&__container.empty > .container-fluid,
	&__row.empty {
		min-height: 10em;
	}

	&__editable {
		cursor: pointer;
		display: block;
	}

	&__row.no-gutters .page-editor__col:after {
		left: 0;
		width: 100%;
	}

	&__no-fragments-message {
		background: #f7faff;
		box-shadow: inset 0 0 0 2px #b3cdff;
		padding: 10vh 0;
		transition: box-shadow ease 0.3s;
		will-change: box-shadow;

		&--active {
			box-shadow: inset 0 0 0 4px $colorPrimary;
		}

		.taglib-empty-result-message-header {
			max-width: 120px;
			padding-top: 160px;
		}
	}

	&__conversion-messages {
		padding-right: $sidebarButtonWidth;
		transition: padding-right ease $defaultTransitionDuration;
		will-change: padding-right;

		&--with-sidebar-open {
			@include media-breakpoint-up(sm) {
				padding-right: $sidebarButtonWidth + $sidebarContentWidth;
			}
		}
	}
}
