@import 'atlas-variables';

@import './variables';

.page-editor__preview-modal {
	.modal-body {
		display: flex;
		justify-content: center;

		& > iframe {
			margin: 0 auto;
		}
	}

	&--with-border .modal-body > iframe {
		border-left: 1px dashed lightgray;
		border-right: 1px dashed lightgray;
	}
}
