@import 'atlas-variables';

@import './variables';

$sidebarButtonHeight: $sidebarButtonWidth;

// z-indexes for childern of page-editor-sidebar (which is a stacking context).

$zIndexButtons: 1;
$zIndexContent: 0;

.page-editor__sidebar {
	display: flex;
	height: calc(100vh - #{$toolbarHeight});
	position: fixed;
	right: 0;
	top: $toolbarHeight;
	z-index: $zIndexSidebar;

	&__buttons {
		background-color: $secondary-d1;
		flex-direction: column;
		padding-top: 16px;
		width: $sidebarButtonWidth;
		z-index: $zIndexButtons;

		a {
			align-items: center;
			border-radius: 0.25rem;
			color: $secondary-l1;
			display: flex;
			height: 2.5em;
			justify-content: center;

			&.active,
			&:active,
			&:focus,
			&:hover {
				color: $white;
			}

			&:focus {
				box-shadow: 0 0 0 0.125rem $white, 0 0 0 0.25rem $primary-l1,
					inset 0 0 rgba(0, 0, 0, 0);
				outline: none;
			}
		}

		button {
			color: $secondary-l1;

			&.active,
			&:active,
			&:focus,
			&:hover {
				color: $white;
			}
		}

		hr {
			border-color: $secondary;
			margin: 12px 8px;
		}
	}

	&__content {
		background-color: $white;
		border-left: 1px solid $secondary-l2;
		height: calc(100vh - #{$controlMenuHeight + $toolbarHeight});
		overflow-x: hidden;
		position: fixed;
		right: $sidebarButtonWidth;
		transform: translateX(100%);
		transition: transform ease $defaultTransitionDuration;
		width: $sidebarContentWidth;
		z-index: $zIndexContent;

		&--open {
			transform: translateX(0);
		}
	}

	body.has-control-menu & {
		height: calc(100vh - #{$controlMenuHeight + $managementBarHeight});
		top: $controlMenuHeight + $managementBarHeight;

		@include media-breakpoint-up(lg) {
			height: calc(100vh - #{$desktopControlMenuHeight + $toolbarHeight});
			top: $desktopControlMenuHeight + $toolbarHeight;
		}
	}
}
