@import 'atlas-variables';

@import './variables';

.page-editor__toolbar {
	background-color: $white;
	border-bottom: $toolbarBorderWidth solid fade_out($secondary-l2, 0.5);
	color: $secondary;
	margin-bottom: 0;
	width: 100%;

	&--master-layout {
		background-color: $primary-l3;
		border-bottom: 1px solid $primary-l1;
	}

	.btn-secondary:active,
	.btn-secondary[aria-pressed='true'],
	.btn-secondary[aria-pressed='true']:hover {
		background-color: $gray-200;
		border-color: $gray-400;
	}

	& > .container-fluid {
		flex-direction: row;
		justify-content: flex-start;
		padding: 0;
		white-space: nowrap;

		> .navbar-nav {
			padding: 12px;

			&.start {
				align-self: flex-start;
				order: 1;
			}

			&.middle {
				justify-content: flex-start;
				order: 2;
			}

			&.end {
				box-shadow: inset 0 -1px 0 0 fade-out($secondary-l2, 0.5);
				flex-basis: 100%;
				justify-content: flex-end;
				order: 0;
			}
		}

		@include media-breakpoint-up(xl) {
			flex-wrap: nowrap;

			> .navbar-nav {
				padding: 16px 12px;

				&.start {
					order: 0;
				}

				&.middle {
					flex: 1;
					justify-content: center;
					order: 1;
				}

				&.end {
					box-shadow: none;
					flex-basis: auto;
					order: 2;
				}
			}
		}
	}
}
