@import 'atlas-variables';

@import './variables';

.page-editor-toolbar {
	background-color: #fff;
	border-bottom: $toolbarBorderWidth solid $toolbarBorderColor;
	color: #6b6c7e;
	width: 100%;
	z-index: $zIndexToolbar;

	&--master-layout {
		background-color: #f0f5ff;
		border-bottom: 1px solid #80acff;
	}

	button {
		color: #6b6c7e;
	}

	button.btn-primary {
		color: #fff;
	}

	button.btn-secondary {
		background-color: #fff;
		color: #6b6c7e !important;
	}

	& > .container-fluid {
		flex-direction: column;
		padding: 0;
		white-space: nowrap;

		@include media-breakpoint-up(lg) {
			flex-direction: unset;
		}

		> .navbar-nav {
			padding: 12px;

			@include media-breakpoint-up(lg) {
				padding-bottom: 16px;
				padding-top: 16px;
			}
			&:first-child {
				align-self: flex-start;
				flex-grow: 1;
				order: 1;
				padding-right: 0;

				@include media-breakpoint-up(lg) {
					order: unset;
				}
			}

			&:last-child {
				border-bottom: $toolbarBorderWidth solid $toolbarBorderColor;
				justify-content: flex-end;
				order: 0;
				padding-left: 4px;
				width: 100%;

				@include media-breakpoint-up(lg) {
					border-bottom: 0;
					width: unset;
				}
			}
		}
	}
}
