@import './variables';

.page-editor-toolbar {
	background-color: #fff;
	border-bottom: $toolbarBorderWidth solid $toolbarBorderColor;
	color: #6b6c7e;
	height: $toolbarHeight;
	left: 0;
	position: fixed;
	top: $controlMenuHeight;
	width: 100%;
	z-index: $zIndexToolbar;

	&--master-layout {
		background-color: #f0f5ff;
		border-bottom: 1px solid #80acff;
	}

	button {
		color: #6b6c7e;
	}

	button.btn-primary {
		color: #fff;
	}

	button.btn-secondary {
		background-color: #fff;
		color: #6b6c7e !important;
	}

	@media (min-width: 768px) {
		body.open & {
			left: 320px;
			width: calc(100% - 320px);
		}
	}

	@media (max-width: 768px) {
		height: 96px;
		top: 48px;
	}

	& > .container-fluid {
		@media (max-width: 768px) {
			flex-direction: column;
			height: $managementBarHeight;
			padding: 0;
			white-space: nowrap;

			> .navbar-nav:first-child {
				align-self: flex-start;
				flex-grow: 1;
				order: 1;
				padding-left: 12px;
			}

			> .navbar-nav:last-child {
				border-bottom: $toolbarBorderWidth solid $toolbarBorderColor;
				justify-content: flex-end;
				order: 0;
				padding-left: 4px;
				padding-right: 12px;
				width: 100%;
			}
		}
	}
}
