@import './variables';

.page-editor-toolbar {
	background-color: #fff;
	border-bottom: $toolbarBorderWidth solid $toolbarBorderColor;
	color: #6b6c7e;
	height: $toolbarHeight;
	left: 0;
	position: fixed;
	top: $controlMenuHeight;
	width: 100%;
	z-index: $zIndexToolbar;

	button {
		color: #6b6c7e;
	}

	button.btn-primary {
		color: #fff;
	}

	button.btn-secondary {
		color: #6b6c7e;
	}
}
