@import 'atlas-variables';

@import './variables';

.page-editor__toolbar {
	background-color: $white;
	border-bottom: $toolbarBorderWidth solid fade_out($secondary-l2, 0.5);
	color: $secondary;
	margin-bottom: 0;
	width: 100%;

	&--master-layout {
		background-color: $primary-l3;
		border-bottom: 1px solid $primary-l1;

		.responsive-mode.navbar-nav:first-child .nav-item:last-child {
			@include media-breakpoint-up(lg) {
				left: 50%;
				margin-left: 0;
				position: absolute;
				transform: translateX(-50%);
			}
		}
	}

	button {
		color: $secondary;
	}

	button.btn-primary {
		color: $white;
	}

	button.btn-secondary {
		background-color: $white;
		color: $secondary !important;
	}

	& > .container-fluid {
		flex-direction: column;
		padding: 0;
		white-space: nowrap;

		@include media-breakpoint-up(lg) {
			flex-direction: row;
		}

		> .navbar-nav {
			order: 2;
			padding: 12px;

			@include media-breakpoint-up(lg) {
				padding-bottom: 16px;
				padding-top: 16px;
			}
			&:first-child {
				align-self: flex-start;
				flex: 1;
				order: 1;
				padding-right: 0;

				@include media-breakpoint-up(lg) {
					order: 0;
				}

				&.responsive-mode .nav-item:last-child {
					margin-left: 16px;
					@include media-breakpoint-up(lg) {
						left: calc(50% + 47px);
						margin-left: 0;
						position: absolute;
						transform: translateX(-50%);
					}
					.btn.active .lexicon-icon {
						fill: $dark;
					}
				}
			}

			&:last-child {
				border-bottom: $toolbarBorderWidth solid
					fade_out($secondary-l2, 0.5);
				justify-content: flex-end;
				order: 0;
				padding-left: 4px;
				width: 100%;

				@include media-breakpoint-up(lg) {
					border-bottom: 0;
					width: auto;
				}
			}
		}
	}
}
