@import 'atlas-variables';

@import './variables';

.page-editor__topper {
	$borderWidth: 2px;
	$color: $white;
	$showDuration: 0.2s;

	position: relative;

	&:after {
		box-shadow: inset 0 0 0 $borderWidth fade_out($primary-l2, 1);
		content: '';
		display: block;
		height: 100%;
		left: 0;
		pointer-events: none;
		position: absolute;
		top: 0;
		transition: box-shadow ease $showDuration;
		width: 100%;
	}

	.page-editor__row:not(.no-gutters) > .page-editor__col:before {
		$spacingUnit: 12px;

		left: $spacingUnit;
		width: calc(100% - #{$spacingUnit * 2});
	}

	&:focus {
		outline: none;
	}

	&.dragged {
		opacity: 0.5;
	}

	&__bar {
		background-color: $primary;
		border-radius: 2px 2px 0 0;
		bottom: calc(100% + #{$borderWidth});
		box-shadow: 0 0 0 $borderWidth $primary;
		color: $color;
		font-size: 12px;
		height: 22px;
		left: $borderWidth;
		line-height: 22px;
		max-width: calc(100% - #{$borderWidth * 2});
		opacity: 0;
		padding: 0 8px 0 4px;
		position: absolute;
		transition: box-shadow ease $showDuration, opacity ease $showDuration;
		z-index: -1;

		&--inset {
			border-radius: 0 0 2px;
			top: $borderWidth;
			transform: translateY(0);
		}

		&--mapped {
			background-color: $purple;
			box-shadow: 0 0 0 $borderWidth $purple;
		}
	}

	&.active > &__bar {
		opacity: 1;
		transform: translateY(2px);
		z-index: $portletTopperZIndex + 1;
	}

	&.hovered:after {
		box-shadow: inset 0 0 0 $borderWidth $primary-l1;
	}

	&.active:after {
		box-shadow: inset 0 0 0 $borderWidth $primary;
		z-index: 1;
	}

	&.drag-over-bottom:after {
		border-bottom: 4px solid $primary-l1;
	}

	&.drag-over-top:after {
		border-top: 4px solid $primary-l1;
	}

	&.drag-over-bottom.page-editor__col {
		&:after {
			border: none;
		}

		&:before {
			border-bottom: 4px solid $primary-l1;
		}
	}

	&.drag-over-top.page-editor__col {
		&:after {
			border: none;
		}

		&:before {
			border-top: 4px solid $primary-l1;
		}
	}

	&.drag-over-middle .page-editor__container > .container:after,
	&.drag-over-middle .page-editor__container > .container-fluid:after,
	&.drag-over-middle.page-editor__col:before,
	&.drag-over-middle.page-editor__collection-item:before {
		box-shadow: inset 0 0 0 4px $primary-l1;
	}

	&.drag-over-middle .page-editor__no-fragments-message {
		border: 2px solid $primary-l1;

		.page-editor__no-fragments-message__title {
			color: $gray-400;
		}
	}

	&.not-droppable .page-editor__container > .container:after,
	&.not-droppable.page-editor__col:after,
	&.not-droppable.page-editor__collection-item:after {
		box-shadow: inset 0 0 0 1px $danger;
		position: absolute;
	}
	&.not-droppable.page-editor__col[data-advice]:before,
	&.not-droppable.page-editor__collection-item[data-advice]:before,
	&.not-droppable .page-editor__container[data-advice]:before {
		background-color: $danger;
		border-radius: 2px;
		color: $white;
		content: attr(data-advice) ' ';
		font-size: 10px;
		height: 20px;
		left: 16px;
		padding: 2px 6px;
		position: absolute;
		transform: translateY(4px);
		width: auto;
	}
	&.not-droppable.page-editor__col[data-advice]:before,
	&.not-droppable.page-editor__collection-item[data-advice]:before {
		height: auto;
		width: calc(100% - 32px);
		@include media-breakpoint-up(lg) {
			height: 20px;
			width: auto;
		}
	}
	&.not-droppable.page-editor__collection-item[data-advice]:before {
		left: 4px;
	}

	&__drag-icon {
		cursor: grab;
		height: 16px;
		top: 1px;
		width: 16px;
	}

	&__icon {
		fill: $color;
		padding: 0;
		position: relative;
	}

	&__item {
		margin: 0;
	}

	&__title {
		cursor: default;
		font-weight: 600;
		margin-right: 8px;
		min-width: 44px;
		overflow: hidden;
		text-align: left;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&--mapped {
		&:after {
			box-shadow: inset 0 0 0 1px #dfc9ff;
		}

		&.hovered:after {
			box-shadow: inset 0 0 0 $borderWidth fade_out($purple, 0.5);
		}

		&.active:after {
			box-shadow: inset 0 0 0 $borderWidth $purple;
		}
	}
}
