@import './variables';

.fragments-editor__topper {
	background-color: $topperBackgroundColor;
	border-radius: $topperBorderRadius $topperBorderRadius 0 0;
	bottom: calc(100% + #{$topperBorderWidth});
	box-shadow: 0 0 0 $topperBorderWidth $topperBorderColor;
	color: $topperColor;
	cursor: pointer;
	font-size: 12px;
	height: 24px;
	left: $topperBorderWidth;
	line-height: 24px;
	max-width: calc(100% - #{$topperBorderWidth * 2});
	opacity: 0;
	padding: 0 8px 0 4px;
	position: absolute;
	transform: translateY(100%);
	transition: box-shadow ease $topperShowDuration,
		transform ease ($topperShowDuration * 2),
		opacity ease ($topperShowDuration * 0.667);
	z-index: $topperZIndex;

	.tbar-nav {
		min-width: 44px;
	}

	&__drag-icon {
		height: 16px;
		width: 16px;
	}

	&__icon {
		fill: $topperColor;
		padding: 0;
		position: relative;
		top: 1px;
	}

	&__item {
		margin: 0;
		min-width: 0;
	}

	&__title {
		font-weight: 600;
		margin-right: 16px;
		overflow: hidden;
		text-align: left;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&-wrapper {
		position: relative;
	}

	&-wrapper:after {
		box-shadow: inset 0 0 0 $topperBorderWidth
			fade_out($topperBorderColor, 1);
		content: '';
		display: block;
		height: 100%;
		left: 0;
		pointer-events: none;
		position: absolute;
		top: 0;
		transition: box-shadow ease $topperShowDuration;
		width: 100%;
	}

	&-wrapper:focus {
		outline: none;
	}

	&-wrapper--active > .fragments-editor__topper {
		background-color: $topperActiveBackgroundColor;
		box-shadow: 0 0 0 $topperBorderWidth $topperActiveBorderColor;
	}

	&-wrapper--active,
	&-wrapper--hovered {
		outline: none;
		z-index: $topperHoverZIndex;

		&:after {
			box-shadow: inset 0 0 0 $topperHoveredBorderWidth $topperBorderColor;
			transition: box-shadow ease ($topperShowDuration + $topperShowDelay);
		}
	}

	&-wrapper--highlighted {
		&:after {
			box-shadow: inset 0 0 0 $topperBorderWidth $topperBorderColor;
		}
	}

	&-wrapper--active:after {
		box-shadow: inset 0 0 0 $topperFocusedBorderWidth
			$topperActiveBorderColor;
		transition: box-shadow ease ($topperShowDuration * 0.5);
	}

	&-wrapper--active > .fragments-editor__topper,
	&-wrapper--hovered > .fragments-editor__topper {
		opacity: 1;
		transform: translateY(1px);
		transition: background-color ease $topperShowDuration,
			box-shadow ease $topperShowDuration,
			transform ease ($topperShowDuration * 0.667) $topperShowDelay,
			opacity ease $topperShowDuration $topperShowDelay,
			z-index linear 1ms ($topperShowDuration + $topperShowDelay);
		z-index: $topperHoverZIndex;
	}

	&-wrapper--active,
	&-wrapper--active > .fragments-editor__topper {
		z-index: $topperActiveZIndex;
	}

	&-wrapper--error,
	&-wrapper--error.fragments-editor__topper-wrapper--active,
	&-wrapper--error.fragments-editor__topper-wrapper--hovered {
		border-color: $fragmentEntryLinkErrorBorderColor;

		> .fragments-editor__topper {
			background-color: $fragmentEntryLinkErrorBorderColor;
			box-shadow: 0 0 0 $topperBorderWidth
				$fragmentEntryLinkErrorBorderColor;
		}

		&:after {
			box-shadow: inset 0 0 0 $topperFocusedBorderWidth
				$fragmentEntryLinkErrorBorderColor;
			transition: box-shadow ease ($topperShowDuration * 0.5);
		}
	}
}
