@import './variables';

.page-editor__topper {
	$activeBackgroundColor: #004ad7;
	$backgroundColor: #0b5fff;
	$borderWidth: 2px;
	$color: #fff;
	$showDuration: 0.2s;

	position: relative;

	&:after {
		box-shadow: inset 0 0 0 $borderWidth fade_out($backgroundColor, 1);
		content: '';
		display: block;
		height: 100%;
		left: 0;
		pointer-events: none;
		position: absolute;
		top: 0;
		transition: box-shadow ease $showDuration;
		width: 100%;
	}

	&:focus {
		outline: none;
	}

	&.dragged {
		opacity: 0.5;
	}

	&__bar {
		background-color: $backgroundColor;
		border-radius: 2px 2px 0 0;
		bottom: calc(100% + #{$borderWidth});
		box-shadow: 0 0 0 $borderWidth $backgroundColor;
		color: $color;
		font-size: 12px;
		height: 24px;
		left: $borderWidth;
		line-height: 24px;
		max-width: calc(100% - #{$borderWidth * 2});
		opacity: 0;
		padding: 0 8px 0 4px;
		position: absolute;
		transform: translateY(100%);
		transition: box-shadow ease $showDuration,
			transform ease ($showDuration * 1.5), opacity ease $showDuration;
		z-index: -1;
	}

	&.active > &__bar,
	&.hovered > &__bar {
		opacity: 1;
		transform: translateY(1px);
		transition-delay: 0.3s;
		z-index: 3;
	}

	&.hovered:after {
		box-shadow: inset 0 0 0 $borderWidth $backgroundColor;
	}

	&.active:after {
		box-shadow: inset 0 0 0 $borderWidth $activeBackgroundColor;
	}

	&.active > &__bar {
		background-color: $activeBackgroundColor;
		box-shadow: 0 0 0 $borderWidth $activeBackgroundColor;
	}

	&.drag-over-middle .page-editor__container > .container-fluid {
		border: 4px solid $activeBackgroundColor;
	}

	&.drag-over-bottom:after {
		border-bottom: 4px solid $activeBackgroundColor;
	}

	&.drag-over-top:after {
		border-top: 4px solid $activeBackgroundColor;
	}

	&.page-editor__col.drag-over-top:after {
		border: 4px solid #004ad7;
	}

	&.page-editor__col.drag-over-bottom:after {
		border: 4px solid #004ad7;
	}

	&__drag-icon {
		cursor: grab;
		height: 16px;
		top: 1px;
		width: 16px;
	}

	&__icon {
		fill: $color;
		padding: 0;
		position: relative;
	}

	&__item {
		margin: 0;
	}

	&__title {
		cursor: default;
		font-weight: 600;
		margin-right: 8px;
		min-width: 44px;
		overflow: hidden;
		text-align: left;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
