@import 'atlas-variables';

.page-editor__translation {
	min-width: 35ch;

	&__label {
		text-transform: uppercase;

		&-wrapper {
			width: auto;
		}

		&.default {
			border-color: $info;
			color: $info;
		}

		&.untranslated,
		&.translating {
			border-color: $warning;
			color: $warning;
		}

		&.translated {
			border-color: $success;
			color: $success;
		}
	}
}
