$brand-color: #FED931;

$brand-color-light: #262525;
$brand-color-extra-light: #373737;
$brand-dark: #020202;

$brand-border-color: #CFC5B8;

$brand-text-color: $brand-dark;
$brand-text-invert: #FFF;

$bg-color-main: #F7F7F7;
$bg-color-secondary: #E7E7E7;