#minium .add-to-cart {
	.btn-lg {
		margin: 0 1.25rem;
		padding: 0 2rem;
	}

	.cart-icon {
		font-size: 1rem;

		&::after,
		&::before {
			font-size: 0.8rem;
			font-weight: normal;
			left: 62%;
			top: -40%;
		}
	}
}

#minium .product-detail-actions .add-to-cart {
	margin: 0 !important;
}
