.cart-flusher {
	align-items: center;
	display: flex;
	font-size: 12px;
	height: 100%;
	position: relative;
	white-space: nowrap;
	width: 50%;

	.confirmation-box {
		opacity: 0;
		transition: all 0.2s ease-out;

		.btn {
			border: 1px solid $color-fg-alt;
			border-radius: 5px;
			color: $color-fg-alt;
			height: 30px;
			margin: 0 7px;
			padding: 0;
			transition: all $micro-transition;
			width: 45px;

			&-outline-danger {
				color: $color-mood-bad;

				&:hover {
					background-color: $color-mood-bad;
					border: $color-mood-bad;
					color: $color-bg;
				}
			}

			&-outline-success {
				color: $color-mood-good;

				&:hover {
					background-color: $color-mood-good;
					border-color: $color-mood-good;
					color: $color-bg;
				}
			}
		}
	}

	.confirmation-box,
	.link-remove-items {
		display: inline-block;
		position: absolute;
		right: 0;
	}

	.link-remove-items {
		opacity: 1;
		transition: opacity 0.2s ease-out, transform 0.2s ease-out;
		transition-delay: 0.2s;
	}

	&:not(.is-asking) {
		.confirmation-box {
			pointer-events: none;
			transform: translateX(10%);
		}
	}

	&.is-asking {
		.confirmation-box {
			opacity: 1;
			transition: opacity 0.35s, transform 0.25s ease-out;
			transition-delay: 0.3s;
		}

		.link-remove-items {
			opacity: 0;
			transform: translateX(-10%);
		}
	}
}
