@import "mixins";

@import "mixins/site_navigation_menu_item_states";

$controlBarDesktopHeight: 120px;

body.has-control-menu .contextual-sidebar {
	margin-top: 1px;
}

@include sm {
	body.has-control-menu .contextual-sidebar {
		height: calc(100vh - #{$controlBarDesktopHeight});
		top: $controlBarDesktopHeight;
	}
}

.site-navigation-menu-item {
	box-sizing: border-box;
	max-width: 100%;
	overflow: hidden;
	padding: 2px;

	& > & {
		padding-left: 50px;
	}

	&--dragging .card {
		opacity: 0.4;
		outline: 2px dashed #65B6F0;
	}

	&--selected > &__content .card,
	&.dragging > &__content .card {
		background-color: #F0F5FF;
	}

	&__content {
		cursor: pointer;
		max-width: 100%;
		position: relative;
		width: 40ch;
	}

	&__drag-icon {
		cursor: move;
		visibility: hidden;
		z-index: 1;
	}

	&:focus > &__content &__drag-icon,
	&__content:hover &__drag-icon {
		visibility: visible;
	}

	&:focus,
	&.dragging {
		@include site-navigation-menu-item-focus;
	}

	&__content:focus-within {
		@include site-navigation-menu-item-focus;
	}

	&:focus > &__content > .card,
	&.dragging > &__content > .card {
		@include site-navigation-menu-item-card-focus;
	}

	&__content:hover > .card {
		@include site-navigation-menu-item-card-focus;
	}
}