@import 'atlas-variables';

@import 'mixins/site_navigation_menu_item_states';

$controlBarDesktopHeight: 120px;
$managementBarHeight: 4rem;
$managementBarMarginBottom: 1.25rem;
$productMenuWidth: 320px;

body.has-control-menu .contextual-sidebar {
	margin-top: 1px;
}

body.open .site-navigation-management-bar {
	width: calc(100vw - #{$productMenuWidth});
}

@include media-breakpoint-up(sm) {
	body.has-control-menu .contextual-sidebar {
		height: calc(100vh - #{$controlBarDesktopHeight});
		top: $controlBarDesktopHeight;
	}
}

.site-navigation-content {
	padding-top: $managementBarHeight + $managementBarMarginBottom;
}

.site-navigation-management-bar {
	position: fixed;
	transition: ease 0.5s;
	transition-property: left, width;
	width: 100vw;
	will-change: left, width;
	z-index: 1;
}

.site-navigation-menu-item {
	box-sizing: border-box;
	max-width: 100%;
	overflow: hidden;
	padding: 2px;

	& > & {
		padding-left: 50px;
	}

	&--dragging .card {
		opacity: 0.4;
		outline: 2px dashed #65b6f0;
	}

	&--selected > &__content .card,
	&.dragging > &__content .card {
		background-color: #f0f5ff;
	}

	&__card {
		display: flex !important;
		width: 95% !important;
	}

	&__content {
		cursor: pointer;
		max-width: 100%;
		position: relative;
		width: 40ch;
	}

	&__drag-icon {
		cursor: move;
		visibility: hidden;
		z-index: 1;
	}

	&:focus > &__content &__drag-icon,
	&__content:hover &__drag-icon {
		visibility: visible;
	}

	&:focus,
	&.dragging {
		@include site-navigation-menu-item-focus;
	}

	&__content:focus-within {
		@include site-navigation-menu-item-focus;
	}

	&:focus > &__content > .card,
	&.dragging > &__content > .card {
		@include site-navigation-menu-item-card-focus;
	}

	&__content:hover > .card {
		@include site-navigation-menu-item-card-focus;
	}
}
