@import 'atlas-variables';

.change-tracking-indicator {
	background-color: $dark-l1;
	border-bottom: 1px solid lighten($dark-l2, 4.3);
	font-size: 12px;
	text-align: center;

	.change-tracking-indicator-button {
		align-items: center;
		background-color: $dark-l1;
		border: none;
		color: $white;
		display: inline-flex;
		font-weight: 600;
		justify-content: center;
		margin: 2px 2px 1px;
		padding: 1px 10px;
		text-decoration: none;
		vertical-align: middle;

		.change-tracking-indicator-icon-publication {
			color: $info-l1;
			margin-right: 6px;
			margin-top: 0;
		}

		.change-tracking-indicator-icon-production {
			color: $success-l1;
			font-size: 16px;
			margin-right: 2px;
			margin-top: 0;
		}

		.change-tracking-indicator-title {
			font-size: 12px;
			font-weight: 600;
		}

		.lexicon-icon-caret-bottom {
			font-size: 13px;
			margin-left: 5px;
			margin-top: 0;
		}
	}
}

.select-publications {
	.list-group {
		padding-left: 24px;
		padding-right: 24px;
	}

	.management-bar {
		padding-left: 24px;
		padding-right: 24px;
	}

	.modal-body.inline-scroller {
		max-height: none;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
	}

	.results-bar {
		margin-bottom: 12px;
	}

	.select-publications-loading {
		opacity: 0.5;
	}
}
