<div class="fjord-header fjord-section">
	<header class="bg-primary fjord-bg-primary py-2 text-white" role="banner">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="navbar navbar-dark navbar-expand-md">
						<div class="navbar-brand text-reset">
							<lfr-editable id="fjord-header-logo" type="rich-text">
								<a class="text-decoration-none text-reset" href="#" title="Fjord">
									<img alt="" class="img-fluid" src="[resources:logo.png]" />
								</a>
							</lfr-editable>
						</div>

						<button aria-controls="navigationCollapse" aria-expanded="false" aria-label="Toggle navigation" class="collapsed ml-auto navbar-toggler text-reset" data-target="#navigationCollapse" data-toggle="liferay-collapse" type="button">
							<span class="d-flex flex-column justify-content-center navbar-toggler-icon">
								<span class="d-block"></span>

								<span class="d-block my-1"></span>

								<span class="d-block"></span>
							</span>
						</button>

						<div class="ml-3 order-md-1">
							[#assign
								isSetupComplete = false
								isSignedIn = false
							/]

							[#if user??]
								[#assign isSetupComplete = user.isSetupComplete() /]
							[/#if]

							[#if themeDisplay??]
								[#assign isSignedIn = themeDisplay.isSignedIn() /]
							[/#if]

							[#if isSetupComplete || !isSignedIn]
								[#if liferay_portlet??]
									[@liferay_portlet.runtime
										portletProviderAction=portletProviderAction.VIEW
										portletProviderClassName="com.liferay.admin.kernel.util.PortalUserPersonalBarApplicationType$UserPersonalBar"
									/]
								[/#if]
							[/#if]
						</div>

						<div aria-expanded="false" class="collapse justify-content-md-end navbar-collapse text-center" id="navigationCollapse">
							<lfr-widget-nav></lfr-widget-nav>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</header>
</div>