.fragment-title-2 .title-2 {
	border-bottom: solid thin black;
	border-top: solid thin black;
	font-family: inherit;
	font-size: 2em;
	font-weight: 400;
	padding: 1.5em;
	text-align: center;
	text-transform: uppercase;
}