$grayLineColor: #e7e7ed;
$grayTextColor: #6b6c7e;

$removedItemHighlightColor: #ffeef0;
$addedItemHighlightColor: #e6ffed;

.modal-full-screen {
	max-height: 80vh !important;
	max-width: 80vw !important;
	width: 800px;
}

.assign-scopes-modal .inline {
	display: inline-block;
}

.edit-client-credentials-modal {
	.hidden {
		display: none;
	}

	.padlock {
		flex: 1;
	}
}

.borderless {
	border: none;
	padding: 0.5rem;
}

.scope-children-1 {
	margin-left: 1.5rem;
}
.scope-children-2 {
	margin-left: 3rem;
}
.scope-children-3 {
	margin-left: 4.5rem;
}
.scope-children-4 {
	margin-left: 6rem;
}

.removed-scope {
	background-color: $removedItemHighlightColor;
}

.removed-scope.panel .list-group-item {
	background-color: $removedItemHighlightColor;
}

.added-scope {
	background-color: $addedItemHighlightColor;
}

.badge.removed-scope-alias {
	background-color: #ffeef0 !important;
	border-color: #f00 !important;
	border-width: 1px !important;
}

.badge.added-scope-alias {
	background-color: #e6ffed !important;
	border-color: #0f0 !important;
	border-width: 1px !important;
}

.portlet-oauth2-provider-admin {
	.badge-item.global-scope-alias-reference {
		color: $grayTextColor;
	}

	.hidden {
		display: none;
	}

	.inline {
		display: inline-block;
	}

	.list-group .list-group-title {
		font-weight: normal;
	}

	.panel-header .form-group {
		margin-bottom: 0;
	}

	.pencil-wrapper {
		button {
			float: right;
			margin-top: 1.6rem;
		}
		.input-text-wrapper {
			margin-right: 5rem;
		}
	}

	.sheet .panel-group .panel-body {
		margin-bottom: 0;
	}
}

.portlet-oauth2-provider-authorize {
	.consent {
		.panel-body {
			padding: 1.25rem;
		}

		.app-icon,
		.user-icon {
			display: inline-block;
			height: 80px;
			margin-bottom: 1.25rem;
			position: relative;
			width: 80px;
		}

		.user-icon {
			font-size: 2.188rem;
			left: -16px;
			line-height: 80px;
			z-index: 1;
		}

		.app-icon {
			z-index: 2;
		}

		.application-wants-permissions {
			margin-bottom: 2rem;
		}

		.list-group-item {
			border: solid $grayLineColor;
			border-width: 1px 0 0;

			&:first-child {
				border-width: 0;
			}

			.lexicon-icon-check {
				fill: #080;
			}
		}

		.buttons {
			border-top: 1px solid $grayLineColor;
			margin-top: 1.25rem;
			padding-top: 1.25rem;
		}
	}
}

.portlet-oauth2-provider-connected-applications {
	.view-application {
		.app-icon {
			display: block;
			margin-bottom: 1rem;

			img {
				max-height: 88px;
				max-width: 88px;
			}
		}

		.application-information,
		.last-access,
		.authorization {
			span {
				color: $grayTextColor;
			}
		}

		.list-group-item:first-child {
			border: 0;
		}

		.list-group-item {
			border-bottom-width: 0;
			border-left-width: 0;
			border-right-width: 0;
			border-top: 1px solid $grayLineColor;

			.lexicon-icon-check {
				fill: #080;
			}
		}

		.panel-body {
			padding: 1.25rem;
		}

		.activity,
		.permissions {
			border-bottom: 1px solid $grayLineColor;
			margin-bottom: 1rem;
			margin-top: 2rem;
			text-transform: uppercase;
		}

		.buttons {
			margin: 2rem 0 0;
		}

		.remove-access {
			border-color: #da1414;
			color: #da1414;
		}
	}
}
