$product-menu-body-bg: #FFF !default;

$product-menu-collapse-icon-bg: #365D9E !default;

$product-menu-header-bg: #365D9E !default;
$product-menu-header-border: transparent !default;
$product-menu-header-color: #FFF !default;
$product-menu-header-link-color: #FFF !default;
$product-menu-header-link-hover-color: $product-menu-header-link-color !default;

$product-menu-list-group-heading-bg: transparent !default;
$product-menu-list-group-heading-border: transparent !default;
$product-menu-list-group-heading-border-width: 0 !default;

$product-menu-list-group-heading-collapsed-bg: transparent !default;
$product-menu-list-group-heading-collapsed-border: transparent !default;
$product-menu-list-group-heading-collapsed-border-width: 0 !default;

$product-menu-list-group-heading-color: #365D9E !default;

$product-menu-list-group-heading-hover-bg: $product-menu-list-group-heading-bg !default;
$product-menu-list-group-heading-hover-border: $product-menu-list-group-heading-border !default;

$product-menu-list-group-item-bg: transparent !default;
$product-menu-list-group-item-border-width: 0 !default;

$product-menu-nav-equal-height-heading-closed-collapse-icon: '\f0fe' !default;
$product-menu-nav-equal-height-heading-open-collapse-icon: '\f146' !default;

$product-menu-nav-link-active-color: #365D9E !default;
$product-menu-nav-link-color: #365D9E !default;

$product-menu-panel-body-bg: #EEF2F9 !default;
$product-menu-panel-title-active-bg: #DAE3EF !default;
$product-menu-panel-title-active-border: #365D9E !default;
$product-menu-panel-title-active-border-bottom-width: 2px;
$product-menu-panel-title-active-border-left-width: 4px;
$product-menu-panel-title-active-border-style: solid;
$product-menu-panel-title-color: #365D9E !default;

$product-menu-site-administration-color: #365D9E !default;
$product-menu-site-administration-link-active-bg: #3A4D5A !default;
$product-menu-site-administration-link-active-border-radius: 4px !default;
$product-menu-site-administration-link-active-color: #88C37C !default;
$product-menu-site-administration-link-color: $product-menu-nav-link-color !default;

$product-menu-tree-active-bg: #F8FAFD;
$product-menu-tree-active-border: #365D9E;
$product-menu-tree-active-color: #365D9E;
$product-menu-tree-active-hitarea-bg: #365D9E;

$product-menu-tree-border: #365D9E;
$product-menu-tree-border-style: solid;
$product-menu-tree-border-width: 2px;
$product-menu-tree-child-border: #365D9E;
$product-menu-tree-child-border-style: dashed;
$product-menu-tree-child-border-width: 1px;
$product-menu-tree-color: #365D9E;
$product-menu-tree-hitarea-bg: #365D9E;
$product-menu-tree-hitarea-color: #F8FAFD;

$product-menu-width: 320px !default;
$product-menu-zindex: 1035 !default;