@if $compat-buttons {
	.btn-default {
		@extend .btn-secondary;
	}

	.btn-bottom-right {
		bottom: 30px;
		position: fixed;
		right: 20px;
	}

	.btn-action, .btn-action-secondary {
		z-index: 950;
	}

	.btn-action, .btn-action-secondary > .btn {
		@include monospace(2.5rem);

		overflow: hidden;
		padding: 0;
		text-align: center;
		white-space: normal;
		word-wrap: break-word;
	}

	.button-holder {
		display: flex;
	}
}