@if $compat-liferay {
	#navigationCollapse {
		padding-left: $navbar-padding-x;
		padding-right: $navbar-padding-x;

		@include media-breakpoint-up(md) {
			display: block;
		}
	}

	#banner .row:first-child {
		display: block;
	}

	.product-menu .panel-group .panel-heading + .panel-collapse.show {
		border-bottom: 2px solid #65B6F0;
	}

	.lfr-page-layouts.row .list-unstyled {
		display: flex;
		flex-wrap: wrap;
	}

	.fade.in {
		opacity: 1;
	}

	.lfr-add-panel .input-group.search-bar {
		margin: 0;
		padding: 10px;

		.form-control {
			width: 100%;
		}

		.input-group-btn {
			font-size: 1rem;
			margin-top: -11px;
		}
	}

	.input-group.search-bar {
		.search-field {
			display: inline-flex;

			&:first-of-type {
				width: 100%;
			}

			.btn {
				margin: 0;
			}
		}
	}

	// Modals

	.dialog-with-footer .button-holder.dialog-footer {
		background-color: $modal-content-bg;
	}

	// Friendly URL

	.lfr-friendly-url-input-group.input-group {
		.input-group-addon {
			background-color: #E8E8EC;
		}

		.language-value {
			border-radius: 0 0.25rem 0.25rem 0;
			width: auto;
		}
	}

	// Forms builder

	#settings .lfr-ddm-form-page {
		margin-top: 0;
	}

	.autosave-bar .toolbar {
		align-items: center;
	}

	.form-builder-sidebar {
		.tab-content .tab-pane {
			padding: 24px;
			position: static;
		}

		.input-group-container {
			display: flex;

			.input-group-addon {
				background-color: transparent;
				border-width: 0;
			}
		}
	}

	.form-builder-page-header {
		.form-control {
			background-color: transparent;
		}
	}

	.form-builder-field {
		.input-group .form-control {
			z-index: 0;
		}
	}

	.help-icon.icon-monospaced {
		line-height: 2;
	}

	.layout-row-container-row .layout-builder-move-cut-button.layout-builder-move-cut-row-button {
		right: 30px;
		top: -22px;
	}
}