#navigationCollapse {
	padding-left: $navbar-padding-x;
	padding-right: $navbar-padding-x;

	@include media-breakpoint-up(md) {
		display: block;
	}
}

#banner .row:first-child {
	display: block;
}

.product-menu .panel-group .panel-heading + .panel-collapse.show {
	border-bottom: 2px solid #65B6F0;
}

.lfr-page-layouts.row .list-unstyled {
	display: flex;
	flex-wrap: wrap;
}

.fade.in {
	opacity: 1;
}

.lfr-add-panel .input-group.search-bar {
	margin: 0;
	padding: 10px;

	.form-control {
		width: 100%;
	}

	.input-group-btn {
		font-size: 1rem;
		margin-top: -11px;
	}
}