@import 'atlas-variables';
@import 'variables';

.audit-graph {
	position: relative;
}

.content-dashboard-management-toolbar {
	.navbar-expand-md .container-fluid {
		padding: 0;
	}
	.navbar-form {
		padding-right: 0;
	}
	@media (min-width: 768px) {
		.management-bar.navbar-expand-md .navbar-form {
			padding-right: 0;
		}
	}
}

.lfr-search-container-wrapper {
	.quick-action-menu {
		padding-left: 20px;
	}

	.taglib-search-iterator-page-iterator-bottom {
		margin-top: 24px;
	}
}

.empty-state {
	left: 50%;
	max-width: 350px;
	position: absolute;
	transform: translate(-40%, 70%);
	z-index: 1;
}

.no-categories-selected {
	transform: translate(-40%, 80%);
}

.recharts-wrapper {
	.recharts-cartesian-grid-vertical line:not(:last-child),
	.recharts-cartesian-grid-horizontal
		line:not(:last-child):not(:first-child) {
		stroke-opacity: 0;
	}
}

.custom-tooltip {
	box-shadow: 0 1px 15px -2px rgba(0, 0, 0, 0.2);
	opacity: 1;
}

// Sidebar

.has-control-menu {
	.loading-indicator-wrapper {
		height: calc(100% - #{$controlMenuHeight});
	}

	.sidebar {
		top: $controlMenuHeight;
	}
}

.loading-indicator-wrapper {
	height: 100%;
}

.sidebar {
	bottom: 0;
	height: auto;
	left: 100%;
	position: fixed;
	width: $sidebarWidth;
	z-index: $zindex-dropdown - 1;
}

.sidebar-body {
	padding-top: 0;
}

.sidebar-body > .sidebar-section {
	margin-bottom: 16px;
}

.sidebar-open {
	.sidebar {
		transform: translateX(-100%);
		will-change: transform;
	}

	.sidebar-wrapper {
		padding-right: $sidebarWidth;
	}
}

.sidebar-wrapper {
	transition: padding-right 0.5s ease;
}

.sidebar {
	transition: transform 0.5s ease;
}
