.content-dashboard-management-toolbar {
	.navbar-expand-md .container-fluid {
		padding: 0;
	}
	.navbar-form {
		padding-right: 0;
	}
	@media (min-width: 768px) {
		.management-bar.navbar-expand-md .navbar-form {
			padding-right: 0;
		}
	}
}

.lfr-search-container-wrapper {
	.taglib-search-iterator-page-iterator-bottom {
		margin-top: 24px;
	}
}

.empty-state {
	left: 50%;
	max-width: 350px;
	position: absolute;
	top: 10%;
	transform: translateX(-40%);
	z-index: 1;
}
