.manage-collaborators {
	.manage-collaborators-owner {
		margin-right: 1.5rem;
	}

	.manage-collaborators-collaborator {
		margin-right: 0.25rem;
	}
}

.manage-collaborators-btn {
	margin-top: -1em;
	padding-left: 0;
}
