@import 'atlas-variables';

@import 'variables';

.sidebar-content {
	border-left: 1px solid $secondary-l3;
	height: calc(100% - 56px);

	&__panel {
		height: 100%;
		overflow: auto;
		padding: 16px;

		.form-control-sm {
			background-color: $gray-100;
			border: 1px solid $secondary-l3;
			padding-left: 12px;
			padding-right: 12px;

			&:focus {
				background-color: unset;
				color: unset;
			}
		}

		&__tabs {
			border-bottom: 1px solid $gray-300;
			color: $dark;
			font-size: 12px;
			margin-bottom: 16px;

			.nav-item {
				.nav-link.active {
					color: $gray-600;
				}
			}
		}
	}
}
