@import 'atlas-variables';

@import 'variables';

.sidebar-content {
	border-left: 1px solid $secondary-l3;
	height: calc(100% - 56px);

	&__add-panel {
		height: 100%;
		overflow: auto;
		padding: 16px;

		.form-control-sm {
			padding-left: 12px;
			padding-right: 12px;
		}
	}
}
