@import 'atlas-variables';

.sidebar__panel__tab-item {
	align-items: center;
	border-radius: 4px;
	color: $secondary-d2;
	cursor: grab;
	display: flex;
	height: 32px;
	margin-bottom: 4px;
	padding: 0 4px 0 12px;

	.grid & {
		border: 1px solid $gray-300;
		flex-wrap: wrap;
		height: 136px;
		margin-bottom: 8px;
		padding: 0;
		width: calc(50% - 4px);

		&-body {
			text-align: left;
			width: 100%;

			.icon {
				border-bottom: 1px solid $gray-300;
				font-size: 40px;
				padding: 4px 0 18px;
				text-align: center;
				width: 100%;

				.lexicon-icon {
					fill: $secondary-l1;
					margin-right: 0;
				}
			}

			.title {
				margin-left: 8px;
				margin-top: 4px;
			}

			.subtitle {
				margin-left: 8px;
			}
		}
	}

	&.multiline {
		height: 44px;
	}

	&-add {
		font-size: 14px;
		opacity: 0;

		&:focus {
			opacity: 1;
		}

		.lexicon-icon {
			fill: $gray-500;
		}
	}

	&:focus,
	&:hover {
		background-color: $gray-100;

		.sidebar__panel__tab-item-add {
			opacity: 1;
		}
	}

	&.disabled {
		color: $secondary-l1;
		cursor: default;

		&:hover {
			background-color: transparent;
		}
	}

	&-body {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		font-size: 14px;
		text-align: center;
		width: calc(100% - 24px);

		.lexicon-icon {
			margin-right: 16px;
			transform: translateY(1px);
		}

		.title {
			font-size: 12px;
			font-weight: 600;
		}

		.subtitle {
			color: $gray-600;
			flex-basis: 100%;
			font-size: 12px;
			margin-left: 30px;
			text-align: left;
		}
	}
}
