@import 'atlas-variables';

@import 'variables';

.sidebar-body__add-panel {
	&__tab-content {
		ul.grid {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}

	&__tabs {
		border-bottom: 1px solid $gray-300;
		color: $dark;
		font-size: 0.75rem;
		margin-bottom: 16px;

		.nav-item {
			.nav-link.active {
				color: $gray-600;
			}
		}
	}
}
