<header class="secondary-header secondary-header-light navbar navbar-light bg-light py-3">
	<div class="container flex-column flex-lg-row">
		<lfr-editable id="01-logo" type="image">
			<img alt="Logo Image" class="section-header-logo" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAnSURBVHgB7cwxEQAACAOxgn8fHB7wBiK6MHwEJKpnZUiZCAgIvgQHmksDKxJ1SeoAAAAASUVORK5CYII=" />
		</lfr-editable>

		<div class="d-flex align-items-center flex-column flex-lg-row mt-3 mt-lg-0">
			<lfr-widget-nav></lfr-widget-nav>
		</div>
	</div>
</header>