$control-menu-height: 56px;
$tab-header-height: 38px;

.global-apps-menu-modal {
	.modal-full {
		margin-top: 0;
		width: 100%;

		.modal-body {
			padding-top: 12px;
		}

		.modal-content {
			border-radius: 0;
			box-shadow: none;
		}
	}

	.tab-pane {
		max-height: calc(100vh - #{$control-menu-height + $tab-header-height});
		overflow-y: auto;
	}
}
