##
## Calculate $auiScriptRequireVarName
##
#set    ($requiredPackage = "${artifactId}${packageJsonVersion}")
#set    ($auiScriptRequireVarName = $requiredPackage)
#set    ($fc = ${requiredPackage.substring(0,1)})
##
#if     ((${fc.compareTo('a')} >= 0) && (${fc.compareTo('z')} <= 0) || (${fc} == '_'))
#set        ($auiScriptRequireVarName = ${fc})
#elseif (${fc.compareTo('A')} >= 0 && ${fc.compareTo('Z')} <= 0)
#set        ($auiScriptRequireVarName = ${fc.toLowerCase()})
#else
#set        ($auiScriptRequireVarName = "_")
#end
##
#set ($startNewWord = false)
##
#foreach ($c in ${requiredPackage.substring(1).split("")})
#if     ((${c.compareTo('a')} >= 0) && (${c.compareTo('z')} <= 0) || (${c} == '_'))
#if         ($startNewWord)
#set            ($auiScriptRequireVarName = $auiScriptRequireVarName + ${c.toUpperCase()})
#set            ($startNewWord = false)
#else
#set            ($auiScriptRequireVarName = $auiScriptRequireVarName + ${c})
#end
#elseif     ((${c.compareTo('A')} >= 0 && ${c.compareTo('Z')} <= 0) || (${c.compareTo('0')} >= 0 && ${c.compareTo('9')} <= 0) || ($c == "_"))
#set            ($auiScriptRequireVarName = $auiScriptRequireVarName + ${c.toLowerCase()})
#set            ($startNewWord = false)
#else
#set            ($startNewWord = true)
#end
#end