.portlet-journal {
	.article-content-description, .article-content-title {
		.input-localized-content {
			display: none;
		}
	}

	.journal-article-preview {
		padding: 0 20px;
	}

	.lfr-ddm-container {
		img {
			max-width: 100%;
		}
	}

	.lfr-description-column, .lfr-title-column {
		max-width: 150px;
		min-width: 150px;
	}
}