.portlet-journal {
	.article-content-description, .article-content-title {
		.input-localized-content {
			display: none;
		}
	}

	.journal-article-preview {
		padding: 0 20px;
	}

	.lfr-ddm-container {
		img {
			max-width: 100%;

			&[style*="float: left;"], &[style*="float:left;"] {
				margin-right: 24px;
			}

			&[style*="float: right;"], &[style*="float:right;"] {
				margin-left: 24px;
			}

			&[style*="float: left;"], &[style*="float:left;"], &[style*="float: right;"], &[style*="float:right;"] {
				margin-bottom: 24px;
				margin-top: 24px;
			}
		}
	}

	.lfr-description-column, .lfr-title-column {
		max-width: 150px;
		min-width: 150px;
	}
}