$navigation-color: #869CAD;
$spacer: 1rem;

.select-category-filter {
	background: #FFF;
	border-bottom: 1px solid #DEE2E6;
	margin-bottom: $spacer * 1.5;
	padding: $spacer * 0.75;
}

.category-tree {
	.card {
		border: 1px solid #E7E7ED;
		box-shadow: none;
		color: #6B6C7E;
		margin-bottom: 0;

		&:hover {
			background-color: #F7F8F9;
			border-color: #CDCED9;
			color: #272833;
		}

		&:focus {
			box-shadow: 0 0 0 2px white, 0 0 0 4px #80AFFF;
			color: #272833;
		}
	}

	.card-row-padded {
		padding: 8px 12px;
	}

	.selected .card {
		background-color: #80ACFF;
		border-color: #80ACFF;
		color: #272833;
	}

	.disabled {
		.card, .card:hover, .card:focus {
			background-color: #E7E7ED;
			border: 1px solid #E7E7ED;
			box-shadow: none;
			color: #272833;
			cursor: not-allowed;
			outline: none;
		}
	}

	.treeview {
		margin-left: -15px;

		@media (min-width: 768px) {
			margin-left: -54px;
		}
	}

	.treeview-node {
		margin-bottom: 0.5rem;
		position: relative;
	}

	.treeview-node-main {
		float: none;
		margin-bottom: 15px;
		padding-left: 15px;
		position: relative;

		&:not(.disabled) {
			cursor: pointer;
		}

		@media (min-width: 768px) {
			margin-bottom: 24px;
			padding-left: 24px;
		}
	}

	.treeview-nodes {
		border-left: 2px solid $navigation-color;
		list-style: none;
		margin-left: 15px;
		padding-left: 0;

		.treeview-nodes {
			border-left-style: dashed;
			border-left-width: 1px;
		}

		@media (min-width: 768px) {
			margin-left: 54px;
		}
	}

	.treeview-node-name {
		margin-left: 2px;
	}

	.treeview-node-toggler {
		background-color: $navigation-color;
		border-radius: 3px;
		display: inline-block;
		height: 14px;
		left: 0;
		margin-left: -8px;
		margin-top: -8px;
		position: absolute;
		text-align: center;
		top: 50%;
		width: 14px;

		&:before {
			color: #FFF;
			content: '+';
			display: block;
			line-height: 11px;

			.win & {
				line-height: 14px;
			}
		}
	}

	.treeview-node-wrapper > .treeview-nodes {
		display: none;
	}

	.expanded {
		> .treeview-node-main > .treeview-node-toggler:before {
			content: '-';
			font-size: 21px;

			.win & {
				line-height: 11px;
			}
		}

		> .treeview-nodes {
			display: block;
		}
	}
}