.portlet-search-bar {
	.alert {
		margin-bottom: 0;
	}

	.search-bar {
		.form-group.input-group-item {
			margin-bottom: 0;
		}
	}

	.search-bar-keywords-input-wrapper {
		min-width: 6.25rem;
	}

	.search-bar-search-select-wrapper {
		max-width: 9.375rem;
	}
}
