.search-facet {
	.facet-clear-btn {
		font-weight: 600;
		font-size: 0.875rem; // Copied from .custom-control-label
	}

	.custom-control-label,
	.term-name {
		&.facet-term-unselected {
			font-weight: 400;
		}

		&.facet-term-selected {
			font-weight: 600;
		}
	}
}
