.search-facet {
	.custom-control-label,
	.term-name {
		&.facet-term-unselected {
			font-weight: 400;
		}

		&.facet-term-selected {
			font-weight: 600;
		}

		&.label.label-lg {
			font-size: 12px;
			line-height: 1;
			padding: 5px 8px;
		}
	}

	.facet-clear-btn {
		font-weight: 600;
		font-size: 0.875rem; // Copied from .custom-control-label
	}

	&.search-facet-display-label {
		.label-container {
			margin-bottom: 16px;
		}

		.term-name {
			&.facet-term-selected,
			&.facet-term-unselected {
				font-weight: 600;
			}
		}
	}

	.tag-cloud .term-name {
		line-height: 1.2;
	}
}
