.discount-label-wrapper {
	display: grid;
	grid-template-columns: min-content auto;
	grid-template-rows: min-content auto;
	grid-template-areas:
		'label input'
		'message message';
	grid-gap: 4px;
	margin-right: 8px;

	&:last-of-type {
		margin-right: 0;
	}

	input {
		grid-area: input;
		padding-left: 6px;
		padding-right: 6px;
	}

	label {
		align-self: center;
		grid-area: label;
	}

	.help-block {
		font-size: 10px;
		grid-area: message;
	}
}

.portlet-commerce-discount {
	.discount-detail-header {
		background-color: #fff;
	}

	.breadcrumb {
		margin-bottom: 0;

		& > li {
			a {
				font-size: 0.9rem;
			}
		}
	}
}
