@import 'atlas-variables';

.site_navigation_menu_editor_MenuItem {
	margin-bottom: 1.5rem;
	width: 40ch;

	&.dragging {
		opacity: 0.4;
	}

	&--selected .card {
		background: $primary-l3;
	}

	.card-subtitle {
		line-height: 1rem;
	}

	.custom-control-input,
	.custom-control-label {
		left: -99999px;
		opacity: 0;
		position: absolute;
		top: -99999px;
	}
}
