[$TO_NAME$],<br /><br />

The event <a href="[$EVENT_URL$]">[$EVENT_TITLE$]</a>, that you were invited to starting on <strong>[$INSTANCE_START_TIME$]</strong>, was deleted.<br /><br />

Sincerely,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
[$PORTAL_URL$]