<div class="row">
	<div class="col-6">
		<ul class="list-unstyled icon-list">
			<li><img src="[resources:headphones.svg]" alt="" />Raylife Personal Assistant</li>
			<li><img src="[resources:tool.svg]" alt="" />Car Workshop Guide</li>
			<li><img src="[resources:dollar_sign.svg]" alt="" />Coverage Calculator</li>
		</ul>
	</div>

	<div class="col-6">
		<ul class="list-unstyled icon-list">
			<li><img src="[resources:policy_document.svg]" alt="" />Policy Documents</li>
			<li><img src="[resources:help_circle.svg]" alt="" />FAQs</li>
		</ul>
	</div>
</div>