.portlet-user-personal-bar {
	.personal-menu-dropdown {
		.btn .sticker .inline-item {
			font-size: 1.25rem;
		}

		.sticker-bottom-right.sticker-outside {
			bottom: -0.5rem;
			right: -0.5rem;
		}

		.sticker-lg .lexicon-icon {
			margin-top: -0.25rem;
		}

		.sticker-sm .lexicon-icon {
			margin-top: -0.125rem;
		}
	}
}
