.b2b-main-navbar {
	@include clay-navbar-size($b2b-main-navbar-size);

	flex-wrap: nowrap;

	.dropdown-toggle {
		.inline-item {
			font-size: 8px;
		}
	}

	.nav-item.dropdown-wide {
		@include media-breakpoint-down(md) {
			position: relative;
		}

		@include media-breakpoint-down(sm) {
			position: static;
		}
	}

	.dropdown-wide .dropdown-menu {
		left: 0;
		max-height: none;
		max-width: 100%;
		right: 0;
		width: auto;

		@include media-breakpoint-up(md) {
			left: auto;
			min-width: 500px;
		}
	}

	.dropdown-menu {
		@include border-radius(0);

		border-width: 0;
		margin-top: 0;

		&.portlet-flush {
			padding-bottom: 0;
			padding-top: 0;

			@include media-breakpoint-up(md) {
				overflow: visible;
			}

			.portlet-body {
				padding: 1.5rem;
			}
		}
	}

	.navbar-brand {
		margin-bottom: 0;
		text-align: center;
		width: 13.75rem;
	}

	.nav-link {
		white-space: nowrap;
	}

	.navbar-nav-end {
		flex-grow: 1;
		justify-content: flex-end;
	}

	.b2b-search {
		.form-group {
			display: block;
			margin-bottom: 0;
		}

		.search-input {
			border-radius: 0;
			border-width: 0;
			height: map-get($b2b-main-navbar-size, height);
			padding-left: 1rem;
			padding-right: 3.5rem;
		}

		.lfr-ddm-field-group-inline {
			margin-top: -1.25rem;
			position: absolute;
			right: 0.5rem;
			top: 50%;

			.lfr-icon-item {
				display: block;
			}

			.icon-monospaced {
				height: 2.5rem;
				line-height: 2.5rem;
				width: 2.5rem;
			}
		}
	}

	.b2b-user {
		background-color: #2F313E;
		flex-grow: 1;
		justify-content: flex-end;

		.nav-link {
			color: #FFF;
			padding-bottom: 1.3125rem;
			padding-top: 1.3125rem;
		}

		.user-avatar-link a {
			color: #FFF;
			display: block;
			max-width: 200px;
			overflow: hidden;
			text-decoration: none;
			text-overflow: ellipsis;
		}

		.user-icon {
			margin-right: 0;
		}

		.user-full-name {
			margin-left: 0.5rem;

			@include media-breakpoint-down(sm) {
				display: none;
			}
		}
	}

	.b2b-account {
		.nav-link {
			background-color: #2F313E;
			color: #FFF;
			font-weight: $font-weight-semi-bold;
		}
	}

	.b2b-cart {
		.dropdown-menu {
			.portlet-body {
				padding: 0;
			}
		}

		.nav-link {
			background-color: $brand-color-primary;
			color: #FFF;
			padding-bottom: 1.0625rem;
			padding-top: 1.3125rem;
		}
	}

	.b2b-cart-notification {
		font-size: 1.125rem;

		.sticker-outside {
			right: -0.5625rem;
			top: -0.375rem;
		}
	}

	.b2b-site-navigation-toggle {
		.nav-link {
			background-color: $brand-color-primary;
			color: #FFF;
		}
	}
}