.application-bar-b2b {
	align-items: center;
	background-color: #FFF;
	border-bottom: 1px solid #E8E8EA;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	min-height: $application-bar-height;
	padding: 0;
	position: relative;

	.navbar-title {
		font-weight: 600;
		padding-right: 15px;
		text-align: center;
		width: $sidenav-b2b-width;
	}
}

.application-bar-search {
	background-color: #F1F2F6;
	flex: auto;

	@include media-breakpoint-up(sm) {
		padding: 15px 40px 15px 20px;
	}

	> .portlet-search {
		padding-top: 15px 0;
	}

	.fieldset > div {
		display: flex;
		flex-wrap: nowrap;

		.lexicon-icon {
			color: $brand-color-primary;
		}

		.input-text-wrapper {
			flex-direction: column;
			flex-grow: 1;
		}

		.field-wrapper {
			display: flex;
			flex-direction: column;
		}

		.search-input {
			background-color: transparent;
			border-color: transparent;
		}
	}

	.form-group, .lfr-ddm-field-group, .portlet {
		margin-bottom: 0;
	}
}

.application-bar-primary {
	align-items: center;
	background-color: $brand-color-primary;
	display: flex;
	flex-wrap: nowrap;
	min-height: $application-bar-height;
	padding: 10px;

	@include media-breakpoint-up(sm) {
		padding: 10px 30px;
	}

	.lexicon-icon {
		@include media-breakpoint-down(md) {
			display: none;
		}
	}
}

.application-bar-secondary {
	align-items: center;
	background-color: $brand-color-secondary-dark;
	color: #FFF;
	display: flex;
	display: flex;
	flex-wrap: nowrap;
	min-height: $application-bar-height;
	padding: 10px;

	@include media-breakpoint-up(sm) {
		padding: 10px 20px;
	}

	a {
		color: #FFF;

		&:hover {
			text-decoration: none;
		}
	}

	.application-bar-account {
		margin-right: 20px;

		@include media-breakpoint-up(sm) {
			margin-right: 50px;
		}
	}
}

.position-anchored {
	> .card .portlet-body {
		@include sm {
			max-height: calc(100vh - $header-height-total);
			overflow: auto;
		}
	}

	@include sm {
		height: auto;
		min-width: $sidenav-width;
		z-index: 1050;

		@include position(absolute, 80% 0 null null);
	}

	&.position-anchored-left {
		min-width: 180px;
		right: 48px;
		top: 50%;
		transform: translateY(-50%);

		@include media-breakpoint-down(sm) {
			margin-top: 20px;
		}
	}
}