.commerce-footer {
	background-color: $footer-bg;
	border-top: 1px solid #CFCED4;
	color: $footer-color;
	min-height: $footer-height;
	padding-bottom: 2rem;
	padding-top: 2rem;

	@include media-breakpoint-up(md) {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	@include media-breakpoint-up(lg) {
		padding-left: 4rem;
		padding-right: 4rem;
	}

	.footer-section-column {
		padding-left: $grid-gutter-width / 2;
		padding-right: $grid-gutter-width / 2;
	}

	.list-unstyled {
		margin-bottom: 0;
	}
}

.footer-main-section {
	.footer-link {
		@include clay-link($footer-main-link);
	}
}

.footer-secondary-section {
	.footer-section-column {
		min-height: 2rem;
	}

	.footer-link {
		@include clay-link($footer-secondary-link);
	}
}