.footer {
	margin-left: -15px;
	margin-right: -15px;
	padding: 40px;

	.portlet-title-text, h2 {
		color: #FFF;
		font-size: 20px;
		text-transform: uppercase;
	}

	.nav-pills > li.active > a {
		background-color: transparent;
		color: $brand-color-secondary-light;
	}

	.social-set {
		> li {
			margin-top: 15px;
		}

		.lexicon-icon {
			color: #FFF;
			font-size: 20px;
		}
	}
}