// EasyZoom core styles

.easyzoom {
	position: relative;

	// 'Shrink-wrap' the element

	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.easyzoom img {
	vertical-align: bottom;
}

.easyzoom.is-loading img {
	cursor: progress;
}

.easyzoom.is-ready img {
	cursor: crosshair;
}

.easyzoom.is-error img {
	cursor: not-allowed;
}

.easyzoom-notice {
	background: #FFF;
	box-shadow: 0 0 10px #888;
	left: 50%;
	line-height: 2em;
	margin: -1em 0 0 -5em;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 10em;
	z-index: 150;
}

.easyzoom-flyout {
	position:absolute;
	background: #FFF;
	overflow: hidden;
	z-index: 100;
}

// EasyZoom layout variations

.easyzoom--overlay .easyzoom-flyout {
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
}

.easyzoom--adjacent .easyzoom-flyout {
	height: 100%;
	left: 0;
	margin-left: 20px;
	top: 0;
	width: 100%;
}

// Customer Portal Product Detail

.product-detail-image-widget {
	.product-detail-image {
		align-items: center;
		display: flex;
		justify-content: center;
		width: 100%;
	}

	.easyzoom--adjacent {
		.easyzoom-flyout {
			margin-left: 0;

			@include media-breakpoint-up(lg) {
				border: 1px solid #CCC;
				border-radius: $border-radius;
				box-shadow: 0 1px 10px -4px rgba(0, 0, 0, 0.5);
				height: 125%;
				left: 100%;
				margin-left: 1rem;
				top: -12.5%;
				width: 150%;
			}
		}
	}
}

.product-detail-header {
	font-size: 0.8125rem;
	margin-bottom: 3rem;

	.commerce-brand-name {
		color: $secondary;
		margin-bottom: 0.5rem;
	}

	.commerce-title {
		font-size: 1.5rem;
		font-weight: $font-weight-bold;
		margin-bottom: 0.75rem;
	}

	.commerce-manufacturer-part-number {
		font-weight: $font-weight-semi-bold;
	}
}

.product-detail-secondary-info {
	font-size: 0.8125rem;
	margin-bottom: 1rem;

	.autofit-col {
		padding-right: 1rem;

		&:last-child {
			padding-right: 0;
		}
	}
}

// Product Detail Body

.product-detail-body {
	display: flex;

	@include media-breakpoint-down(sm) {
		flex-wrap: wrap;
	}
}

.product-detail-info {
	width: 100%;

	@include media-breakpoint-up(md) {
		flex-grow: 1;
		padding-left: 3rem;
		width: calc(100% - #{$product-detail-image-widget-width-md});
	}
}

// Product Detail Image

.commerce-compare-product-container .input-checkbox-wrapper {
	margin-bottom: 0;
}

.product-detail-image-widget-column {
	margin-bottom: 3rem;
	width: 100%;

	@include media-breakpoint-up(md) {
		margin-bottom: 0;
		width: auto;
	}
}

.product-detail-image-widget {
	@include border-radius($border-radius);

	display: flex;
	height: $product-detail-image-widget-height;
	min-width: $product-detail-image-widget-width;
	width: $product-detail-image-widget-width;

	@include media-breakpoint-up(sm) {
		height: $product-detail-image-widget-height-sm;
		min-width: $product-detail-image-widget-width-sm;
		width: $product-detail-image-widget-width-sm;
	}

	@include media-breakpoint-up(md) {
		height: $product-detail-image-widget-height-md;
		min-width: $product-detail-image-widget-width-md;
		width: $product-detail-image-widget-width-md;
	}

	@include media-breakpoint-up(lg) {
		height: $product-detail-image-widget-height-lg;
		min-width: $product-detail-image-widget-width-lg;
		width: $product-detail-image-widget-width-lg;
	}

	@include media-breakpoint-up(xl) {
		height: $product-detail-image-widget-height-xl;
		min-width: $product-detail-image-widget-width-xl;
		width: $product-detail-image-widget-width-xl;
	}
}

.product-detail-thumbnail-column {
	padding-right: 12px;
	position: relative;
	width: 20%;

	@include media-breakpoint-up(sm) {
		height: 100%;
	}

	+ .product-detail-image-column {
		width: 80%;
	}
}

.product-detail-thumbnail-container {
	border: 1px solid #CCC;
	border-radius: $border-radius;
	height: calc(25% - 9px);
	margin-bottom: 12px;
	overflow: hidden;

	&:last-child {
		margin-bottom: 0;
	}

	.thumb {
		align-items: center;
		display: flex;
		font-size: 1.25rem;
		font-weight: $font-weight-semi-bold;
		height: 100%;
		justify-content: center;
		position: relative;
		text-decoration: none;
		width: 100%;
	}

	.sticker-top-left {
		left: 0.5rem;
		top: 0.5rem;
	}
}

.product-detail-thumbnail-text-container {
	@include media-breakpoint-down(xs) {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 12px;
		top: auto;
	}
}

.product-detail-image-column {
	display: flex;
	position: relative;

	.sticker {
		font-size: 1rem;
	}

	.sticker-bottom-right {
		bottom: 0.5rem;
		right: 0.5rem;
	}

	.sticker-top-right {
		right: 0.5rem;
		top: 0.5rem;
	}
}

.product-detail-image-container {
	border: 1px solid #CCC;
	border-radius: $border-radius;
	display: flex;
	flex-grow: 1;
}

.product-detail-info-compare {
	bottom: 0;
	left: 0;
	line-height: 2rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	position: absolute;

	.form-inline label {
		margin-bottom: 0;
	}
}

.product-detail-social-navigation {
	font-size: 1.25rem;
	margin-top: 1rem;

	@include media-breakpoint-up(lg) {
		margin-left: 22%;
	}

	.nav {
		flex-direction: row;
	}
}

.product-detail-image-widget-modal {
	.carousel {
		align-items: center;
		display: flex;
		flex-grow: 1;
		justify-content: center;
	}

	.carousel-item {
		text-align: center;

		.carousel-item-image {
			border: 1px solid #CCC;
			border-radius: $border-radius;
			margin-left: auto;
			margin-right: auto;
			max-width: 50%;
			overflow: hidden;
		}
	}

	.carousel-index {
		color: #CCC;
		font-size: 1.25rem;
		margin-top: 1.5rem;
	}

	.carousel-control-prev, .carousel-control-next {
		color: $primary;
		font-size: 2rem;
		height: 3rem;
		margin-top: -1.5rem;
		opacity: 1;
		top: 50%;
		width: 3rem;
	}

	&.modal .modal-dialog {
		margin-left: auto;
		margin-right: auto;
		max-width: map-get($container-max-widths, xl);

		@include media-breakpoint-down(sm) {
			width: 100%;
		}
	}

	.modal-body {
		display: flex;
		flex-direction: column;
	}
}

// Product Detail Info

.product-detail-info {
	width: 100%;

	@include media-breakpoint-up(md) {
		flex-grow: 1;
		padding-left: 3rem;
		width: calc(100% - #{$product-detail-image-widget-width-md});
	}

	@include media-breakpoint-up(lg) {
		width: calc(100% - #{$product-detail-image-widget-width-lg});
	}

	@include media-breakpoint-up(xl) {
		width: calc(100% - #{$product-detail-image-widget-width-xl});
	}

	.commerce-quantity-input {
		max-width: 6.25rem;
	}

	.commerce-size-input {
		max-width: 15.625rem;
	}
}

.product-detail-info-header {
	align-items: flex-end;

	.autofit-section {
		border-bottom: 1px solid #CCC;
		margin-bottom: 1.5rem;
		padding-bottom: 1rem;
	}

	.commerce-price {
		border-bottom: 1px solid #CCC;
		margin-bottom: 1.5rem;
		padding-bottom: 1rem;

		&:empty {
			border-bottom-width: 0;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
}

.commerce-tier-price {
	.table-responsive {
		margin-bottom: 1rem;
		max-height: 500px;
		overflow: auto;
	}

	.table {
		margin-bottom: -$table-border-width;
		text-align: right;

		thead th {
			background-color: #F9F9F9;
			border-color: #F9F9F9;
			font-weight: $font-weight-light;
		}

		.price-point-column {
			text-align: center;
		}
	}

	.multiples-row {
		cursor: $link-cursor;
	}

	.table-truncate-threshold {
		~ tr {
			display: none;
		}
	}
}

.commerce-tier-price.expand {
	.table-truncate-threshold {
		~ tr {
			display: table-row;
		}
	}

	.commerce-tier-price-toggler {
		.view-less {
			display: inline;
		}

		.view-more {
			display: none;
		}
	}
}

.commerce-tier-price-footer {
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.commerce-tier-price-toggler {
	.view-less {
		display: none;
	}
}

.product-detail-info-selections {
	.form-group {
		margin-bottom: 0;
	}
}

.product-detail-info-actions {
	margin-bottom: 1.5rem;

	.autofit-col {
		padding-right: 12px;
	}
}

// Description, Techincal Specifications, Shipping & Returns

.product-detail-description {
	margin-top: 6rem;

	.specification-column:first-child:not(:only-child) {
		padding-right: $grid-gutter-width;
	}

	.specification-column + .specification-column {
		padding-left: $grid-gutter-width;
	}

	.table {
		font-size: 0.8125rem;
		margin-bottom: 0;

		tbody tr:first-child td {
			border-top-width: 0;
		}
	}

	.table-title {
		font-size: 0.8125rem;
		font-weight: $font-weight-bold;
	}

	.table-value {
		text-align: right;
	}
}

// Others

.product-detail-separator {
	border-top: 1px solid #CCC;
	margin-top: 4rem;
	padding-top: 2rem;
}

.product-image-container {
	display: block;
	height: 120px;
	overflow: hidden;
	text-align: center;

	.product-image {
		max-width: 40%;
	}
}

.product-footer {
	margin-top: 1rem;
}

.product-actions {
	margin-bottom: 0.5rem;
}

.product-subactions {
	.autofit-row {
		align-items: center;
	}
}

.product-detail-card-page {
	flex-wrap: nowrap;
	overflow: auto;

	.container-fluid & {
		margin-left: 0;
		margin-right: 0;
	}

	.card-page-item-asset {
		display: flex;
		min-width: 250px;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}

	.card {
		display: flex;
		padding: 1.25rem;
	}

	.card-title {
		margin-bottom: 1rem;
	}

	.product-description {
		display: flex;
		flex-direction: column;
	}

	.product-sku {
		margin-top: auto;
	}

	.commerce-quantity-container {
		margin-right: 0.5rem;
		max-width: 50px;

		.control-label {
			display: none;
		}

		.form-control {
			padding-left: 0.25rem;
			padding-right: 0.25rem;
			text-align: center;
		}

		.form-group {
			margin-bottom: 0;
		}
	}
}