.product-detail-header {
	font-size: 0.8125rem;
	margin-bottom: 3rem;

	.commerce-brand-name {
		color: $secondary;
		margin-bottom: 0.5rem;
	}

	.commerce-title {
		font-size: 1.5rem;
		font-weight: $font-weight-bold;
		margin-bottom: 0.75rem;
	}

	.commerce-model-number {
		font-weight: $font-weight-semi-bold;
	}
}

.product-detail-secondary-info {
	font-size: 0.8125rem;
	margin-bottom: 1rem;

	.autofit-col {
		padding-right: 1rem;

		&:last-child {
			padding-right: 0;
		}
	}
}

// Product Detail Body

.product-detail-body {
	display: flex;

	@include media-breakpoint-down(sm) {
		flex-wrap: wrap;
	}
}

.product-detail-info {
	width: 100%;

	@include media-breakpoint-up(md) {
		flex-grow: 1;
		padding-left: 3rem;
		width: auto;
	}
}

// Product Detail Image

$product-detail-image-widget-width: 250px !default;

$product-detail-image-widget-height: calc(#{$product-detail-image-widget-width} * 0.84) !default;

$product-detail-image-widget-width-lg: 300px !default;

$product-detail-image-widget-height-lg: calc(#{$product-detail-image-widget-width-lg} * 0.84) !default;

$product-detail-image-widget-width-xl: 450px !default;

$product-detail-image-widget-height-xl: calc(#{$product-detail-image-widget-width-xl} * 0.84) !default;

.product-detail-image-widget {
	border: 1px solid #CCC;

	@include border-radius($border-radius);

	display: flex;
	height: $product-detail-image-widget-height;
	min-width: $product-detail-image-widget-width;
	overflow: hidden;
	width: $product-detail-image-widget-width;

	@include media-breakpoint-up(lg) {
		height: $product-detail-image-widget-height-lg;
		min-width: $product-detail-image-widget-width-lg;
		width: $product-detail-image-widget-width-lg;
	}

	@include media-breakpoint-up(xl) {
		height: $product-detail-image-widget-height-xl;
		min-width: $product-detail-image-widget-width-xl;
		width: $product-detail-image-widget-width-xl;
	}
}

.product-detail-thumbnail-column {
	border-right: 1px solid #CCC;
	width: 25%;

	+ .product-detail-image-column {
		width: 75%;
	}
}

.product-detail-thumbnail-container {
	border-bottom: 1px solid #CCC;
	height: 33.33333%;
	overflow: hidden;

	&:nth-of-type(3n) {
		border-bottom-width: 0;
	}

	.thumb {
		align-items: center;
		display: flex;
		font-size: 1.25rem;
		font-weight: $font-weight-semi-bold;
		height: 100%;
		justify-content: center;
		position: relative;
		text-decoration: none;
		width: 100%;
	}

	.sticker-top-left {
		left: 0.5rem;
		top: 0.5rem;
	}
}

.product-detail-image-column {
	align-items: center;
	display: flex;
	justify-content: center;
	position: relative;

	.sticker-bottom-right {
		bottom: 0.5rem;
		font-size: 1rem;
		right: 0.5rem;
	}
}

// Product Detail Info

.product-detail-info {
	.commerce-quantity-input {
		max-width: 6.25rem;
	}

	.commerce-size-input {
		max-width: 15.625rem;
	}
}

.product-detail-info-header {
	align-items: flex-end;

	.autofit-section {
		border-bottom: 1px solid #CCC;
		margin-bottom: 1.5rem;
		padding-bottom: 1rem;
	}

	.commerce-price {
		border-bottom: 1px solid #CCC;
		margin-bottom: 1.5rem;
		padding-bottom: 1rem;

		&:empty {
			border-bottom-width: 0;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
}

.product-detail-info-multiples {
	border-bottom: 1px solid #CCC;
	margin-bottom: 1rem;

	.commerce-custom-control-button {
		width: calc(100% - #{$grid-gutter-width / 4});
	}

	.commerce-title {
		font-weight: $font-weight-normal;
		margin-bottom: 1.5rem;
	}

	.form-group-autofit {
		margin-bottom: 0.5rem;

		@include media-breakpoint-down(lg) {
			flex-direction: row;
			flex-wrap: wrap;

			.form-group-item {
				padding-bottom: $grid-gutter-width / 2;
				padding-right: $grid-gutter-width / 4;
				width: 50%;

				&:nth-of-type(2n) {
					padding-left: $grid-gutter-width / 4;
					padding-right: 0;
				}

				&:not(:last-child) {
					margin-right: 0;
				}
			}
		}

		@include media-breakpoint-up(xl) {
			flex-direction: row;
			flex-wrap: wrap;

			.form-group-item {
				padding-bottom: $grid-gutter-width / 2;
				padding-right: $grid-gutter-width / 4;
				width: 25%;

				&:nth-of-type(4n) {
					padding-left: $grid-gutter-width / 4;
					padding-right: 0;
				}

				&:not(:last-child) {
					margin-right: 0;
				}
			}
		}

		@media (min-width: 2000px) {
			.form-group-item {
				width: 14.2857%;

				&:nth-of-type(4n) {
					padding-left: 0;
					padding-right: $grid-gutter-width / 4;
				}

				&:nth-of-type(7n) {
					padding-left: $grid-gutter-width / 4;
					padding-right: 0;
				}
			}
		}
	}
}

.product-detail-info-selections {
	.form-group {
		margin-bottom: 0;
	}
}

.product-detail-info-actions {
	margin-bottom: 1.5rem;

	.autofit-col {
		padding-right: 12px;
	}
}

// Description, Techincal Specifications, Shipping & Returns

.product-detail-description {
	margin-top: 6rem;

	.specification-column:first-child:not(:only-child) {
		padding-right: $grid-gutter-width;
	}

	.specification-column + .specification-column {
		padding-left: $grid-gutter-width;
	}

	.table {
		font-size: 0.8125rem;
		margin-bottom: 0;

		tbody tr:first-child td {
			border-top-width: 0;
		}
	}

	.table-title {
		font-size: 0.8125rem;
		font-weight: $font-weight-bold;
	}

	.table-value {
		text-align: right;
	}
}