.product-detail-header {
	font-size: 0.8125rem;
	margin-bottom: 3rem;

	.commerce-brand-name {
		color: $secondary;
		margin-bottom: 0.5rem;
	}

	.commerce-title {
		font-size: 1.5rem;
		font-weight: $font-weight-bold;
		margin-bottom: 0.75rem;
	}

	.commerce-model-number {
		font-weight: $font-weight-semi-bold;
	}
}

.product-detail-secondary-info {
	font-size: 0.8125rem;
	margin-bottom: 1rem;

	.autofit-col {
		padding-right: 1rem;

		&:last-child {
			padding-right: 0;
		}
	}
}

// Product Detail Body

.product-detail-body {
	display: flex;

	@include media-breakpoint-down(sm) {
		flex-wrap: wrap;
	}
}

.product-detail-info {
	width: 100%;

	@include media-breakpoint-up(md) {
		flex-grow: 1;
		padding-left: 3rem;
		width: calc(100% - #{$product-detail-image-widget-width});
	}
}

// Product Detail Image

.product-detail-image-widget {
	border: 1px solid #CCC;

	@include border-radius($border-radius);

	display: flex;
	height: $product-detail-image-widget-height;
	min-width: $product-detail-image-widget-width;
	overflow: hidden;
	width: $product-detail-image-widget-width;

	@include media-breakpoint-up(lg) {
		height: $product-detail-image-widget-height-lg;
		min-width: $product-detail-image-widget-width-lg;
		width: $product-detail-image-widget-width-lg;
	}

	@include media-breakpoint-up(xl) {
		height: $product-detail-image-widget-height-xl;
		min-width: $product-detail-image-widget-width-xl;
		width: $product-detail-image-widget-width-xl;
	}
}

.product-detail-thumbnail-column {
	border-right: 1px solid #CCC;
	height: 100%;
	width: 25%;

	+ .product-detail-image-column {
		width: 75%;
	}
}

.product-detail-thumbnail-container {
	border-bottom: 1px solid #CCC;
	height: 33.33333%;
	overflow: hidden;

	&:nth-of-type(3n) {
		border-bottom-width: 0;
	}

	.thumb {
		align-items: center;
		display: flex;
		font-size: 1.25rem;
		font-weight: $font-weight-semi-bold;
		height: 100%;
		justify-content: center;
		position: relative;
		text-decoration: none;
		width: 100%;
	}

	.sticker-top-left {
		left: 0.5rem;
		top: 0.5rem;
	}
}

.product-detail-image-column {
	align-items: center;
	display: flex;
	justify-content: center;
	position: relative;

	.sticker-bottom-right {
		bottom: 0.5rem;
		font-size: 1rem;
		right: 0.5rem;
	}
}

// Product Detail Info

.product-detail-info {
	.commerce-quantity-input {
		max-width: 6.25rem;
	}

	.commerce-size-input {
		max-width: 15.625rem;
	}
}

.product-detail-info-header {
	align-items: flex-end;

	.autofit-section {
		border-bottom: 1px solid #CCC;
		margin-bottom: 1.5rem;
		padding-bottom: 1rem;
	}

	.commerce-price {
		border-bottom: 1px solid #CCC;
		margin-bottom: 1.5rem;
		padding-bottom: 1rem;

		&:empty {
			border-bottom-width: 0;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
}

.commerce-tier-price {
	.table-responsive {
		margin-bottom: 1rem;
		max-height: 500px;
		overflow: auto;
	}

	.table {
		margin-bottom: -$table-border-width;
		text-align: right;

		thead th {
			background-color: #F9F9F9;
			border-color: #F9F9F9;
			font-weight: $font-weight-light;
		}

		.price-point-column {
			text-align: center;
		}
	}

	.multiples-row {
		cursor: $link-cursor;
	}

	.table-truncate-threshold {
		~ tr {
			display: none;
		}
	}
}

.commerce-tier-price.expand {
	.table-truncate-threshold {
		~ tr {
			display: table-row;
		}
	}

	.commerce-tier-price-toggler {
		.view-less {
			display: inline;
		}

		.view-more {
			display: none;
		}
	}
}

.commerce-tier-price-footer {
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.commerce-tier-price-toggler {
	.view-less {
		display: none;
	}
}

.product-detail-info-selections {
	.form-group {
		margin-bottom: 0;
	}
}

.product-detail-info-actions {
	margin-bottom: 1.5rem;

	.autofit-col {
		padding-right: 12px;
	}
}

// Description, Techincal Specifications, Shipping & Returns

.product-detail-description {
	margin-top: 6rem;

	.specification-column:first-child:not(:only-child) {
		padding-right: $grid-gutter-width;
	}

	.specification-column + .specification-column {
		padding-left: $grid-gutter-width;
	}

	.table {
		font-size: 0.8125rem;
		margin-bottom: 0;

		tbody tr:first-child td {
			border-top-width: 0;
		}
	}

	.table-title {
		font-size: 0.8125rem;
		font-weight: $font-weight-bold;
	}

	.table-value {
		text-align: right;
	}
}

// Others

.product-detail-separator {
	border-top: 1px solid #CCC;
	margin-top: 4rem;
	padding-top: 2rem;
}

.product-image-container {
	display: block;
	height: 120px;
	overflow: hidden;
	text-align: center;

	.product-image {
		max-width: 40%;
	}
}

.product-footer {
	margin-top: 1rem;
}

.product-actions {
	margin-bottom: 0.5rem;
}

.product-subactions {
	.autofit-row {
		align-items: center;
	}
}

.product-detail-card-page {
	flex-wrap: nowrap;
	overflow: auto;

	.container-fluid & {
		margin-left: 0;
		margin-right: 0;
	}

	.card-page-item-asset {
		display: flex;
		min-width: 250px;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}

	.card {
		display: flex;
		padding: 1.25rem;
	}

	.card-title {
		margin-bottom: 1rem;
	}

	.product-description {
		display: flex;
		flex-direction: column;
	}

	.product-sku {
		margin-top: auto;
	}

	.commerce-quantity-container {
		margin-right: 0.5rem;
		max-width: 50px;

		.control-label {
			display: none;
		}

		.form-control {
			padding-left: 0.25rem;
			padding-right: 0.25rem;
			text-align: center;
		}

		.form-group {
			margin-bottom: 0;
		}
	}
}