.sidenav-b2b {
	background-color: $sidenav-b2b-color-bg;
	max-width: $sidenav-b2b-width;
	min-height: calc(100vh - #{$application-bar-height});
	overflow: hidden;
	padding-bottom: 60px;
	padding-left: 0;
	padding-right: 0;
	transition: all 0.15s ease-in-out;

	@include media-breakpoint-down(sm) {
		bottom: 0;
		position: absolute;
		top: 0;
		z-index: 1033;
	}

	&, a, .active {
		color: #7F88A7;
		font-size: 14px;
	}

	.sidenav-body {
		overflow: hidden;
		width: $sidenav-b2b-width;
	}

	.btn-monospaced {
		.lexicon-icon {
			height: 0.8em;
		}
	}
}

.close-hide-icon {
	display: none;
}

.sidenav-b2b-close {
	.sidenav-b2b {
		max-width: $sidenav-b2b-close-width;
	}

	.sidenav-icon {
		display: inline-block;
	}
}