$brand-color-primary: #0B5fff;
$brand-color-secondary: #393B4A;
$brand-color-secondary-dark: #2F313E;
$brand-color-secondary-light: #898788;

$sidenav-b2b-width: 220px;
$sidenav-b2b-close-width: 95px;

$sidenav-b2b-color-bg: $brand-color-secondary;

$application-bar-height: 70px;