// This file is for defining and overwriting Sass variables used in main.scss
// and its imports

$brand-color-primary: #0B5fff;
$brand-color-secondary: #393B4A;
$brand-color-secondary-dark: #2F313E;
$brand-color-secondary-light: #898788;

$sidenav-b2b-width: 220px;
$sidenav-b2b-close-width: 95px;

$sidenav-b2b-color-bg: $brand-color-secondary;

$application-bar-height: 70px;

$product-detail-item-size: 300px;

$b2b-light-bg: $white !default;
$b2b-light-border-color: lighten(saturate(adjust-hue($secondary, 3), 6.13), 46.08) !default;
$b2b-light-color: #272833 !default;

// Login Header

$b2b-login-header-bg: $b2b-light-bg !default;
$b2b-login-header-border-color: $b2b-light-border-color !default;
$b2b-login-header-height: 5rem !default; // 80px

// Customer Portal

$b2b-site-body-bg: $white;

// b2b Main Nav

$b2b-main-navbar-size: () !default;
$b2b-main-navbar-size: map-merge((
	scaling-navbar: true,
	height: 4.375rem,
	padding-x: 0,
	padding-y: 0,
	link-padding-x: 1.5rem,
	link-padding-x-mobile: 1rem,
	brand-margin-right: 0,
	brand-padding-x: 0,
	brand-padding-y: 0,
	form-control-height-mobile: 2rem
), $b2b-main-navbar-size);