// This file is for defining and overwriting Sass variables used in main.scss
// and its imports

$brand-color-primary: #0B5fff;
$brand-color-secondary: #393B4A;
$brand-color-secondary-dark: #2F313E;
$brand-color-secondary-light: #898788;

$sidenav-b2b-width: 220px;
$sidenav-b2b-close-width: 95px;

$application-bar-height: 70px;

$product-detail-item-size: 300px;

$b2b-light-bg: $white !default;
$b2b-light-border-color: lighten(saturate(adjust-hue($secondary, 3), 6.13), 46.08) !default;
$b2b-light-color: #272833 !default;

// Login Header

$b2b-login-header-bg: $b2b-light-bg !default;
$b2b-login-header-border-color: $b2b-light-border-color !default;
$b2b-login-header-height: 5rem !default; // 80px

// Customer Portal

$b2b-site-body-bg: $white;

// b2b Main Nav

$b2b-main-navbar-size: () !default;
$b2b-main-navbar-size: map-merge((
	scaling-navbar: true,
	height: 4.375rem,
	padding-x: 0,
	padding-y: 0,
	link-padding-x: 1.5rem,
	link-padding-x-mobile: 1rem,
	brand-margin-right: 0,
	brand-padding-x: 0,
	brand-padding-y: 0,
	form-control-height-mobile: 2rem
), $b2b-main-navbar-size);

// b2b Site Navigation

$b2b-site-navigation-closed-width: 6rem !default; // 96px
$b2b-site-navigation-open-width: 13.75rem !default; // 220px

$b2b-site-navigation-bg: #393B4A !default;

// Orders

$order-details-title: () !default;
$order-details-title: map-merge((
	color: #FFF,
	font-size: 1.125rem,
	font-weight: $font-weight-semi-bold,
	margin-bottom: 0.75rem
), $order-details-title);

$order-details-subtitle: () !default;
$order-details-subtitle: map-merge((
	font-weight: $font-weight-semi-bold,
	margin-bottom: 0.5rem
), $order-details-subtitle);

// Cart Content Mini

$commerce-order-items-header-bg: #393B49 !default;
$commerce-order-items-header-color: #FFF !default;

$commerce-order-items-body-bg: #393B49 !default;
$commerce-order-items-body-color: #FFF !default;

$commerce-order-items-body-list-group-text: () !default;
$commerce-order-items-body-list-group-text: map-merge((
	color: inherit,
	font-size: 0.8125rem,
	font-weight: $font-weight-light,
	margin-top: -0.25rem
), $commerce-order-items-body-list-group-text);

$commerce-order-items-body-list-group-title: () !default;
$commerce-order-items-body-list-group-title: map-merge((
	color: $commerce-order-items-body-color,
	font-size: 1.125rem,
	font-weight: $font-weight-normal,
	margin-bottom: 0.125rem,
	margin-top: -0.125rem,
	clay-link: (
		color: $commerce-order-items-body-color,
		hover-color: $commerce-order-items-body-color
	)
), $commerce-order-items-body-list-group-title);

$commerce-order-items-body-list-group-subtitle: () !default;
$commerce-order-items-body-list-group-subtitle: map-merge((
	color: inherit,
	font-size: 0.75rem
), $commerce-order-items-body-list-group-subtitle);

$commerce-order-items-footer-bg: #30323E !default;
$commerce-order-items-footer-color: #FFF !default;

// Checkout Summary

$commerce-checkout-summary-body-list-group-text: () !default;
$commerce-checkout-summary-body-list-group-text: map-merge((
	color: inherit,
	font-size: 0.8125rem,
	font-weight: $font-weight-light,
	margin-top: -0.25rem
), $commerce-checkout-summary-body-list-group-text);

$commerce-checkout-summary-body-list-group-title: () !default;
$commerce-checkout-summary-body-list-group-title: map-merge((
	font-size: 1rem,
	font-weight: $font-weight-normal,
	margin-bottom: 0.125rem,
	margin-top: -0.125rem
), $commerce-checkout-summary-body-list-group-title);

$commerce-checkout-summary-body-list-group-subtitle: () !default;
$commerce-checkout-summary-body-list-group-subtitle: map-merge((
	color: inherit,
	font-size: 0.75rem
), $commerce-checkout-summary-body-list-group-subtitle);

$commerce-checkout-summary-footer-commerce-description: () !default;
$commerce-checkout-summary-footer-commerce-description: map-merge((
	font-size: 0.8125rem,
	font-weight: $font-weight-light
), $commerce-checkout-summary-footer-commerce-description);

$commerce-checkout-success-messsage: () !default;
$commerce-checkout-success-messsage: map-merge((
	font-size: 1.125rem,
	font-weight: $font-weight-bold,
), $commerce-checkout-success-messsage);