.account-selector-info {
	.order-details {
		align-items: center;
		color: #2c3a4b;
		display: flex;
		font-size: 12px;
		font-style: normal;
		font-weight: normal;
		line-height: 150%;
		margin-top: 10px;

		span:nth-child(2) {
			border-left: 1px solid #000;
			padding-left: 10px;
			margin-left: 10px;
		}
	}
}

.account-selector .dropdown-menu {
	height: 465px;
	max-width: 400px;
	width: 400px;

	.list-unstyled {
		height: 395px;
	}

	.inline-scroller {
		height: 285px;
		max-height: 285px;
		padding: 0.5rem 1.25rem;
	}
}
