@import 'atlas-variables';

.ratings-like {
	button {
		&:hover:not(:disabled) .lexicon-icon-heart {
			color: $dark;
			transform: scale(1.3);
		}
	}

	.lexicon-icon-heart {
		transition: all .2s ease-in-out;

		&.liked {
			color: $red;
			fill: $red;
		}
	}

	.likes {
		margin-left: .5rem;
	}
}