@import 'atlas-variables';

.ratings-like {
	button {
		&:hover:not(:disabled) .lexicon-icon-heart {
			color: $dark;
			transform: scale(1.3);
		}
	}

	.lexicon-icon-heart {
		transition: all 0.2s ease-in-out;

		&.liked {
			color: $red;
			fill: $red;
		}
	}

	.likes {
		margin-left: 0.5rem;
	}
}

.ratings-thumbs {
	.btn {
		&:hover:not(:disabled) .lexicon-icon {
			transform: scale(1.3);
		}

		&[aria-pressed='true'] {
			.lexicon-icon {
				color: $primary;
			}
		}
	}

	.lexicon-icon {
		transition: all 0.2s ease-in-out;
	}
}

.ratings {
	.btn {
		overflow: hidden;
	}

	.animated-counter {
		display: inline-flex;
		justify-content: center;
		min-width: 3ch;
		position: relative;

		.previous {
			position: absolute;
		}

		&.animating-up {
			.previous {
				animation-duration: 300ms;
				animation-name: fadeOutUp;
			}
			.current {
				animation-duration: 300ms;
				animation-name: fadeInUp;
			}
		}

		&.animating-down {
			.previous {
				animation-duration: 300ms;
				animation-name: fadeOutDown;
			}
			.current {
				animation-duration: 300ms;
				animation-name: fadeInDown;
			}
		}
	}
}

@keyframes fadeOutUp {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
		transform: translate3d(0, -1.5rem, 0);
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 1.5rem, 0);
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeOutDown {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
		transform: translate3d(0, 1.5rem, 0);
	}
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translate3d(0, -1.5rem, 0);
	}

	to {
		opacity: 1;
	}
}
