<nav class="navbar navbar-collapse-absolute navbar-expand-md navbar-underline navigation-bar navigation-bar-light">
	<div class="container-fluid container-fluid-max-xl">
		<a
			aria-controls="navigationBarCollapse00"
			aria-expanded="false"
			aria-label="Toggle Navigation"
			class="collapsed navbar-toggler navbar-toggler-link"
			data-toggle="collapse"
			href="#navigationBarCollapse00"
			role="button"
		>
			<span class="navbar-text-truncate">Tab 1</span>

			<svg
				class="lexicon-icon lexicon-icon-caret-bottom"
				focusable="false"
				role="presentation"
			>
				<use href="/images/icons/icons.svg#caret-bottom"></use>
			</svg>
		</a>

		<div class="collapse navbar-collapse" id="navigationBarCollapse00" style="z-index: 505;">
			<div class="container-fluid container-fluid-max-xl">
				<ul class="navbar-nav">
					[#list 0..configuration.numberOfTabs-1 as i]
					<li class="nav-item">
						<a class="nav-link" href="#1">
							<span class="navbar-text-truncate">
								<lfr-editable id="${i+1}-title" type="rich-text">
									Tab ${i+1}
								</lfr-editable>
							</span>
						</a>
					</li>
					[/#list]
				</ul>
			</div>
		</div>
	</div>
</nav>

<div class="tab-content">
	[#list 0..configuration.numberOfTabs-1 as i]
	<div class="tab-content-item d-none">
		<lfr-editable id="${i+1}-drop-zone" type="rich-text">
			DROP ZONE ${i+1}
		</lfr-editable>
		<!-- <lfr-drop-zone id="${i}-tab-drop-zone" /> -->
	</div>
	[/#list]
</div>