##
## Calculate $formFieldTypeName
##
#set ($formFieldTypeName = "")
##
#if ($artifactId.contains("-"))
#set ($artifactIdSegments = $artifactId.split("-"))
##
#foreach ($artifactIdSegment in $artifactIdSegments)
#if ($velocityCount > 1)
#set ($artifactIdSegment = $artifactIdSegment.substring(0, 1).toUpperCase() + $artifactIdSegment.substring(1))
#end
#set ($formFieldTypeName = $formFieldTypeName.concat($artifactIdSegment))
#end
#else
#set ($formFieldTypeName = $artifactId)
#end