$borderRadius: 4px;
$controlMenuBackButtonSize: 40px;
$controlMenuTitleStandaloneFontSize: 24px;
$controlMenuTitleWidgetFontSize: 16px;

.edit-entry .app-builder-control-menu.standalone {
	margin-left: calc(-1.5rem - 1px);
	margin-right: calc(-1.5rem - 1px);
	margin-top: calc(-4.5em - 1px);
}

.app-builder-control-menu {
	padding: 0;

	&.standalone {
		background-color: $grayColor800;
		border: 1px solid $grayColor700;
		border-radius: $borderRadius $borderRadius 0 0;
		margin-top: calc(-1.5em - 1px);
	}

	&.widget {
		background-color: $whiteColor;
		border-color: $grayColor400;
		border-style: solid;
		border-width: 0 0 0.0625rem;
	}

	.control-menu-back-button {
		align-items: center;
		display: inline-flex;
		height: $controlMenuBackButtonSize;
		width: $controlMenuBackButtonSize;

		&.standalone {
			color: $whiteColor;
			margin: calc(1rem - 1px);

			&:hover {
				background-color: $grayColor800;
				border-radius: $borderRadius;
			}
		}

		&.widget {
			color: $grayColor700;
			margin: 8px;
		}
	}

	.control-menu-title {
		&.standalone {
			color: $whiteColor;
			font-size: $controlMenuTitleStandaloneFontSize;
		}

		&.widget {
			font-size: controlmenutitlewidgetfontsize;
			font-weight: 600;
		}
	}
}
