$customObjectDropdownMenuWidth: 260px;

.custom-object-dropdown-list {
	.dropdown-item {
		cursor: pointer;
		padding: 0.75rem 1rem;
	}

	.dropdown-item-indicator-start {
		background-color: $whiteColor200;
		border-radius: 4px;
		display: inline-block;
		height: 24px;
		margin-right: 0.5rem;
		text-align: center;
		vertical-align: middle;
		width: 24px;
	}
}

.custom-object-dropdown-menu {
	margin-left: 9px;
	margin-top: 9px;
	max-width: $customObjectDropdownMenuWidth;
	min-width: $customObjectDropdownMenuWidth;

	.dropdown-item-indicator-start {
		position: static;
	}
}
