.dropdown-button-asset {
	margin-top: 0.325rem;
}

.multiple-select-filter-dropdown {
	max-width: 308px;

	.dropdown-search {
		padding: 8px 10px;
	}

	.dropdown-select-all {
		display: flex;
		justify-content: space-between;
		padding: 8px 20px;
	}
}

.dropdown-footer {
	box-shadow: 0 -5px 5px -5px rgba($blackColor, 0.3);
}

.dropdown-fixed-height {
	max-height: 400px !important;
}

.empty-state-dropdown-menu {
	padding: 0.5rem 1rem;
	text-align: left;
}

.error-state-dropdown-menu {
	display: flex;
	flex-direction: column;
	padding-bottom: 1.3rem;
	padding-top: 1.3rem;
	text-align: center;

	.errorButton {
		margin-top: 1rem;
	}
}

.loading-state-dropdown-menu {
	padding-bottom: 1.3rem;
	padding-top: 1.3rem;
	text-align: center;
}

.select-dropdown-menu {
	max-height: 200px;
	max-width: 418px;
	width: 100%;

	.dropdown-item {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.dropdown-section {
		padding: 0.5rem;
	}

	ul > li > button {
		height: 40px;
	}
}
