.form-renderer-required-field {
	position: relative;

	&__popover {
		left: 0;
		max-width: none;
		right: 0;
		top: 35px;
		width: 100%;

		&:not(.show) {
			display: none;
		}
	}

	&__toggle .toggle-switch-label {
		font-size: 0.875rem;
		margin-left: 8px;
	}
}
