.multiple-select-filter-dropdown {
	min-width: 293px;

	.dropdown-search {
		padding-left: 0.75rem;
		padding-right: 0.75rem;

		.form-control {
			height: 2rem;
		}
	}

	.dropdown-select-all {
		display: flex;
		padding-bottom: 0;
		padding-left: 0.75rem;
		padding-right: 0.75rem;
		padding-top: 0;

		&.clearable {
			&:hover {
				background-color: transparent;
			}

			.btn-unstyled {
				&:hover {
					background-color: $whiteColor200;
				}
			}
		}

		.btn-unstyled {
			padding: 0.375rem 0.75rem;

			&:active:focus,
			&:focus {
				box-shadow: none;
				outline: none;
			}
		}

		.all {
			flex-grow: 1;
			font-size: 14px;
			margin-right: 0.5rem;
		}

		.clear {
			font-size: 14px;
			font-weight: 600;
		}
	}

	.lexicon-icon-check {
		color: $primaryColor;
	}
}
