body.open .app-builder-upper-toolbar {
	width: calc(100% - #{$productMenuWidth});
}

.app-builder-upper-toolbar {
	height: $upperToolbarHeight;
	position: fixed;
	top: $controlMenuHeight;
	transition: width 0.5s $animation;
	width: 100%;
	z-index: 60;

	@media (max-width: 576px) {
		top: $mobileControlMenuHeight;
	}

	&.standalone,
	&.widget {
		margin-bottom: 2rem;
		position: relative;
		top: 0;
		width: auto;
	}

	.container-fluid {
		padding: 0 16px;
	}
}

.publications-enabled {
	.app-builder-upper-toolbar {
		top: 80px;
	}
}
