.bg-white {
	background-color: var(--white) !important;
}

.bg-gray-100 {
	background-color: var(--gray-100);
}

.bg-gray-200 {
	background-color: var(--gray-200);
}

.bg-gray-300 {
	background-color: var(--gray-300);
}

.bg-gray-400 {
	background-color: var(--gray-400);
}

.bg-gray-500 {
	background-color: var(--gray-500);
}

.bg-gray-600 {
	background-color: var(--gray-600);
}

.bg-gray-700 {
	background-color: var(--gray-700);
}

.bg-gray-800 {
	background-color: var(--gray-800);
}

.bg-gray-900 {
	background-color: var(--gray-900);
}

.bg-black {
	background-color: var(--black);
}

.bg-transparent {
	background-color: var(--transparent) !important;
}

.font-family-sans-serif {
	font-family: var(--font-family-sans-serif);
}

.font-family-monospace {
	font-family: var(--font-family-monospace);
}

.font-family-base {
	font-family: var(--font-family-base);
}
