$body-bg: white;
$bright-color: #1865fb;
$complementary-color: #869cad;
$dark-color: #242529;
$light-color: #e7e7ed;
$solid-color: #47647a;

$portlet-decorate-bg: #fff;
$portlet-decorate-border: 1px solid $light-color;
