.portlet-layout-templates-admin {
	.danger-dialog {
		.danger-list-items li {
			list-style: disc inside;
		}

		.danger-list-items .danger-info {
			font-size: 0.8em;
			font-style: italic;
			margin-left: 0.5em;
		}

		.danger-message {
			font-weight: bold;
		}
	}
	.success-dialog {
		.success-list-items li {
			list-style: disc inside;
		}

		.success-list-items .success-info {
			font-size: 0.8em;
			font-style: italic;
			margin-left: 0.5em;
		}

		.success-message {
			font-weight: bold;
		}
	}
	.warning-dialog {
		.warning-list-items li {
			list-style: disc inside;
		}

		.warning-list-items .warning-info {
			font-size: 0.8em;
			font-style: italic;
			margin-left: 0.5em;
		}

		.warning-message {
			font-weight: bold;
		}
	}
}
