.staging-taglib-checkbox-description {
	font-weight: normal;
}

.staging-taglib-checkbox-items,
.staging-taglib-checkbox-deletions {
	&:after {
		content: ')';
	}

	&:before {
		content: '(';
	}

	color: #6b6c7e;
	font-style: italic;
}

.staging-taglib-checkbox-suggestion {
	font-weight: normal;
}

.staging-taglib-checkbox-warning {
	font-weight: normal;
}
