<div class="product-content">
	<div class="product-detail-header">
		<div class="product-detail-title-group">
			<h1 class="product-detail-type" data-lfr-editable-id="Type" data-lfr-editable-type="text">Auto</h1>

			<div class="product-detail-name" data-lfr-editable-id="Name" data-lfr-editable-type="text">Volkswagen Golf 1.6</div>
		</div>

		<a class="btn btn-sm btn-outline-primary mt-2" href="#" role="button" data-lfr-editable-id="Edit" data-lfr-editable-type="link">Edit Policy</a>
	</div>

	<div class="product-detail-section">
		<h4 class="product-detail-section-title">Billing</h4>

		<div class="row">
			<div class="col-4">
				<div class="product-detail-section-group">
					<div class="product-detail-section-group-label">Yearly Fee</div>
					<div class="product-detail-section-group-text" data-lfr-editable-id="Reference" data-lfr-editable-type="text">587€</div>
				</div>
			</div>

			<div class="col-4">
				<div class="product-detail-section-group">
					<div class="product-detail-section-group-label">Purchase Date</div>
					<div class="product-detail-section-group-text" data-lfr-editable-id="Purchase-Date" data-lfr-editable-type="text">16/01/2015</div>
				</div>
			</div>

			<div class="col-4">
				<div class="product-detail-section-group">
					<div class="product-detail-section-group-label">Pay Method</div>
					<div class="product-detail-section-group-text" data-lfr-editable-id="Pay-Method" data-lfr-editable-type="text">Bank Account</div>
				</div>
			</div>
		</div>
	</div>

	<div class="product-detail-section">
		<h4 class="product-detail-section-title">Vehicle</h4>

		<div class="row">
			<div class="col-4">
				<div class="product-detail-section-group">
					<div class="product-detail-section-group-label">Manufacturer</div>
					<div class="product-detail-section-group-text" data-lfr-editable-id="Manufacturer" data-lfr-editable-type="text">Volskwagen</div>
				</div>
			</div>

			<div class="col-4">
				<div class="product-detail-section-group">
					<div class="product-detail-section-group-label">Model</div>
					<div class="product-detail-section-group-text" data-lfr-editable-id="Model" data-lfr-editable-type="text">Golf Sportsvan</div>
				</div>
			</div>

			<div class="col-4">
				<div class="product-detail-section-group">
					<div class="product-detail-section-group-label">Version</div>
					<div class="product-detail-section-group-text" data-lfr-editable-id="Version" data-lfr-editable-type="text">Advance 1.6 TDI</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-4">
				<div class="product-detail-section-group">
					<div class="product-detail-section-group-label">Car Plate</div>
					<div class="product-detail-section-group-text" data-lfr-editable-id="Plate" data-lfr-editable-type="text">21356KLM</div>
				</div>
			</div>

			<div class="col-4">
				<div class="product-detail-section-group">
					<div class="product-detail-section-group-label">Owner</div>
					<div class="product-detail-section-group-text" data-lfr-editable-id="Owner" data-lfr-editable-type="text">David Aragonés</div>
				</div>
			</div>
		</div>
	</div>

	<div class="product-detail-section">
		<h4 class="product-detail-section-title">Drivers</h4>

		<div class="row">
			<div class="col-4">
				<div class="product-detail-section-group">
					<div class="product-detail-section-group-label">Policy Owner</div>
					<div class="product-detail-section-group-text" data-lfr-editable-id="Policy-Owner" data-lfr-editable-type="text">David Aragonés</div>
				</div>
			</div>

			<div class="col-4">
				<div class="product-detail-section-group">
					<div class="product-detail-section-group-label">Main Driver</div>
					<div class="product-detail-section-group-text" data-lfr-editable-id="Main-Driver" data-lfr-editable-type="text">David Aragonés</div>
				</div>
			</div>

			<div class="col-4">
				<div class="product-detail-section-group">
					<div class="product-detail-section-group-label">Additional Driver</div>
					<div class="product-detail-section-group-text" data-lfr-editable-id="Additional-Driver" data-lfr-editable-type="text">Jürgen Kappler</div>
				</div>
			</div>
		</div>
	</div>

	<div class="product-detail-section">
		<h4 class="product-detail-section-title">Coverages</h4>

		<div class="product-content-box" data-lfr-editable-id="Coverages" data-lfr-editable-type="rich-text"></div>
	</div>
		<div class="product-detail-section">
		<h4 class="product-detail-section-title">Images</h4>

		<img alt="" class="policy-image" data-lfr-editable-id="Image" data-lfr-editable-type="image" src="[resources:golf.png]" />
	</div>

	<div class="product-detail-section">
		<h4 class="product-detail-section-title">Documents</h4>

		<div class="row">
			<div class="col-6">
				<div class="product-detail-section-group">
					<div class="product-detail-section-group-label mb-3">Policy Contract</div>
					<div class="product-content-box" data-lfr-editable-id="Contract" data-lfr-editable-type="rich-text"></div>
				</div>
			</div>

			<div class="col-6">
				<div class="product-detail-section-group">
					<div class="product-detail-section-group-label mb-3">Latest Receipts</div>
					<div class="product-content-box" data-lfr-editable-id="Receipts" data-lfr-editable-type="rich-text"></div>
				</div>
			</div>
		</div>
	</div>
</div>