.collapsable-panel {
	.collapse-icon-options {
		position: absolute;
		right: 16px;
		top: 0;
		z-index: 1;
	}

	.collapse-icon-closed.actions,
	.collapse-icon-open.actions {
		right: 56px !important;
	}
}
