.collapsable-panel {
	.collapse-icon-options {
		position: absolute;
		right: 16px;
		top: 16px;
		z-index: 1 !important;
	}

	.collapse-icon-closed.actions,
	.collapse-icon-open.actions {
		right: 56px !important;
	}
}
