$baseline: 24px;

.ddm-form-builder {
	transition: padding ease 0.5s;

	&--sidebar-open {
		padding-right: $sidebarMainWidth + $sidebarMiniWidth;
	}
}

.data-engine-form-builder {
	> .sheet {
		margin-top: 0;
		padding: 0;
	}

	.container.ddm-form-builder {
		padding: 0;
	}

	.ddm-empty-page {
		margin: $baseline !important;
		width: calc(100% - #{$baseline * 2}) !important;
	}

	.form-builder-layout {
		padding: 0 !important;

		.ddm-form-page > .row {
			margin: 0;
		}
	}

	.lfr-ddm-form-container > .horizontal-line {
		display: none;
	}

	.lfr-initial-col {
		margin: 0 !important;
		padding: 0 !important;
	}
}

.data-engine-form-builder-messages {
	.alert {
		margin-top: 60px;
		z-index: 1000;
	}
}
