.taglib-empty-result-message {
	.empty-state-small {
		background-position: center;
		background-repeat: no-repeat;
		background-size: 154px;
	}

	.taglib-empty-result-message-title {
		&.empty-state-title-small {
			margin-top: 0;
		}
	}
}
