$modalSpaing: 293px;
$sidebarBodySpacing: #{$modalSpaing} + 100px;

body.has-control-menu .fieldset-modal {
	.modal-body {
		overflow-x: hidden;
	}

	.data-engine-form-builder {
		height: calc(100vh - #{$modalSpaing});
		left: 0;
		overflow-x: auto;
		padding-bottom: 1.5rem;
		padding-top: 1.5rem;
		position: absolute;
		top: 0;
		width: 100%;
	}

	.data-layout-builder-sidebar {
		.sidebar .sidebar-body {
			height: calc(100vh - #{$sidebarBodySpacing}) !important;
		}

		&.display-settings .sidebar .sidebar-body {
			height: calc(
				100vh - (#{$sidebarBodySpacing} - #{$displaySettingsHeight})
			) !important;
		}
	}

	.multi-panel-sidebar {
		height: calc(100vh - 112px) !important;

		&,
		&-content {
			height: calc(100vh - #{$modalSpaing}) !important;
			position: absolute;
		}

		&,
		&.menu-indicator-enabled {
			top: 0 !important;
		}

		.field-type .dropdown-action {
			display: none;
		}

		.component-tbar {
			.container-fluid {
				margin-top: 4px;
			}
		}
	}

	.add-fieldset,
	.tbar-item:not(.tbar-item--fields) {
		display: none;
	}

	.sheet {
		margin: 0 auto;
		max-width: 808px;
	}
}

.fieldset-message {
	font-size: 14px;
}
