.data-layout-builder-rule-editor-modal {
	.form-builder-rule-builder {
		.modal {
			display: none;
		}
	}

	.liferay-ddm-form-rule-builder-footer {
		display: none;
	}

	.liferay-ddm-form-rule-builder-header {
		display: none;
	}

	.modal-body:nth-child(3) {
		background-color: #f1f2f5;
	}
}
