.data-layout-builder-sidebar {
	&.main {
		transform: translateX(0%);
		transition: transform 0.3s $animation, opacity 0.3s $animation;
		width: $sidebarMainWidth;
		z-index: 50;

		&.closed {
			opacity: 0;
			transform: translateX($sidebarMainWidth - $sidebarMiniWidth);
		}
	}

	&.mini {
		padding: 16px;
		transform: translateX(0%);
		transition: transform 0.3s $animation;
		width: $sidebarMiniWidth;
		z-index: 60;

		&.closed {
			transform: translateX($sidebarMiniWidth);
		}
	}

	.sidebar {
		box-shadow: none;

		.sidebar-body {
			height: calc(100vh - 224px);
			overflow: hidden;

			.component-tbar {
				height: auto;
				margin-left: -1rem;
				margin-right: -1rem;
				min-height: auto;
				position: relative;
				top: auto;
				width: auto;
			}
		}

		.sidebar-header {
			padding-bottom: 0;
		}
	}

	.lfr-ddm-form-container .ddm-field-options-container .ddm-options-target {
		margin: 2px 0;
	}
}

.field-type-list {
	.field-type-primary {
		.field-type-header:hover {
			background-color: rgba($fieldTypePrimary, 0.05) !important;
		}

		.field-type-header .data-layout-builder-field-sticker {
			background-color: rgba($fieldTypePrimary, 0.1) !important;

			.sticker-overlay {
				svg {
					color: $fieldTypePrimary !important;
				}
			}
		}

		.field-type-item::before {
			border-left: 2px solid rgba($fieldTypePrimary, 0.2);
			content: '';
			height: calc(100% - 15px);
			position: absolute;
			width: 0;
		}
	}

	.field-type-success {
		.field-type-header:hover {
			background-color: rgba($fieldTypeSuccess, 0.1) !important;
		}

		.field-type-header .data-layout-builder-field-sticker {
			background-color: rgba($fieldTypeSuccess, 0.2) !important;
			.sticker-overlay {
				svg {
					color: $fieldTypeSuccess !important;
				}
			}
		}

		.field-type-item::before {
			border-left: 2px solid rgba($fieldTypeSuccess, 0.2);
			content: '';
			height: calc(100% - 15px);
			position: absolute;
			width: 0;
		}
	}

	.panel-body {
		padding-right: 0;
	}
}
