.data-layout-builder-sidebar {
	&.main {
		transform: translateX(0%);
		transition: transform 0.3s $animation, opacity 0.3s $animation;
		width: $sidebarMainWidth;
		z-index: 50;

		&.closed {
			opacity: 0;
			transform: translateX($sidebarMainWidth - $sidebarMiniWidth);
		}
	}

	&.mini {
		padding: 16px;
		transform: translateX(0%);
		transition: transform 0.3s $animation;
		width: $sidebarMiniWidth;
		z-index: 60;

		&.closed {
			transform: translateX($sidebarMiniWidth);
		}
	}

	.sidebar {
		border-left: 1px solid $gray-300;
		box-shadow: none;

		.sidebar-body {
			height: calc(100vh - 224px);

			.component-tbar {
				height: auto;
				margin-left: -1rem;
				margin-right: -1rem;
				min-height: auto;
				position: relative;
				top: auto;
				width: auto;
			}
		}

		.sidebar-header {
			padding-bottom: 0;
		}
	}

	.lfr-ddm-form-container .ddm-field-options-container .ddm-options-target {
		margin: 2px 0;
	}
}
