/**
* Lexicon 1.0.24
*
* Copyright 2017, Liferay, Inc.
* All rights reserved.
* MIT license
*/
@import url(font-awesome.css);
@import "../../aui_variables";

@import "lexicon-base/mixins/global-functions";

@import "lexicon-base/main";

@import "../../liferay_variables_custom";
@import "../../liferay_variables";
@import "bourbon";
@import "../../aui_custom";
@import "../../liferay_custom";