@import 'atlas';

.lfr-depot-dashboard-container {
	.card .autofit-col {
		position: initial;
	}

	a.card-title {
		@extend .stretched-link;

		&:hover {
			color: inherit;
			text-decoration: unset;
		}
	}
}
