<div class="home-cover">
	<div class="container">
		<div class="home-cover-box">
			<div class="home-cover-box-title" data-lfr-editable-id="home-cover-title" data-lfr-editable-type="text">Flexible and affordable protection for all</div>

			<p data-lfr-editable-id="home-cover-subtitle" data-lfr-editable-type="text">From customized coverages to superior claims service, our people and technology support you every step of the way. Join us and experience why we're one of the best insurance companies.</p>

			<a class="btn btn-lg btn-primary px-5 py-3" href="#" role="button" data-lfr-editable-id="action-button" data-lfr-editable-type="link">Get a Quote</a>
		</div>

		<div class="text-right">
			<img alt="" class="home-cover-image" data-lfr-editable-id="cover-image" data-lfr-editable-type="image" src="[resources:brooke_hero.png]" />
		</div>
	</div>
</div>