[#assign
	homeFriendlyURL = themeDisplay.getPathFriendlyURLPublic() + themeDisplay.getSiteGroup().getFriendlyURL()
/]

<nav class="navbar navbar-expand-lg insured-portal-navbar">
	<div class="container">
		<a class="navbar-brand" href="${homeFriendlyURL}">
			<img alt="" class="navbar-logo" data-lfr-editable-id="image-logo" data-lfr-editable-type="image" loading="lazy" src="[resources:logo_inv.svg]" />
		</a>

		<button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		   <lfr-widget-nav id="nav"></lfr-widget-nav>
			<div class="dropdown user-menu">
				<button aria-expanded="false" aria-haspopup="true" class="btn" data-toggle="dropdown" id="dropdownMenuButton" type="button">
					<img alt="" data-lfr-editable-id="image-user" data-lfr-editable-type="image" src="[resources:ryan.png]" />
				</button>

				<div aria-labelledby="dropdownMenuButton" class="dropdown-menu dropdown-menu-right">
					<div class="user-name">David Aragonés</div>

					<a class="dropdown-item" href="dashboard.html">Dashboard</a>
					<a class="dropdown-item" href="#">My Account</a>
					<a class="dropdown-item" href="#">Notifications</a>
					<a class="dropdown-item" href="/web/guest">Sign Out</a>
				</div>
			</div>
		</div>
	</div>
</nav>