.insured-portal-navbar {
	 padding-bottom: 0;
	 padding-top: var(--spacer-1);
	 background-color: var(--gray-900);
}

.insured-portal-navbar .dropdown-menu {
	left: auto;
	right: 0;
}

.insured-portal-navbar .navbar-logo {
	margin-bottom: var(--spacer-1);
}

.insured-portal-navbar .portlet-content {
	padding: 0;
}

.layout-content .navbar .portlet, .layout-content .navbar .navbar-zone {
	margin-bottom: 0;
	margin-left: auto;
	margin-right: var(--spacer-2);
}

.insured-portal-navbar .portlet .nav-item .nav-link {
	border-bottom: 4px solid transparent;
	color: var(--gray-500);
	padding: var(--spacer-3) 0 var(--spacer-3);
}

.insured-portal-navbar .portlet .nav-item .nav-link:hover {
	color: var(--white);
}

.layout-content .insured-portal-navbar .portlet .nav-item.active a {
	border-bottom: 4px solid var(--primary);
	color: var(--white);
}