There was an issue with the following sandbox: [$SANDBOX_DETAILS$]. There have been [$SANDBOX_RESTART_ATTEMPTS$] restart attempts.

Please view the sandbox status in the Control Panel.

Sincerely,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />