.fjord-header-fullscreen .navbar-brand img {
	height: 12px;
}

.fjord-header-fullscreen .navbar-toggler-icon {
	background-image: none;
	height: 20px;
	width: 20px;
}

.fjord-header-fullscreen .navbar-toggler-icon span {
	border: 1px solid;
	transition: 200ms ease-in-out;
	-webkit-transition: 300ms ease-in-out;
}

.fjord-header-fullscreen .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon span:nth-child(1) {
	transform: translate(4px, -0.4px) rotate(45deg);
	-webkit-transform: translate(4px, -0.4px) rotate(45deg);
	transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
}

.fjord-header-fullscreen .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon span:nth-child(2) {
	opacity: 0;
}

.fjord-header-fullscreen .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon span:nth-child(3) {
	transform: translate(4px, 1px) rotate(-45deg);
	-webkit-transform: translate(4px, 1px) rotate(-45deg);
	transform-origin: 0% 100%;
	-webkit-transform-origin: 0% 100%;
}

.fjord-header-fullscreen .navbar-toggler[aria-expanded="true"] {
	z-index: 1010;
}

.fjord-header-fullscreen #navigationCollapse {
	transition: none;
	z-index: 1000;
	-webkit-transition: none;
}

.fjord-header-fullscreen #navigationCollapse.show {
	display: flex;
}

.fjord-header-fullscreen #navigationCollapse .navbar-nav {
	flex-direction: column;
	font-size: 2.5rem;
}

@media (min-width: 768px) {
	.fjord-header-fullscreen #navigationCollapse {
		display: none;
	}
}

.fjord-header-fullscreen .sign-in {
	color: inherit;
}