<div class="products-list">
	<div class="container">
		<div class="products-list-claim-heading" data-lfr-editable-id="claim-heading" data-lfr-editable-type="text">
			Protection for every part of your life
		</div>

		<div class="products-list-claim-text" data-lfr-editable-id="claim-text" data-lfr-editable-type="text">
			From customized coverages to superior claims service, our people and technology support you every step of the way. Join us and experience why we're one of the best insurance companies.
		</div>

		<h4 class="products-list-title" data-lfr-editable-id="list-title" data-lfr-editable-type="text">
			Products & Coverages
		</h4>

		<div class="row">
			<div class="col">
				<div class="product-group">
					<div class="product-name">
						<img data-lfr-editable-id="01-image" data-lfr-editable-type="image" src="[resources:auto.svg]" alt="" /><span data-lfr-editable-id="01-title" data-lfr-editable-type="text">Auto</span>
					</div>

					<div class="product-summary" data-lfr-editable-id="01-text" data-lfr-editable-type="text">
						Policies with multiple vehicles steeper receive discounts when bundled.
					</div>
				</div>
			</div>

			<div class="col">
				<div class="product-group">
					<div class="product-name">
						<img alt="" data-lfr-editable-id="02-image" data-lfr-editable-type="image" src="[resources:health.svg]" /><span data-lfr-editable-id="02-title" data-lfr-editable-type="text">Health</span>
					</div>

					<div class="product-summary" data-lfr-editable-id="02-text" data-lfr-editable-type="text">
						Compare plans and get trusted coverage for you and your family.
					</div>
				</div>
			</div>

			<div class="col">
				<div class="product-group">
					<div class="product-name">
						<img alt="" data-lfr-editable-id="03-image" data-lfr-editable-type="image" src="[resources:life.svg]" /><span data-lfr-editable-id="03-title" data-lfr-editable-type="text">Life</span>
					</div>

					<div class="product-summary" data-lfr-editable-id="03-text" data-lfr-editable-type="text">
						Provide longer-lasting financial security to those who depend on you.
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="product-group">
					<div class="product-name">
						<img alt="" data-lfr-editable-id="04-image" data-lfr-editable-type="image" src="[resources:home.svg]" /><span data-lfr-editable-id="04-title" data-lfr-editable-type="text">Home</span>
					</div>

					<div class="product-summary" data-lfr-editable-id="04-text" data-lfr-editable-type="text">
						Get structural protection and keep your personal belongings covered.
					</div>
				</div>
			</div>

			<div class="col">
				<div class="product-group">
					<div class="product-name">
						<img alt="" data-lfr-editable-id="05-image" data-lfr-editable-type="image" src="[resources:property.svg]" /><span data-lfr-editable-id="05-title" data-lfr-editable-type="text">Property</span>
					</div>

					<div class="product-summary" data-lfr-editable-id="05-text" data-lfr-editable-type="text">
						Safeguard your business from liability claims with confidence.
					</div>
				</div>
			</div>

			<div class="col">
				<div class="product-group">
					<div class="product-name">
						<img alt="" data-lfr-editable-id="06-image" data-lfr-editable-type="image" src="[resources:umbrella.svg]" /><span data-lfr-editable-id="06-title" data-lfr-editable-type="text">Umbrella</span>
					</div>

					<div class="product-summary" data-lfr-editable-id="06-text" data-lfr-editable-type="text">
						Protect your assets and savings with extra liability coverage.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>