{
    "env": {
        "test": {
            "presets": [
                "env"
            ],
            "plugins": [
                ["@babel/plugin-proposal-decorators", {"legacy": true}],
                "@babel/plugin-proposal-class-properties",
                ["incremental-dom", {
                    components: true,
                    namespaceAttributes: true,
                    prefix: "IncrementalDOM",
                    runtime: "iDOMHelpers"
                }],
                ["module-resolver", {
                    "alias": {
                        "dynamic-data-mapping-form-builder/*": "../dynamic-data-mapping-form-builder/src/main/resources/META-INF/resources",
                        "dynamic-data-mapping-form-field-type/*": "../dynamic-data-mapping-form-field-type/src/main/resources/META-INF/resources",
                        "frontend-js-web/*": "../../frontend-js/frontend-js-web/src/main/resources/META-INF/resources",
                        "mock/*": "./test/metal/js/__mock__",
                        "source/*": "./src/main/resources/META-INF/resources/metal/js"
                    }
                }]
            ]
        }
    },
    "ignore": [
        "**/admin/**/*.js"
    ],
    "plugins": [
        ["@babel/plugin-proposal-decorators", {"legacy": true}],
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        ["incremental-dom", {
            components: true,
            namespaceAttributes: true,
            prefix: "IncrementalDOM",
            runtime: "iDOMHelpers"
        }]
    ],
    "presets": [
        "@babel/preset-env",
    ]
}
