{
    "env": {
        "test": {
            "plugins": [
                "transform-decorators-legacy",
                ["module-resolver", {
                    "alias": {
                        "dynamic-data-mapping-form-field-type/*": "../dynamic-data-mapping-form-field-type/src/main/resources/META-INF/resources"
                    }
                }]
            ]
        }
    },
    "only": ["*.es.js", "*.soy.js"],
    "plugins": [
        "transform-class-properties",
        "transform-decorators-legacy",
        "transform-object-rest-spread"
    ],
    "presets": [
        "env",
        "metal-jsx"
    ]
}