{
    "env": {
        "test": {
            "presets": [
                "env",
                "metal-jsx"
            ],
            "plugins": [
                "transform-class-properties",
                "transform-decorators-legacy",
                ["module-resolver", {
                    "alias": {
                        "dynamic-data-mapping-form-field-type/*": "../dynamic-data-mapping-form-field-type/src/main/resources/META-INF/resources",
                        "frontend-js-web/*": "../../frontend-js/frontend-js-web/src/main/resources/META-INF/resources",
                        "mock/*": "./test/metal/js/__mock__",
                        "source/*": "./src/main/resources/META-INF/resources/metal/js"
                    }
                }]
            ]
        }
    },
    "ignore": [
        "**/admin/**/*.js"
    ],
    "plugins": [
        "transform-class-properties",
        "transform-decorators-legacy",
        "transform-object-rest-spread"
    ],
    "presets": [
        "env",
        "metal-jsx"
    ]
}