<div class="footer public-footer">
	<div class="container">
		<div class="row">
			<div class="col-4"><img class="footer-logo" src="[resources:logo_inv.svg]" alt="" /></div>
			<div class="col-2">
				<h6 class="footer-list-title">Products</h6>

				<ul class="nav flex-column footer-nav">
					<li class="nav-item">
						<a class="nav-link" href="#">Auto</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Life</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Health</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Property</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Umbrella</a>
					</li>
				</ul>
			</div>

			<div class="col-2">
				<h6 class="footer-list-title">Claims</h6>

				<ul class="nav flex-column footer-nav">
					<li class="nav-item">
						<a class="nav-link" href="#">Submit a Claim</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">My Claim Status</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Claims FAQ</a>
					</li>
				</ul>
			</div>

			<div class="col-2">
				<h6 class="footer-list-title">For Brokers</h6>

				<ul class="nav flex-column footer-nav">
					<li class="nav-item">
						<a class="nav-link" href="#">Broker Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Broker Resources</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Become a Broker</a>
					</li>
				</ul>
			</div>

			<div class="col-2">
				<h6 class="footer-list-title">Our Company</h6>

				<ul class="nav flex-column footer-nav">
					<li class="nav-item">
						<a class="nav-link" href="#">About Us</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">News</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">FAQ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Careers</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contect Us</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="footer-bottom">
			<ul class="nav flex-row footer-nav">
				<li class="nav-item">
					<a class="nav-link" href="#">Accesibility</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Privacy</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Termns of Use</a>
				</li>
			</ul>

			<ul class="nav footer-nav flex-row">
				<li class="nav-item">
					<a class="nav-link" href="#"><img src="[resources:instagram.svg]" alt="" /></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"><img src="[resources:facebook.svg]" alt="" /></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"><img src="[resources:linkedin.svg]" alt="" /></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"><img src="[resources:youtube.svg]" alt="" /></a>
				</li>
			</ul>
		</div>

		<div class="footer-copy">
			<p>© 2020 Raylife Inc. All Rights Reserved.</p>
		</div>
	</div>
</div>