.display-list {
	.list-group .list-group-item {
		.expand-details {
			margin-bottom: 0;
		}

		.list-group-title {
			margin-top: 0;
		}

		.search-results-metadata {
			.list-group-text a {
				font-size: 12px;
				font-weight: 400;

				&:focus {
					box-shadow: 0 0 0 0;
				}
			}
		}
	}

	.table-details {
		td,
		th {
			padding-bottom: 0;
			padding-top: 0;
		}

		.key-column {
			text-align: right;
			width: 15%;
			word-break: break-all;
		}
	}
}
