@mixin video-placeholder {
	align-items: center;
	background-color: $gray-200;
	display: flex;
	justify-content: center;

	.lexicon-icon {
		color: $gray-400;
		font-size: 2rem;
	}

	&-text {
		bottom: 1rem;
		color: $secondary;
		font-size: 0.875rem;
		font-weight: 600;
		position: absolute;
		text-align: center;
		width: 100%;
	}
}
