@import 'atlas-variables';
@import 'video_placeholder';

.video-preview {
	$component: &;
	$video-max-width: 600px;
	$video-max-width-sm: 360px;

	font-size: 0.875rem;
	max-width: $video-max-width;

	&-placeholder {
		@include video-placeholder;
	}

	&-aspect-ratio {
		height: 0;
		padding-bottom: 56.25%;
		position: relative;

		embed,
		iframe,
		object {
			background-color: $black;
		}

		embed,
		iframe,
		object,
		#{$component}-placeholder {
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}

	&-sm {
		max-width: $video-max-width-sm;
	}

	&-framed {
		$border-width: 1px;
		$padding: 1rem;

		background-color: $white;
		border: $border-width solid $secondary-l3;
		border-radius: 0.25rem;
		max-width: calc(
			#{$padding * 2} + #{$video-max-width + ($border-width * 2)}
		);
		padding: $padding;

		&#{$component}-sm {
			max-width: calc(
				#{$padding * 2} + #{$video-max-width-sm + ($border-width * 2)}
			);
		}
	}
}
