<li class="control-menu-nav-item ${cssClass}">
	<a aria-label="${title}" class="control-menu-icon lfr-portal-tooltip product-menu-toggle sidenav-toggler" data-content="body" data-open-class="open product-menu-open" data-qa-id="productMenu" data-target="#${portletNamespace}sidenavSliderId" data-title="${title}" data-toggle="liferay-sidenav" data-type="fixed-push" data-type-mobile="fixed" ${dataURL} href="javascript:;" id="${portletNamespace}sidenavToggleId">
		<div class="toast-animation">
			<div class="pm"></div>

			<div class="cn"></div>
		</div>
	</a>
</li>

<script type="text/javascript">
	var sidenavToggle = document.getElementById(
		'${portletNamespace}sidenavToggleId'
	);

	var sidenavInstance = Liferay.SideNavigation.initialize(sidenavToggle);

	Liferay.once('screenLoad', function() {
		Liferay.SideNavigation.destroy(sidenavToggle);
	});

	sidenavInstance.on('closed.lexicon.sidenav', function(event) {
		Liferay.Util.Session.set(
			'com.liferay.product.navigation.product.menu.web_productMenuState',
			'closed'
		);
	});

	sidenavInstance.on('open.lexicon.sidenav', function(event) {
		Liferay.Util.Session.set(
			'com.liferay.product.navigation.product.menu.web_productMenuState',
			'open'
		);
	});

	if (Liferay.Util.isPhone() && document.body.classList.contains('open')) {
		Liferay.SideNavigation.hide(sidenavToggle);
	}
</script>