<li class="control-menu-nav-item ${cssClass}">
	<a aria-label="${title}" class="control-menu-icon lfr-portal-tooltip pages-tree-toggle sidenav-toggler" data-content="body" data-open-class="open pages-tree-open" data-qa-id="pagesTree" data-target="#${portletNamespace}pagesTreeSidenavSliderId" data-title="${title}" data-toggle="liferay-sidenav" data-type="fixed-push" data-type-mobile="fixed" ${dataURL} href="javascript:;" id="${portletNamespace}pagesTreeSidenavToggleId">
		<svg class="icon-monospaced lexicon-icon">
			<use xlink:href="${pathThemeImages}/lexicon/icons.svg#pages-tree"></use>
		</svg>
	</a>
</li>