#container a {
    color: #FFF;
}

#container {
    margin: 0 auto;
}

#container nav {
    margin: 0;
    background-color: #E64A19;
}

#container nav ul {
    padding: 0;
  margin: 0;
    list-style: none;
    position: relative;
    }

#container nav ul li {
    display:inline-block;
    background-color: #E64A19;
    }

#container nav a {
    display:block;
    padding: 0.5em 1em;
    color:#FFF;
    font-size:20px;
    line-height: 60px;
    text-decoration:none;
}

#container nav a:hover {
    background-color: #000000;
}

/* Hide Dropdowns by Default */
#container nav ul ul {
    display: none;
    position: absolute;
    top: 80px; /* the height of the main nav */
    z-index: 99999;
}

/* Display Dropdowns on Hover */
#container nav ul li:hover > ul {
    display:inherit;
}

/* Fisrt Tier Dropdown */
#container nav ul ul li {
    width:170px;
    float:none;
    display:list-item;
    position: relative;
}

/* Second, Third and more Tiers    */
#container nav ul ul ul li {
    position: relative;
    top:-60px;
    left:170px;
}


/* Change this in order to change the Dropdown symbol */
#container li > a:after { content:  ' +'; }
#container li > a:only-child:after { content: ''; }