.portlet-commerce-dashboard-date-range-selector {
	.lfr-input-date {
		max-width: 10em;
	}
}

.portlet-commerce-dashboard-kpi {
	.kpi-value {
		font-size: xx-large;
	}

	.row {
		text-align: center;
	}
}