<style>
	#${fragmentId} .list-menu ul {
		list-style: none;
	}

	#${fragmentId} .nav {
		font-size: inherit;
		font-weight: inherit;
	}

	#${fragmentId} .lfr-nav-item > a {
		color: inherit;
	}

	#${fragmentId} .lfr-nav-item.selected > a {
		color: ${selectedItemColor};
	}

	#${fragmentId} .lfr-nav-item > a:hover {
		color: ${hoveredItemColor};
	}
</style>