/**
* Lexicon 1.0.14
*
* Copyright 2017, Liferay, Inc.
* All rights reserved.
* MIT license
*/
// Structure

$breadcrumb-font-size: 12px !default;
$breadcrumb-font-weight: 500 !default;
$breadcrumb-text-transform: uppercase !default;

// Skin

$breadcrumb-bg: transparent !default;

$breadcrumb-active-color: #c1cbd1 !default;
$breadcrumb-color: #d4dadf !default;
$breadcrumb-link-color: #4a5e6a !default;
