.mini-cart-item {
	$price-size: 70px;

	align-items: center;
	border-bottom: 1px solid rgba(180, 187, 201, 0.2);
	display: grid;
	font-size: 12px;
	grid-column-gap: 15px;
	max-height: 200px;
	grid-template-areas:
		'image info quantity price delete'
		'errors errors errors errors errors';
	grid-template-columns: min-content auto 90px minmax(min-content, 100px) min-content;
	overflow: hidden;
	padding: 10px;
	position: relative;
	transition: height 0.2s ease-in, padding 0.1s ease-in;

	&-thumbnail {
		align-self: flex-start;
		background-position: center center;
		background-size: cover;
		border-radius: 4px;
		grid-area: image;
		height: 70px;
		min-height: 70px;
		min-width: 70px;
		overflow: hidden;
		width: 70px;
	}

	&-info {
		grid-area: info;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;

		& *:not(& .child-items-quantity) {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 100%;
		}

		&.has-options {
			align-items: initial;
			display: grid;
			height: 100%;

			.item-info-base {
				align-self: flex-start;
			}

			.item-info-extra {
				align-self: flex-end;
			}
		}

		.child-items {
			font-weight: 600;

			.child-item {
				display: flex;

				&-quantity {
					padding-right: 0.5em;
					text-align: right;
					width: 20%;
				}

				&-info p:nth-child(2) {
					font-weight: 400;
				}
			}
		}

		p,
		h5,
		h6 {
			margin: 0;
		}
	}

	&-quantity {
		grid-area: quantity;

		.quantity-selector {
			font-size: 0.95rem;
			height: unset;
			padding: 0.25rem 0.8rem;
		}

		input[type='number'] {
			padding: 0.25rem 0.5rem 0.25rem 0.8rem;

			&::-webkit-inner-spin-button,
			&::-webkit-outer-spin-button {
				margin: 0;
				opacity: 1;
			}
		}
	}

	&-price {
		grid-area: price;
		text-align: right;

		.price {
			grid-template-columns: unset;

			&-label {
				display: none;
			}

			&-value {
				display: block;
				font-size: 0.9rem;
				margin: 0;
			}
		}
	}

	&-delete {
		font-size: 1rem;
		grid-area: delete;
		margin: 10px 0;
	}

	&.is-removed {
		border: 0;
		max-height: 0;
		padding: 0;
		transition: all 400ms $ease-out-quart;
	}

	&-removing {
		align-items: center;
		background: #fff;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		left: 100%;
		position: absolute;
		width: 100%;
		z-index: 2;

		&.active {
			animation: isRemoving 400ms $ease-out-quart 1 forwards;
		}

		&.canceled {
			animation: isCanceled 400ms $ease-out-quart 1 forwards;
		}

		.rtl & {
			&.active {
				animation: isRemovingRTL 400ms $ease-out-quart 1 forwards;
			}

			&.canceled {
				animation: isCanceledRTL 400ms $ease-out-quart 1 forwards;
			}
		}

		.btn-link {
			font-size: 12px;
			padding: 0;
		}

		@keyframes isRemoving {
			from {
				transform: translateX(0);
			}
			to {
				transform: translateX(-100%);
			}
		}

		@keyframes isCanceled {
			from {
				transform: translateX(-100%);
			}
			to {
				transform: translateX(0);
			}
		}

		@keyframes isRemovingRTL {
			from {
				transform: translateX(0);
			}
			to {
				transform: translateX(100%);
			}
		}

		@keyframes isCanceledRTL {
			from {
				transform: translateX(100%);
			}
			to {
				transform: translateX(0);
			}
		}
	}

	&-errors {
		background-color: $gray-200;
		color: $danger-primary;
		font-weight: 600;
		grid-area: errors;
		margin: 12px -12px -12px;
		padding: 12px;

		span {
			margin-left: 10px;
		}
	}
}
