@import "mixins";
@import "./AceEditor";
@import "./MSBFragmentEditor";
@import "./MSBFragmentNameEditor";
@import "./MSBFragmentPreview";
@import "./SourceEditor";

#wrapper .portlet-layout.row,
#wrapper .portlet {
	margin-bottom: 0;
}

#wrapper .portlet-layout,
.portlet {
	margin-bottom: 0;
}

.msb-fragment-submit-buttons {
	position: absolute;
	right: 18px;
	top: -74px;
}