<div class="fragment_multiple_editables jumbotron">
<div class="list-group lead">
	<div class="editable-wrapper">
	  <lfr-editable id="test1" type="rich-text">Test text1</lfr-editable>
	</div>

	<div class="editable-wrapper">
	  <lfr-editable id="test2" type="rich-text">Test text2</lfr-editable>
	</div>

	<div class="editable-wrapper">
		<lfr-editable id="test3" type="rich-text">Test text3</lfr-editable>
	</div>

	<div class="editable-wrapper">
	  <lfr-editable id="test4" type="rich-text">Test text4</lfr-editable>
	</div>

	<div class="editable-wrapper">
	  <lfr-editable id="test5" type="rich-text">Test text5</lfr-editable>
	</div>
	</div>
</div>