.liferay-modal .modal-dialog {
	position: relative;

	@media (max-width: 768px) {
		width: 100%;
	}

	&.modal-full-screen {
		position: absolute;

		.liferay-modal-body {
			height: 100%;

			.lfr-fullscreen-source-editor-content {
				bottom: 0;
				height: auto;
				left: 24px;
				position: absolute;
				right: 24px;
				top: 80px;

				.source-panel {
					float: left;

					.lfr-source-editor {
						border-bottom-width: 0;
					}
				}

				.preview-panel {
					float: right;
				}
			}
		}
	}

	.modal-body .loading-animation {
		left: 0;
		margin-bottom: 0;
		margin-top: 0;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}
