.portlet-commerce-product-catalog-rule {
	.catalog-rule-detail-header {
		background-color: #FFF;
	}

	.breadcrumb {
		margin-bottom: 0;

		& > li {
			text-transform: capitalize;

			a {
				font-size: 0.9rem;
			}
		}
	}
}