*    @sergiogonzalez
*.gradle    @sergiogonzalez @adolfopa @4lejandrito
*.java    @sergiogonzalez @adolfopa @4lejandrito
*.js    @ambrinchaudhary
*.jsp    @sergiogonzalez @ambrinchaudhary @4lejandrito
*.jspf    @sergiogonzalez @ambrinchaudhary @4lejandrito
*.scss    @ambrinchaudhary
*.soy    @ambrinchaudhary
adaptive-media-api/*    @sergiogonzalez @adolfopa
adaptive-media-content-transformer-api/*    @sergiogonzalez @4lejandrito
adaptive-media-image-api/*    @sergiogonzalez @adolfopa
adaptive-media-image-item-selector-api/*    @sergiogonzalez @adolfopa
*ConfigContributor*.java    @sergiogonzalez @ambrinchaudhary @4lejandrito