.page-toolbar-root {
	&.upper-tbar {
		background-color: $white;
		border-color: $mainLighten74;
		border-style: solid;
		border-width: 0 0 1px;
		height: 4rem;
		position: fixed;
		width: 100%;
		z-index: 971;
	}

	&.upper-tbar .tbar-item {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
}
