.result-rankings-form-root {
	.form-section-header {
		margin-bottom: 24px;
	}

	.input-label-help-icon {
		padding-left: 4px;
	}

	.result-rankings-container {
		padding-top: 6rem;
	}

	.results-title {
		color: $main;
		font-weight: 600;
	}
}
