@import 'variables';

.portlet-result-rankings,
.result-rankings-root,
.result-ranking-modal-root {
	@import 'empty_state';
	@import 'list';
	@import 'list_item';
	@import 'loading';
	@import 'modal';
	@import 'page';
	@import 'page_toolbar';
	@import 'result_rankings_form';
}

body {
	// Resizes the page navbar when product menu is expanded.

	&.open .result-rankings-root .navbar.page-toolbar-root {
		left: 320px;
		width: calc(100% - 320px);
	}

	// Allows the modal to scroll when the modal height is greater than the
	// window height.

	&.modal-open .modal.result-ranking-modal-root {
		overflow-y: auto;
	}
}
