@import 'variables';

.portlet-search-ranking,
.results-rankings-root,
.results-ranking-modal-root {
	@import 'empty_state';
	@import 'loading';
	@import 'list';
	@import 'list_item';
	@import 'modal';
	@import 'page_toolbar';
	@import 'result_rankings_form';
}

body.open .results-rankings-root .page-toolbar-root.navbar {
	left: 320px;
	width: calc(100% - 320px);
}
