@import "./field-settings";
@import "./field-types-dropdown";
@import "./field-types-panel";
@import "./form-page";
@import "./form-pagination";
@import "./share_url_popover";
@import "./sidebar";

.ddm-form-builder .ddm-select-option-label .label-item {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ddm-select-dropdown .dropdown-item:focus {
	background-color: transparent;
}