$controlMenuHeight: 48px;
$desktopControlMenuHeight: 56px;
$desktopManagementBarHeight: 64px;
$fragmentsEditorSpacing: 8px;
$managementBarHeight: 96px;
$productMenuTransitionDuration: 0.5s;

$dropTargetWidth: 5px;
$floatingToolbarPanelMinWidth: 264px;
$fragmentEditableFieldGridSize: $fragmentsEditorSpacing;
$fragmentEntryLinkListPadding: 28px;
$rowMinimumHeight: $fragmentsEditorSpacing * 20;
$sidebarButtonsHeight: 40px;
$sidebarButtonsWidth: 40px;
$sidebarCardImageMaxHeight: 200px;
$sidebarCardMarginBottom: $fragmentsEditorSpacing * 2;
$sidebarCardMarginBottom: 16px;
$sidebarCardPadding: 8px;
$sidebarElementCardWidth: calc(50% - #{$fragmentsEditorSpacing});
$sidebarWidth: 320px;

$portletBorderRadius: 3px;
$portletBorderWidth: 1px;
$sidebarLeftBorderWidth: 1px;
$toolbarBorderWidth: 1px;
$topperBorderRadius: 2px;
$topperBorderWidth: 1px;
$topperFocusedBorderWidth: 2px;

$sidebarTransitionDuration: 0.5s;
$sidebarTransitionTimingFunction: ease;
$topperShowDelay: 0.3s;
$topperShowDuration: 0.3s;

$draggableItemZIndex: 977;
$dragSourceZIndex: 977;
$floatingToolbarZIndex: 976;
$fragmentEditableFieldTooltipZIndex: 975;
$fragmentEntryLinkContentHoverZIndex: auto;
$fragmentEntryLinkContentZIndex: 0;
$fragmentEntryLinkZIndex: 5;
$managementBarZIndex: 971;
$portletTopperZIndex: 2000;
$shimZIndex: 9999;
$sidebarCardPlusButtonZIndex: 6;
$sidebarCardZIndex: 5;
$sidebarSectionZIndex: 4;
$sidebarZIndex: 972;
$topperActiveZIndex: 3;
$topperHoverZIndex: 2;
$topperZIndex: 1;
$translationStatusListZIndex: 977;

$columnOverlayGridColor: #FF5F5F;
$dragSourceBackgroundColor: #E1EBFF;
$dragSourceColor: #0B5FFF;
$dropTargetColor:#0B5FFF;
$fragmentEditableFieldActiveBorderColor: #0B5FFF;
$fragmentEditableFieldGridAccentColor: #80ACFF;
$fragmentEditableFieldGridDefaultColor: #A7A9BC;
$fragmentEditableFieldGridMappedColor: #AF78FF;
$fragmentEditableFieldGridMappedColorFaded: fade_out(#AF78FF, 0.9);
$fragmentEditableFieldGridTranslatedColor: #3DC513;
$fragmentEditableFieldHoverBorderColor: #0B5FFF;
$fragmentEntryLinkColumnBorderColor: fade_out(#0B5FFF, 0.8);
$fragmentEntryLinkEditableFieldBorderColor: fade_out(#0B5FFF, 0.8);
$fragmentEntryLinkErrorBorderColor: #DA1414;
$fragmentEntryLinkRowBorderColor: fade_out(#0B5FFF, 0.8);
$portletBorderColor: #89A7E0;
$portletColor: #0B5FFF;
$sidebarButtonsBackgroundColor: #393A4A;
$sidebarButtonsColor: #A7A9BC;
$sidebarButtonsHoverColor: #FFF;
$sidebarCardImageBorderColor: #E7E7ED;
$sidebarCardNoPreviewBackgroundColor: #E7E7ED;
$sidebarCardNoPreviewIconColor: #A7A9BC;
$sidebarCardPadding: $fragmentsEditorSpacing;
$sidebarCardTitleColor: #6B6C7E;
$sidebarCollapsiblePanelLineColor: #DFDFE9;
$sidebarContentBackgroundColor: #F4F5F8;
$sidebarLeftBorderColor: #E7E7ED;
$sidebarTreeElementBackgroundColor: fade_out(#272833, 0.97);
$toolbarBorderColor: fade_out(#DCDCDC, 0.5);
$topperBackgroundColor: #0B5FFF;
$topperBorderColor: #0B5FFF;
$topperColor: #FFF;