$controlMenuHeight: 48px;
$desktopControlMenuHeight: 56px;
$desktopManagementBarHeight: 64px;
$fragmentsEditorSpacing: 8px;
$managementBarHeight: 82px;
$productMenuTransitionDuration: 0.5s;

$dropTargetWidth: 5px;
$floatingToolbarPanelMinWidth: 288px;
$fragmentEditableFieldGridSize: $fragmentsEditorSpacing;
$fragmentEntryLinkListPadding: 28px;
$rowMinimumHeight: $fragmentsEditorSpacing * 20;
$sidebarButtonsHeight: 40px;
$sidebarButtonsWidth: 40px;
$sidebarCardImageMaxHeight: 200px;
$sidebarCardMarginBottom: $fragmentsEditorSpacing * 2;
$sidebarCardMarginBottom: 16px;
$sidebarCardPadding: 8px;
$sidebarElementCardWidth: calc(50% - #{$fragmentsEditorSpacing});
$sidebarWidth: 320px;

$portletBorderRadius: 3px;
$portletBorderWidth: 1px;
$sidebarLeftBorderWidth: 1px;
$toolbarBorderWidth: 1px;
$topperBorderRadius: 2px;
$topperBorderWidth: 1px;
$topperFocusedBorderWidth: 2px;
$topperHoveredBorderWidth: 2px;

$sidebarTransitionDuration: 0.5s;
$sidebarTransitionTimingFunction: ease;
$topperShowDelay: 0.3s;
$topperShowDuration: 0.3s;

$draggableItemZIndex: 977;
$dragSourceZIndex: 977;
$floatingToolbarZIndex: 976;
$floatingToolbarPanelZIndex: 989;
$fragmentEditableFieldTooltipZIndex: 975;
$fragmentEntryLinkContentHoverZIndex: auto;
$fragmentEntryLinkContentZIndex: 0;
$fragmentEntryLinkZIndex: 5;
$managementBarZIndex: 971;
$portletTopperZIndex: 2000;
$shimZIndex: 9999;
$sidebarCardPlusButtonZIndex: 6;
$sidebarCardZIndex: 5;
$sidebarSectionZIndex: 4;
$sidebarZIndex: 972;
$topperActiveZIndex: 3;
$topperHoverZIndex: 3;
$topperZIndex: -1;
$translationStatusListZIndex: 977;

$columnOverlayGridColor: #ff5f5f;
$dragSourceBackgroundColor: #e1ebff;
$dragSourceColor: #0b5fff;
$dropTargetColor: #0b5fff;
$fragmentEntryLinkColumnBorderColor: fade_out(#0b5fff, 0.8);
$fragmentEntryLinkEditableFieldBorderColor: fade_out(#0b5fff, 0.8);
$fragmentEntryLinkEditableFieldSelectedColor: fade_out(#0b5fff, 0.96);
$fragmentEntryLinkErrorBorderColor: #da1414;
$fragmentEntryLinkRowBorderColor: fade_out(#0b5fff, 0.8);
$portletBorderColor: #89a7e0;
$portletColor: #0b5fff;
$sidebarButtonsBackgroundColor: #393a4a;
$sidebarButtonsColor: #a7a9bc;
$sidebarButtonsHoverColor: #fff;
$sidebarCardImageBorderColor: #e7e7ed;
$sidebarCardNoPreviewBackgroundColor: #e7e7ed;
$sidebarCardNoPreviewIconColor: #a7a9bc;
$sidebarCardPadding: $fragmentsEditorSpacing;
$sidebarCardTitleColor: #6b6c7e;
$sidebarCollapsiblePanelLineColor: #dfdfe9;
$sidebarContentBackgroundColor: #fff;
$sidebarLeftBorderColor: #e7e7ed;
$sidebarTreeElementBackgroundColor: fade_out(#272833, 0.97);
$toolbarBorderColor: fade_out(#dcdcdc, 0.5);
$topperActiveBackgroundColor: #004ad7;
$topperActiveBorderColor: #004ad7;
$topperBackgroundColor: #0b5fff;
$topperBorderColor: #0b5fff;
$topperColor: #fff;
