.modal-dialog.create-content-dialog .inline-scroller {
	max-height: 100vh;
	padding: 0;

	.map-content-form {
		padding: calc(1rem + 54px) 1rem 1.5rem;
		position: relative;

		&-header {
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
}
