@import "./mixins/lfr_drag_indicator";

@import "variables";

@keyframes fragmentsEditorDragSource {
	to {
		background-color: $dragSourceBackgroundColor;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		opacity: 1;
		transform: scale(1);
	}
}

.fragments-editor__drag-source {
	&.dragging {
		background: transparent;
		border: none;
		box-shadow: none;
		height: auto;
		margin: 0;
		opacity: 1;
		outline: none;
		padding: 0;
		width: auto;
		z-index: $dragSourceZIndex;

		& > * {
			display: none;
		}

		&:after {
			animation: fragmentsEditorDragSource ease 0.2s;
			animation-fill-mode: forwards;
			background-color: fade_out($dragSourceBackgroundColor, 1);
			border-radius: 4px;
			box-shadow: none;
			color: $dragSourceColor;
			content: attr(data-drag-source-label);
			cursor: grabbing;
			display: block;
			font-size: 12px;
			font-weight: 600;
			height: 64px;
			opacity: 0;
			overflow: hidden;
			padding: 8px;
			text-align: center;
			text-overflow: ellipsis;
			transform: scale(0.6);
			white-space: nowrap;
			width: 116px;
		}
	}

	&.fragments-editor__drag-handler,
	.fragments-editor__drag-handler {
		cursor: move;
	}
}

.fragments-editor__drop-target {
	&.border-bottom:after,
	&.border-top:after {
		content: '';
		display: block;
	}

	&.border-bottom:after {
		@include lfr-drag-indicator("bottom");
	}

	&.border-top:after {
		@include lfr-drag-indicator("top");
	}
}

.shim {
	cursor: grabbing;
}