.experience-selector {
	> button {
		display: inline-block;
		max-width: 100%;
		width: 12em;
	}

	.dropdown-menu {
		background-color: #FFF;
		border-radius: 4px;
		box-shadow: 0 4px 8px rgba(39, 40, 51, 0.12);
		display: none;
		max-width: 100vw;
		width: 808px;

		> h2 {
			font-size: 1.25rem;
			font-weight: bold;
		}

		&.toggled {
			display: block;
		}

		li.dropdown-menu__experience {
			background-color: #FFF;
			border: 1px solid #E7E7ED;
			border-radius: 0;
			cursor: pointer;

			&:last-child {
				border-bottom-left-radius: 4px;
				border-bottom-right-radius: 4px;
			}

			&:first-child {
				border-top-left-radius: 4px;
				border-top-right-radius: 4px;
			}

			&.dropdown-menu__experience--active, &:focus {
				background-color: #F0F5FF;
				border-color: #80ACFF;
			}

			span {
				&.title {
					font-weight: 600;
					max-width: 14em;
				}

				&.audience {
					font-size: 0.875rem;
				}
			}
		}
	}
}