@import "variables";

.fragments-editor__floating-toolbar {
	display: inline-block;
	padding: $fragmentsEditorSpacing;
	position: absolute;
	text-align: right;
	z-index: $floatingToolbarZIndex;

	&-buttons.popover,
	&-panel.popover {
		position: static;
	}

	&-buttons {
		display: inline-block;

		& .btn {
			margin: $fragmentsEditorSpacing / 2;
			opacity: 0.6;

			&.active {
				background-color: rgba(0, 0, 0, 0.1);
				opacity: 1;
			}
		}
	}

	&-panel {
		margin-top: $fragmentsEditorSpacing;
		padding: $fragmentsEditorSpacing * 2;

		.form-group:last-child {
			margin: 0;
		}

		.palette-container {
			margin-bottom: 0.25rem;
		}

		.palette-item {
			$paletteItemPadding: 5px;
			$paletteItemSize: 20px;

			border: $paletteItemPadding solid transparent;
			border-radius: 50%;
			height: $paletteItemSize + ($paletteItemPadding * 2);
			transition: border-color ease 0.2s;
			will-change: border-color;

			&-hover, &-selected {
				border-color: #F1F2F5;
			}

			&-inner {
				border: none;
				box-shadow: inset 0 0 0 1px #CDCED9;
				height: $paletteItemSize;
				overflow: hidden;
				width: $paletteItemSize;
			}

			&-selected .palette-item-inner {
				background-image: none;
			}
		}

		.palette-items-container {
			display: flex;
			flex-wrap: wrap;
		}
	}
}