@import 'variables';

.fragments-editor__background-image-editable {
	transition: box-shadow ease 0.2s;

	&--highlighted {
		box-shadow: inset 0 0 0 1px $fragmentEntryLinkEditableFieldBorderColor;
	}

	&--hovered {
		box-shadow: inset 0 0 0 1px $fragmentEditableFieldHoverBorderColor;
	}

	&--active {
		box-shadow: inset 0 0 0 2px $fragmentEditableFieldActiveBorderColor;
		outline: none;
	}

	&--mapped {
		box-shadow: inset 0 0 0 1px
			fade_out($fragmentEditableFieldGridMappedColor, 0.6);
	}

	&--mapped.fragments-editor__background-image-editable--hovered {
		box-shadow: inset 0 0 0 1px $fragmentEditableFieldGridMappedColor;
	}

	&--mapped.fragments-editor__background-image-editable--active {
		box-shadow: inset 0 0 0 2px $fragmentEditableFieldGridMappedColor;
	}
}
