@import "bourbon";

@import "mixins";

@import "variables";

.fragment-entry-link-wrapper {
	.portlet {
		> .portlet-topper {
			background-color: rgba(255, 255, 255, 0.95);
			border: $portletBorderWidth solid $portletBorderColor;
			border-radius: $portletBorderRadius;
			height: 100%;
			min-height: 54px;
			opacity: 0;
			padding: 10px 20px 10px 10px;
			pointer-events: none;
			z-index: $portletTopperZIndex;

			@include transform(translateY(0));
		}

		@include sm {
			&:hover, &.focus {
				> .portlet-topper {
					opacity: 1;
					pointer-events: all;

					@include transform(translateY(0));
				}
			}
		}

		.portlet-title-default {
			color: $portletColor;
		}
	}

	.fragment-entry-link-content {
		overflow: hidden;
		position: relative;
		z-index: $fragmentEntryLinkContentZIndex;
	}

	&:hover > .fragment-entry-link-content {
		z-index: $fragmentEntryLinkContentHoverZIndex;
	}
}