@import './variables';

.fragments-editor-sidebar-section {
	background-color: $sidebarContentBackgroundColor;
	flex-grow: 2;
	max-height: 100%;
	overflow: scroll;

	&__card {
		box-shadow: 0 0 0 1px $sidebarCardImageBorderColor;
		margin-bottom: $sidebarCardMarginBottom;

		&-image {
			border-radius: 0;
			max-height: $sidebarCardImageMaxHeight;
			overflow: hidden;
			text-align: center;

			img {
				width: 100%;
			}
		}

		&-no-preview {
			background-color: $sidebarCardNoPreviewBackgroundColor;
			color: $sidebarCardNoPreviewIconColor;
			font-size: 24px;
			height: 80px;
			line-height: 80px;
			text-align: center;
		}

		.card-body {
			padding: $sidebarCardPadding;

			.btn {
				z-index: $sidebarCardPlusButtonZIndex;
			}

			.card-title {
				color: $sidebarCardTitleColor;
				font-size: 12px;
			}

			.card-row {
				min-height: 32px;
			}
		}
	}

	&__elements-panel {
		.card {
			width: $sidebarElementCardWidth;

			.card-body {
				text-align: center;

				.btn {
					display: none;
				}
			}
		}

		&-grid {
			align-items: flex-start;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}

	&__structure-panel {
		&__item {
			border-radius: 8px;
			position: relative;
			transition: background-color ease 0.2s, color ease 0.2s;
			will-change: background-color, color;

			.btn {
				color: inherit;
				transition: none;
			}

			.lexicon-icon-angle-down,
			.lexicon-icon-angle-right {
				height: 10px;
				width: 10px;
			}

			&-name--padded {
				padding-left: 36px;
			}

			&-remove-btn {
				color: inherit;
				opacity: 0;
				transition: opacity ease 0.2s;
				will-change: opacity;
			}

			&.active {
				font-weight: 600;
			}

			&.active,
			&.active:hover,
			&.active.hovered {
				background-color: $topperBackgroundColor;
				color: $topperColor;
			}

			&:hover,
			&.hovered {
				background-color: $sidebarTreeElementBackgroundColor;
			}

			&-remove-btn:focus,
			&:hover &-remove-btn,
			&.hovered &-remove-btn,
			&.active &-remove-btn {
				opacity: 1;
			}

			&:focus-within &-remove-btn {
				opacity: 1;
			}
		}
	}

	&__panel {
		background-color: transparent;

		& a {
			border-color: $sidebarCollapsiblePanelLineColor;
			font-size: 12px;
			margin-bottom: $sidebarCardMarginBottom;
		}
	}

	&__title {
		font-size: 18px;
		font-weight: bold;
		margin: 32px 0 24px 0;
		padding: 0 1rem;

		&.comments-sidebar-title > .btn {
			box-sizing: border-box;
			height: 32px;
			left: 8px;
			padding: 0;
			position: absolute;
			width: 32px;
		}

		&.comments-sidebar-title > span {
			margin-left: 32px;
		}
	}

	&__widgets-panel {
		&-grid {
			align-items: flex-start;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-left: 8px;
		}

		.widget-item {
			font-size: 14px;
			font-weight: 600;
			margin: 9px 0;
		}
	}

	.fragments-editor__drag-handler {
		background-color: transparent;
		cursor: grab;
		display: block;
		height: 100%;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: $sidebarCardZIndex;
	}

	button.component-action {
		cursor: pointer;
	}

	.sidebar-fragments-section > .navbar {
		box-shadow: 0 1px 0 0 rgba(200, 200, 200, 0.2);
		margin-bottom: 1.5rem;
	}

	.sidebar-fragments-section .search-bar {
		flex-wrap: nowrap;

		.input-group-input,
		.input-group-inset {
			width: 100%;
		}

		.input-group-inset-item {
			border-left-width: 0;
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}
