@import './variables';

.fragments-editor-sidebar-sections-buttons {
	background-color: $sidebarButtonsBackgroundColor;
	flex-direction: column;
	padding-top: 16px;
	width: $sidebarButtonsWidth;
	z-index: $sidebarZIndex;

	&__btn {
		border-radius: 0;
		color: $sidebarButtonsColor;
		height: $sidebarButtonsHeight;
		padding: 7px 0;
		width: $sidebarButtonsWidth;

		&--active,
		&:active,
		&:focus,
		&:hover {
			box-shadow: none;
			color: $sidebarButtonsHoverColor;
		}
	}

	hr {
		border-color: #6b6c7e;
		margin: 12px 8px;
	}
}
