.fragments-editor__fragment-comment {
	min-height: 5rem;
	padding-top: 1rem;
	position: relative;
	transition: min-height ease 0.3s;
	will-change: min-height;

	&--deleting {
		min-height: 10rem;
	}

	& + & {
		border-top: solid thin #e7e7ed;
	}

	> form {
		margin-bottom: 1rem;
	}

	.resolved {
		align-items: center;
		background: #edf9f0;
		bottom: 0;
		color: #287d3c;
		display: flex;
		font-size: 48px;
		justify-content: center;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	.content {
		hyphens: auto;
	}
}
