@import "mixins/lfr_editable_states";

@import "variables";

lfr-editable {
	background-size: $fragmentEditableFieldGridSize $fragmentEditableFieldGridSize;
	box-shadow: 0 0 0 1px transparent;
	cursor: pointer;
	display: inline-block;
	min-height: 1em;
	min-width: 2ch;
	position: static;
	transition: box-shadow ease 0.2s;

	&[type="image"] > img {
		max-width: 100%;
	}

	&:hover {
		box-shadow: 0 0 0 1px fade_out($fragmentEditableFieldGridAccentColor, 0.6);
	}

	&:focus {
		@include lfr-editable-focus;
	}

	&:focus-within {
		@include lfr-editable-focus;
	}

	.fragment-entry-link-list.translating & {
		background-color: fade_out($fragmentEditableFieldGridDefaultColor, 0.9);
		box-shadow: 0 0 0 1px $fragmentEditableFieldGridDefaultColor;

		&.translated {
			background-color: fade_out($fragmentEditableFieldGridTranslatedColor, 0.9);
			box-shadow: 0 0 0 1px $fragmentEditableFieldGridTranslatedColor;
		}

		&:hover {
			box-shadow: 0 0 0 1px fade_out($fragmentEditableFieldGridAccentColor, 0.6);
		}

		&:focus {
			@include translating-lfr-editable-focus;
		}

		&:focus-within {
			@include translating-lfr-editable-focus;
		}
	}

	.fragment-entry-link-list.mapping & {
		background-image: linear-gradient(45deg, transparent 0%, transparent calc(50% - 1px), fade_out($fragmentEditableFieldGridDefaultColor, 0.7) 50%, transparent calc(50% + 1px), transparent 100%);
		box-shadow: 0 0 0 1px $fragmentEditableFieldGridDefaultColor;

		&:hover {
			box-shadow: 0 0 0 1px $fragmentEditableFieldGridAccentColor;
		}
	}

	&.mapped,
	.fragment-entry-link-list.mapping &.mapped {
		background-image: linear-gradient(45deg, transparent 0%, transparent calc(50% - 1px), fade_out($fragmentEditableFieldGridAccentColor, 0.7) 50%, transparent calc(50% + 1px), transparent 100%);
		box-shadow: 0 0 0 1px fade_out($fragmentEditableFieldGridAccentColor, 0.7);
	}

	&.mapped:hover,
	.fragment-entry-link-list.mapping &.mapped:hover {
		box-shadow: 0 0 0 1px fade_out($fragmentEditableFieldGridAccentColor, 0.4);
	}
}

.lfr-editable-field-tooltip.tooltip {
	font-size: 0.8rem;
	max-width: 100vw;
	position: absolute;
	z-index: $fragmentEditableFieldTooltipZIndex;

	.tooltip-inner {
		max-width: 100%;
	}

	.btn {
		font-size: 1em;
	}

	.btn + .btn {
		margin-left: 1em;
	}

	&__btn-group {
		display: flex;
		flex-flow: nowrap;
	}
}