.fragments-editor__editable {
	cursor: pointer;
	display: inline-block;
	min-height: 1em;
	min-width: 2ch;
	outline: 0;
	position: relative;

	&[type='image'] {
		display: block;
	}

	&:active {
		outline: none;
	}

	&:before {
		background-color: transparent;
		box-shadow: inset 0 0 0 0 transparent;
		content: '';
		display: block;
		height: 100%;
		left: 0;
		pointer-events: none;
		position: absolute;
		top: 0;
		transition: background-color ease 0.3s, box-shadow ease 0.3s;
		width: 100%;
		will-change: background-color, box-shadow;
	}

	&--mapped:hover:before,
	&--mapped-item-hovered:before,
	&--mapped.fragments-editor__editable--hovered:before {
		background-color: rgba(175, 120, 255, 0.1);
		box-shadow: inset 0 0 0 1px rgba(175, 120, 255, 0.6);
	}

	&--mapped:active:before,
	&--mapped.fragments-editor__editable--active:before,
	&--mapped.fragments-editor__editable--selected:before {
		background-color: rgba(175, 120, 255, 0.1);
		box-shadow: inset 0 0 0 1px rgba(175, 120, 255, 0.8);
	}

	.fragments-editor--with-update-permissions & {
		&--highlighted:before {
			background-color: transparent;
			box-shadow: inset 0 0 0 1px rgba(11, 95, 255, 0.2);
		}

		&--highlighted:hover:before,
		&--highlighted.fragments-editor__editable--hovered:before {
			background-color: rgba(11, 95, 255, 0.04);
			box-shadow: inset 0 0 0 1px rgba(11, 95, 255, 0.4);
		}

		&--highlighted:active:before,
		&--highlighted.fragments-editor__editable--active:before,
		&--highlighted.fragments-editor__editable--selected:before {
			background-color: rgba(11, 95, 255, 0.04);
			box-shadow: inset 0 0 0 1px rgba(11, 95, 255, 0.6);
		}

		&--translated:before {
			background-color: transparent;
			box-shadow: inset 0 0 0 1px rgba(40, 125, 60, 0.2);
		}

		&--translated:hover:before,
		&--translated.fragments-editor__editable--hovered:before {
			background-color: rgba(40, 125, 60, 0.04);
			box-shadow: inset 0 0 0 1px rgba(40, 125, 60, 0.4);
		}

		&--translated:active:before,
		&--translated.fragments-editor__editable--active:before,
		&--translated.fragments-editor__editable--selected:before {
			background-color: rgba(40, 125, 60, 0.04);
			box-shadow: inset 0 0 0 1px rgba(40, 125, 60, 0.6);
		}

		&--mapped:before {
			background-color: transparent;
			box-shadow: inset 0 0 0 1px rgba(175, 120, 255, 0.4);
		}
	}
}

.fragments-editor__background-image-editable {
	box-shadow: inset 0 0 0 0 transparent;
	transition: box-shadow ease 0.3s;
	will-change: box-shadow;

	&--mapped:hover,
	&--mapped-item-hovered,
	&--mapped.fragments-editor__editable--hovered {
		box-shadow: inset 0 0 0 1px rgba(175, 120, 255, 0.8);
	}

	&--mapped:active,
	&--mapped.fragments-editor__editable--active,
	&--mapped.fragments-editor__editable--selected {
		box-shadow: inset 0 0 0 1px rgb(175, 120, 255);
	}

	.fragments-editor--with-update-permissions & {
		&--highlighted {
			box-shadow: inset 0 0 0 1px rgba(11, 95, 255, 0.2);
		}

		&--highlighted:hover,
		&--highlighted.fragments-editor__editable--hovered {
			box-shadow: inset 0 0 0 1px rgba(11, 95, 255, 0.4);
		}

		&--highlighted:active,
		&--highlighted.fragments-editor__editable--active,
		&--highlighted.fragments-editor__editable--selected {
			box-shadow: inset 0 0 0 1px rgba(11, 95, 255, 0.8);
		}

		&--translated {
			box-shadow: inset 0 0 0 1px transparent;
		}

		&--translated:hover,
		&--translated.fragments-editor__editable--hovered {
			box-shadow: inset 0 0 0 1px transparent;
		}

		&--translated:active,
		&--translated.fragments-editor__editable--active,
		&--translated.fragments-editor__editable--selected {
			box-shadow: inset 0 0 0 1px transparent;
		}

		&--mapped {
			box-shadow: inset 0 0 0 1px rgba(175, 120, 255, 0.4);
		}
	}
}
