@import './FragmentsEditorSidebarSection';

@import './FragmentsEditorSidebarSectionsButtons.scss';

@import './variables';

.fragments-editor-sidebar {
	box-shadow: none;
	height: 100vh;
	overflow: visible;
	padding-left: $sidebarWidth - $sidebarButtonsWidth;
	position: fixed;
	right: 0;
	top: $managementBarHeight;
	transition: padding ease $productMenuTransitionDuration;
	will-change: padding;
	z-index: $sidebarZIndex;

	&-content {
		background-color: $sidebarContentBackgroundColor;
		display: flex;
		height: 100%;
	}

	&-section {
		border-left: $sidebarLeftBorderWidth solid $sidebarLeftBorderColor;
		height: 100vh;
		overflow-x: hidden;
		overflow-y: auto;
		position: fixed;
		right: $sidebarButtonsWidth;
		top: 0;
		transform: translateX(0);
		transition: transform ease $productMenuTransitionDuration;
		width: $sidebarWidth - $sidebarButtonsWidth;
		will-change: transform;
		z-index: $sidebarSectionZIndex;

		&__card-image {
			border-bottom: solid thin rgba(0, 0, 0, 0.125);
		}
	}

	&--collapsed {
		padding-left: 0;
	}

	&--collapsed > &-content > &-section {
		transform: translateX(100%)
			translateX(#{$sidebarButtonsWidth + $sidebarLeftBorderWidth});
	}

	@media (min-width: 768px) {
		height: calc(100vh - #{$desktopManagementBarHeight});
		top: $desktopManagementBarHeight;
	}

	body.has-control-menu &,
	body.has-control-menu &-section {
		height: calc(100vh - #{$controlMenuHeight + $managementBarHeight});
		top: $controlMenuHeight + $managementBarHeight;

		@media (min-width: 768px) {
			height: calc(
				100vh - #{$desktopControlMenuHeight +
					$desktopManagementBarHeight}
			);
			top: $desktopControlMenuHeight + $desktopManagementBarHeight;
		}
	}

	html.rtl &--collapsed > &-content > &-section {
		transform: translateX(-100%);
	}
}
