@import 'atlas-variables';

@import 'variables';

.fragment-entry-link-list {
	cursor: pointer;

	.portlet {
		> .portlet-topper {
			background-color: rgba(255, 255, 255, 0.95);
			border: $portletBorderWidth solid $portletBorderColor;
			border-radius: $portletBorderRadius;
			height: 100%;
			min-height: 54px;
			opacity: 0;
			padding: 10px 20px 10px 10px;
			pointer-events: none;
			transform: translateY(0);
			width: 100%;
			z-index: $portletTopperZIndex;
		}

		@include media-breakpoint-up(sm) {
			.fragments-editor--with-update-permissions &:hover,
			.fragments-editor--with-update-permissions &.focus {
				> .portlet-topper {
					opacity: 1;
					pointer-events: all;
					transform: translateY(0);

					.portlet-topper-toolbar {
						position: absolute;
						right: 5px;

						.lexicon-icon {
							fill: $topperBackgroundColor;
							stroke: currentColor;
						}
					}
				}
			}
		}
	}

	.master-fragment-entry-link .portlet-topper-toolbar .lexicon-icon {
		display: none;
	}

	.fragment-entry-link-content {
		position: relative;
		z-index: $fragmentEntryLinkContentZIndex;
	}

	&:hover > .fragment-entry-link-content {
		z-index: $fragmentEntryLinkContentHoverZIndex;
	}
}
