@import './variables';

.fragments-editor-toolbar {
	background-color: #fff;
	border-bottom: $toolbarBorderWidth solid $toolbarBorderColor;
	color: #6b6c7e;
	margin-bottom: 0;

	button {
		color: #6b6c7e;
		margin-left: 0.25rem;
		margin-right: 0.25rem;
	}

	button.btn-primary {
		color: #fff;
	}

	button.btn-secondary {
		background-color: #fff;
		color: #6b6c7e !important;
	}

	& > .container-fluid {
		flex-direction: column;

		@media (min-width: 768px) {
			flex-flow: row nowrap;
		}

		> .navbar-nav {
			&:first-child {
				@media (max-width: 768px) {
					align-self: flex-start;
					flex-grow: 1;
					order: 1;
					padding-bottom: 0.5rem;
					padding-top: 0.5rem;
				}
			}

			&:last-child {
				@media (max-width: 768px) {
					border-bottom: $toolbarBorderWidth solid $toolbarBorderColor;
					justify-content: flex-end;
					width: 100%;
				}
			}
		}
	}

	&__add-fragment-button {
		border: none;
		color: #fff;
		padding: 0;
	}

	&__master-layout {
		background-color: #f0f5ff;
		border-bottom: 1px solid #80acff;
	}

	&__translation-status-button {
		height: 32px;
		line-height: 1;
		padding: 0;
		width: 32px;

		.inline-item {
			vertical-align: text-top;
		}

		.btn-section {
			font-size: 9px;
			line-height: 0;
			padding: 0;
		}
	}

	&__translation-status-list {
		min-width: 35ch;
		z-index: $translationStatusListZIndex;

		@media (max-width: 768px) {
			left: auto;
			right: 0;
		}
	}

	&__translation-status-item {
		cursor: pointer;

		&__label {
			text-transform: uppercase;

			&.default {
				border-color: #5a70c2;
				color: #5a70c2;
			}

			&.untranslated,
			&.translating {
				border-color: #fea500;
				color: #fea500;
			}

			&.translated {
				border-color: #33a766;
				color: #33a766;
			}
		}
	}
}
