@keyframes FragmentCommentDecrease {
	from {
		max-height: 100vh;
	}

	to {
		max-height: 0;
		min-height: 0;
		padding-top: 0;
		transform: scaleY(0.9) translateY(-10%);
	}
}

@keyframes FragmentCommentFadeOut {
	to {
		opacity: 0;
	}
}

@keyframes FragmentCommentResolveMaskFadeIn {
	to {
		opacity: 1;
	}
}

.fragments-editor__fragment-comment {
	min-height: 4.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 1rem;
	position: relative;
	transition: min-height ease 0.3s;
	will-change: min-height;

	&--hidden {
		animation: FragmentCommentDecrease ease 0.4s,
			FragmentCommentFadeOut ease 0.3s;
		animation-fill-mode: forwards;
		overflow: hidden;

		&.fragments-editor__fragment-comment--with-resolve-mask {
			animation-delay: 0.5s;
		}
	}

	&--highlighted {
		background-color: #f0f5ff;
	}

	&--reply {
		padding-left: 1rem;
		padding-right: 0;
		padding-top: 0.5rem;
	}

	& + &:not(&--reply) {
		border-top: solid thin #e7e7ed;
	}

	&--resolved {
		background-color: #edf9f0;
	}

	&--with-delete-mask {
		min-height: 10rem;
	}

	&--with-resolve-mask {
		.resolve-mask {
			align-items: center;
			animation: FragmentCommentResolveMaskFadeIn ease 0.3s;
			animation-fill-mode: forwards;
			background: #edf9f0;
			bottom: 0;
			color: #287d3c;
			display: flex;
			font-size: 48px;
			justify-content: center;
			left: 0;
			opacity: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	> form {
		margin-bottom: 1rem;
	}

	&-replies {
		border-left: solid 2px #e7e7ed;
		margin-left: 0.35rem;
	}

	& + &:not(&--reply) {
		border-top: solid thin #e7e7ed;
	}

	.content {
		hyphens: auto;
		overflow-wrap: break-word;

		p {
			margin-bottom: 0;
		}
	}
}
