@import "variables";

.fragments-editor__editable {
	box-shadow: inset 0 0 0 1px transparent;
	cursor: pointer;
	display: block;
	min-height: 1em;
	min-width: 2ch;
	position: relative;
	transition: box-shadow ease 0.2s, background-color ease 0.3s;

	&--hovered,
	&--hovered[type="image"]:before {
		box-shadow: inset 0 0 0 1px $fragmentEditableFieldHoverBorderColor;
	}

	&--active,
	&--active[type="image"]:before {
		box-shadow: inset 0 0 0 2px $fragmentEditableFieldActiveBorderColor;
		outline: none;
	}

	&--translated,
	&--translated[type="image"]:before {
		background-color: fade_out($fragmentEditableFieldGridTranslatedColor, 0.9);
	}

	&--mapped,
	&--mapped[type="image"]:before {
		background-color: fade_out($fragmentEditableFieldGridMappedColor, 0.9);
		box-shadow: inset 0 0 0 1px fade_out($fragmentEditableFieldGridMappedColor, 0.6);
	}

	&--mapped.fragments-editor__editable--hovered,
	&--mapped.fragments-editor__editable--hovered[type="image"]:before {
		box-shadow: inset 0 0 0 1px $fragmentEditableFieldGridMappedColor;
	}

	&--mapped.fragments-editor__editable--active,
	&--mapped.fragments-editor__editable--active[type="image"]:before {
		box-shadow: inset 0 0 0 2px $fragmentEditableFieldGridMappedColor;
	}

	&[type="image"] {
		&:before {
			content: '';
			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}

		> img {
			max-width: 100%;
		}
	}

	.cke_editable {
		background-color: fade_out($fragmentEditableFieldGridAccentColor, 0.9);
		outline: 0;
	}
}