@import './variables';

.fragment-entry-link-list {
	margin-right: $sidebarButtonsWidth;
	margin-top: $managementBarHeight + $fragmentEntryLinkListPadding;
	padding: 0 $fragmentEntryLinkListPadding;
	transition: margin ease $productMenuTransitionDuration;
	will-change: margin;

	@media (min-width: 768px) {
		margin-top: $desktopManagementBarHeight + $fragmentEntryLinkListPadding;
	}

	&--padded,
	&--padded.no-fragments-message {
		margin-right: $sidebarButtonsWidth;

		@media (min-width: 768px) {
			margin-right: $sidebarWidth;
		}
	}

	&--with-selection {
		user-select: none;
	}

	&__container {
		position: relative;
		transition: background-color ease 0.2s;
		will-change: background-color;
	}

	.fragments-editor--with-update-permissions &__container {
		box-shadow: inset 0 0 0 $topperBorderWidth
			$fragmentEntryLinkRowBorderColor;
	}

	&__container--empty &__col {
		min-height: $rowMinimumHeight;
	}

	&__col {
		position: relative;

		&:before {
			content: '';
			display: block;
			height: 100%;
			left: $fragmentsEditorSpacing * 1.5;
			pointer-events: none;
			position: absolute;
			top: 0;
			transition: box-shadow ease 0.3s;
			width: calc(100% - #{$fragmentsEditorSpacing * 3});
			will-change: box-shadow;
			z-index: 1;
		}

		.fragments-editor--with-update-permissions &:before {
			box-shadow: inset 0 0 0 $topperBorderWidth
				$fragmentEntryLinkColumnBorderColor;
		}

		&-resizer {
			border-radius: 50%;
			height: 16px;
			left: 100%;
			padding: 0;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 16px;
			z-index: 1;

			html.rtl & {
				transform: translate(50%, -50%);
			}
		}

		&-resizer:not(:disabled):not(.disabled) {
			cursor: col-resize;
		}
	}

	&__container--resizing &__col:before {
		box-shadow: inset 0 0 0 $topperBorderWidth $topperBorderColor;
	}

	&__row.no-gutters &__col:before {
		left: 0;
		width: 100%;
	}

	&.no-fragments-message {
		background: #f7faff;
		border: 2px dashed #b3cdff;
		padding: 10vh 0;
		transition: box-shadow ease 0.3s;
		will-change: box-shadow;

		&.targetOver {
			box-shadow: inset 0 0 0 $dropTargetWidth $dropTargetColor;
		}

		& > .taglib-empty-result-message-header {
			max-width: 144px;
			padding-top: 160px;
		}
	}
}
