@import './variables';

.fragments-editor__inline-confirm {
	align-items: center;
	background: fade_out($sidebarContentBackgroundColor, 0.1);
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	left: 0;
	padding-top: 20%;
	position: absolute;
	right: 0;
	top: 0;
}
