@import './variables';

@keyframes inlineConfirmShow {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.fragments-editor__inline-confirm {
	align-items: center;
	animation: inlineConfirmShow ease 0.3s;
	animation-fill-mode: forwards;
	background: fade_out($sidebarContentBackgroundColor, 0.1);
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	left: 0;
	opacity: 0;
	padding-top: 20%;
	position: absolute;
	right: 0;
	top: 0;
	transform: translateY(-1em);
}
