.modal-dialog.select-mapping-dialog {
	.modal-header {
		border-color: transparent;
	}

	.modal-body {
		outline: none;
		padding: 0;
	}

	.modal-footer {
		border-color: transparent;
		justify-content: space-between;
	}

	.list-group-item {
		border-radius: 0;
		opacity: 0.5;
	}

	.list-group-item-action {
		cursor: pointer;
		opacity: 1;
	}
}
