$layoutDraggingHeight: 48px;
$layoutDraggingWidth: 240px;
$layoutPreviewBackgroundColor: #fff;
$layoutPreviewBorderColor: #6b6c7e;
$layoutPreviewBorderRadius: 2px;
$layoutPreviewColumnColor: #ddd;
$layoutPreviewHeight: 2.5em;
$layoutPreviewRowHeight: 40px;
$layoutPreviewSpacing: 2px;

.sidebar-layouts-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&__layout-preview {
		background: $layoutPreviewBackgroundColor;
		border-radius: $layoutPreviewBorderRadius;
		height: $layoutPreviewHeight;
		margin: $layoutPreviewSpacing 0;
		padding: 0;

		&__row {
			border: solid 2px $layoutPreviewBorderColor;
			border-radius: $layoutPreviewBorderRadius;
			flex-wrap: nowrap;
			height: $layoutPreviewRowHeight;
			margin: 0;
			padding: $layoutPreviewSpacing;
		}

		&__column {
			border: solid 1px $layoutPreviewBorderColor;
			flex: 1;
			margin: 2px;
			padding: 0;
		}
	}

	.card-body {
		padding: 8px;
	}
}
