{
    "plugins": [
        "babel-plugin-transform-decorators-legacy",
        [
            "module-resolver",
            {
                "alias": {
                    "shared": "./shared",
                },
                "root": [
                    "./src/main/resources/META-INF/resources/js"
                ]
            }
        ],
    ],
    "presets": [
        "env",
        "react"
    ]
}