{namespace RuleEditorMockFieldRegister}

{deltemplate PageRenderer.RegisterFieldType variant="'checkbox_multiple'"}
	{call RuleEditorMockField.render data="all"}
		{param type: 'checkbox_multiple' /}
	{/call}
{/deltemplate}

{deltemplate PageRenderer.RegisterFieldType variant="'date'"}
	{call RuleEditorMockField.render data="all"}
		{param type: 'date' /}
	{/call}
{/deltemplate}

{deltemplate PageRenderer.RegisterFieldType variant="'radio'"}
	{call RuleEditorMockField.render data="all"}
		{param type: 'radio' /}
	{/call}
{/deltemplate}

{deltemplate PageRenderer.RegisterFieldType variant="'select'"}
	{call RuleEditorMockField.render data="all"}
		{param type: 'select' /}
	{/call}
{/deltemplate}

{deltemplate PageRenderer.RegisterFieldType variant="'text'"}
	{call RuleEditorMockField.render data="all"}
		{param type: 'text' /}
	{/call}
{/deltemplate}