<div class="product-content">
	<div class="product-detail-header">
		<div class="product-detail-title-group">
			<h1 class="product-detail-title" data-lfr-editable-id="PolicyName" data-lfr-editable-type="text">Volkswagen Golf 1.6</h1>

			<div class="product-detail-reference" data-lfr-editable-id="ClaimReference" data-lfr-editable-type="text">A1774476306</div>
		</div>

		<a class="btn btn-sm btn-outline-primary mt-3" href="#" role="button" data-lfr-editable-id="Edit" data-lfr-editable-type="link">Edit Policy</a>
	</div>

	<div class="product-detail-section">
		<h4 class="product-detail-section-title">Summary</h4>

		<div class="product-detail-section-group-text claim-summary" data-lfr-editable-id="Summary" data-lfr-editable-type="text">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur felis ligula, efficitur et cursus quis, blandit sit amet dolor. Sed rutrum, quam tincidunt pharetra vehicula, odio sem finibus lacus, eu hendrerit mauris elit eu velit. Aliquam fermentum ex id hendrerit posuere. Sed in posuere dui, at dapibus nibh. Proin finibus pellentesque nibh at laoreet.</div>
	</div>

	<div class="product-detail-section">
		<h4 class="product-detail-section-title">Damages</h4>

		<div class="product-detail-section-group-text" data-lfr-editable-id="Damages" data-lfr-editable-type="rich-text">Damage Description</div>
	</div>

	<div class="product-detail-section">
		<h4 class="product-detail-section-title">Images</h4>

		<img alt="" class="policy-image" data-lfr-editable-id="Image" data-lfr-editable-type="image" src="[resources:golf.png]" />
	</div>

	<div class="product-detail-section">
		<h4 class="product-detail-section-title">Documents</h4>

		<div class="row">
			<div class="col-6">
				<div class="product-detail-section-group">
					<div class="product-detail-section-group-label mb-3">Reports</div>
					<div class="product-content-box" data-lfr-editable-id="Box01" data-lfr-editable-type="rich-text"></div>
				</div>
			</div>

			<div class="col-6">
				<div class="product-detail-section-group">
					<div class="product-detail-section-group-label mb-3">Communications</div>
					<div class="product-content-box" data-lfr-editable-id="Box02" data-lfr-editable-type="rich-text"></div>
				</div>
			</div>
		</div>
	</div>
</div>