.add-to-cart {
	.quantity-selector {
		margin: 0.6rem;
		max-width: 6.125rem;
	}
}

.btn-add-to-cart {
	border: 0;
	min-width: 3.5rem;
	white-space: nowrap;

	.cart-icon {
		display: inline-block;
		margin: 0 0.6rem;
		opacity: 0.3;
		position: relative;

		.rtl & {
			transform: rotateY(180deg);
		}
	}

	&.btn-block {
		.text-truncate-inline {
			max-width: calc(100% - 24px);
		}
	}

	&.icon-only {
		.cart-icon {
			margin: 0;
			transform: translateX(-0.15rem);

			.rtl & {
				transform: translateX(0.15rem);
			}
		}
	}

	&.is-added {
		.cart-icon {
			opacity: 1;

			&::after,
			&::before {
				content: '⬤';
				font-size: 0.6rem;
				height: 100%;
				left: 80%;
				position: absolute;
				top: -15%;
				transform-origin: 50% 25%;
				width: 100%;
			}

			&::after {
				opacity: 0;
			}

			&::before {
				animation: addToCartBounceIn 0.2s ease-out 1 forwards;
			}

			@keyframes addToCartBounceIn {
				0% {
					animation-timing-function: ease-out;
					transform: scale(0);
				}
				70% {
					animation-timing-function: ease-in;
					transform: scale(1.3);
				}
				100% {
					animation-timing-function: ease-out;
					transform: scale(1);
				}
			}
		}

		&:active .cart-icon::after {
			animation: addToCartBounce 0.2s ease-out 1 none;

			@keyframes addToCartBounce {
				0%,
				100% {
					opacity: 0;
					transform: scale(1);
				}
				50% {
					opacity: 1;
					transform: scale(1.5);
				}
			}
		}
	}
}
