.fragment-entry-link-wrapper {
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	transition: box-shadow ease 0.3s;
}

.fragment-entry-link-control {
	background-color: #F0F5FF;
	border-radius: 4px 4px 0 0;
	bottom: 100%;
	box-shadow: 0 0 0 1px #6FA0FF;
	left: 0;
	opacity: 0;
	padding: 0.5em 1em;
	pointer-events: none;
	position: absolute;
	transform: translateY(100%);
	transition: transform ease 0.6s, opacity ease 0.2s;
	width: 100%;
	z-index: 1000;

	&__fragment-name {
		text-align: left;
	}
}

.fragment-entry-link-wrapper:focus,
.fragment-entry-link-wrapper:focus-within,
.fragment-entry-link-wrapper:hover {
	box-shadow: 0 0 0 1px #6FA0FF;

	& .fragment-entry-link-control {
		opacity: 1;
		pointer-events: all;
		transform: translateY(0);
		transition: transform ease 0.2s, opacity ease 0.3s;
	}
}