@import 'atlas-variables';

.portlet-wiki {
	.wiki-body {
		@include hyphens();

		overflow: auto;
		word-wrap: break-word;

		@include media-breakpoint-down(md) {
			-webkit-overflow-scrolling: touch;
		}

		pre {
			background: #fff;
			border: 1px dashed #2f6fab;
			margin: 5px 0;
			padding: 0.5em;
		}

		a.new-wiki-page {
			color: #da1414;
		}
	}

	.wiki-body,
	.wiki-page-editor {
		img {
			max-width: 100%;
		}

		table {
			border-collapse: collapse;
			width: 100%;
		}

		table,
		th,
		td {
			border: 1px solid;
		}
	}

	.wiki-page-editor .alloy-editor-container .alloy-editor-wrapper {
		padding-left: 45px;
	}

	a.createpage {
		color: #f00;
	}

	.toc {
		background-color: #f9f9f9;
		border: 1px solid #aaa;
		padding: 0 1em;

		h4 {
			margin-bottom: 0.7em;
		}

		ul {
			margin-top: 0;
		}

		li.toclevel-1 {
			list-style-type: none;
			margin-left: 0;
		}

		li.toclevel-2 {
			list-style-type: none;
			margin-left: 15px;
		}

		li.toclevel-3 {
			list-style-type: none;
			margin-left: 30px;
		}
	}

	.page-attachments {
		margin: 20px 0 0;
	}

	.page-categorization {
		margin: 0;
	}

	.page-categories {
		color: #7d7d7d;
	}

	.taglib-discussion {
		margin: 1em;
	}

	.portlet-body {
		h1.page-title .return-to-page {
			background: url(@theme_image_path@/wiki/return_to_page.png)
				no-repeat 0 50%;
			padding-left: 20px;
			text-decoration: none;
		}

		h2,
		h3,
		h4 {
			a.hashlink {
				color: #dde0e1;
				font-size: 12px;
				text-decoration: none;
			}

			&:hover a.hashlink {
				color: #777;
			}
		}
	}

	.preview {
		background: #ffc;
		border: 1px dotted gray;
		padding: 3px;
	}

	.taglib-custom-attributes-list {
		margin-bottom: 1em;
	}

	.taglib-custom-attributes-list label {
		display: block;
	}

	.content-body {
		.wiki-code {
			background: #fff;
			border: 1px solid #777;
			font-family: monospace;
			white-space: pre;
		}

		.code-lines {
			border-right: 1px solid #ccc;
			color: #000;
			margin-right: 5px;
			padding: 0 5px;
		}

		a.external-link {
			background: transparent url(@theme_image_path@/wiki/external.png)
				right top no-repeat;
			padding-right: 10px;
			text-decoration: none;

			&:hover {
				background: transparent
					url(@theme_image_path@/wiki/external.png) right top
					no-repeat;
				padding-right: 11px;
				text-decoration: underline;
			}
		}
	}

	.node-current {
		font-weight: bold;
		text-decoration: none;
	}

	.list-group .list-group-item {
		p.h5 {
			font-weight: 600;
		}

		h3 {
			margin-top: 5px;
		}
	}

	.page-actions {
		margin-top: 1.5em;

		&:after {
			clear: both;
			content: '';
			display: block;
			height: 0;
			visibility: hidden;
		}

		.article-actions {
			border-right: 1px solid #999;
			float: left;
			margin-right: 10px;
			padding-right: 10px;
		}

		.stats {
			color: #999;
		}

		&.top-actions {
			margin-bottom: 15px;
			margin-top: 0;
			text-align: right;

			img {
				margin-left: 5px;
			}

			& > span {
				margin-left: 5px;
			}
		}
	}

	.page-activities {
		.activity-status {
			color: #666;
			font-weight: bold;
			text-transform: uppercase;
		}

		.activity-summary {
			color: #999;
			display: block;
			margin-left: 3em;
		}
	}

	.entry-links h2 {
		border-width: 0;
		font-size: 1em;
		font-weight: bold;
	}

	.page-info {
		width: 100%;

		tr {
			th,
			td {
				border: 1px solid #ccc;
				border-left-width: 0;
				border-right-width: 0;
				padding: 0.3em 1em;
			}
		}
	}

	.page-old-version {
		color: #f93;
		line-height: 1.2em;
		margin: -1em 0 1.4em;
		width: auto;

		a {
			color: #f93;
		}
	}

	.page-ratings {
		margin: 0;
	}

	.page-redirect {
		color: #7d7d7d;
		cursor: pointer;
		line-height: 1.2em;
		margin: -1em 0 1.4em;
		width: auto;
	}

	.page-redirect:hover {
		text-decoration: underline;
	}

	.popup-print {
		float: right;
	}

	.syntax-help-content {
		border: 1px dotted gray;
		padding-left: 10px;
	}

	.syntax-help {
		h4 {
			margin-bottom: 0.5em;
		}

		pre {
			margin-bottom: 1em;
			margin-left: 1em;

			@include overflow-wrap(normal);
		}
	}

	.top-links {
		padding-bottom: 10px;
	}

	.top-links-nodes {
		border: 1px solid #ddd;
		float: left;
		list-style-type: none;
		margin: 0 0.5em 0.5em;
		padding: 0.2em 0.5em;

		.top-link-node {
			border-right: 1px solid #aaa;
			display: inline-block;
			list-style-type: none;
			margin: 0.3em;
			padding-right: 0.2em;

			&.last {
				border-width: 0;
			}
		}
	}

	.top-links .page-search {
		float: right;
		margin: 0 0 0.5em 0.5em;
	}

	.search-root-entry {
		color: #999;
		float: right;
	}

	.top-links-configuration {
		float: left;
	}

	.subscription-info tr td {
		border-width: 0;
		padding: 0.1em 10px 0.1em 0;
	}

	.trash-attachments {
		float: right;
	}

	.wiki-page-toolbar {
		margin: 0;
	}

	.app-view-taglib .lfr-header-row-content .form-group {
		margin: 0;
	}
}

.trash-restore-popup {
	.form {
		fieldset {
			margin-bottom: 0;
			padding: 0 15px;
		}
	}
}

.ie {
	.portlet-wiki {
		.child-pages h3 {
			margin-bottom: 0.2em;
		}

		.syntax-help h4 {
			margin-bottom: 0.3em;
		}
	}
}
