@keyframes animBounce {
	0% {
		opacity: 0.5;
		transform: scale3d(0.3, 0.3, 0.3);
	}

	20% {
		transform: scale3d(1.1, 1.1, 1.1);
	}

	40% {
		transform: scale3d(0.9, 0.9, 0.9);
	}

	60% {
		opacity: 1;
		transform: scale3d(1.03, 1.03, 1.03);
	}

	80% {
		transform: scale3d(0.97, 0.97, 0.97);
	}

	100% {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}

@keyframes animUp {
	0% {
		opacity: 0;
		transform: translateY(70%);
	}

	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

.animBounce {
	animation-duration: 0.7s;
	animation-name: animBounce;
	animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	transform-origin: center;

	.sticker {
		animation-duration: 0.5s;
		animation-name: animUp;
		animation-timing-function: ease;
	}
}