.btn {
	border-radius: 0;
	text-transform: uppercase;
}

.btn-default {
	border-color: $brand-color;
	color: $brand-color;
}

.btn-primary {
	background-color: $brand-color;
	border-color: $brand-color;
	color: #FFF;
}