#footer {
	background-color: $brand-color-extra-light;
	color: $brand-color;
	padding: 55px 0;

	a {
		color: $brand-color-dark;
	}

	h2 {
		font-size: 16px;
		text-transform: uppercase;
	}

	.nav-pills > li.active > {
		a, a:hover, a:focus {
			background-color: transparent;
		}
	}

	span[class^="icon-"] {
		padding: 10px;
	}
}