.jumbotron {
	background-color: transparent;

	@include sm {
		padding-top: 100px;
		padding-bottom: 60px
	}

	h1 {
		font-size: 60px;
	}

	p {
		color: $brand-dark;
		margin-top: 60px;
	}

	img {
		max-width: 100%;
	}

	.separator {
		border-top: 1px solid $brand-color;
		height: 24px;
		margin: 0;
		position: relative;

		@include sm {
			width: calc(100% - 215px);

			&.triangle {
				height: 140px;

				&:before {
					background-image: url(../images/triangle.png);
					background-repeat: no-repeat;
					background-size: contain;
					content: '';

					@include position(absolute, null -200px 0 null);
					@include size(95px, 115px);
				}
			}
		}

		&:after {
			background-color: $brand-color;
			content: '';
			height: 1px;
			width: 80%;

			@include position(absolute, 24px null null null);
		}
	}
}