.panel-default {
	box-shadow: none;

	> .panel-heading {
		background-color: transparent;
		border-color: $brand-color;
		color: $brand-text-color;
		font-weight: 600;
	}

	&, a, .text-primary:hover, .text-primary:focus {
		color: $brand-text-color;
	}
}