.portlet-boundary_com_liferay_portal_search_web_portlet_SearchPortlet_ {
	margin: 0 auto;
	max-width: $limited-container-width;

	.portlet-icon-back {
		display: none;
	}

	.fieldset > div {
		text-align: center;
	}
}

#content .portlet-commerce-cart-content-total {
	margin-top: 40px;
}