.nav-tabs-centered {
	.nav-tabs > li {
		display: table-cell;
		float: none;
		text-align: center;
		width: 1%;

		> a {
			border-width: 0;
			line-height: 80px;
		}

		&.active {
			& > a, & > a:hover, & > a:focus {
				border-bottom-color: $brand-color;
				border-style: solid;
				border-width: 0 0 3px 0;
				color: $brand-text-color;
			}
		}
	}
}