.lfr-add-panel {
	width: 330px;

	.add-content-menu {
		.drag-content-item {
			cursor: move;
		}

		.lfr-content-category .list-group-panel.collapse.in {
			height: auto !important;
		}

		.lfr-content-item {
			display: flex;

			&:focus,
			&:hover {
				.add-content-item {
					clip: auto;
					clip-path: none;
					display: inline;
					height: auto;
					overflow: visible;
					white-space: normal;
					width: auto;
				}
			}

			.add-content-item {
				cursor: pointer;
				padding: 0 0 0 10px;

				@include media-breakpoint-down(md) {
					clip: auto;
					clip-path: none;
					display: inline;
					height: auto;
					overflow: visible;
					white-space: normal;
					width: auto;
				}
			}

			.drag-content-item {
				display: inline-block;
				flex-grow: 1;
				flex-shrink: 1;
				overflow: hidden;
				white-space: nowrap;
			}

			.lfr-portlet-used {
				opacity: 0.3;

				&.drag-content-item {
					cursor: default;
				}

				&.add-content-item {
					display: none;
				}
			}

			.taglib-icon-label {
				display: inline-block;
				overflow: hidden;
				text-overflow: ellipsis;
				vertical-align: bottom;
				white-space: nowrap;
				width: 85%;
			}
		}

		.tabular-list-group {
			padding-right: 16px;

			> .list-group-item {
				margin-bottom: 8px;
				padding: 4px;

				> .list-group-item-field {
					padding-right: 4px;

					.sticker,
					.user-icon {
						margin: 0 auto;
					}
				}

				> .list-group-item-content {
					h1 {
						font-size: 0.875rem;
					}

					.text-default {
						color: #6b6c7e;
						font-size: 0.875rem;
						font-weight: 400;
					}
				}
			}
		}

		.list-group-item > .list-unstyled {
			padding-right: 16px;

			.taglib-vertical-card-footer {
				height: inherit;
				min-height: inherit;
			}
		}

		@include media-breakpoint-down(sm) {
			.lfr-drag-portlet-message {
				display: none;
			}
		}
	}
}
