.html-editor.portlet {
	background-color: $light;

	height: 100%;
	position: absolute;
	width: 100%;

	&:after {
		border: 1px solid $secondary-l3;
		bottom: 0;
		content: '';
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
	}

	&:focus {
		background-color: $primary-l3;

		&:after {
			border-color: $primary-l1;
		}
	}
}

div.cke {
	border: none;
	border-radius: 4px;

	.cke_inner {
		border-radius: 4px;

		.cke_top {
			background-color: $white;
			border: 1px solid $secondary-l3;
			border-bottom: none;
			border-radius: 4px 4px 0 0;

			.cke_toolbar {
				&:not(:first-child) {
					margin-left: 4px;
				}

				.cke_toolgroup {
					a.cke_button {
						border: none;
						margin: 0 2px;
						padding: 7px 8px;

						&:last-child:after,
						&.cke_button_disabled:hover:last-child:after {
							border-right: 1px solid $secondary-l3;
							height: 24px;
							right: -7px;
						}

						&.cke_button_disabled {
							color: $secondary-l1;
						}

						&.cke_button_on {
							background-color: rgba($dark, 0.06);

							&:last-child:after {
								top: 0;
							}
						}

						&:hover {
							background-color: rgba($dark, 0.04);
							color: $dark;
							cursor: pointer;

							&:last-child:after {
								top: 0;
							}
						}
					}

					.cke_toolbar_separator {
						background-color: $secondary-l3;
						height: 24px;
						margin: 4px;
					}
				}
			}
		}

		.cke_bottom {
			background-color: $white;
			border: 1px solid $secondary-l3;
			border-radius: 0 0 4px 4px;
			border-top: none;
			color: $secondary;

			.cke_resizer {
				border-width: 8px 8px 0 0;
			}
		}
	}

	.cke_menu {
		&:last-child {
			margin-bottom: 8px;
		}

		.cke_menubutton {
			cursor: pointer;

			&:hover {
				background-color: $primary-l3;
			}

			.cke_menubutton_icon {
				background-color: transparent;
				padding: 10px 16px 9px;
			}

			.cke_menubutton_shortcut {
				padding: 10px 16px 9px;
			}

			.cke_menubutton_label:not(.cke_menubutton_shortcut) {
				min-width: 66px;
			}
		}
	}
}

.cke_editor_content {
	.cke_widget_videoembed {
		.embed-help-message {
			color: #fff;
			font-weight: 600;
			opacity: 0;
			position: absolute;
			text-align: center;
			top: 50%;
			transform: translateY(-50%);
			transition: opacity 0.15s ease-in-out;
			width: 100%;
			z-index: 1;
		}

		.embed-responsive {
			.embed-responsive-16by9 {
				iframe {
					@extend .embed-responsive-item !optional;
				}
			}
		}

		.cke_widget_mask {
			background-color: #000;
			cursor: pointer;
			opacity: 0;
			transition: opacity 0.15s ease-in-out;
		}

		&.cke_widget_wrapper {
			&:hover,
			&.cke_widget_focused {
				.cke_widget_element {
					outline: none;
				}
			}

			&.cke_widget_selected {
				.cke_widget_mask {
					height: 100%;
					opacity: 0.6;
				}

				.embed-help-message {
					opacity: 1;
				}
			}
		}
	}

	.cke_widget_wrapper {
		max-width: 100%;
	}
}
