.page-editor__editable-decoration {
	cursor: pointer;
	pointer-events: none;
	position: absolute;
	transition: background-color ease 0.3s, box-shadow ease 0.3s,
		opacity ease 0.3s;

	&--active,
	&--hovered {
		background-color: rgba(11, 95, 255, 0.04);
	}

	&--hovered {
		box-shadow: inset 0 0 0 1px rgba(11, 95, 255, 0.4);
	}

	&--active {
		box-shadow: inset 0 0 0 1px rgba(11, 95, 255, 0.6);
	}

	&--highlighted {
		box-shadow: inset 0 0 0 1px rgba(11, 95, 255, 0.2);
	}

	&--mapped {
		box-shadow: inset 0 0 0 1px rgba(175, 120, 255, 0.2);

		&.page-editor__editable-decoration--active {
			background-color: rgba(175, 120, 255, 0.1);
			box-shadow: inset 0 0 0 1px rgba(175, 120, 255, 0.6);
		}

		&.page-editor__editable-decoration--hovered {
			background-color: rgba(175, 120, 255, 0.1);
			box-shadow: inset 0 0 0 1px rgba(175, 120, 255, 0.4);
		}
	}

	&--translated {
		box-shadow: inset 0 0 0 1px rgba(40, 125, 60, 0.2);

		&.page-editor__editable-decoration--active {
			background-color: rgba(40, 125, 60, 0.04);
			box-shadow: inset 0 0 0 1px rgba(40, 125, 60, 0.6);
		}

		&.page-editor__editable-decoration--hovered {
			background-color: rgba(40, 125, 60, 0.04);
			box-shadow: inset 0 0 0 1px rgba(40, 125, 60, 0.4);
		}
	}
}
