@import "bourbon";
@import "mixins";

$dark-color: #272833;
$light-color: #E7E7ED;

.taglib-discussion {
	$discussion-indent: 1rem;
	$discussion-indent-xs: 3.5rem;
	$discussion-margin-button: 1.5rem;

	font-size: .875rem;

	.lfr-discussion-subscribe-button-container {
		margin-bottom: 1.5rem;
		text-align: right;
	}

	.lfr-discussion-reply-container {
		margin-bottom: 1.5rem;

		.button-holder {
			margin: 1rem 0 0;
		}
	}

	.lfr-discussion-container {
		border-bottom: 1px solid $light-color;
		margin-bottom: $discussion-margin-button;

		&:first-of-type {
			border-top: 1px solid $light-color;
			padding-top: 1.5rem;
		}

		&:last-of-type {
			border-bottom: 0;
		}

		.lfr-discussion {
			padding-left: $discussion-indent;

			// limit the level of nesting (2 levels)

			.lfr-discussion .lfr-discussion {
				padding-left: 0;
			}

			@include xs {
				padding-left: $discussion-indent-xs;
			}
		}
	}

	.comment-container {
		margin-bottom: $discussion-margin-button;
	}

	.lfr-discussion-body {
		font-size: 1rem;

		@include xs {
			padding-left: $discussion-indent-xs;
		}
	}

	.username {
		color: $dark-color;
		font-weight: 600;
	}

	.taglib-workflow-status {
		margin-left: .5rem;
	}

	.workflow-value {
		text-transform: uppercase;
	}

	@include xs {
		.dropdown {
			display: none;
		}

		.comment-container:hover .dropdown,
		.dropdown:focus {
			display: inline-block;
		}
	}

	.lfr-discussion-reply {
		font-size: .875rem;

		&.popover {
			max-width: 100%;
		}

		.popover-title {
			font-size: inherit;
		}

		.popover-content {
			overflow: hidden;
		}
	}

	// workaround bs4-popover
	// Pseudo implementation of popover of bootstrap 4 with the cssClass that aui-popover provide
	// I haven't context for make via @extend :(

	.popover {
		&.top .arrow {
			bottom: calc((0.3rem + 1px) * -1);
			left: 50%;
			margin: 0;
			margin-left: -0.3rem;

			&::after {
				border-top-color: #FFF;
				border-width: 0.3rem 0.3rem 0;
				bottom: 1px;
			}

			&::before {
				border-top-color: transparent;
				border-width: 0.3rem 0.3rem 0;
				bottom: 0;
			}
		}
	}

	.popover-title {
		background-color: #FFF;
		border-bottom: 1px solid #F2F2F2;
		border-color: $light-color;
		border-top-left-radius: calc(0.25rem - 1px);
		border-top-left-radius: calc(0.375rem - 1px);
		border-top-right-radius: calc(0.25rem - 1px);
		border-top-right-radius: calc(0.375rem - 1px);
		color: $dark-color;
		font-size: 0.875rem;
		font-size: 1rem;
		font-weight: 600;
		margin-bottom: 0;
		margin-bottom: 0;
		margin-left: 1rem;
		margin-right: 1rem;
		margin-top: 0;
		padding: 0.75rem 0;

		&::before {
			border-bottom: 1px solid #FFF;
			content: "";
			display: block;
			left: 50%;
			margin-left: -0.3rem;
			position: absolute;
			top: 0;
			width: 0.6rem;
		}

		&:empty {
			display: none;
		}
	}

	.popover-content {
		color: #6B6C7E;
		padding: 0.75rem 1rem;
	}
	// END workaround bs4-popover
}

// .taglib-discussion {
// 	.alloy-editor-placeholder {
// 		min-height: 90px;

// 		p {
// 			margin-bottom: 0;
// 		}
// 	}

// 	.add-comment {
// 		.row {
// 			margin-top: 30px;
// 		}
// 	}

// 	.lfr-discussion {
// 		.lfr-discussion-form-edit .alloy-editor-placeholder {
// 			border-left: 2px solid transparent;

// 			p {
// 				margin-bottom: 10px;
// 			}
// 		}
// 	}

// 	.lfr-discussion-details {
// 		@include sm {
// 			float: left;
// 		}
// 	}

// 	.lfr-discussion-body {
// 		@include media-query(null, $screen-xs-max) {
// 			margin-top: 15px;
// 		}

// 		@include sm {
// 			margin-left: 65px;
// 		}

// 		.button-holder {
// 			margin-bottom: 0;
// 		}

// 		.lfr-discussion-message {
// 			.lfr-discussion-message-author {
// 				margin-bottom: 12px;

// 				.author-link {
// 					display: block;
// 				}
// 			}
// 		}
// 	}

// 	.taglib-ratings {
// 		display: inline-block;
// 		margin-right: 1em;
// 	}
// }

// .lfr-discussion-reply.popover {
// 	max-width: none;

// 	.lfr-discussion-reply-user-avatar {
// 		float: left;
// 		padding-right: 20px;
// 	}

// 	.lfr-discussion-reply-content {
// 		margin-top: 5px;
// 	}
// }

// .lfr-discussion-controls {
// 	.reply-action {
// 		line-height: 32px;
// 	}
// }

// @include sm {
// 	.lfr-discussion-body {
// 		.lfr-discussion-controls {
// 			position: absolute;
// 			right: 0;
// 			top: 0;
// 			width: 45%;

// 			& > div {
// 				float: right;
// 				margin-right: 12px;
// 			}
// 		}

// 		.lfr-discussion-message .lfr-discussion-message-author {
// 			width: 40%;
// 		}
// 	}
// }