$dark-color: #272833;
$light-color: #e7e7ed;

.taglib-discussion {
	$discussion-indent: 1rem;
	$discussion-indent-sm: 3.5rem;
	$discussion-margin-button: 1.5rem;

	font-size: 0.875rem;
	margin-top: 1rem;

	.button-holder {
		margin: 1rem 0;
	}

	.lfr-discussion-add-container {
		margin-bottom: 1.5rem;

		.button-holder {
			margin-bottom: 0;
		}
	}

	.lfr-discussion-container {
		border-bottom: 1px solid $light-color;
		margin-bottom: $discussion-margin-button;

		&:first-of-type {
			border-top: 1px solid $light-color;
			padding-top: 1.5rem;
		}

		&:last-of-type {
			border-bottom: 0;
		}

		.lfr-discussion {
			padding-left: $discussion-indent;

			// limit the level of nesting

			.lfr-discussion .lfr-discussion .lfr-discussion {
				padding-left: 0;
			}

			@include media-breakpoint-up(sm) {
				padding-left: $discussion-indent-sm;
			}
		}
	}

	.comment-container {
		margin-bottom: $discussion-margin-button;
	}

	.lfr-discussion-body {
		font-size: 1rem;

		@include media-breakpoint-up(sm) {
			padding-left: $discussion-indent-sm;
		}
	}

	.username {
		color: $dark-color;
		font-weight: 600;
	}

	.taglib-workflow-status {
		margin-left: 0.5rem;
	}

	.workflow-value {
		text-transform: uppercase;
	}

	@include media-breakpoint-up(sm) {
		.dropdown {
			display: none;
		}

		.comment-container:hover .dropdown,
		.dropdown:focus {
			display: inline-block;
		}
	}

	.lfr-discussion-parent-link {
		color: #67678c;
		font-weight: 600;
		margin-left: 1em;
	}

	.lfr-discussion-reply {
		font-size: 0.875rem;

		&.popover {
			max-width: 100%;
		}

		.popover-title {
			font-size: inherit;
			font-weight: 400;
		}

		.popover-content {
			overflow: hidden;
		}
	}

	.lfr-discussion-controls
		.autofit-col:first-of-type
		> .btn-outline-borderless {
		margin-left: -0.75rem;
	}

	.lfr-discussion-more-comments {
		border-top: 1px solid $light-color;
		margin-top: 1.5rem;
		padding-top: 1.5rem;
		text-align: center;
	}
}
