.taglib-empty-result-message {
	&.sheet {
		margin-bottom: 24px;
	}

	&.taglib-empty-result-message-compact {
		min-height: auto;

		.taglib-empty-result-message-header {
			background: none;
			padding-top: 0;
		}

		.taglib-empty-search-result-message-header {
			background: none;
			padding-top: 0;
		}
	}

	.taglib-empty-result-message-actions {
		margin-top: 16px;
	}

	.taglib-empty-result-message-description {
		margin-top: 8px;
	}

	.taglib-empty-result-message-header,
	.taglib-empty-result-message-header-has-plus-btn,
	.taglib-empty-search-result-message-header {
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.taglib-empty-result-message-header,
	.taglib-empty-result-message-header-has-plus-btn {
		max-width: 200px;
		padding-top: 250px;
	}

	.taglib-empty-result-message-header,
	.taglib-empty-result-message-header-has-plus-btn {
		background-image: url(@theme_image_path@/states/empty_state.gif);
	}

	.taglib-empty-result-message-title {
		font-size: 1.25rem;
		margin-top: 40px;
	}

	.taglib-empty-search-result-message-header {
		background-image: url(@theme_image_path@/states/search_state.gif);
		max-width: 210px;
		padding-top: 232px;
	}

	.taglib-empty-state {
		background-image: url(@theme_image_path@/states/empty_state.gif);
		margin: auto;
		max-width: 250px;
		padding-top: 250px;
	}

	.taglib-success-state {
		background-image: url(@theme_image_path@/states/success_state.gif);
		margin: auto;
		max-width: 250px;
		padding-top: 250px;
	}

	.taglib-search-state {
		background-image: url(@theme_image_path@/states/search_state.gif);
		margin: auto;
		max-width: 250px;
		padding-top: 250px;
	}
}
