.portlet-image-uploader {
	.button-holder {
		margin-bottom: 5px;

		> .form-group {
			margin-bottom: 0;
		}
	}

	.lfr-portrait-editor .dialog-footer {
		z-index: 11;
	}

	.lfr-portrait-preview {
		overflow: auto;
		padding: 5px;
	}

	.main-content-card {
		margin-top: 2px;
	}
}

.taglib-logo-selector .avatar {
	max-width: 100%;
}
