.alert-notifications.alert-notifications-fixed {
	@include respond-to(phone) {
		top: inherit;

		.alert {
			max-width: none;
		}
	}
}

.lfr-notification-container {
	bottom: 1.25rem;
	left: 1.25rem;
	max-height: 100%;
	max-width: 400px;
	overflow: auto;
	padding-left: 15px;
	padding-right: 15px;
	position: fixed;
	width: 100%;
	z-index: 5000;

	.lfr-notification-wrapper {
		overflow: hidden;
		overflow-wrap: break-word;
		word-wrap: break-word;
	}
}