@import "mixins";

.taglib-ratings {
	&.stars {
		.liferay-rating-score {
			padding-left: 15px;
		}

		.liferay-rating-vote, .liferay-rating-score {
			display: inline-block;
		}
	}

	&.like, &.thumbs {
		.rating-element * {
			pointer-events: none;
		}
	}

	.rating-input-container {
		display: none;

		.rating-input {
			margin-left: 1px;
		}
	}
}