.lfr-search-container {
	margin-top: 1.5em;
	overflow: auto;

	@include media-breakpoint-down(sm) {
		.selector-button {
			width: auto;
		}
	}

	.table {
		.text-bottom {
			vertical-align: bottom;
		}

		.text-middle {
			vertical-align: middle;
		}

		.text-top {
			vertical-align: top;
		}
	}
}

.touch .lfr-search-container {
	-webkit-overflow-scrolling: touch;

	.searchcontainer-content .table {
		max-width: none;
	}
}

.taglib-search-iterator-page-iterator-top {
	margin-bottom: 15px;
}

.taglib-page-iterator {
	clear: both;
	height: auto;
	width: auto;

	.lfr-pagination-buttons {
		float: right;
		margin: 0;

		@include media-breakpoint-down(md) {
			width: 100%;

			@include media-breakpoint-down(sm) {
				float: none;
				margin-top: 20px;
			}

			> li {
				display: inline-block;
				float: left;
				width: 50%;

				&.first,
				&.last {
					display: none;
				}

				> a {
					line-height: 20px;
					padding: 11px 19px;
				}
			}
		}
	}

	.lfr-pagination-config {
		float: left;
		line-height: 46px;

		@include media-breakpoint-down(sm) {
			float: none;

			.current-page-menu {
				display: block;

				.btn {
					display: block;
				}
			}
		}

		.lfr-pagination-delta-selector,
		.lfr-pagination-page-selector {
			display: inline;
		}

		.lfr-pagination-delta-selector {
			float: none;

			@include media-breakpoint-down(md) {
				display: none;
			}
		}
	}

	.search-results {
		float: left;
		line-height: 46px;
		margin-left: 10px;

		@include media-breakpoint-down(md) {
			display: none;
		}
	}
}

.display-style-icon {
	.lfr-asset-folder,
	.lfr-asset-item {
		float: left;
		padding-left: 0.75rem;
		padding-right: 0.75rem;

		@include media-breakpoint-up(md) {
			width: 33.33333%;
		}
	}

	.lfr-asset-folder {
		width: 100%;

		@include media-breakpoint-up(xs) {
			width: 50%;
		}

		@include media-breakpoint-up(lg) {
			width: 25%;
		}
	}

	.lfr-asset-item {
		width: 50%;

		@include media-breakpoint-up(sm) {
			width: 25%;
		}

		@include media-breakpoint-up(lg) {
			width: 20%;
		}
	}
}

.lfr-asset-item {
	min-width: 145px;
}

.lfr-asset-folder {
	min-width: 215px;
}
