.lfr-search-container .entry-action {
	width: 1px;

	.taglib-icon {
		white-space: nowrap;
	}
}

.lfr-search-container-wrapper .dropdown-action .dropdown-toggle {
	color: #6b6c7e;

	&:hover {
		color: #272833;
	}
}

.user-info {
	display: flex;

	.sticker {
		align-self: center;
	}

	.user-details {
		margin-left: 1rem;
	}

	.user-name {
		color: $dark;
		font-weight: 600;
	}

	.date-info {
		color: $secondary;
	}
}

.user-status-tooltip {
	.user-status-avatar {
		float: left;
		margin-right: 5px;

		.user-status-avatar-image {
			width: 27px;
		}
	}

	.user-status-info {
		display: inline-block;
		overflow: hidden;

		.user-status-date {
			font-size: 11px;
		}
	}
}
