.trash-undo-button.btn-link,
.trash-empty-button.btn-link {
	font-weight: 600;

	&:hover {
		text-decoration: none;
	}

	&:focus {
		background-color: transparent;
	}

	padding: 0;
	vertical-align: inherit;
}
