.card-row-layout-fixed .lfr-card-actions-column {
	width: 32px;

	.dropdown {
		margin-left: 8px;
		margin-right: 0;
	}
}

.lfr-card-actions-column {
	.dropdown {
		margin-right: -8px;
		margin-top: -5px;
	}
}

.lfr-card-modified-by-text,
.lfr-card-subtitle-text,
.lfr-card-workflow-text {
	font-size: 14px;
	font-weight: 400;
}

.lfr-card-title-text {
	font-size: 14px;
	font-weight: 600;
}

.taglib-vertical-card {
	.icon-vertical-card-container,
	.vertical-card-container {
		background-color: #f1f5fa;
	}

	.icon-vertical-card-image .lexicon-icon {
		height: 80px;
		opacity: 0.2;
		width: 80px;
	}

	.icon-vertical-card-image {
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.taglib-vertical-card-footer {
	min-height: 5.6em;
}
