/* ---------- Components ---------- */

.portlet-boundary_com_liferay_plugins_admin_web_portlet_PluginsAdminPortlet_ {
	.plugin-thumbnail {
		margin-right: 10px;
		width: 100px;
	}
}

/* ---------- Theme color scheme selector ---------- */

.portlet-boundary_com_liferay_layout_admin_web_portlet_GroupPagesPortlet_ {
	.color-scheme-selector {
		float: left;
		margin-bottom: 10px;
		margin-left: 3.5%;

		@include transition(border-color 0.2s ease-in-out);

		width: 31%;

		@include sm {
			margin-left: 0;
			margin-right: 10px;
			width: 150px;
		}

		&:nth-child(3n + 1) {
			margin-left: 0;
		}

		&.selected {
			border: 1px map-get($theme-colors, primary) solid;
		}
	}
}