/* ---------- Components ---------- */

.portlet-boundary_com_liferay_plugins_admin_web_portlet_PluginsAdminPortlet_ {
	.plugin-thumbnail {
		margin-right: 10px;
		width: 100px;
	}
}

/* ---------- Theme color scheme selector ---------- */

.portlet-boundary_com_liferay_layout_admin_web_portlet_GroupPagesPortlet_ {
	.color-scheme-selector {
		&.selected {
			box-shadow: 0 0 0 2px map-get($theme-colors, primary);
		}
	}
}
