.portlet-admin {
	.search-admin-tabs {
		margin-top: 20px;
	}

	.progress-percentage {
		color: #272833;
		display: block;
		position: absolute;
		width: 100%;
	}

	.reindex-progress {
		margin-bottom: 0;
		position: relative;
		width: 100px;
	}

	.search-admin-actions-panel .panel-body {
		padding: 0;
	}

	.search-status-container {
		padding: 20px;
	}

	.system-action-group {
		margin-bottom: 0;

		li {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

.portlet-search-admin {
	.portal-search-admin-field-mappings {
		.btn-group-font-size {
			margin: 0 16px;
		}

		.nav-header {
			font-size: 16px;
			font-weight: 600;
			padding: 0.625rem 1rem;
		}
	}

	.search-admin-actions-panel {
		.pull-left {
			color: #272833;
		}
	}
}
