.preview-file {
	.preview-file-container {
		align-items: center;
		display: flex;
		justify-content: center;
		overflow: auto;
		position: relative;
		text-align: center;

		&.preview-file-max-height {
			max-height: 480px;
		}
	}
}

.preview-file {
	.preview-file-video {
		max-width: 100%;
	}

	&.preview-file-max-height .preview-file-video {
		max-height: 100%;
	}
}
