.sign-in {
	background-color: var(--gray-900);
	height: 100%;
}

.sign-in .form-column {
	color: var(--white);
	display: flex;
	justify-content: flex-end;
	padding-bottom: var(--spacer-10);
	padding-right: var(--spacer-6);
	padding-top: var(--spacer-9);
}

.sign-in .sign-in-image {
	background-image: url([resources:login_portlet_splash.jpg]);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.sign-in-form {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.sign-in-form .sign-in-logo {
	height: 32px;
}

.sign-in-form .login-title {
	margin-bottom: var(--spacer-4);
}

.sign-in-form .login-title.login-title:after {
	background-color: var(--primary);
	content: '';
	display: block;
	height: 3px;
	margin-top: var(--spacer-3);
	width: 24px;
}

.sign-in-form .form-group {
	width: 320px;
}

.sign-in-form .form-group label {
	color: var(--gray-500);
	font-weight: var(--font-weight-bold);
}

.sign-in-form .form-group input {
	border-color: var(--white);
}

.sign-in-form .form-check {
	margin-bottom: var(--spacer-4);
}

.sign-in-form .form-check label {
	color: var(--gray-500);
	transform: translateY(-2px);
}