[#if themeDisplay.isSignedIn() && !themeDisplay.getLayout().isSystem()]
	<script>
		window.location.replace("${themeDisplay.getPathFriendlyURLPrivateGroup() + themeDisplay.getScopeGroup().getFriendlyURL()}");
	</script>

	[@liferay_aui.script]
		window.location.replace("${themeDisplay.getPathFriendlyURLPrivateGroup() + themeDisplay.getScopeGroup().getFriendlyURL()}");
	[/@]
[/#if]

<div class="sign-in vh-100">
	<div class="row no-gutters h-100">
		<div class="col-6 col-lg-5 form-column">
			<div class="sign-in-form">
				<a href="#" data-lfr-editable-id="home" data-lfr-editable-type="link"><img class="sign-in-logo" src="[resources:logo_inv.svg]" alt="" /></a>

				[@liferay_portlet.runtime
					portletName="com_liferay_login_web_portlet_LoginPortlet"
				/]
			</div>
		</div>

		<div class="col-6 col-lg-7 sign-in-image"></div>
	</div>
</div>