<div class="product-resources">
	<h4 class="product-resources-title">Resources</h4>

	<ul class="list-unstyled icon-list">
		<li><img src="[resources:headphones.svg]" alt="" />Raylife Personal Assistant</li>
		<li><img src="[resources:tool.svg]" alt="" />Car Workshop Guide</li>
		<li><img src="[resources:dollar_sign.svg]" alt="" />Coverage Calculator</li>
		<li><img src="[resources:help_circle.svg]" alt="" />FAQs</li>
	</ul>

	<a class="btn btn-primary btn-block" href="#" role="button" data-lfr-editable-id="Action" data-lfr-editable-type="link">File a New Claim</a>
</div>