#container a {
	color: #FFF;
}

#container {
	margin: 0 auto;
}

#container nav {
	background-color: #E64A19;
	margin: 0;
}

#container nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

#container nav ul li {
	background-color: #E64A19;
	display: inline-block;
}

#container nav a {
	color: #FFF;
	display: block;
	font-size: 20px;
	line-height: 60px;
	padding: 0.5em 1em;
	text-decoration: none;
}

#container nav a:hover {
	background-color: #000000;
}

/* ---------- Hide dropdowns by default ---------- */

#container nav ul ul {
	display: none;
	position: absolute;
	top: 80px;
	z-index: 99999;
}

/* ---------- Display dropdowns on hover ---------- */

#container nav ul li:hover > ul {
	display: inherit;
}

/* ---------- Fisrt tier dropdown ---------- */

#container nav ul ul li {
	display: list-item;
	float: none;
	position: relative;
	width: 170px;
}

/* ---------- Second, third and more tiers ---------- */

#container nav ul ul ul li {
	left: 170px;
	position: relative;
	top: -60px;
}

/* ---------- Change this in order to change the dropdown symbol ---------- */

#container li > a:after {
	content: ' +';
}

#container li > a:only-child:after {
	content: '';
}