operationMode="REMOTE"
clientTransportIgnoreClusterName="false"
indexNamePrefix="liferay-"
httpCORSConfigurations=""
additionalConfigurations=""
networkBindHost=""
httpCORSAllowOrigin="/https?://localhost(:[0-9]+)?/"
transportTcpPort=""
syncSearch="true"
bootstrapMlockAll="false"
networkPublishHost=""
overrideTypeMappings=""
clientTransportSniff="true"
additionalIndexConfigurations=""
retryOnConflict="5"
httpCORSEnabled="true"
clientTransportNodesSamplerInterval=""
additionalTypeMappings=""
logExceptionsOnly="false"
indexNumberOfReplicas=""
httpEnabled="true"
indexNumberOfShards=""
networkHost=""
transportAddresses="els:9300"
clusterName="LiferayElasticsearchCluster"
discoveryZenPingUnicastHostsPort="9300-9400"
clientTransportPingTimeout=""
