.change-lists-configuration-sheet {
	margin-top: 1.5rem;
}

.toggle-label-text {
	line-height: 2.3;
}

.changelist-helper {
	color: #272833;
	font-size: 14px;
	line-height: 25px;
	text-align: right;
}

.changelist-helper .lexicon-icon {
	margin-right: 0.5rem;
}

.changelist-helper:hover .tooltip {
	opacity: 1;
}

.tooltip:hover .tooltip {
	opacity: 1;
}

.loading-indicator {
	background-color: #FFF;
	border-color: #E7E7ED;
	border-radius: 0.25rem;
	border-style: solid;
	border-width: 0.063rem;
	height: 100%;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 5;
}