.change-lists-configuration-sheet {
	margin-top: 1.5rem;
}

.change-lists-helper {
	color: #272833;
	font-size: 14px;
	line-height: 25px;
	text-align: right;
}

.change-lists-helper .lexicon-icon {
	margin-right: 0.5rem;
}

.change-lists-helper:hover .tooltip {
	opacity: 1;
}

.configuration-card-sheet-divider {
	border-color: #a7a9bc;
	border-style: solid;
	border-width: 0 0 1px;
	margin-bottom: 1.5rem;
}

.loading-indicator {
	background-color: #fff;
	border-color: #e7e7ed;
	border-radius: 0.25rem;
	border-style: solid;
	border-width: 0.063rem;
	height: 90%;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	position: absolute;
	right: 0;
	top: 4rem;
	width: 100%;
	z-index: 5;
}

.user-config.sheet-header {
	margin-bottom: 1rem;
}

.toggle-label-text {
	line-height: 2.3;
}

.tooltip:hover .tooltip {
	opacity: 1;
}
