@import '../variables';

@keyframes FloatingToolbarPanelFadeIn {
	to {
		opacity: 1;
	}
}

.fragments-editor__floating-toolbar {
	display: block;
	height: 0;
	left: -1px;
	position: absolute;
	top: -1px;
	width: 0;

	&-buttons,
	&-panel {
		position: absolute;
		z-index: $floatingToolbarZIndex;
	}

	&-buttons {
		display: inline-block;
		padding: $fragmentsEditorSpacing;

		& .btn {
			margin: 0 ($fragmentsEditorSpacing / 2) 0
				($fragmentsEditorSpacing / 2);

			&.active {
				background-color: rgba(0, 0, 0, 0.1);
				opacity: 1;
			}
		}

		& > .popover {
			padding: $fragmentsEditorSpacing;
			position: static;
			white-space: nowrap;
		}
	}

	&-panel {
		animation: FloatingToolbarPanelFadeIn ease 0.3s;
		animation-fill-mode: forwards;
		opacity: 0;
		padding: 0 $fragmentsEditorSpacing;
		z-index: $floatingToolbarPanelZIndex;

		& > .popover {
			max-height: 250px;
			min-width: $floatingToolbarPanelMinWidth;

			&.popover-scrollable {
				overflow: auto;
			}
		}

		.btn,
		.btn-group,
		.form-group,
		.form-group-autofit {
			margin-bottom: $fragmentsEditorSpacing * 2;

			&:last-child {
				margin: 0;
			}
		}

		.floating-toolbar-mapping-panel__asset-select {
			.d-flex {
				height: 32px;
			}

			margin-bottom: 16px;
		}

		.palette-container {
			margin-bottom: 0.25rem;
		}

		.palette-item {
			$paletteItemPadding: 5px;
			$paletteItemSize: 20px;

			border: $paletteItemPadding solid transparent;
			border-radius: 50%;
			height: $paletteItemSize + ($paletteItemPadding * 2);
			transition: border-color ease 0.2s;
			will-change: border-color;

			&-selected,
			&:hover {
				border-color: #f1f2f5;
			}

			&-inner {
				border: none;
				height: $paletteItemSize;
				overflow: hidden;
				width: $paletteItemSize;

				&.bg-white {
					box-shadow: inset 0 0 0 1px #cdced9;
				}
			}
		}

		.palette-items-container {
			display: flex;
			flex-wrap: wrap;
		}
	}

	.fragments-editor__floating-toolbar-buttons {
		& .fragments-editor__floating-toolbar--disabled {
			cursor: not-allowed;
			pointer-events: none;
		}

		& .fragments-editor__floating-toolbar--linked-field {
			&.active,
			&:hover {
				background-color: fade_out(#0b5fff, 0.94);
			}

			.lexicon-icon {
				fill: #0b5fff;
			}
		}

		& .fragments-editor__floating-toolbar--mapped-field {
			&.active,
			&:hover {
				background-color: fade_out(#af78ff, 0.9);
			}

			.lexicon-icon {
				fill: #af78ff;
			}
		}
	}
}

.item-selector-dropdown-menu {
	max-height: 230px;
}

.floating-toolbar-fragment-configuration-panel {
	.item-selector-dropdown-menu {
		max-height: 130px;
	}
}

.page-editor__save-fragment-composition__modal {
	.modal-body {
		max-height: 70vh;
	}
}
