@import '../variables';

@keyframes FloatingToolbarPanelFadeIn {
	to {
		opacity: 1;
	}
}

.page-editor__floating-toolbar {
	&__panel {
		animation: FloatingToolbarPanelFadeIn ease 0.3s;
		animation-fill-mode: forwards;
		opacity: 0;
		padding: 0 $fragmentsEditorSpacing;
		z-index: $floatingToolbarPanelZIndex;

		& > .popover {
			max-height: 250px;
			min-width: $floatingToolbarPanelMinWidth;

			&.popover-scrollable {
				overflow: auto;
			}
		}

		.btn,
		.btn-group,
		.form-group,
		.form-group-autofit {
			margin-bottom: $fragmentsEditorSpacing * 2;

			&:last-child {
				margin: 0;
			}
		}

		.palette-container {
			margin-bottom: 0.25rem;
		}

		.palette-item {
			$paletteItemPadding: 5px;
			$paletteItemSize: 20px;

			border: $paletteItemPadding solid transparent;
			border-radius: 50%;
			height: $paletteItemSize + ($paletteItemPadding * 2);
			transition: border-color ease 0.2s;
			will-change: border-color;

			&-selected,
			&:hover {
				border-color: #f1f2f5;
			}

			&-inner {
				border: none;
				height: $paletteItemSize;
				overflow: hidden;
				width: $paletteItemSize;

				&.bg-white {
					box-shadow: inset 0 0 0 1px #cdced9;
				}
			}
		}

		.palette-items-container {
			display: flex;
			flex-wrap: wrap;
		}
	}
}
