<div class="alert alert-success" role="alert">
    <span class="alert-indicator">
        <svg aria-hidden="true" class="lexicon-icon lexicon-icon-check-circle-full">
            <use xlink:href="$pathThemeImages$/lexicon/icons.svg#check-circle-full"></use>
        </svg>
    </span>
    <strong class="lead">$title$</strong>$message$
</div>