.price-value {
	font-weight: bold;
	margin-right: $spacer;

	&:last-of-type {
		margin-right: 0;
	}

	&-big {
		font-size: 18px;
	}

	&-discount {
		color: $danger;
	}

	&-inactive {
		color: $gray-600;
		font-weight: normal;
		text-decoration: line-through;
	}

	&-promo {
		color: $danger;
	}
}
