{namespace PageRenderer}

{template .render}
	{@param items: list<[
		type: string
	]>}

	<div class="container">
		{foreach $item in $items}
			{let $type: $item.type /}

			{delcall PageRenderer.RegisterFieldType data="$item" variant="$type" /}
		{/foreach}
	</div>
{/template}