{
	"plugins": [
		[
			"module-resolver",
			{
				"alias": {
					"shared": "./shared"
				},
				"root": ["./src/main/resources/META-INF/resources/js"]
			}
		]
	],
	"presets": ["@babel/preset-env", "@babel/preset-react"]
}
