{
	"env": {
		"browser": true,
		"es6": true,
		"jest": true,
		"node": true
	},
	"extends": [
		"liferay"
	],
	"globals": {
		"$": true,
		"AUI": true,
		"CKEDITOR": true,
		"Liferay": true,
		"NODE_ENV": true,
		"_": true,
		"alert": true,
		"confirm": true,
		"mount": true,
		"shallow": true,
		"submitForm": true,
		"themeDisplay": true,
		"tinyMCE": true
	},
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaFeatures": {
			"allowImportExportEverywhere": true,
			"experimentalObjectRestSpread": true,
			"jsx": true
		},
		"ecmaVersion": 2017,
		"sourceType": "module"
	},
	"plugins": [
		"react",
		"wyze"
	],
	"rules": {
		"brace-style": [
			"error",
			"stroustrup"
		],
		"comma-dangle": 0,
		"eol-last": [
			2,
			"never"
		],
		"indent": [
			2,
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"lines-around-comment": [
			"error",
			{
				"afterBlockComment": false,
				"afterLineComment": true,
				"beforeBlockComment": false,
				"beforeLineComment": false
			}
		],
		"max-len": 0,
		"new-cap": [
			2,
			{
				"capIsNew": false
			}
		],
		"no-console": 0,
		"no-invalid-this": "off",
		"no-undef": 2,
		"no-underscore-dangle": [
			2,
			{
				"allowAfterThis": true,
				"enforceInMethodNames": true
			}
		],
		"no-unused-vars": [
			2,
			{
				"args": "after-used",
				"ignoreRestSiblings": false,
				"vars": "all"
			}
		],
		"object-shorthand": 2,
		"padding-line-between-statements": [
			"error",
			{
				"blankLine": "always",
				"next": "return",
				"prev": "*"
			},
			{
				"blankLine": "always",
				"next": "*",
				"prev": [
					"const",
					"let",
					"var"
				]
			},
			{
				"blankLine": "any",
				"next": [
					"const",
					"let",
					"var"
				],
				"prev": [
					"const",
					"let",
					"var"
				]
			}
		],
		"prefer-const": 2,
		"prefer-template": 2,
		"quote-props": [
			2,
			"as-needed"
		],
		"quotes": [
			2,
			"single",
			"avoid-escape"
		],
		"react/jsx-boolean-value": 2,
		"react/jsx-handler-names": 0,
		"react/jsx-key": 2,
		"react/jsx-no-bind": 2,
		"react/jsx-no-literals": 2,
		"react/jsx-sort-props": 2,
		"react/jsx-uses-react": 2,
		"react/jsx-uses-vars": 2,
		"react/react-in-jsx-scope": 2,
		"react/sort-comp": [
			2,
			{
				"groups": {
					"lifecycle": [
						"constructor",
						"componentDidMount",
						"shouldComponentUpdate",
						"componentDidUpdate",
						"componentWillUnmount"
					]
				},
				"order": [
					"static-methods",
					"lifecycle",
					"instance-methods",
					"everything-else",
					"render"
				]
			}
		],
		"require-jsdoc": 0,
		"sort-imports": [
			"error",
			{
				"ignoreCase": true,
				"ignoreDeclarationSort": false,
				"ignoreMemberSort": false,
				"memberSyntaxSortOrder": [
					"none",
					"all",
					"multiple",
					"single"
				]
			}
		],
		"sort-keys": [
			2,
			"asc",
			{
				"caseSensitive": false
			}
		],
		"sort-vars": 2,
		"valid-jsdoc": 0,
		"wyze/sort-destructuring-keys": "warn"
	},
	"settings": {
		"react": {
			"createClass": "createReactClass",
			"pragma": "React",
			"version": "detect"
		}
	}
}