<div class="fjord-download fjord-section">
	<section class="bg-dark bg-image fjord-download-image jumbotron jumbotron-fluid mb-0 text-white">
		<div class="container py-5">
			<div class="py-5 row">
				<div class="col-12 text-center">
					<lfr-editable id="fjord-download-title" type="rich-text">
						<h2 class="display-4">Start Building Today</h2>
					</lfr-editable>

					<div class="lead">
						<lfr-editable id="fjord-download-text" type="rich-text">
							<p>This theme is included with your Liferay product. Visit <a class="text-reset" href="https://www.liferay.com">www.liferay.com</a> for more information.</p>
						</lfr-editable>
					</div>

					<div class="d-inline-block fjord-download-button">
						<lfr-editable id="fjord-download-button1" type="rich-text">
							<div class="d-inline-flex">
								<a href="#" target="_blank" title="Download on the App Store, in new window">
									<img alt="Download on the App Store" src="[resources:badge_apple.png]">
								</a>
							</div>
						</lfr-editable>
					</div>

					<div class="d-inline-block fjord-download-button ml-3">
						<lfr-editable id="fjord-download-button2" type="rich-text">
							<div class="d-inline-flex">
								<a href="#" target="_blank" title="Download on the Google Play, in new window">
									<img alt="Download on the Google Play" src="[resources:badge_play.png]">
								</a>
							</div>
						</lfr-editable>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>