<div class="fjord-download">
	<div class="jumbotron main-background-image">
		<section class="container-fluid container-fluid-max-xl">
			<div class="col-md-10 mx-auto text-center">
				<h1 class="display-4">
					<lfr-editable id="title" type="text">Start Building Today</lfr-editable>
				</h1>

				<p>
					<lfr-editable id="description" type="rich-text">This theme is included with your Liferay product. Visit <a href="http://www.liferay.com">www.liferay.com</a> for more information.</lfr-editable>
				</p>

				<ul class="list-inline list-unstyled store-buttons">
					<li class="list-inline-item">
						<lfr-editable id="store1" type="rich-text">
							<a href="#" title="Download on the App Store, in new window">
								<img alt="Download on the App Store" src="../../resources/badge_apple.png">
							</a>
						</lfr-editable>
					</li>

					<li class="list-inline-item">
						<lfr-editable id="store2" type="rich-text">
							<a href="#" title="Get it on Google Play, in new window">
								<img alt="Get it on Google Play" src="../../resources/badge_play.png">
							</a>
						</lfr-editable>
					</li>
				</ul>
			</div>
		</section>
	</div>
</div>