@import 'atlas-variables';

.file-picker-preview-video {
	$component: &;

	background-color: $white;
	border: 1px solid $secondary-l3;
	border-radius: 0.25rem;
	font-size: 0.875rem;
	max-width: 594px;
	padding: 1rem;

	&-placeholder {
		align-items: center;
		background-color: $gray-200;
		display: flex;
		justify-content: center;

		.lexicon-icon {
			color: $gray-400;
			font-size: 2rem;
		}
	}

	&-container {
		height: 0;
		padding-bottom: 56.25%;
		position: relative;

		embed,
		iframe,
		object,
		#{$component}-placeholder {
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
}
