@import "mixins";

$toolbarZIndex: 971;

$controlMenuDesktopHeight: 56px;
$controlMenuHeight: 49px;

$productMenuTransitionDuration: 0.5s;
$productMenuWidth: 320px;

.portlet-journal {
	.article-content-content {
		img, .cke_widget_image {
			max-width: 100%;

			&[style*="float: left;"], &[style*="float:left;"] {
				margin-right: 24px;
			}

			&[style*="float: right;"], &[style*="float:right;"] {
				margin-left: 24px;
			}

			&[style*="float: left;"], &[style*="float:left;"], &[style*="float: right;"], &[style*="float:right;"] {
				margin-bottom: 24px;
				margin-top: 24px;
			}
		}

		.form-builder-field {
			box-shadow: none;
			margin: 0;
			padding-bottom: 0;
			padding-right: 0;
		}

		.alloy-editor-container .alloy-editor-wrapper {
			padding-top: 0;
		}

		.alloy-editor-switch {
			margin-top: -40px;
		}

		.input-localized.input-localized-editor .form-control {
			border-width: 1px;
			min-height: 2.5rem;
			padding: 0.5rem 1rem;
		}
	}

	.article-content-description {
		@extend .article-content-content;

		.alloy-editor-switch {
			display: none;
		}
	}

	.edit-article-form {
		.component-tbar {
			height: $controlMenuHeight;
			left: 0;
			position: fixed;
			top: $controlMenuHeight;
			transition: left ease $productMenuTransitionDuration, width ease $productMenuTransitionDuration;
			width: 100%;
			z-index: $toolbarZIndex;

			body.open & {
				left: $productMenuWidth;
				width: calc(100% - #{$productMenuWidth});
			}

			@media (min-width: 768px) {
				height: $controlMenuDesktopHeight;
				top: $controlMenuDesktopHeight;
			}
		}

		.container.container-view.contextual-sidebar-content {
			margin-top: $controlMenuHeight;

			@media (min-width: 768px) {
				margin-top: $controlMenuDesktopHeight;
			}
		}

		.edit-article-sidebar {
			box-shadow: none;
			height: calc(100vh - #{$controlMenuHeight * 2}) !important;
			overflow-y: scroll;
			top: $controlMenuHeight * 2 !important;

			@media (min-width: 768px) {
				height: calc(100vh - #{$controlMenuDesktopHeight * 2}) !important;
				top: $controlMenuDesktopHeight * 2 !important;
			}
		}

		.sidebar-body .panel-body {
			padding: 0;
		}
	}

	.form-builder {
		.nav-tabs + .tab-content .tab-pane {
			padding: 2rem 1rem;
		}

		.property-builder-fields-container .property-builder-field {
			width: 33%;
		}
	}

	.schedule {
		.form-group-autofit {
			margin-bottom: 16px;
		}

		.expiration-date, .review-date {
			.form-group-autofit {
				margin-bottom: 8px;
			}
		}
	}

	.journal-article-preview {
		padding: 0 20px;
	}

	.lfr-ddm-field-group {
		margin-bottom: 10px;
		margin-top: 10px;
		padding: 28px 24px;
	}

	.lfr-ddm-container > .lfr-ddm-field-group {
		padding: 0;
	}

	.structure-restrictions .lfr-workflow-column .form-group {
		margin-bottom: 0;
	}

	td.change-list-title {
		font-weight: 600;
	}
}