.portlet-journal {
	.article-content-content {
		img {
			max-width: 100%;

			&[style*="float: left;"], &[style*="float:left;"] {
				margin-right: 24px;
			}

			&[style*="float: right;"], &[style*="float:right;"] {
				margin-left: 24px;
			}

			&[style*="float: left;"], &[style*="float:left;"], &[style*="float: right;"], &[style*="float:right;"] {
				margin-bottom: 24px;
				margin-top: 24px;
			}
		}

		.form-builder-field {
			box-shadow: none;
			margin: 0;
			padding-bottom: 0;
			padding-right: 0;
		}

		.alloy-editor-container .alloy-editor-wrapper {
			padding-top: 0;
		}

		.alloy-editor-switch {
			margin-top: -40px;
		}

		.input-localized.input-localized-editor .form-control {
			border-width: 1px;
			min-height: 2.5rem;
			padding: 0.5rem 1rem;
		}
	}

	.article-content-description {
		@extend .article-content-content;

		.alloy-editor-switch {
			display: none;
		}
	}

	.form-builder {
		.nav-tabs + .tab-content .tab-pane {
			padding: 2rem 1rem;
		}

		.property-builder-fields-container .property-builder-field {
			width: 33%;
		}
	}

	.journal-article-preview {
		padding: 0 20px;
	}

	.metadata .lfr-ddm-field-group {
		margin-bottom: 20px;
		margin-top: 0;
		padding: 0;
	}

	.structure-restrictions .lfr-workflow-column .form-group {
		margin-bottom: 0;
	}
}