{
	"env": {
		"browser": true,
		"jest": true,
		"mocha": true
	},
	"extends": "liferay",
	"globals": {
		"global": true,
		"Liferay": true
	},
	"parserOptions": {
		"ecmaFeatures": {
		 	"experimentalObjectRestSpread": true
		}
  	}
}