@import 'mixins';

@mixin default-label {
	color: #869cad;
	font-size: 14px;
}

.export-dialog-tree {
	.content-options {
		margin-bottom: 1em;

		legend {
			border-top: solid #e5e5e5;
			border-width: 1px 0 0;
			font-size: 1em;
			font-weight: normal;
			line-height: 1em;
			margin-bottom: 0.5em;
			padding-top: 0.75em;
		}
	}

	.import-file-details {
		margin: 0 1em 0 1.5em;

		dt {
			clear: left;
			float: left;
			font-weight: bold;
			margin-right: 1em;
		}
	}

	.layout-variation-name {
		color: #999;
	}

	.options-group {
		.options {
			margin-top: 20px;
		}

		.select-options {
			margin-left: 20px;
			margin-top: 20px;
		}
	}

	.options ul.portlet-list > li.tree-item {
		padding-left: 0;
	}

	.page-not-exportable {
		color: #933;
	}

	.portlet-list {
		margin-left: 20px;
		padding: 10px 0;

		li.tree-item > ul {
			margin-bottom: 1em;
		}
	}

	.portlet-list-simple {
		margin-left: 20px;
	}

	.publish-mode-switch {
		background-color: #469de3;
		position: absolute;
		right: 10px;

		a {
			color: #fff;
		}

		span {
			text-decoration: none !important;
		}
	}

	.selected-labels {
		color: #999;
		font-style: italic;
		margin-left: 0.5em;
		margin-right: 0.5em;
	}

	.selected-pages {
		td.col-1 {
			padding-top: 5px;
		}

		th.col-3 {
			text-align: left;
			width: 74%;
		}
	}

	.selected-pages-option .field-content {
		display: inline;
	}

	input.file-selector {
		display: block;
		margin: 0.5em 0 1.5em;
	}

	ul.list-unstyled ul {
		list-style: none;
	}
}

.layout-selector {
	padding-left: 0;
}

.layout-selector-options {
	list-style: none;
	margin-right: auto;
}

.lfr-export-dialog {
	.portlet-data-section .flex-container {
		margin-bottom: 1em;
	}

	.portlet-data-section,
	.portlet-type-data-section {
		.control-label {
			font-weight: bold;
		}

		.date-range-options {
			margin-bottom: 1em;

			legend {
				border-width: 0;
				display: block;
				font-size: 1em;
				font-weight: normal;
				line-height: 1em;
				margin-bottom: 0.2em;
				padding-top: 1em;
			}
		}

		.relative-range {
			width: 165px;
		}

		legend {
			display: none;
		}
	}

	.upload-list li {
		list-style: disc inside;
	}

	.upload-list .error-info {
		font-size: 0.8em;
		font-style: italic;
		margin-left: 0.5em;
	}
}

.lfr-root-node {
	.tree-icon a,
	.tree-label a {
		cursor: pointer;
	}
}

.lfr-tree-controls {
	width: 165px;

	div,
	a {
		float: left;
	}
}

.lfr-tree-controls-item {
	padding: 0 0 6px 6px;
}

.lfr-tree-controls-label {
	line-height: 17px;
	padding: 0 2px;
	text-decoration: none;
}

.lfr-tree-loading-icon {
	margin: 0 auto;
	padding-top: 5px;
}

.list-group-item-content h6.background-task-status-row {
	display: inline;
	margin-right: 1%;

	a {
		color: #65b6f0;
	}

	a:hover {
		color: #65b6f0;
		text-decoration: none;
	}
}

.pages-selector {
	max-height: 300px;
	overflow: auto;
}

.permissions-description {
	@include default-label;
}

.permissions-label {
	@include default-label;

	font-weight: bold;
}

.portlet-export-import {
	.process-list {
		.background-task-status-column {
			.background-task-status-in-progress {
				float: left;
				margin-right: 1em;
			}

			.background-task-status-message {
				margin-top: 1em;

				.error-list-items li {
					list-style: disc inside;
				}
			}

			.details-link {
				margin-left: 1em;
			}

			.progress {
				margin-bottom: 0.3em;
			}

			.progress-current-item {
				font-size: 0.7em;
			}

			.publish-error {
				margin-bottom: 0;
			}

			.toggler-header-collapsed:after {
				content: '\00a0\00bb';
			}

			.toggler-header-expanded:after {
				content: '\00a0\00ab';
			}
		}

		.background-task-user-column {
			.avatar {
				background-size: 30px;
				height: 30px;
				width: 30px;
			}
		}
	}
}

.publish-simple-help-text {
	color: #869cad;
	font-size: 16px;
}

.range-options {
	margin-right: 5%;
}

.tree-node-content {
	.layout-branch-name {
		color: #aaa;
	}

	.incomplete-layout {
		color: #ccc;
	}
}

.tree-drag-helper a {
	text-decoration: none;
}

.tree-drag-helper-label {
	margin-top: -1px;
}

.tree-pages {
	.tree-node-selected {
		.tree-label a {
			color: #0090d9;
			cursor: move;
		}
	}
}

.process-summary-section {
	margin: 2rem 0;

	label.process-summary-label {
		font-size: 0.875rem;
	}
}

.process-summary-subsection {
	margin: 1rem 0;
}

.staging-publish-schedule {
	th {
		min-width: 10em;
		padding-top: 0.7em;
		text-align: right;
		vertical-align: top;
	}

	.bottom-gap {
		padding-bottom: 2em;
	}

	.number-input {
		width: 10em;
	}
}

.export-import-options {
	.alert-dismissible {
		z-index: 100000;
	}
}
