@import "bourbon";

.spi-actions-column {
	width: 75px;
}

.spi-applications-column {
	width: 250px;
}

.spi-description-column {
	width: 250px;
}

.spi-connector-port-column {
	width: 50px;
}

.spi-name-column {
	width: 100px;
}

.spi-status-column {
	width: 100px;
}