.fragment-buildings-footer {
}

.fragment-buildings-footer .navbar-brand {
	display: flex;
	padding: 0 12px;
}

.fragment-buildings-footer .brand-logo {
	height: 20px;
	margin-right: 8px;
	width: 20px;
}

.fragment-buildings-footer h3 {
	color: #FFF;
	font-size: 16px;
	font-weight: 800;
	line-height: 1.4;
	margin-bottom: 0;
}

.fragment-buildings-footer h3 a {
	color: #272833;
}

.fragment-buildings-footer .nav-link {
	color: #CDCED9;
	font-weight: 600;
	padding: 8px 16px;
}

.fragment-buildings-footer .active > .nav-link {
	color: #FFFf;
}

.fragment-buildings-footer .portlet {
	margin: 8px 0;
	padding: 0;
}

.fragment-buildings-footer .portlet-content {
	background-color: transparent;
	border: none;
	padding: 0;
}

.fragment-buildings-footer .portlet-header {
	display: none;
}

.fragment-buildings-footer .nav-group {
	align-items: center;
	display: flex;
}

.fragment-buildings-footer .nav-group .btn {
	background-color: transparent;
	color: #FFF;
	margin: 0 12px;
}