<footer class="fragment-buildings-footer navbar">
	<div class="container-fluid">
		<div class="navbar-brand">
			<lfr-editable id="imgLogo" type="image">
				<img alt="" class="brand-logo" src="" />
			</lfr-editable>

			<lfr-editable id="logoText" type="rich-text">
				<h3>Buildings</h3>
			</lfr-editable>
		</div>

		<div class="nav-group">
			<lfr-widget-nav></lfr-widget-nav>

			<a class="btn btn-secondary element-btn btn-sm" href="/c/portal/login" role="button">Site Login</a>
		</div>
	</div>
</footer>