.activity-section {
	overflow: hidden;
	padding-bottom: 1.5rem;

	.activity-collapsable {
		margin-bottom: 1rem;

		.activity {
			padding: 14px 0;

			&:not(:first-child) {
				border-top: solid thin #e7e7ed;
			}

			&:last-child {
				padding-bottom: 0;
			}

			p {
				margin-bottom: 0.5rem;

				&.description {
					font-size: 16px;
				}
			}
		}

		&__arrow {
			color: #6b6c7e;
			transition: transform 0.2s ease-in-out;

			&.collapsed {
				transform: rotate(-90deg);
			}
		}

		&__content {
			border-bottom: solid 2px #e7e7ed;
			height: auto;
			max-height: 50vh;
			overflow: auto;
			transition: max-height 0.3s ease-in-out;

			&.collapsed {
				max-height: 0;
				overflow: hidden;
			}
		}

		&__header {
			align-items: center;
			border-bottom: 1px solid #a7a9bc;
			cursor: pointer;
			display: flex;
			justify-content: space-between;
			padding-bottom: 4px;
		}

		&__title {
			color: #272833;
			font-weight: 600;
			text-transform: uppercase;
		}
	}
}

.edit-entry-activity-section {
	padding: 0;
}
