$sidebarWidth: 366px;
$navbarHeight: 120px;

.app-builder-workflow-app {
	display: flex;
	justify-content: center;
	margin-top: 64px;

	&__builder {
		height: calc(100vh - #{$navbarHeight});
		margin-right: 350px;
		max-height: calc(100vh - #{$navbarHeight});
		overflow: auto;
		position: fixed;
		width: calc(100vw - #{$sidebarWidth});

		.arrow {
			display: flex;
			justify-content: center;
			min-height: 45px;
			padding-left: 80.25px;
			position: relative;

			.arrow-plus-button {
				align-self: center;
				background: #fff;
				border: 1px solid #cdced9;
				border-radius: 50%;
				box-sizing: border-box;
				cursor: pointer;
				display: flex;
				font-size: 1rem;
				height: 2rem;
				justify-content: center;
				padding: 10px 0;
				position: absolute;
				width: 2rem;

				&:hover {
					border: 1px solid #80acff;
				}
			}

			.arrow-body {
				display: flex;
				flex-flow: wrap-reverse;
				justify-content: center;

				.arrow-head {
					bottom: 0;
					margin-bottom: -4px;
					margin-top: 4px;
				}

				.arrow-tail {
					background-color: #6b6c7e;
					height: 95%;
					margin-bottom: 5px;
					width: 2px;
				}
			}

			.arrow-point {
				background-color: #fff;
				border-radius: 50%;
				font-size: 6px;
			}

			.icon {
				color: #6b6c7e;
				position: absolute;
			}

			&.selected {
				min-height: 120px;
			}
		}

		.step {
			display: flex;
			width: 100%;

			&:first-of-type .step-wrapper {
				margin-top: 3.5rem;
			}

			&:last-of-type .step-wrapper {
				margin-bottom: 3.5rem;
			}
		}

		.step-badge {
			font-size: 18px;
			height: 32px;
			margin-top: 16px;
			padding: 0.25rem 0.625rem;

			&.index-badge {
				margin-left: 2rem;
			}
		}

		.step-card {
			align-items: center;
			background-clip: border-box;
			background-color: #fff;
			border: 2px solid #e7e7ed;
			border-radius: 0.25rem;
			cursor: pointer;
			display: flex;
			justify-content: space-between;
			margin-bottom: unset;
			margin-left: 16px;
			min-width: 0;
			padding: 1rem;
			position: relative;
			width: 392px;

			&:hover {
				border: 2px solid #80acff;
				box-sizing: border-box;
			}

			.step-card-row {
				display: flex;
				width: 100%;

				.step-content {
					font-size: 16px;
					font-weight: 600;
					padding-left: 0;
					padding-right: 0;
				}
			}

			&.selected {
				border: 2px solid #0b5fff;
				box-sizing: border-box;
			}
		}

		.step-wrapper {
			display: flex;
			margin: auto;
		}
	}

	&__sidebar {
		border-left: 1px solid #e7e7ed;
		flex-flow: column;
		height: 100%;
		position: fixed;
		right: 0;
		transform: translateX(0%);
		width: $sidebarWidth;

		.form-group-outlined {
			border: 1px solid #cdced9;
			border-radius: 6px;
			margin-bottom: 1rem;
			padding: 0.5rem 1rem 1rem;
		}
	}
}

.border-error {
	border-color: #da1414 !important;
}

.data-layout-builder-sidebar {
	@media (max-width: 576px) {
		top: 112px;
	}

	.sidebar-body {
		height: calc(100vh - 192px);
		padding-top: 0;

		.tab-button {
			align-items: center;
			display: flex;
			justify-content: space-between;
			padding: 1rem;
			text-align: left;
			width: 100%;
		}

		.main-section {
			border-bottom: 1px solid #e7e7ed;
			padding: 1rem 0;
		}
	}

	.sidebar-header {
		padding: 0;

		h3.title {
			margin: 0;
			padding: 1.5rem 1rem;
		}

		.tab-title {
			align-items: center;
			border-bottom: 1px solid #e7e7ed;
			display: flex;
			padding: 1rem;

			button {
				margin-right: 1rem;
				padding: 0.25rem;
			}

			h3 {
				margin: 0;
			}
		}
	}
}

.dropdown-button-asset {
	margin-top: 0.25rem;
}

.outline-text {
	background-color: white;
	font-size: 12px;
	padding-left: 8px;
	padding-right: 8px;
	position: absolute;
	z-index: 50;
}

.step-form-view {
	border: 1px solid #cdced9;
	border-radius: 6px;
	box-sizing: border-box;
	margin-top: 1rem;
	padding: 1rem 1rem 0;
}

.tooltip-icon:hover {
	fill: #6b6c7e;
}

.tooltip-icon-error {
	align-self: center;
	border: 5px solid #fde7e8;
	border-radius: 50%;
	fill: #da1414;
	margin-left: auto;
	min-width: 1em;
}

.tooltip-icon:hover {
	fill: #6b6c7e;
}
