$sidebarWidth: 366px;
$navbarHeight: 120px;

.app-builder-workflow-app {
	display: flex;
	margin-top: 64px;

	&__builder {
		height: calc(100vh - #{$navbarHeight});
		max-height: calc(100vh - #{$navbarHeight});
		overflow: auto;
		position: fixed;
		width: calc(100vw - #{$sidebarWidth});

		.arrow {
			display: flex;
			justify-content: center;
			min-height: 45px;
			padding-left: 80.25px;
			position: relative;

			.arrow-plus-button {
				background: #fff;
				border: 1px solid #cdced9;
				border-radius: 50%;
				box-sizing: border-box;
				cursor: pointer;
				font-size: 1rem;
				height: 2rem;
				margin-top: 43px;
				padding: 10px 7px;
				position: absolute;
				width: 2rem;

				&:hover {
					border: 1px solid #80acff;
				}
			}

			.arrow-body {
				display: flex;
				justify-content: center;

				.arrow-head {
					bottom: 0;
					display: flex;
					justify-content: center;
					margin: auto;
					margin-bottom: -4px;
					margin-top: 4px;
				}

				.arrow-tail {
					background-color: #6b6c7e;
					height: 45px;
					margin: auto;
					margin-bottom: 5px;
					width: 2px;
				}
			}

			.arrow-point {
				background-color: #fff;
				border-radius: 50%;
				font-size: 6px;
			}

			.icon {
				color: #6b6c7e;
				position: absolute;
			}

			&.selected {
				.arrow-body {
					.arrow-tail {
						height: 120px;
					}
				}
				min-height: 120px;
			}
		}

		.step {
			display: flex;
			width: 100%;

			&:first-child {
				margin-top: 3.5rem;
			}

			&:last-child {
				margin-bottom: 3.5rem;
			}
		}

		.step-badge {
			font-size: 18px;
			height: 32px;
			padding: 0.25rem 0.625rem;

			&.index-badge {
				margin-left: 2rem;
			}
		}

		.step-card {
			align-items: center;
			background-clip: border-box;
			background-color: #fff;
			border: 2px solid #e7e7ed;
			border-radius: 0.25rem;
			cursor: pointer;
			display: flex;
			font-weight: 600;
			justify-content: space-between;
			margin-bottom: unset;
			margin-left: 16px;
			min-width: 0;
			padding: 1rem;
			position: relative;
			width: 392px;
			word-break: break-all;

			&:hover {
				border: 2px solid #80acff;
				box-sizing: border-box;
			}

			.step-card-row {
				display: flex;
				width: 100%;

				.step-content {
					font-size: 16px;
					font-weight: 600;
					padding-left: 0;
					padding-right: 0;
				}
			}

			&.selected {
				border: 2px solid #0b5fff;
				box-sizing: border-box;
			}
		}

		.step-wrapper {
			align-items: center;
			display: flex;
			margin: auto;
		}
	}

	&__sidebar {
		border-left: 1px solid #e7e7ed;
		flex-flow: column;
		height: 100%;
		left: calc(100vw - 366px);
		position: fixed;
		transform: translateX(0%);
		width: $sidebarWidth;

		.form-group-outlined {
			border: 1px solid #cdced9;
			border-radius: 6px;
			margin-bottom: 1rem;
			padding: 0.5rem 1rem 1rem;
		}
	}
}

.border-error {
	border-color: #da1414 !important;
}

.button-info {
	color: #6b6c7e;
	word-break: break-word;
}

.circle-icon {
	align-self: center;
	border: 5px solid;
	border-radius: 50%;
	font-size: 1.625rem;

	&.info {
		border-color: #e7e7ed;
		color: #6b6c7e;
	}
}

.data-layout-builder-sidebar {
	@media (max-width: 576px) {
		top: 112px;
	}

	.sidebar-body {
		height: calc(100vh - 192px);
		padding-top: 0;

		.tab-button {
			align-items: center;
			display: flex;
			justify-content: space-between;
			padding: 1rem;
			text-align: left;
			width: 100%;
		}

		.main-section {
			border-bottom: 1px solid #e7e7ed;
			padding: 1rem 0;
		}
	}

	.sidebar-header {
		padding: 0;

		h3.title {
			margin: 0;
			padding: 1.5rem 1rem;
		}

		.tab-title {
			align-items: center;
			border-bottom: 1px solid #e7e7ed;
			display: flex;
			padding: 1rem;

			button {
				margin-right: 1rem;
				padding: 0.25rem;
			}

			h3 {
				margin: 0;
			}
		}
	}
}

.dropdown-button-asset {
	margin-top: 0.25rem;

	&.help-cursor {
		display: flex;
		justify-content: center;
		margin-top: unset;
		position: absolute;
		right: 12px;
		top: 1rem;
		width: 2rem;
	}
}

.dropdown-button-title {
	max-width: 200px;
}

.help-cursor {
	cursor: help;
}

.outline-text {
	background-color: white;
	font-size: 12px;
	padding-left: 8px;
	padding-right: 8px;
	position: absolute;
	z-index: 50;
}
.save-app-modal {
	.modal-dialog {
		width: 416px;

		.modal-body {
			font-size: 1rem;
		}

		.modal-title {
			font-size: 1.125rem;
		}
	}
}

.step-form-view {
	border: 1px solid #cdced9;
	border-radius: 6px;
	box-sizing: border-box;
	margin-top: 1rem;
	padding: 1rem 1rem 0;
}

.tap-ahead-icon-wrapper .lexicon-icon-tap-ahead {
	transform: scaleX(-1);
}

.tooltip-icon:hover {
	fill: #6b6c7e;
}

.tooltip-icon-error {
	align-self: center;
	border: 5px solid #fde7e8;
	border-radius: 50%;
	fill: #da1414;
	margin-left: auto;
	min-width: 1em;
}

.version-badge {
	align-self: center;
	font-size: 12px;
	height: 24px;
	margin-right: -0.25rem;
	padding: 0 8px;
}
