@import 'atlas-variables';

.portlet-redirect {
	.destination-url {
		.has-error .form-feedback-item {
			font-weight: 400;
		}
	}

	&-modal {
		&-title {
			font-weight: 600;
		}

		&-description {
			color: $secondary;
			font-size: 0.875rem;
		}
	}

	.taglib-search-iterator-page-iterator-bottom {
		margin-top: 20px;
	}
}

.redirect-entries {
	.sidebar-dd {
		margin-bottom: 1.5rem;
	}

	.sidebar-dt {
		font-size: 0.875rem;
		margin-bottom: 0.5rem;
		text-transform: capitalize;
	}

	.component-title {
		text-transform: uppercase;
	}

	.table-cell-content {
		direction: rtl;
		overflow: hidden;
		text-align: left;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
