<div class="fjord-items fjord-section">
	<section class="bg-info fjord-bg-info jumbotron jumbotron-fluid mb-0 text-white">
		<div class="container py-5">
			<div class="row text-center">
				<div class="col-12 col-md-4 col-sm-6 mt-5 mt-md-0 mx-auto">
					<lfr-editable id="fjord-items-image" type="image">
						<img alt="" class="img-fluid mx-auto" src="[resources:item_1.png]" />
					</lfr-editable>

					<div class="mt-3">
						<lfr-editable id="fjord-items-title" type="rich-text">
							<h3>Join</h3>
						</lfr-editable>
					</div>

					<div class="font-weight-light">
						<lfr-editable id="fjord-items-text" type="rich-text">
							<p>Highlight a feature here with clear benefits to your customers.</p>
						</lfr-editable>
					</div>
				</div>

				<div class="col-12 col-md-4 col-sm-6 mt-5 mt-md-0 mx-auto">
					<lfr-editable id="fjord-items-image2" type="image">
						<img alt="" class="img-fluid mx-auto" src="[resources:item_2.png]" />
					</lfr-editable>

					<div class="mt-3">
						<lfr-editable id="fjord-items-title2" type="rich-text">
							<h3>Explore</h3>
						</lfr-editable>
					</div>

					<div class="font-weight-light">
						<lfr-editable id="fjord-items-text2" type="rich-text">
							<p>Encourage your users to dig deeper and provide them with great resources.</p>
						</lfr-editable>
					</div>
				</div>

				<div class="col-12 col-md-4 col-sm-6 mt-5 mt-md-0 mx-auto">
					<lfr-editable id="fjord-items-image3" type="image">
						<img alt="" class="img-fluid mx-auto" src="[resources:item_3.png]" />
					</lfr-editable>

					<div class="mt-3">
						<lfr-editable id="fjord-items-title3" type="rich-text">
							<h3>Spread the Word</h3>
						</lfr-editable>
					</div>

					<div class="font-weight-light">
						<lfr-editable id="fjord-items-text3" type="rich-text">
							<p>Make it easy for happy customers to share experiences with friends.</p>
						</lfr-editable>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>