.app-builder-standalone {
	background-color: $whiteColor200;
	min-height: 100vh;
	padding-bottom: 9.5rem;

	.app-builder-standalone-content {
		margin-top: -7rem;
		padding-bottom: 2rem;
		padding-top: 20px;

		&.edit-entry {
			max-width: $containerMaxWidth;
			padding-top: 14px;
		}

		.app-builder-root {
			.control-menu-back-button .icon-monospaced {
				padding-left: 4px;
			}

			.edit-entry {
				padding-top: 3rem;
			}

			.loading-wrapper {
				height: auto;
				position: relative;
			}

			.view-entry {
				background-color: $whiteColor300;
				border-radius: 4px;
				margin-bottom: -2rem;
				margin-left: calc(-1.5rem - 1px);
				margin-right: calc(-1.5rem - 1px);
				margin-top: 0;
				padding-bottom: 8rem;

				.sheet {
					margin-bottom: 2rem;
				}
			}
		}
	}

	.app-builder-standalone-header {
		background-color: $grayColor800;
		min-height: 320px;
		padding-top: 1rem;
		width: 100%;

		.app-builder-standalone-name {
			color: $whiteColor;
			font-size: 2.5rem;
			font-weight: bold;
			margin-top: 4.5rem;
			padding: 0;

			&.edit-entry {
				display: none;
			}
		}

		.company-link {
			color: $whiteColor;
			display: inline-block;

			.company-details {
				display: flex;

				.company-logo {
					max-height: 52px;
					max-width: 52px;
				}

				.company-name {
					font-size: 22px;
					font-weight: bold;
					line-height: 52px;
					margin-left: 1rem;
				}
			}
		}
	}

	.app-builder-standalone-translation-manager {
		align-items: center;
		flex-direction: row;

		.btn.btn-secondary.dropdown-toggle {
			background-color: $grayColor800;
			border-color: $grayColor700;
			color: $grayColor600;

			&:hover {
				background-color: rgba($grayColor700, 0.2);
				border-color: $grayColor700;
				color: $whiteColor;

				.localizable-dropdown-label {
					color: $whiteColor;
				}
			}
		}
	}

	.table-responsive {
		margin-bottom: 0;
	}
}
