.apps-popover {
	max-width: 450px;
	z-index: 999;
}

.remove-object-field-panel {
	label {
		margin-right: 0.25rem;
	}

	.panel-header {
		background-color: $whiteColor200;
		border-bottom: 1px solid $grayColor400;
	}
}

.taglib-search-iterator-page-iterator-bottom {
	margin-top: 20px;
}

.tooltip-icon {
	color: $grayColor600;
	margin-left: 0.25rem;
}

.sheet {
	&:after {
		display: none;
	}
}

.portlet-content-container {
	.management-bar {
		margin-bottom: 24px;
	}
}
