// Regular sizes

$animation: cubic-bezier(0.25, 0.1, 0.25, 1);
$controlMenuHeight: 56px;
$productMenuWidth: 320px;
$sidebarMainWidth: 326px;
$sidebarMiniWidth: 72px;
$upperToolbarHeight: 64px;

$containerMaxWidth: 808px;

// Mobile sizes

$mobileControlMenuHeight: 48px;

// Colors

$blackColor: #000;

$blueColor: #00f;

$blueColor200: #b3cdff;
$blueColor300: #2e5aac;

$grayColor400: #e7e7ed;
$grayColor500: #d2d4db;
$grayColor600: #a7a9bc;
$grayColor700: #6b6c7e;
$grayColor800: #434354;
$grayColor900: #272833;

$primaryColor: #0b5fff;

$redColor: #f00;

$whiteColor: #fff;
$whiteColor200: #f1f2f5;
