{
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"extends": "liferay",
	"globals": {
		"Liferay": true,
		"AUI": true
	},
	"rules": {
		"eol-last": ["error", "never"],
		"new-cap": 0
	}
}