<project
	xmlns="http://maven.apache.org/POM/4.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd"
>
	<groupId>com.liferay.css.builder.maven</groupId>
	<modelVersion>4.0.0</modelVersion>
	<artifactId>mojo-test</artifactId>
	<version>1.0.0</version>
	<build>
		<plugins>
			<plugin>
				<groupId>com.liferay</groupId>
				<artifactId>com.liferay.css.builder</artifactId>
				<version>[$CSS_BUILDER_VERSION$]</version>
				<configuration>
					<baseDir>[$CSS_BUILDER_BASE_DIR$]</baseDir>
					<dirNames>[$CSS_BUILDER_DIR_NAMES$]</dirNames>
					<generateSourceMap>[$CSS_BUILDER_GENERATE_SOURCE_MAP$]</generateSourceMap>
					<importDir>[$CSS_BUILDER_IMPORT_DIR$]</importDir>
					<outputDirName>[$CSS_BUILDER_OUTPUT_DIR_NAME$]</outputDirName>
					<precision>[$CSS_BUILDER_PRECISION$]</precision>
					<rtlExcludedPathRegexps>[$CSS_BUILDER_RTL_EXCLUDED_PATH_REGEXPS$]</rtlExcludedPathRegexps>
					<sassCompilerClassName>[$CSS_BUILDER_SASS_COMPILER_CLASS_NAME$]</sassCompilerClassName>
				</configuration>
			</plugin>
		</plugins>
	</build>
</project>
