@import "bourbon";
@import "mixins";

.portlet-asset-display-template {
	.lfr-template-editor-container {
		.lfr-template-palette-container {
			width: 265px;

			.lfr-template-palette {
				overflow: auto;
				width: 100%;

				.title-text {
					font-weight: bold;
					margin: 0.5em;
				}

				.palette-item-content .palette-item-container {
					cursor: pointer;
					line-height: 1.8em;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;

					.palette-item {
						padding-right: 13px;
					}
				}
			}

			.search-query {
				margin-bottom: 26px;
			}
		}

		.lfr-editor-container {
			margin-left: 275px;

			.lfr-template-editor .lfr-rich-editor {
				padding-left: 0.2em;
			}
		}

		.lfr-editor-container-full {
			margin-left: 0;
		}
	}
}

.ltr .form-builder-rtl-inputs, .rtl .form-builder-ltr-inputs {
	.portlet-dynamic-data-mapping .form-builder-content, .textcelleditor, .textareacelleditor {
		input[type="text"], textarea {
			direction: rtl;
		}
	}
}

textarea.script {
	min-height: 200px !important;
}