@import 'atlas-variables';

$controlMenuDesktopHeight: 56px;
$toolbarDesktopHeight: 56px;

.style-book-editor {
	display: flex;
	height: calc(100vh - #{$controlMenuDesktopHeight});
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;

	// Patch for small color picker until https://github.com/liferay/clay/issues/3514 is resolved

	&__color-frontend-token {
		label {
			margin-bottom: 0;
		}

		.clay-color-picker .clay-color .input-group-item .input-group-text {
			padding-left: 6px;
			padding-right: 6px;
		}

		.clay-color-btn {
			height: 20px !important;
			padding: 0;
			width: 20px !important;
		}
	}

	&__page-preview {
		flex-grow: 1;

		&-frame {
			border: none;
			height: 100%;
			width: 100%;
		}
	}

	&__sidebar {
		background-color: $white;
		border-left: 1px solid $gray-300;
		width: 320px;
	}

	&__sidebar-collapse {
		cursor: pointer;

		.collapse-icon {
			background: none;
			border: none;
			color: $gray-600;
			font-size: 0.7rem;
			height: 2rem;
			margin-bottom: 4px;
			padding-left: 0;
			text-align: left;
			width: 100%;

			&-closed {
				.rtl & {
					transform: rotate(-180deg);
				}
			}
		}

		.sheet-subtitle {
			line-height: inherit;
		}
	}

	&__sidebar-content {
		height: calc(
			100vh - #{$controlMenuDesktopHeight + $toolbarDesktopHeight}
		);
		overflow-y: auto;
		padding: 1rem;
	}

	&__status-text {
		font-size: 0.75rem;
		font-weight: 600;
	}

	&__status-icon {
		color: $success;
		font-size: 0.75rem;
	}

	&__toolbar {
		align-items: center;
		border-bottom: 1px solid $gray-300;
		display: flex;
		flex-direction: row;
		height: $toolbarDesktopHeight;
		justify-content: space-between;
	}
}
