.portlet-analytics-settings {
	.contacts-link-disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}

	.empty-state-icon {
		background-image: url(@theme_image_path@/states/empty_state.gif);
		margin: auto;
		max-width: 250px;
		padding-top: 250px;
	}

	#channelManagementToolbar .management-bar {
		.container-fluid,
		.navbar-form {
			padding: 0;
		}
	}

	.radio-buttons {
		label {
			cursor: pointer;
		}

		small {
			margin: 0 0 0 1.4rem;
		}

		.radio {
			margin-bottom: 0;
		}
	}
}
