// Spacers map copy

$spacers-cp: ();
$spacers-cp: map-deep-merge(
	(
		0: var(--spacer-0),
		1: var(--spacer-1),
		2: var(--spacer-2),
		3: var(--spacer-3),
		4: var(--spacer-4),
		5: var(--spacer-5),
		6: var(--spacer-6),
		7: var(--spacer-7),
		8: var(--spacer-8),
		9: var(--spacer-9),
		10: var(--spacer-10),
	),
	$spacers-cp
);

// Theme colors

$theme-colors-cp: ();
$theme-colors-cp: map-deep-merge(
	(
		primary: var(--primary),
		secondary: var(--secondary),
		success: var(--success),
		info: var(--info),
		warning: var(--warning),
		danger: var(--danger),
		light: var(--light),
		lighter: var(--gray-100),
		gray-dark: var(--gray-800),
		dark: var(--dark),
	),
	$theme-colors-cp
);

:root {
	// Colors

	--white: #{$white};
	--gray-100: #{$gray-100};
	--gray-200: #{$gray-200};
	--gray-300: #{$gray-300};
	--gray-400: #{$gray-400};
	--gray-500: #{$gray-500};
	--gray-600: #{$gray-600};
	--gray-700: #{$gray-700};
	--gray-800: #{$gray-800};
	--gray-900: #{$gray-900};
	--black: #{$black};
	--transparent: transparent;

	@each $key, $value in $theme-colors {
		--#{$key}: #{$value};
	}

	--primary-d1: #{$primary-d1};
	--primary-l1: #{$primary-l1};
	--primary-l3: #{$primary-l3};
	--secondary-d1: var(--gray-800);
	--success-d1: #{$success-d1};
	--success-l1: #{$success-l1};
	--success-l2: #{$success-l2};
	--info-l1: #{$info-l1};
	--info-l2: #{$info-l2};
	--warning-l1: #{$warning-l1};
	--warning-l2: #{$warning-l2};
	--danger-l1: #{$danger-l1};
	--danger-l2: #{$danger-l2};

	// Spacers

	--spacer: 1;
	@each $key, $value in $spacers {
		--spacer-#{$key}: #{$value};
	}

	// Container max

	@each $key, $value in $container-max-widths {
		--container-max-#{$key}: #{$value};
	}

	// Aspect ratios

	--aspect-ratio: 100%;
	--aspect-ratio-4-to-3: 75%;
	--aspect-ratio-8-to-3: 37.5%;
	--aspect-ratio-16-to-9: 56.25%;

	// Transitions

	--transition-collapse: #{$transition-collapse};
	--transition-fade: #{$transition-fade};

	// Border radius

	--border-radius-circle: 50%;
	--border-radius-lg: #{$border-radius-lg};
	--border-radius-sm: #{$border-radius-sm};
	--border-radius: #{$border-radius};
	--rounded-pill: #{$rounded-pill};

	// Shadows

	--box-shadow-sm: #{$box-shadow-sm};
	--box-shadow: #{$box-shadow};
	--box-shadow-lg: #{$box-shadow-lg};

	// Fonts

	--font-family-sans-serif: #{$font-family-sans-serif};
	--font-family-monospace: #{$font-family-monospace};
	--font-family-base: #{$font-family-base};

	--font-size-sm: #{$font-size-sm};
	--font-size-base: #{$font-size-base};
	--font-size-lg: #{$font-size-lg};

	--font-weight-light: #{$font-weight-light};
	--font-weight-lighter: #{$font-weight-lighter};
	--font-weight-normal: #{$font-weight-normal};
	--font-weight-semi-bold: #{$font-weight-semi-bold};
	--font-weight-bold: #{$font-weight-bold};
	--font-weight-bolder: #{$font-weight-bolder};

	--line-height-base: #{$line-height-base};
	--line-height-sm: 1.15;

	// Headings

	--h1-font-size: #{$h1-font-size};
	--h2-font-size: #{$h2-font-size};
	--h3-font-size: #{$h3-font-size};
	--h4-font-size: #{$h4-font-size};
	--h5-font-size: #{$h5-font-size};
	--h6-font-size: #{$h6-font-size};

	// Display

	--display1-size: #{$display1-size};
	--display2-size: #{$display2-size};
	--display3-size: #{$display3-size};
	--display4-size: #{$display4-size};

	--display1-weight: #{$display1-weight};
	--display2-weight: #{$display2-weight};
	--display3-weight: #{$display3-weight};
	--display4-weight: #{$display4-weight};

	--display-line-height: #{$display-line-height};

	// Body

	--body-color: $body-color;
	--body-bg: $body-bg;

	// Portlet vars

	--portlet-bg: transparent;
	--portlet-header-margin-bottom: calc(
		var(--spacer) * #{$portlet-header-margin-bottom}
	);
	--portlet-content-border-radius: 0;

	--portlet-topper-border-radius: var(--border-radius-sm)
		var(--border-radius-sm) 0 0;
	--portlet-topper-bg: var(--primary);
	--portlet-topper-border: var(--portlet-topper-bg);
	--portlet-topper-color: var(--white);
	--portlet-topper-link-color: var(--portlet-topper-color);
	--portlet-topper-link-hover-color: var(--portlet-topper-link-color);
}
