@mixin button-cp(
	$background,
	$border,
	$color,
	$hover-background: $background,
	$hover-border: $border,
	$hover-color: $color
) {
	background-color: $background;
	border-color: $border;
	color: $color;

	&:active,
	&:focus,
	&:hover {
		background-color: $hover-background;
		border-color: $hover-border;
		color: $hover-color;
	}
}
