@mixin button-cp(
	$background,
	$border,
	$color,
	$hover-background: $background,
	$hover-border: $border,
	$hover-color: $color
) {
	&:not(:disabled):not(.disabled) {
		background-color: $background;
		color: $color;

		&:not(.btn-outline-borderless) {
			border-color: $border;
		}

		&:active,
		&:focus,
		&:hover {
			background-color: $hover-background;
			color: $hover-color;

			&:not(.btn-outline-borderless) {
				border-color: $hover-border;
			}
		}
	}
}
