// Bg and text color variants

@each $color, $value in $theme-colors-cp {
	.bg-#{$color} {
		background-color: $value !important;
	}

	.text-#{$color} {
		color: $value !important;
	}
}

// Spacers

@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);

		@each $prop, $abbrev in (margin: m, padding: p) {
			@each $size, $length in $spacers-cp {
				.#{$abbrev}#{$infix}-#{$size} {
					#{$prop}: $length !important;
				}
				.#{$abbrev}t#{$infix}-#{$size},
				.#{$abbrev}y#{$infix}-#{$size} {
					#{$prop}-top: $length !important;
				}
				.#{$abbrev}r#{$infix}-#{$size},
				.#{$abbrev}x#{$infix}-#{$size} {
					#{$prop}-right: $length !important;
				}
				.#{$abbrev}b#{$infix}-#{$size},
				.#{$abbrev}y#{$infix}-#{$size} {
					#{$prop}-bottom: $length !important;
				}
				.#{$abbrev}l#{$infix}-#{$size},
				.#{$abbrev}x#{$infix}-#{$size} {
					#{$prop}-left: $length !important;
				}
			}
		}

		@each $size, $length in $spacers-cp {
			@if $size != 0 {
				.m#{$infix}-n#{$size} {
					margin: calc(#{$length} * -1) !important;
				}
				.mt#{$infix}-n#{$size},
				.my#{$infix}-n#{$size} {
					margin-top: calc(#{$length} * -1) !important;
				}
				.mr#{$infix}-n#{$size},
				.mx#{$infix}-n#{$size} {
					margin-right: calc(#{$length} * -1) !important;
				}
				.mb#{$infix}-n#{$size},
				.my#{$infix}-n#{$size} {
					margin-bottom: calc(#{$length} * -1) !important;
				}
				.ml#{$infix}-n#{$size},
				.mx#{$infix}-n#{$size} {
					margin-left: calc(#{$length} * -1) !important;
				}
			}
		}
	}
}

// Aspect ratio

.aspect-ratio:not([class*='aspect-ratio-']) {
	padding-bottom: var(--aspect-ratio);
}

.aspect-ratio-4-to-3 {
	padding-bottom: var(--aspect-ratio-4-to-3);
}

.aspect-ratio-8-to-3 {
	padding-bottom: var(--aspect-ratio-8-to-3);
}

.aspect-ratio-16-to-9 {
	padding-bottom: var(--aspect-ratio-16-to-9);
}

// Transition

.collapsing {
	transition: var(--transition-collapse);
}

.fade {
	transition: var(--transition-fade);
}

// Container max

@each $breakpoint, $container-max-width in $container-max-widths {
	.container-max-#{$breakpoint} {
		max-width: $container-max-width;
	}
}

// Rounded

.rounded-sm {
	border-radius: var(--border-radius-sm) !important;
}

.rounded {
	border-radius: var(--border-radius) !important;
}

.rounded-lg {
	border-radius: var(--border-radius-lg) !important;
}

.rounded-circle {
	border-radius: var(--border-radius-circle) !important;
}

.rounded-pill {
	border-radius: var(--rounded-pill) !important;
}

// Buttons

.btn-primary {
	@include button-cp(
		var(--primary),
		var(--primary),
		var(--white),
		var(--primary-d1),
		var(--primary-d1)
	);
}

.btn-secondary {
	@include button-cp(
		var(--white),
		var(--gray-400),
		var(--secondary),
		var(--gray-100),
		var(--gray-400),
		var(--dark)
	);
}

.btn-success {
	@include button-cp(
		var(--success),
		var(--success),
		var(--white),
		var(--success-d1),
		var(--success-d1)
	);
}

.btn-outline-primary {
	@include button-cp(
		var(--transparent),
		var(--primary),
		var(--primary),
		var(--primary-d1),
		var(--primary-d1),
		var(--white)
	);
}

.btn-outline-secondary {
	@include button-cp(
		var(--transparent),
		var(--gray-400),
		var(--secondary),
		var(--gray-200),
		var(--transparent),
		var(--dark)
	);
}

.btn-outline-light {
	@include button-cp(
		var(--transparent),
		var(--white),
		var(--white),
		var(--white),
		var(--white),
		var(--dark)
	);
}

.btn-link:not(.dropdown-item) {
	@include button-cp(
		var(--transparent),
		var(--transparent),
		var(--primary),
		var(--transparent),
		var(--transparent),
		var(--primary-d1)
	);
}

// Shadows

.shadow-sm {
	box-shadow: var(--box-shadow-sm) !important;
}

.shadow {
	box-shadow: var(--box-shadow) !important;
}

.shadow-lg {
	box-shadow: var(--box-shadow-lg) !important;
}

// Body

body {
	background-color: var(--body-bg);
	color: var(--body-color);
	font-family: var(--font-family-base);
	font-size: var(--font-size-base);
}

// Headers

h1,
.h1 {
	font-size: var(--h1-font-size);
}

h2,
.h2 {
	font-size: var(--h2-font-size);
}

h3,
.h3 {
	font-size: var(--h3-font-size);
}

h4,
.h4 {
	font-size: var(--h4-font-size);
}

h5,
.h5 {
	font-size: var(--h5-font-size);
}

h6,
.h6 {
	font-size: var(--h6-font-size);
}

// Display

.display-1 {
	font-size: var(--display1-size);
	font-weight: var(--display1-weight);
	line-height: var(--display-line-height);
}

.display-2 {
	font-size: var(--display2-size);
	font-weight: var(--display2-weight);
	line-height: var(--display-line-height);
}

.display-3 {
	font-size: var(--display3-size);
	font-weight: var(--display3-weight);
	line-height: var(--display-line-height);
}

.display-4 {
	font-size: var(--display4-size);
	font-weight: var(--display4-weight);
	line-height: var(--display-line-height);
}

// Lead

.lead {
	font-size: $lead-font-size;
	font-weight: $lead-font-weight;
}

// Text format

.font-weight-light {
	font-weight: var(--font-weight-light) !important;
}

.font-weight-lighter {
	font-weight: var(--font-weight-lighter) !important;
}

.font-weight-normal {
	font-weight: var(--font-weight-normal) !important;
}

.font-weight-semi-bold {
	font-weight: var(--font-weight-semi-bold) !important;
}

.font-weight-bold {
	font-weight: var(--font-weight-bold) !important;
}

.font-weight-bolder {
	font-weight: var(--font-weight-bolder) !important;
}

// Text muted

.text-muted {
	color: var(--text-muted) !important;
}

// Portlet

.portlet {
	.portlet-content {
		background-color: var(--portlet-bg);
	}

	@at-root .controls-visible {
		.portlet-content-editable {
			@include media-breakpoint-down(sm) {
				border-color: var(--portlet-topper-border);
			}
		}

		.portlet:hover,
		.portlet.open,
		.portlet.focus {
			> .portlet-content-editable {
				@include media-breakpoint-up(sm) {
					border-color: var(--portlet-topper-border);
				}
			}
		}
	}
}

.portlet-layout {
	.portlet-header {
		margin-bottom: var(--portlet-header-margin-bottom);
	}
}

.portlet-topper {
	background-color: var(--portlet-topper-bg);
	border-color: var(--portlet-topper-border);
	border-radius: var(--portlet-topper-border-radius);
	color: var(--portlet-topper-color);
}
