@import "mixins";
@import "./AceEditor";
@import "./MSBFragmentEditor";
@import "./MSBFragmentNameEditor";
@import "./MSBFragmentPreview";
@import "./SourceEditor";

.msb-fragment-submit-buttons {
	position: absolute;
	right: 18px;
	top: -74px;
}