@import "./AceEditor";
@import "./SourceEditor";
@import "FragmentEditor";
@import "FragmentNameEditor";
@import "FragmentPreview";
@import "mixins";

.fragment-submit-buttons {
	position: absolute;
	right: 18px;
	top: -74px;
}