@import 'atlas-variables';

.question-headline {
	margin-bottom: 0;
}

.question-answer {
	border-top: 1px solid #e5e5e5;
	padding: 1rem;

	& small {
		margin-bottom: 0;
	}
}

.question-comment {
	padding-left: 3rem;
}

.question-accepted-message {
	color: $success;
}

.question-accepted-answer {
	background: $success-l2;
	border: 1px solid $success-l1;
	border-radius: 4px;
	box-sizing: border-box;
}

.question-author-badge {
	border: 1px solid $secondary-l3;
}

.question-reply-icon-row {
	margin-top: 1.5rem;
}

.question-reply-icon {
	color: $secondary-l2;
	transform: rotate(-180deg);
}

.question-comment-separator {
	margin: 0 0 1rem;
}

.question-comment-validation {
	& span {
		align-self: flex-end;
	}
}

.btn-secondary.question-subscribed,
.btn-secondary.question-subscribed:hover {
	background-color: $primary-l3;
}

.question-bell-subscribed,
.question-bell-subscribed:hover {
	color: $primary;
}
