.question-answer {
	padding: 1rem;

	&:not(:first-child) {
		border-top: 1px solid $secondary-l3;
	}

	&.question-answer-success {
		border-radius: 0.25rem;
		border: 1px solid $success-l1;
		background-color: $success-l2;
	}
}

.question-reply {
	&:not(:first-child) {
		border-top: 1px solid $secondary-l3;
		padding-top: 1rem;
	}

	.question-reply-icon {
		transform: rotateZ(180deg);
	}
}

// .btn-secondary.question-subscribed,
// .btn-secondary.question-subscribed:hover {
// 	background-color: $primary-l3;
// }

// .question-bell-subscribed,
// .question-bell-subscribed:hover {
// 	color: $primary;
// }

// .questions-my-rating {
// 	color: $primary;
// }

// .question-user-popover {
// 	width: 200px;
// }
