.question-answer {
	padding: 1rem;

	&:not(:first-child) {
		border-top: 1px solid $secondary-l3;
	}

	&.question-answer-success {
		background-color: $success-l2;
		border: 1px solid $success-l1;
		border-radius: 0.25rem;
	}
}

.question-reply {
	&:not(:first-child) {
		border-top: 1px solid $secondary-l3;
		padding-top: 1rem;
	}

	.question-reply-icon {
		transform: rotateZ(180deg);
	}
}