.question-tags {
	& .template-card .card-body {
		text-align: left;
	}

	:hover {
		text-decoration: none;
	}

	& .card-title {
		color: $dark;
		font-size: 1rem;
		font-style: normal;
		font-weight: 600;
	}
}
