@import 'atlas-variables';

.question-accepted-answer {
	background: $success-l2;
	border: 1px solid $success-l1;
	border-radius: 4px;
	box-sizing: border-box;
}

.question-icon-rotate-180 {
	transform: rotate(-180deg);
}
