@import 'atlas-variables';
@import 'pages';

.stretched-link-layer {
	position: relative;
	z-index: 2;
}

.question-title {
	&:after {
		background-color: $light-l1;
		border-radius: 0.25rem;
		opacity: 0;
		transition: opacity 300ms ease-in-out;
		will-change: opacity;
	}

	&:hover,
	&:focus {
		text-decoration: none;

		&:after {
			opacity: 1;
		}
	}
}

.question-user {
	.question-user-popover {
		display: none;
		min-width: 234px;
		top: 100%;
	}

	&:hover,
	&:focus {
		.question-user-popover {
			display: block;
		}
	}
}

.question-answer {
	&:not(:first-child) {
		border-top: 1px solid $secondary-l3;
	}

	&.question-answer-success {
		background-color: $success-l2;
		border: 1px solid $success-l1;
		border-radius: 0.25rem;
	}
}

.question-reply {
	&:not(:first-child) {
		border-top: 1px solid $secondary-l3;
		padding-top: 1rem;
	}

	.question-reply-icon {
		transform: rotateZ(180deg);
	}
}

.question-creator:before {
	background-color: $secondary-l3;
	bottom: 0;
	content: '';
	left: 50%;
	min-height: 1px;
	min-width: 1px;
	position: absolute;
	top: 0;

	@include media-breakpoint-up(md) {
		bottom: initial;
		left: 0;
		right: 0;
		top: 50%;
	}
}

.question-button {
	bottom: 2rem;
	position: fixed;
	right: 2rem;
	z-index: 3;
}

.question-actions {
	@include media-breakpoint-down(md) {
		bottom: 100%;
		position: absolute;
		right: 1rem;
	}
}

.questions-home-card {
	margin: 1rem;

	&:hover,
	&:focus {
		box-shadow: 0 20px 40px rgba(39, 40, 51, 0.16);
	}
}

.questions-navigation {
	border-bottom: 1px solid $secondary-l3;
}

.questions-disabled-link {
	pointer-events: none;
}