@import 'atlas-variables';
@import 'pages';

.stretched-link-layer {
	position: relative;
	z-index: 2;
}

.bg-white {
	background-color: $white;
}

.question-list {
	display: flex;
	flex-direction: row;
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
}
