.dropdown-wide {
	&.dropdown-col-md-4 {
		.link-list {
			@include sm {
				float: left;
				width: 25%;
			}
		}

		.child-menu.dropdown-menu {
			@include md {
				padding-left: 180px;
				padding-right: 300px;
			}
		}

		.category-description {
			width: 300px;

			@include md {
				@include position(absolute, 50% 0 null null);
				@include transform(translateY(-50%));
			}
		}
	}
}