.navbar-inverse {
	background-color: $brand-color-light;
	border-color: $brand-color-light;
}

.navbar-top-search {
	background-color: $brand-color-extra-light;
	min-height: 65px;
	padding: 10px 30px;
	position: relative;

	@include sm {
		width: 410px;
	}

	.portlet, .form-group, .lfr-ddm-field-group {
		margin-bottom: 0;
	}

	.lfr-ddm-field-group-inline {
		@include position(absolute, 10px 0 null null)

		a {
			color: #FFF;
		}

		.lexicon-icon {
			padding: 10px;
		}
	}

	.form-group {
		display: block;

		.form-control {
			border-color: transparent;
			width: 100%;

			@include form-control-focus(transparent);
			@include placeholder($brand-border-color);
		}
	}
}

.navbar-recursive {
	.lexicon-icon {
		@include size(25px, 25px);
	}

	.lexicon-icon-search {
		display: none;
	}

	.collapsed {
		.lexicon-icon-search {
			display: inline-block;
		}

		.lexicon-icon-close {
			display: none;
		}
	}

	.portlet-user-personal-bar {
		padding: 16px;
	}
}

.navbar-toggle {
	.icon-bar {
		@include transition(all 0.4s ease-in-out);
	}

	&[aria-expanded="true"] {
		.icon-bar {
			margin-top: -2px;
		}
	}
}