.table {
	a {
		color: $brand-dark;
	}

	> thead:first-child > tr:first-child > th {
		border-bottom: 1px solid $brand-color;
		border-top: 1px solid $brand-color;
		color: $brand-color;
		line-height: 2;
		padding: 18px 8px;
		text-transform: uppercase;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}

	> tbody > tr > td {
		border-top-width: 0;
		box-shadow: none;
	}
}

.table-list {
	color: $brand-dark;
}