/src/main/resources/META-INF/resources/_unstyled/css/clay
/src/main/resources/META-INF/resources/_unstyled/images/aui
/src/main/resources/META-INF/resources/_unstyled/images/clay
/src/main/resources/META-INF/resources/_unstyled/images/lexicon