@import 'atlas-variables';

$imageeditor-btn-padding: 8px 4px !default;
$imageeditor-controls-height: 52px !default;
$imageeditor-filters-border-width: 4px;
$imageeditor-filters-height: 90px !default;
$imageeditor-history-controls-top: 30px;
$slider-height: 20px;

// Skin Variables

$brand-primary: darken(#428bca, 6.5%) !default; // #337AB7

$imageeditor-bg: #111314 !default;
$imageeditor-filters-text-color: #57636a !default;
$imageeditor-history-controls-btn-color: #4e6371 !default;
$imageeditor-link-color: $brand-primary !default;
$imageeditor-text-color: #fff !default;

$gray-base: #000 !default;
$gray-light: lighten($gray-base, 46.7%) !default; // #777
$gray-lighter: lighten($gray-base, 93.5%) !default; // #EEE

.portlet-layout {
	background-color: $imageeditor-bg;
}

.image-editor {
	background-color: $imageeditor-bg;

	ul,
	ol {
		margin: 0;
	}

	.loading-animation {
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 40%;
	}

	.lfr-image-editor-image-container {
		padding: 20px;
		text-align: center;
	}

	.lfr-image-editor-history-container {
		position: absolute;
		text-align: center;
		top: $imageeditor-history-controls-top;
		width: 100%;

		a.btn {
			background-color: $imageeditor-history-controls-btn-color;
			margin: 0;
			outline: none;

			.lexicon-icon {
				color: $imageeditor-text-color;
			}
		}
	}

	.image-preview {
		display: inline-block;
	}

	.lfr-image-editor-tools-container {
		height: $imageeditor-controls-height + $imageeditor-filters-height;
	}

	.controls {
		background-color: $imageeditor-bg;
		bottom: 0;
		height: $imageeditor-controls-height;
		position: absolute;
		width: 100%;

		.list-inline > li {
			display: inline;
		}

		.btn {
			color: $imageeditor-text-color;
		}

		.controls-container {
			align-items: center;
			bottom: $imageeditor-controls-height;
			height: 0;
			left: 0;
			overflow: hidden;
			position: absolute;
			width: 100%;
			z-index: 1;

			@include transition(height 0.6s cubic-bezier(0.23, 1, 0.32, 1));

			.tool-controls {
				overflow: visible;

				> * {
					align-items: center;
					display: flex;
					justify-content: center;
				}

				.lexicon-icon {
					&.max-value {
						color: rgba(255, 255, 255, 0.9);
						height: 28px;
						width: 28px;
					}

					&.min-value {
						color: rgba(255, 255, 255, 0.5);
						height: 20px;
						width: 20px;
					}
				}

				.centered {
					flex-grow: 1;
				}

				.carousel-wrapper {
					position: relative;

					.carousel-left-arrow,
					.carousel-right-arrow {
						position: absolute;
						top: 50%;
						z-index: 1;

						.btn {
							padding: 0;
						}
					}

					.carousel-left-arrow {
						left: 0;
						transform: translate(-100%, -50%);
					}

					.carousel-right-arrow {
						right: 0;
						transform: translate(100%, -50%);
					}
				}

				.carousel-container {
					overflow: hidden;
					width: 100%;
				}

				.carousel {
					@include transition(
						margin 0.6s cubic-bezier(0.23, 1, 0.32, 1)
					);

					display: table;

					.item {
						display: table-cell;
						padding: 0 1px;

						a {
							color: $imageeditor-filters-text-color;

							canvas {
								border: $imageeditor-filters-border-width solid
									$imageeditor-bg;
								margin-top: -8px;
							}

							&.active {
								color: $imageeditor-link-color;

								canvas {
									border-color: $imageeditor-link-color;
									border-radius: $imageeditor-filters-border-width;
								}
							}
						}

						&:hover a {
							color: $imageeditor-link-color;
							text-decoration: none;
						}
					}

					span {
						display: block;
						font-size: 12px;
						line-height: 2;
					}
				}
			}
		}

		.open {
			& > .btn {
				color: $imageeditor-link-color;
			}

			.controls-container.open {
				height: $imageeditor-filters-height;
			}
		}
	}

	.dialog-body {
		position: relative;
	}

	.selection {
		.resize-handle {
			background-color: #fff;
			border: 1px solid #869cad;
			bottom: -6px;
			cursor: se-resize;
			height: 12px;
			position: absolute;
			right: -6px;
			width: 12px;
		}
	}

	.slider {
		color: $imageeditor-link-color;
		height: $imageeditor-controls-height + $slider-height;
		position: relative;
		text-align: center;

		.rail {
			border-radius: $slider-height / 2;
			height: $slider-height;
			margin-top: 5px;
			position: relative;

			&:after {
				border: solid 1px $gray-light;
				content: '';
				left: 0;
				position: absolute;
				top: 50%;
				width: 100%;
			}

			.rail-handle {
				position: absolute;
				top: -1px;
				z-index: 1;
			}

			.rail-active {
				background-color: $imageeditor-link-color;
				border-radius: $slider-height/2 0 0 $slider-height/2;
				height: 2px;
				position: relative;
				top: $slider-height/2;
				z-index: 1;
			}

			.handle {
				background-color: $brand-primary;
				border: 2px solid $imageeditor-text-color;
				border-radius: $slider-height/2;
				height: $slider-height;
				width: $slider-height;
			}
		}
	}
}
