@import "portlet_decorator";

@import "partials/card";
@import "partials/carousel";
@import "partials/dropdown";
@import "partials/fonts";
@import "partials/footer";
@import "partials/jumbotron";
@import "partials/navbar";
@import "partials/sticker";
@import "partials/tab";

body {
	background-color: $bg-color-main;
}

#column-1 {
	padding-left: 0;
	padding-right: 0;
}

#firstHeading {
	background-color: $brand-dark;
	border-width: 0;
}

#secondHeading {
	padding-top: 20px;
	position: relative;

	@include sm {
		min-height: 158px;
		padding-top: 50px;
	}
}

#wrapper {
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	padding-top: 0;

	#mainSearchIcon {
		position: relative;

		.form-group {
			width: 100%;
		}

		.form-control {
			background-color: #F6F8F9;
			border-color: #F6F8F9;
			color: #000;
			padding-left: 40px;
		}
	}
}

.main-wrapper {
	@import "partials/buttons";
	@import "partials/forms";
	@import "partials/table";

	a, .btn, input, .form-control {
		@include form-control-focus($brand-color);
	}
}

#content {
	color: $brand-color;
	min-height: 100vh;

	.table {
		margin-top: 40px;
	}
}

.collapse-login {
	background-color: $bg-color-secondary;

	.container {
		padding: 20px;
	}

	&, a {
		color: $brand-color;
	}

	.btn {
		width: 100%;
	}

	.button-holder {
		margin: 0 0 20px;
	}

	p {
		margin: 40px 0;
	}

	.control-label {
		display: none;
	}
}

.category-detail {
	text-align: center;
}

.category-image img {
	max-width: 100%;
	width: 100%;
}

.search-facet {
	box-shadow: none;

	.panel-heading {
		background: transparent;
		border-color: transparent;
		color: $brand-text-color;

		& + .panel-collapse > .panel-body {
			border-color: transparent;
		}
	}
}

.collapse-hover {
	&:hover {
		.collapse {
			display: block;
		}

		a > .lexicon-icon {
			fill: $brand-color;
		}
	}

	.lexicon-icon {
		transition: fill 0.4s ease-in-out;
	}
}

#navigation {
	.portlet-topper {
		left: auto;
		right: auto;
		z-index: 1035;
	}

	.portlet {
		margin: 0;
		position: static;

		&:hover, &.focus {
			z-index: 1035;
		}
	}
}

.user-avatar-image {
	display: inline-block;
	vertical-align: middle;
}

.user-full-name {
	display: inline-block;

	@include sm {
		display: none;
	}
}

#banner {
	position: relative;

	.portlet-content {
		padding: 0;
	}

	.navbar {
		margin-bottom: 0;

		.custom-logo {
			color: $brand-dark;
			line-height: 28px;

			.site-name {
				margin-left: 16px;
			}
		}
	}

	.dropdown-full .navbar {
		position: static;
	}

	.navbar-nav {
		@media (max-width: $grid-float-breakpoint-max) {
			margin: 5.75px 0;
		}

		> li {
			position: static;
		}
	}

	.default-logo img {
		max-height: 68px;
	}
}

#collapseSearch {
	.field-wrapper {
		display: none;
	}

	.input-text-wrapper, .portlet {
		margin-bottom: 0;
	}
}