.portlet-decorate {
	.portlet {
		margin-bottom: 0;
	}

	.portlet-content {
		background-color: transparent;
		border-color: $bg-color-secondary;
		padding: 0;
	}
}

.portlet-solid .portlet-content {
	background-color: $brand-border-color;
	border: 1px solid $bg-color-main;
}

.portlet-barebone .portlet-content {
	padding: 0;
}