<nav class="fragment-buildings-header navbar">
	<div class="container">
		<div class="navbar-brand">
			<lfr-editable id="logo01" type="image">
				<img alt="" class="brand-logo" src="" />
			</lfr-editable>

			<a href="home">
				<h3>
					<lfr-editable id="logoText01" type="text">Buildings</lfr-editable>
				</h3>
			</a>
		</div>

		<div class="nav-group">
			<lfr-widget-nav></lfr-widget-nav>

			<a class="btn btn-secondary element-btn btn-sm ml-3" href="/c/portal/login" role="button">Site Login</a>
		</div>
	</div>
</nav>