.fragment-buildings-header.navbar {
	background-color: #FFFF;
	border-bottom: 1px solid #E7E7ED;
	padding: 16px;
}

.fragment-buildings-header .navbar-brand {
	display: flex;
	padding: 0 12px;
}

.fragment-buildings-header .brand-logo {
	height: 30px;
	margin-right: 12px;
	width: 30px;
}

.fragment-buildings-header h3 {
	font-size: 24px;
	font-weight: 800;
	line-height: 1.3;
	margin-bottom: 0;
}

.fragment-buildings-header a h3 {
	color: #272833;
}

.fragment-buildings-header a:hover {
	text-decoration: none;
}

.fragment-buildings-header .nav-link {
	color: #A7A9BC;
	font-weight: 600;
	padding: 8px 16px;
}

.fragment-buildings-header .active > .nav-link {
	color: #272833;
}

.fragment-buildings-header .portlet {
	margin: 8px 0;
	padding: 0;
}

.fragment-buildings-header .portlet-content {
	background-color: transparent;
	border: none;
	padding: 0;
}

.fragment-buildings-header .portlet-header {
	display: none;
}

.fragment-buildings-header .nav-group {
	align-items: center;
	display: flex;
	padding: 0 12px;
}