<h4 class="claim-steps-title mb-4">Claim Status</h4>

<ul class="list-unstyled icon-list">
	<li class="claim-step">
		<img alt="" class="claim-step-image" data-lfr-editable-id="Status Image 01" data-lfr-editable-type="image" src="[resources:open.svg]" />

		<div class="claim-step-text">
			<div class="claim-step-name">Claim Opening</div>
			<div class="claim-step-status" data-lfr-editable-id="Step Status 01" data-lfr-editable-type="text">Completed</div>
		</div>
	</li>
	<li class="claim-step">
		<img alt="" class="claim-step-image" data-lfr-editable-id="Status Image 02" data-lfr-editable-type="image" src="[resources:open.svg]" />

		<div class="claim-step-text">
			<div class="claim-step-name">Expert Appointment</div>
			<div class="claim-step-status" data-lfr-editable-id="Step Status 02" data-lfr-editable-type="text">Completed</div>
		</div>
	</li>
	<li class="claim-step">
		<img alt="" class="claim-step-image" data-lfr-editable-id="Status Image 03" data-lfr-editable-type="image" src="[resources:open.svg]" />

		<div class="claim-step-text">
			<div class="claim-step-name">Expert Report</div>
			<div class="claim-step-status" data-lfr-editable-id="Step Status 03" data-lfr-editable-type="text">Completed</div>
		</div>
	</li>
	<li class="claim-step">
		<img alt="" class="claim-step-image" data-lfr-editable-id="Status Image 04" data-lfr-editable-type="image" src="[resources:open.svg]" />

		<div class="claim-step-text">
			<div class="claim-step-name">Repair Service</div>
			<div class="claim-step-status" data-lfr-editable-id="Step Status 04" data-lfr-editable-type="text">Completed</div>
		</div>
	</li>
	<li class="claim-step">
		<img alt="" class="claim-step-image" data-lfr-editable-id="Status Image 05" data-lfr-editable-type="image" src="[resources:open.svg]" />

		<div class="claim-step-text">
			<div class="claim-step-name">Invoice Management</div>
			<div class="claim-step-status" data-lfr-editable-id="Step Status 05" data-lfr-editable-type="text">Completed</div>
		</div>
			<li class="claim-step">
		<img alt="" class="claim-step-image" data-lfr-editable-id="Status Image 06" data-lfr-editable-type="image" src="[resources:open.svg]" />

		<div class="claim-step-text">
			<div class="claim-step-name">Claim Closing</div>
			<div class="claim-step-status" data-lfr-editable-id="Step Status 06" data-lfr-editable-type="text">Completed</div>
		</div>
	</li>
	</li>
</ul>