@import 'atlas-variables';

@include media-breakpoint-up(sm) {
	.fragment-name-editor__dialog {
		left: 50%;
		margin: 0;
		position: fixed;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
}
