@import "mixins";
@import "variables";

.source-editor {
	border: solid $editorBorderWidth $editorBorderColor;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: $editorHeight;
	min-height: $editorMinHeight;
	overflow: hidden;
	position: relative;
	width: 100%;

	@include sm {
		float: left;
		height: 50%;
		width: 50%;
	}

	&__syntax {
		pointer-events: none;
		position: absolute;
		right: 1em;
		top: 0.5em;
		z-index: 10;
	}
}