$editorBackgroundColor: #FFF;
$editorBorderColor: #EEE;
$editorBorderWidth: 4px;
$editorHeight: 40vh;
$editorMinHeight: 20ch;

$toolbarBackgroundColor: #FAFAFA;
$toolbarBorderColor: #DDD;
$toolbarBorderWidth: 1px;
$toolbarHeight: 32px;