$controlMenuDesktopHeight: 56px;
$managementBarHeight: 49px;

$editorBackgroundColor: #fff;
$editorBorderColor: #eee;
$editorBorderWidth: 4px;
$editorHeight: 40vh;
$editorMinHeight: 20ch;

$toolbarBackgroundColor: #fafafa;
$toolbarBorderColor: #ddd;
$toolbarBorderWidth: 1px;
$toolbarHeight: 32px;
