@import "bourbon";
@import "mixins";

.control-menu {
	.staging-links {
		position: static;

		.live-link, .staging-link {
			font-size: 16px;
			padding: 0 8px;
		}
	}

	.staging-message {
		margin: 0 auto;
		width: 100%;
	}
}

.control-menu-nav {
	.staging-bar {
		position: absolute;

		@include sm() {
			position: static;
		}
	}
}

.custom-info-alert {
	background: #FFF;
	border: none;
}

.publish-btn-group {
	vertical-align: middle;

	@include sm() {
		border-radius: 3px;
		overflow: hidden;
	}

	.btn {
		@include media-query(null, $screen-xs-max) {
			font-size: 1em;
			padding: 13px 15px;

			&:first-child {
				display: block;
				padding-right: 50px;
				width: 100%;
			}
		}
	}

	.dropdown-toggle {
		@include media-query(null, $screen-xs-max) {
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
			position: absolute;
			right: 0;
			top: 0;

			&:after {
				background-color: #FFF;
				bottom: 7px;
				content: '';
				display: block;
				left: -3px;
				position: absolute;
				top: 7px;
				width: 2px;
				z-index: 10;
			}
		}
	}
}

.site-pages-variation {
	padding-top: 10px;
}

.staging-alert-container {
	padding: 1.09375rem 0;
}

.staging-bar-control-toggle {
	div {
		margin-bottom: 0;

		label {
			margin-bottom: 0;
			min-width: 210px;

			@include sm() {
				float: left;
			}

			span {
				span.toggle-switch-handle {
					color: #272833;
					font-size: 14px;
					font-weight: 500;
					text-transform: none;
				}
			}
		}
	}
}

.staging-bar-workflow-text .status{
	color: #2E5AAC;
}

.staging-ready {
	padding-top: 69px;
}
.staging-ready-level-3 {
	padding-top: 126px;
}

.staging-layout-revision-details-list {
	@include justify-content(space-between);

	> li.control-menu-nav-item {
		padding: 0 8px;
	}
}

.staging-variation-label {
	display: block;
	font-weight: 500;
	margin-bottom: 4px;

	&:hover {
		text-decoration: none;
	}

	@include sm() {
		font-size: 14px;
	}
}

.staging-bar-flex-column {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding-right: 16px;
}

.staging-variation-selector {
	background: #F5F7F8;
	border: 1px solid #E9E9EF;
	border-radius: 4px;
	color: #000000;
	display: block;
	font-size: 14px;
	overflow: hidden;
	padding: 4px 8px;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;

	@include sm() {
		font-size: 14px;
	}

	> span {
		bottom: 4px;
		display: block;
		position: absolute;
		right: 8px;
	}
}

.staging-bar-level-2-nav {
	display: flex;

	.staging-bar-level-2-nav-item {
		display: flex;
		flex: 1;
		font-size: 14px;
		justify-content: center;
		padding: 0 8px;

		&.nav-item-flex-end {
			justify-content: flex-end !important;
		}
	}
}

.staging-bar-level-3-message {
	display: inline-block;
	position: static;

	.staging-bar-level-3-message-container {
		left: 0;
		position: absolute;
		right: 0;
		top: 100%;
	}
}

.header-title-with-overflow {
	overflow: visible !important;
}