.manage-collaborators-dialog {
	background-color: #fff;

	.autofit-col > div.form-group {
		margin: 0;
	}

	.autofit-col.no-padding {
		padding: 0;
	}

	.list-group {
		margin-bottom: 0;
	}

	.list-group-item {
		border: 0;
		font-size: 1rem;
		overflow: auto;
		padding: 0.5rem 1.25rem;

		.autofit-col-expand {
			flex-shrink: 0;
		}
	}

	// LPS-99475
	.list-group-item-action {
		cursor: pointer;
	}

	.modal-body.inline-scroller .empty-collaborators {
		height: 125px;
		text-align: center;

		.message-content {
			margin: 0 auto;
			max-width: 340px;
		}

		@media (min-height: 400px) {
			height: 320px;
		}
	}

	.modal-body.inline-scroller {
		padding: 0;
	}

	.modal-footer {
		bottom: 0;
		position: absolute;
		right: 0;
		width: 100%;
	}

	input[type='date'] {
		font-size: 0.875rem;
		height: 2rem;
		padding-top: 0.5em;
	}

	select.form-control:not([multiple]):not([size]) {
		background-color: #fff;
		font-size: 0.875rem;
		height: 2rem;
		padding-top: 0.25em;
	}
}
