$brand-color-primary: #FF7A00;
$brand-color-secondary: #272526;
$brand-color-secondary-light: #898788;

$brand-bg-color: #F7F7F7;

$sidenav-b2b-width: 240px;
$sidenav-b2b-close-width: 0;

$sidenav-b2b-color-bg: $brand-color-secondary;

$application-bar-height: 70px;