$product-menu-focus-box-shadow: 0 0 0 2px #fff, 0 0 0 4px #80acff !default;

$product-menu-body-bg: #272833 !default;

$product-menu-header-bg: #272833 !default;
$product-menu-header-border: #393a4a !default;
$product-menu-header-color: #d5d6e1 !default;
$product-menu-header-link-color: #fff !default;
$product-menu-header-link-hover-color: $product-menu-header-link-color !default;

$product-menu-list-group-heading-bg: transparent !default;
$product-menu-list-group-heading-border: transparent !default;
$product-menu-list-group-heading-border-width: 0 !default;

$product-menu-list-group-heading-active-bg: #393a4a !default;

$product-menu-list-group-heading-collapsed-border: transparent !default;
$product-menu-list-group-heading-collapsed-border-width: 0 !default;

$product-menu-list-group-heading-color: #fff !default;

$product-menu-list-group-item-bg: transparent !default;
$product-menu-list-group-item-border-width: 0 !default;

$product-menu-nav-link-active-color: #fff !default;
$product-menu-nav-link-color: #eeeffa !default;

$product-menu-panel-body-bg: #30313f !default;
$product-menu-panel-title-active-bg: #393a4a !default;
$product-menu-panel-title-active-border: #65b6f0 !default;
$product-menu-panel-title-active-border-left-width: 4px;
$product-menu-panel-title-active-border-style: solid;
$product-menu-panel-title-color: #fff !default;

$product-menu-width: 320px !default;
$product-menu-zindex: 990 !default;
