.lfr-simulation-panel {
	&.open-admin-panel.sidenav-menu-slider {
		visibility: visible;
		width: 320px;
	}

	.custom-devices {
		background-color: #393a4a;
		border-radius: 4px;
		margin: 0 10px 20px;
		padding: 8px 6px 16px;

		label {
			color: #a7a9bc;
			font-size: 12px;
		}

		.form-control {
			border-radius: 4px;
			padding: 8px 12px;
		}

		.form-group {
			margin-bottom: 0;
		}
	}

	.default-devices {
		margin-bottom: 20px;
		padding: 0 14px;

		.icon-monospaced {
			color: #a7a9bc;
			height: 2.5rem;
			width: 2.5rem;

			> .lexicon-icon {
				height: 1.2em;
				margin-top: 3px;
				width: 1.2em;
			}
		}

		small {
			color: #a7a9bc;
			margin: 4px 0 16px;
		}
	}

	.lfr-device-item {
		&.selected {
			color: #fff;

			.icon {
				background-color: #393a4a;
				border-radius: 4px;
				color: #fff;
			}

			small {
				color: #fff;
			}
		}

		.icon {
			margin-top: 8px;
		}
	}

	.panel {
		.simulation-app-panel-body {
			padding-top: 20px;
		}
	}
}

.lfr-device {
	box-sizing: content-box;

	.modal-header {
		display: none;
	}

	&.autosize {
		border-width: 0;
	}

	.lfr-device-size-status {
		position: absolute;
		width: 100%;

		.lfr-device-size-status-content {
			display: inline-block;
			font-size: 11px;
			height: 22px;
			margin-left: 10px;
			margin-right: 10px;
			padding: 4px;
		}

		&.b,
		&.bl,
		&.br {
			bottom: 10px;
		}

		&.t,
		&.tl,
		&.tr {
			top: 10px;
		}

		&.b,
		&.t {
			text-align: center;
		}

		&.r,
		&.br,
		&.tr {
			text-align: right;
		}

		&.l,
		&.bl,
		&.tl {
			text-align: left;
		}

		&.r,
		&.l {
			margin-top: -15px;
			top: 50%;
		}
	}

	&:after {
		bottom: 10px;
		content: '';
		display: none;
		height: 30px;
		left: 0;
		margin: 0 auto;
		position: absolute;
		right: 0;
		width: 30px;
	}

	&:before {
		content: '';
		display: none;
		left: 0;
		margin: 0 auto;
		position: absolute;
		right: 0;
		top: 20px;
	}

	&.rotated {
		&:after {
			bottom: 0;
			left: 10px;
			margin: auto;
			right: auto;
			top: 0;
		}

		&:before {
			bottom: 0;
			left: auto;
			margin: auto;
			right: 20px;
			top: 0;
		}
	}

	&.smartphone,
	&.tablet {
		&:after,
		&:before {
			display: block;
		}
	}

	&.smartphone {
		padding: 50px 10px;

		&.rotated {
			padding: 10px 50px;

			&:before {
				height: 50px;
				width: 5px;
			}
		}

		&:before {
			height: 5px;
			width: 50px;
		}
	}

	&.tablet {
		padding: 50px 20px;

		&.rotated {
			padding: 20px 50px;

			&:before {
				height: 10px;
				width: 10px;
			}
		}

		&:before {
			height: 10px;
			width: 10px;
		}
	}
}

.lfr-simulation-device {
	bottom: 0;
	display: none;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 320px;
	top: 68px;
	z-index: 500;

	.modal-content {
		border-width: 0;
	}

	.modal-dialog {
		position: absolute;

		&.autosize {
			margin-top: 68px;
			position: fixed;
		}
	}
}

.lfr-has-simulation-panel {
	overflow: auto;

	.lfr-configurator-visibility {
		display: none;
	}

	.lfr-simulation-device {
		display: block;
	}
}
