$main-bg-color: #fafafa;

$main-black: #000;

$brand-bg-color-1: #3993bf;
$brand-color-1: $brand-bg-color-1;
$westeros-info: $brand-bg-color-1;

$brand-bg-color-2: #d95757;
$brand-color-2: $brand-bg-color-2;

$brand-bg-color-3: #fff;
$brand-color-3: $brand-bg-color-3;

$brand-bg-color-4: #f5f5f5;

$brand-bg-footer-color: #318ab7;

$default-text-dark: #0b1d26;
$default-text-lighter: #8a9499;

$dark-headers-color: $default-text-dark;
