.lcs-portlet {
	.content {
		.alert {
			margin-top: 0;
		}

		.btn {
			&:active, &:focus {
				outline: 0;
			}
		}

		.info-panel {
			margin: 0 auto;
			max-width: 960px;
			padding: 6em 4em;

			p {
				margin: 2em 0;
			}
		}

		.lcs-note {
			margin-bottom: 20px;
		}

		.list-group-item {
			&:hover {
				background-color: #F5F5F5;
			}

			&.indent {
				padding-left: 20px;
			}

			.alert {
				margin-bottom: 0;
			}

			.cluster-node-key {
				margin-bottom: 8px;
			}
		}

		.logo {
			height: 5em;
			margin-right: 30px;
		}

		.navbar {
			margin-bottom: 22px;
		}

		.title {
			color: #1C75B9;
			font-size: 3em;
			font-weight: lighter;
			vertical-align: middle;
		}
	}

	.footer {
		border-top: 1px solid #E3E6E8;
		padding: 8px 16px;
	}
}