.contributor-builder-root {
	height: 100%;

	.criteria-builder-section-main,
	.criteria-builder-section-sidebar {
		transition: all 0.5s ease;
	}

	.criteria-builder-section-main {
		display: flex;
		height: 100%;
		padding-right: 0;
		width: 100%;

		.contributor-container {
			background-color: $lightBackground;
			height: 100%;
			overflow: auto;
			position: absolute;
			width: 100%;

			.container-fluid {
				height: 100%;
				padding: 0;
				transition: all 0.5s ease;

				.content-wrapper {
					padding: 40px 24px;

					> .conjunction-button {
						margin: 16px 0;
					}

					.empty-contributors {
						background: $secondaryHover;
						border: 2px dashed $mainLighten65;
					}
				}
			}
		}

		.sheet {
			padding-bottom: 1.5rem;

			.criterion-string {
				color: $mainLighten28;
				font-weight: 600;

				b {
					font-weight: bold;
				}
			}
		}
	}

	.criteria-builder-section-sidebar {
		height: calc(100% - 121px);
		overflow: hidden;
		position: fixed;
		right: 0;
		top: 121px;
		visibility: hidden;
		width: 0;
		z-index: 10;
	}

	.drag-icon {
		color: $mainLighten52;

		&:active {
			cursor: grabbing;
		}

		&:hover {
			cursor: grab;
		}
	}

	.empty-state {
		background-color: $lightBackground;
		border: 1px solid $mainLighten74;
		border-left: 3px solid $chartBlue;
		border-radius: 4px;
		color: $mainLighten28;
		cursor: pointer;
		font-weight: 600;
		padding: 16px 32px;
	}

	&.editing {
		.criteria-builder-section-main {
			padding-right: $sidebarWidth;

			.contributor-container .container-fluid {
				padding-right: $sidebarWidth;

				.content-wrapper {
					height: 100%;
					overflow: auto;
					position: relative;
				}
			}

			@media (min-width: $pageContentMaxWidth) {
				.contributor-container .container-fluid {
					padding-right: calc(
						#{$sidebarWidth} - ((100% - #{$pageContentMaxWidth}) / 2)
					);

					.content-wrapper {
						padding-right: 32px;
					}
				}
			}
		}

		.criteria-builder-section-sidebar {
			visibility: visible;
			width: $sidebarWidth;
		}
	}
}
