.criteria-builder-root {
	.criteria-builder-toolbar {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin-bottom: 16px;
		width: 100%;

		.criteria-model-label {
			font-weight: 600;
		}
	}
}