.criteria-builder-root {
	height: 100%;

	.criteria-builder-section-main,
	.criteria-builder-section-sidebar {
		transition: all 0.5s ease;
	}

	.criteria-builder-section-main {
		display: flex;
		height: 100%;
		padding-right: 0;
		width: 100%;

		.contributor-container {
			background-color: $lightBackground;
			overflow: auto;
			position: relative;
			width: 100%;
		}

		.sheet {
			margin-top: 24px;
			padding-bottom: 1.5rem;
		}
	}

	.criteria-builder-section-sidebar {
		height: 100%;
		position: absolute;
		overflow: hidden;
		right: 0;
		top: 0;
		visibility: hidden;
		width: 0;
		z-index: 10;
	}

	.criteria-builder-toolbar {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin-bottom: 16px;
		width: 100%;

		.criteria-model-label {
			font-weight: 600;
		}
	}

	.drag-icon {
		color: $mainLighten52;

		&:active {
			cursor: grabbing;
		}

		&:hover {
			cursor: grab;
		}
	}

	.empty-state {
		background-color: $lightBackground;
		border: 1px solid $mainLighten74;
		border-left: 3px solid $chartBlue;
		border-radius: 4px;
		color: $mainLighten28;
		cursor: pointer;
		font-weight: 600;
		padding: 16px 32px;
	}

	&.editing {
		.criteria-builder-section-main {
			padding-right: $sidebarWidth;
		}

		.criteria-builder-section-sidebar {
			visibility: visible;
			width: $sidebarWidth;
		}
	}
}