.input-localized :not(.has-error) > .form-control {
	background-color: transparent;
	border-color: transparent;
	font-size: 1.125rem;
	font-weight: bold;

	&:hover {
		border-color: $mainLighten74;
	}

	&:focus {
		background-color: $primaryLight;
		border-color: $primaryL1;
	}

	&:read-only {
		background-color: transparent;

		&:focus {
			background-color: inherit;
			border-color: transparent;
			box-shadow: none;
		}

		&:hover {
			border-color: transparent;
		}
	}
}
