.segments-root {
	@import "variables";

	/* ---------- Components ---------- */

	@import "clay_button";
	@import "criteria_builder";
	@import "criteria_group";
	@import "criteria_row";
	@import "criteria_sidebar";
	@import "drop_zone";
	@import "empty_drop_zone";
	@import "segment_edit";
	@import "title_editor";
	.conjunction-button {
		margin: 8px 0 8px 24px;
		text-transform: uppercase;
	}
	.mw15 {

		// TODO ask someone about this

		max-width: 15em;
	}
}