@import "mixins";
@import "variables";

@import "globals";

.segments-root {
	@import "clay_button";
	@import "conjunction";
	@import "contributor_builder";
	@import "criteria_builder";
	@import "criteria_group";
	@import "criteria_row";
	@import "criteria_sidebar";
	@import "drop_zone";
	@import "empty_drop_zone";
	@import "segment_edit";
	@import "title_editor";
	
	.input-localized :not(.has-error) > .form-control {
		background-color: transparent;
		border-color: transparent;
		font-size: 1.125rem;
		font-weight: 700;

		&:hover {
			border-color: $mainLighten74;
		}

		&:focus {
			background-color: $primaryLight;
			border-color: $primaryL1;
		}

		&:read-only {
			background-color: transparent;

			&:focus {
				background-color: inherit;
				border-color: transparent;
				box-shadow: none;
			}

			&:hover {
				border-color: transparent;
			}
		}
	}
}