.tag {
	font-weight: bold;
	margin-right: 1em;
}

.value {
	font-family: monospace;
}

.pre {
	font-family: monospace;
	white-space: pre;
}

.graphiql-container .doc-explorer-title-bar,
.graphiql-container .history-title-bar {
	height: 100% !important;
}
