.portal-workflow-metrics-app {
	margin-top: 0 !important;
	padding-top: 0;

	.alert-container {
		height: auto;
		margin-left: auto;
		margin-right: auto;
		max-width: 800px;
		padding-top: 1em;
	}

	.management-bar {
		&.show-quick-actions-on-hover {
			.quick-action-menu {
				display: flex;
			}
		}
	}

	.navbar-nav .nav-link.active {
		pointer-events: none;
	}

	.sla-form > .sheet {
		margin-top: 24px;

		> .sheet-section > h3.sheet-subtitle {
			margin-bottom: 8px;
		}
	}

	.table {
		&.table-fixed {
			table-layout: fixed;
			white-space: normal;
		}
	}

	.xsmall {
		font-size: 0.75rem;
	}
}

.control-menu-level-1-nav .dropdown-menu-header .dropdown-item {
	color: #6b6c7e;
}

.link-text:hover {
	cursor: pointer;
	text-decoration: underline;
}

.management-bar .navbar-text {
	color: #6b6c7e;
}

.step-of-bar {
	align-items: center;
	border-bottom: 1px solid #e7e7ed;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0.313rem 1.5rem;

	small {
		color: #6b6c7e;
	}
}

.show-quick-actions-on-hover {
	tr.table-active {
		&:hover {
			.quick-action-menu {
				display: flex;
			}
		}
	}
	tr:not(.table-disabled) {
		&:hover {
			.quick-action-menu.disabled {
				display: none;
			}
		}
	}
}

.modal-metrics-content {
	background-color: #f1f2f5;

	&.fixed-height {
		height: 35rem;
		overflow: auto;
	}

	.modal-body {
		margin-top: 1.5rem;
		padding: 0 1.5rem;
	}
}

.modal-open .modal {
	overflow: auto !important;
}

.dropdown-item {
	cursor: pointer;

	&.active {
		font-weight: normal;
	}
}
