.bb {
	path,
	line {
		fill: none;
		stroke: #e5e5eb;
	}

	text {
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;

		tspan {
			fill: #6b6c7e;
		}
	}

	svg {
		font: 10px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
			'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
			'Segoe UI Emoji', 'Segoe UI Symbol';
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
}

.bb-area {
	opacity: 0.2;
	stroke-width: 0;
}

.bb-bar {
	stroke-width: 0;

	&._expanded_ {
		fill-opacity: 0.75;
	}
}

.bb-bars path,
.bb-event-rect,
.bb-legend-item-tile,
.bb-xgrid-focus,
.bb-ygrid {
	shape-rendering: crispEdges;
}

.bb-brush .extent {
	fill-opacity: 0.1;
}

.bb-chart-arc {
	path {
		stroke: #fff;
	}

	text {
		fill: #fff;
		font-size: 13px;
	}
}

.bb-chart-arc .bb-gauge-value {
	fill: #000;
}

.bb-chart-arcs {
	.bb-chart-arcs-background {
		fill: #e0e0e0;
		stroke: none;
	}

	.bb-chart-arcs-gauge-unit {
		fill: #000;
		font-size: 16px;
	}

	.bb-chart-arcs-gauge-max,
	.bb-chart-arcs-gauge-min {
		fill: #777;
	}
}

.bb-chart-arcs-title {
	dominant-baseline: middle;
	font-size: 1.3em;
}

.bb-circle._expanded_ {
	stroke: white;
	stroke-width: 1px;
}

.bb-grid {
	line {
		stroke: #e5e5eb;
		stroke-width: 0.5px;
	}

	text {
		fill: #aaa;
	}
}

.bb-legend-background {
	fill: white;
	opacity: 0.75;
	stroke: lightgray;
	stroke-width: 1;
}

.bb-legend-item {
	font-size: 12px;
}

.bb-legend-item-hidden {
	opacity: 0.15;
}

.bb-line {
	stroke-width: 2px;
}

.bb-line-dashed-2-2 {
	stroke-dasharray: 2 2;
}

.bb-line-dashed-2-3 {
	stroke-dasharray: 2 3;
}

.bb-line-dashed-2-4 {
	stroke-dasharray: 2 4;
}

.bb-line-dashed-3-2 {
	stroke-dasharray: 3 2;
}

.bb-line-dashed-3-3 {
	stroke-dasharray: 3 3;
}

.bb-line-dashed-3-4 {
	stroke-dasharray: 3 4;
}

.bb-line-dashed-4-2 {
	stroke-dasharray: 4 2;
}

.bb-line-dashed-4-3 {
	stroke-dasharray: 4 3;
}

.bb-line-dashed-4-4 {
	stroke-dasharray: 4 4;
}

.bb-target {
	&.bb-defocused {
		opacity: 0.3 !important;
	}

	&.bb-focused {
		opacity: 1;

		path {
			&.bb-line,
			&.bb-step {
				stroke-width: 2px;
			}
		}
	}
}

.bb-chart-radars {
	.bb-axis {
		line {
			stroke: #848282;
			stroke-width: 0.5px;
		}

		text {
			cursor: default;
			font-size: 1.15em;
		}
	}

	.bb-levels {
		polygon {
			fill: none;
			stroke: #848282;
			stroke-width: 0.5px;
		}

		text {
			fill: #848282;
		}
	}

	.bb-shapes polygon {
		fill-opacity: 0.2;
		stroke-width: 1px;
	}
}

.bb-region {
	fill: steelblue;
	fill-opacity: 0.1;
}

.bb-selected-circle {
	fill: white;
	stroke-width: 2px;
}

.bb-text.bb-empty {
	fill: #808080;
	font-size: 2em;
}

.bb-title {
	font: 14px sans-serif;
}

.bb-tooltip {
	border-spacing: 0;
	empty-cells: show;

	td {
		background-color: #fff;
		font-size: 13px;
		padding: 3px 6px;

		> span {
			display: inline-block;
			height: 10px;
			margin-right: 6px;
			width: 10px;
		}

		&.value {
			text-align: right;
		}

		svg {
			height: 10px;
			margin-right: 2px;
			width: 10px;
		}
	}

	th {
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		color: #000;
		font-size: 14px;
		padding: 2px 5px;
		text-align: left;
	}
}

.bb-tooltip-container {
	background-clip: padding-box;
	background-color: #fff;
	border-radius: 0.3rem;
	box-shadow: 0 1px 15px -2px rgba(0, 0, 0, 0.2);
	display: block;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol';
	font-size: 0.875rem;
	font-style: normal;
	font-weight: normal;
	left: 0;
	line-break: auto;
	line-height: 1.5;
	max-width: 276px;
	padding: 12px;
	position: absolute;
	text-align: start;
	top: 0;
	white-space: normal;
	word-break: normal;
	word-spacing: normal;
	word-wrap: break-word;
	z-index: 1060;
}

.loading-icon {
	align-items: center;
	display: flex;
	flex-direction: row;
	min-height: 320px;
	vertical-align: middle;
}
