.portal-workflow-metrics-app {
	.taglib-empty-result-message > .sheet-text {
		width: 100%;

		> p {
			margin: '0px auto';
			width: '340px';
		}
	}

	.taglib-empty-result-message .taglib-empty-search-result-message-header {
		max-width: 200px;
		padding-top: 250px;
	}
}
