.portal-workflow-metrics-app {
	.bg-danger-light {
		background: #FEEFEF;
	}

	.bg-info-light {
		background: #FFF;
		border: 1px solid #F0F5FF;
		box-sizing: border-box;
	}

	.bg-success-light {
		background: #EDF9F0;
	}

	.bg-warning-light {
		background: #FFF4EC;
	}
}