.portal-workflow-metrics-app,
.instance-details-modal {
	.bg-danger-light {
		background: #feefef;
	}

	.bg-info-light {
		background: #fff;
		border: 1px solid #f0f5ff;
		box-sizing: border-box;
	}

	.bg-success-light {
		background: #edf9f0;
	}

	.bg-warning-light {
		background: #fff4ec;
	}
}
