.multi-select-wrapper {
	padding-right: 0.5rem;
	position: relative;

	> .drop-icon {
		color: #6B6C7E;
		padding-right: 0.5rem;
	}

	> .drop-suggestion {
		height: auto;
		left: 0;
		max-height: 336px;
		max-width: 100%;
		min-height: 48px;
		position: absolute;
		right: 0;
		width: 100%;

		> ul > li.no-results > a {
			&:hover, &:active, &{
				background-color: transparent;
				color: #6B6C7E;
				cursor: default;
			}
		}
	}

	&.is-active {
		background-color: #F0F5FF;
		border-color: #80ACFF;
		color: #272833;
		outline: 0;

		> .drop-icon {
			color: #272833;
		}

		> .drop-suggestion {
			display: block;
		}
	}
}