$c: '.workflow-process-dashboard';

#{$c} {
	.alert-dismissible {
		margin-top: 1.5rem;
	}

	.dashboard-panel-header {
		color: #272833;
		font-size: 18px;
		font-weight: 700;
		margin-top: 10px;

		.workflow-tooltip {
			svg {
				color: #a7a9bc;
				font-size: 16px;
			}

			&:hover svg {
				color: #272833;
			}
		}
	}

	.panel {
		.management-bar {
			min-height: auto;

			.dropdown-toggle {
				margin: 0 !important;
				padding: 0.5rem !important;
			}
		}

		.panel-footer {
			&.fixed-bottom {
				bottom: 0;
				position: absolute;
				right: 0;
			}
		}

		&.dashboard-card {
			height: 504px;
		}
	}

	.process-dashboard-summary-card {
		border: 1px solid #e7e7ed;
		border-radius: 0.25rem;
		box-sizing: border-box;
		color: #30313f !important;
		display: inline-flex;
		font-size: 0.875rem;
		margin-right: 1.5rem;
		min-height: 136px;
		padding: 16px;
		text-decoration: none;
		width: 25%;

		.body {
			font-size: 2.5rem;
			line-height: 1;
			margin: 8px 0;
		}

		.footer {
			color: #6b6c7e;
			min-height: 1.3rem;

			.highlight-hover {
				color: #0b5fff;
			}
		}

		.header {
			line-height: 2rem;
		}

		&.disabled {
			pointer-events: none;

			.header {
				color: #a7a9bc;

				.sticker {
					opacity: 0.4;
				}
			}
		}

		&:hover {
			border: 2px solid #80acff;
			padding: 15px;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	.table-fit-panel {
		margin-left: -1.25rem;
		margin-right: -1.25rem;

		tr {
			td:first-child {
				padding-left: 1.25rem;
			}

			td:last-child {
				padding-right: 1.25rem;
			}
		}
	}

	.table-scrollable {
		max-height: 22.5rem;
	}

	.velocity-value,
	.velocity-unit {
		color: #30313f;
	}

	.velocity-value {
		font-size: 2.5rem;
		line-height: initial;
		margin-right: 0.5rem;
	}

	.velocity-unit {
		font-size: 0.875rem;
		text-transform: lowercase;
	}

	.workload-by-step-link {
		color: #272833;
	}
}

.custom-range-wrapper {
	width: 33rem;

	.custom-range-footer {
		padding: 1rem 1.5rem;
		text-align: right;
	}

	.custom-range-form {
		padding: 1rem 1.5rem 0.5rem 1.5rem;

		h4 {
			margin-bottom: 2rem;
		}
	}
}

.workload-by-assignee-card {
	.assignee-name {
		font-size: 0.75rem;
		font-weight: bold;
	}

	.empty-message {
		color: #6b6c7e;
		font-size: 0.875rem;
	}

	.nav-item {
		cursor: pointer;
	}

	.task-count-percentage {
		color: #6b6c7e;
		font-size: 0.75rem;
	}

	.task-count-value {
		font-size: 0.875rem;
		font-weight: bold;
	}

	.workload-by-assignee-link {
		color: #000000;
	}
}
