$c: '.workflow-process-dashboard';

#{$c} {
	.alert-dismissible {
		margin-top: 1.5rem;
	}

	.dashboard-panel-header {
		color: #272833;
		font-size: 18px;
		font-weight: 700;
		margin-top: 10px;

		.workflow-tooltip {
			svg {
				color: #a7a9bc;
				font-size: 16px;
			}

			&:hover svg {
				color: #272833;
			}
		}
	}

	.panel {
		.management-bar {
			min-height: auto;

			.dropdown-toggle {
				margin: 0 !important;
				padding: 0.5rem !important;
			}
		}
	}

	.process-dashboard-summary-card {
		border: 1px solid #e7e7ed;
		border-radius: 0.25rem;
		box-sizing: border-box;
		color: #30313f !important;
		display: inline-flex;
		font-size: 0.875rem;
		margin-right: 1.5rem;
		min-height: 136px;
		padding: 16px;
		text-decoration: none;
		width: 25%;

		.body {
			font-size: 2.5rem;
			line-height: 1;
			margin: 8px 0;
		}

		.footer {
			color: #6b6c7e;
			min-height: 1.3rem;

			.highlight-hover {
				color: #0b5fff;
			}
		}

		.header {
			line-height: 2rem;
		}

		&.disabled {
			pointer-events: none;

			.header {
				color: #a7a9bc;

				.sticker {
					opacity: 0.4;
				}
			}
		}

		&:hover {
			border: 2px solid #80acff;
			padding: 15px;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	.table-list {
		td:last-child,
		th:last-child,
		td + td,
		th + th {
			padding-right: 3rem;
		}

		th.table-head-title .title {
			line-height: 24px;
		}
	}

	.velocity-value,
	.velocity-unit {
		color: #30313f;
	}

	.velocity-value {
		font-size: 2.5rem;
		line-height: initial;
		margin-right: 0.5rem;
	}

	.velocity-unit {
		font-size: 0.875rem;
		text-transform: lowercase;
	}

	.workload-by-step-link {
		color: #272833;
	}
}
