$c: '.workflow-tooltip';

#{$c} {
	position: relative;

	.tooltip-inner {
		max-width: 300px;
		text-align: left;
	}

	#{$c}-bottom {
		left: 50%;
		max-width: 300px;
		padding-top: 9px;
		top: 100%;
		transform: translateX(-50%);

		#{$c}-arrow {
			padding-top: 9px;
		}
	}

	#{$c}-left {
		max-width: 300px;
		padding-right: 9px;
		right: 100%;
		top: 50%;
		transform: translateY(-50%);

		#{$c}-arrow {
			padding-right: 9px;
		}
	}

	#{$c}-right {
		left: 100%;
		max-width: 300px;
		padding-left: 9px;
		top: 50%;
		transform: translateY(-50%);

		#{$c}-arrow {
			padding-left: 9px;
		}
	}

	#{$c}-top {
		bottom: 100%;
		left: 50%;
		max-width: 300px;
		padding-bottom: 9px;
		transform: translateX(-50%);

		#{$c}-arrow {
			padding-bottom: 9px;
		}
	}
}
