.portlet-decorate {
	.portlet {
		margin-bottom: 0;
	}

	.portlet-content {
		border-width: 0;
		padding: 0;
	}
}

.portlet-solid .portlet-content {
	background: #fff;
	border: 1px solid #deeeee;
}

.portlet-barebone .portlet-content {
	padding: 0;
}

.fjord-section {
	.portlet {
		margin-bottom: 0;

		.portlet-content {
			padding: 0;
		}
	}
}

.fragment-entry-link-wrapper {
	.fjord-section {
		.portlet {
			.portlet-topper {
				align-items: center;
				background: $primary;
				border: none;
				color: white;
				display: flex;
				height: auto;
				justify-content: space-between;
				min-height: 0;
				padding: 0;
				top: 50%;
				-webkit-transform: translateY(-50%);
				transform: translateY(-50%);

				.portlet-title-default {
					display: block;
					padding: 0 0.5rem;
					text-align: left;
				}

				.portlet-topper-toolbar {
					a {
						color: inherit;

						.lexicon-icon {
							fill: currentColor;
						}
					}
				}
			}

			.portlet-content {
				background: none;
				border: none;
			}

			&.open,
			&:hover {
				.portlet-topper {
					opacity: 1;
					-webkit-transform: translateY(-50%);
					transform: translateY(-50%);

					.portlet-topper-toolbar {
						position: static;
					}
				}
			}
		}
	}
}
