[#assign
	privateFriendlyURL = themeDisplay.getPathFriendlyURLPrivateGroup() + themeDisplay.getSiteGroup().getFriendlyURL()
	publicFriendlyURL = themeDisplay.getPathFriendlyURLPublic() + themeDisplay.getSiteGroup().getFriendlyURL()
/]

<nav class="navbar navbar-expand-lg navbar-light public-site-navbar">
	<div class="container">
		<a class="navbar-brand" href="${publicFriendlyURL}">
			<img alt="" class="navbar-logo d-inline-block align-top" data-lfr-editable-id="image-logo" data-lfr-editable-type="image" loading="lazy" src="[resources:raylife_logo.svg]" />
		</a>

		<button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<lfr-widget-nav id="nav"></lfr-widget-nav>

			[#if themeDisplay.isSignedIn()]
			<div class="dropdown">
				<button aria-expanded="false" aria-haspopup="true" class="btn btn-unstyled dropdown-toggle" data-toggle="dropdown" id="${fragmentEntryLinkNamespace}_dropdown_menu" type="button">
					[@liferay_ui["user-portrait"] user=user /]
				</button>

				<ul aria-labelledby="${fragmentEntryLinkNamespace}_dropdown_menu" class="dropdown-menu right">
					<li><a class="dropdown-item" href="${privateFriendlyURL}">My Raylife</a></li>
					<li><a class="dropdown-item" href="${htmlUtil.escape(themeDisplay.getURLSignOut())}?referer=${publicFriendlyURL}">Sign out</a></li>
				</ul>
			</div>
			[#else]
			<a class="btn btn-outline-primary" href="${publicFriendlyURL}/sign-in" role="button">Sign In</a>
			[/#if]

		</div>
	</div>
</nav>