[#assign
	homeFriendlyURL = themeDisplay.getPathFriendlyURLPublic() + themeDisplay.getSiteGroup().getFriendlyURL()
/]

<nav class="navbar navbar-expand-lg navbar-light public-site-navbar">
	<div class="container">
		<a class="navbar-brand" href="${homeFriendlyURL}">
			<img alt="" class="navbar-logo d-inline-block align-top" data-lfr-editable-id="image-logo" data-lfr-editable-type="image" loading="lazy" src="[resources:raylife_logo.svg]" />
		</a>

		<button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<lfr-widget-nav id="nav"></lfr-widget-nav>
			<a data-lfr-editable-id="link-button" data-lfr-editable-type="link" class="btn btn-outline-primary" href="sign_in.html" role="button">Sign In</a>
		</div>
	</div>
</nav>