<div class="section-video">
	<div class="container">
		<div class="row">
			<div class="col-7">
				<lfr-drop-zone></lfr-drop-zone>
			</div>

			<div class="col-4 offset-1">
				<div class="section-video-text">
					<h5 data-lfr-editable-id="01-text" data-lfr-editable-type="text">Customer Spotlight</h5>

					<div class="display-4" data-lfr-editable-id="02-text" data-lfr-editable-type="text">Protecting our customers is our mission</div>

					<p data-lfr-editable-id="03-text" data-lfr-editable-type="text">Hear from Ebenezer Baptist Church how our protection helps fuel their purpose.</p>

					<a class="font-weight-bold" href="#" data-lfr-editable-id="01-link" data-lfr-editable-type="link">See Case Studies <img src="[resources:caret_sm.svg]" alt="" /></a>
				</div>
			</div>
		</div>
	</div>
</div>