<div class="fjord-footer fjord-section">
	<footer class="bg-dark py-5 text-white-50">
		<div class="container">
			<div class="row small">
				<div class="align-items-center col-12 d-flex flex-col flex-md-row">
					<div class="navbar-brand text-reset">
						<lfr-editable id="fjord-footer-logo" type="image">
							<a class="d-inline-block" href="#" title="Fjord">
								<img alt="" class="d-block img-fluid" src="[resources:logo.png]" />
							</a>
						</lfr-editable>
					</div>

					<div class="ml-0 ml-md-3 mt-3 mt-md-0">
						<lfr-widget-nav></lfr-widget-nav>
					</div>

					<div class="ml-md-auto mt-3 mt-md-0">
						<ul class="list-inline mb-0">
							<li class="list-inline-item">
								<lfr-editable id="fjord-footer-facebook" type="image">
									<a href="#" title="Facebook">
										<img alt="" class="img-fluid" src="[resources:facebook.png]" />
									</a>
								</lfr-editable>
							</li>
							<li class="list-inline-item">
								<lfr-editable id="fjord-footer-twitter" type="image">
									<a href="#" title="Twitter">
										<img alt="" class="img-fluid" src="[resources:twitter.png]" />
									</a>
								</lfr-editable>
							</li>
						</ul>
					</div>
				</div>

				<div class="border-secondary border-top col-12 mt-5 pt-5">
					<lfr-editable id="fjord-footer-copy" type="rich-text">
						<p class="mb-0 text-center text-md-left">Powered By <a class="text-reset" href="https://www.liferay.com" rel="external" target="_blank">Liferay</a></p>
					</lfr-editable>
				</div>
			</div>
		</div>
	</footer>
</div>