<div class="westeros-links westeros-section">
	<section class="bg-info py-5 text-white westeros-bg-info">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<lfr-editable id="westeros-links-title" type="rich-text">
						<span class="h6 mb-0" role="heading" aria-level="1">FIND US</span>
					</lfr-editable>
				</div>
			</div>

			<div class="mb-5 position-relative row westeros-links-decoration">
				<div class="align-items-center col-12 col-md-6 d-flex mt-5">
					<lfr-editable id="westeros-links-icon-1" type="image">
						<a class="d-block" href="#" title="westeros">
							<img alt="" src="[resources:westeros_links_icon_1.png]" />
						</a>
					</lfr-editable>

					<div class="ml-3">
						<lfr-editable id="westeros-links-text-1" type="rich-text">
							<a class="d-inline-block text-decoration-none text-reset" href="#" title="westeros">
								<p class="h3 mb-0">(0054) 432 943 435</p>
								<p class="mb-0">+435 432 654 654 from Overseas</p>
							</a>
						</lfr-editable>
					</div>
				</div>

				<div class="align-items-center col-12 col-md-6 d-flex mt-5">
					<lfr-editable id="westeros-links-icon-2" type="image">
						<a class="d-block" href="#" title="westeros">
							<img alt="" src="[resources:westeros_links_icon_2.png]" />
						</a>
					</lfr-editable>

					<div class="ml-3">
						<lfr-editable id="westeros-links-text-2" type="rich-text">
							<a class="d-inline-block text-decoration-none text-reset" href="#" title="westeros">
								<p class="h3 mb-0">Press Room</p>
							</a>
						</lfr-editable>
					</div>
				</div>

				<div class="align-items-center col-12 col-md-6 d-flex mt-5">
					<lfr-editable id="westeros-links-icon-3" type="image">
						<a class="d-block" href="#" title="westeros">
							<img alt="" src="[resources:westeros_links_icon_3.png]" />
						</a>
					</lfr-editable>

					<div class="ml-3">
						<lfr-editable id="westeros-links-text-3" type="rich-text">
							<a class="d-inline-block text-decoration-none text-reset" href="#" title="westeros">
								<p class="h3 mb-0">Westeros Branches</p>
							</a>
						</lfr-editable>
					</div>
				</div>

				<div class="align-items-center col-12 col-md-6 d-flex mt-5">
					<lfr-editable id="westeros-links-icon-4" type="image">
						<a class="d-block" href="#" title="westeros">
							<img alt="" src="[resources:westeros_links_icon_4.png]" />
						</a>
					</lfr-editable>

					<div class="ml-3">
						<lfr-editable id="westeros-links-text-4" type="rich-text">
							<a class="d-inline-block text-decoration-none text-reset" href="#" title="westeros">
								<p class="h3 mb-0">Work with us</p>
							</a>
						</lfr-editable>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>