@media(min-width: 768px) {
    .westeros-links-decoration:before {
        border-left: 1px solid;
        bottom: 0;
        content: '';
        left: 50%;
        opacity: .2;
        position: absolute;
        top: 3rem;
    }
}