.manage-collaborators {
	.list-group-item {
		border: 0;
	}

	select.form-control:not([multiple]):not([size]) {
		background-color: transparent;
		font-size: .875rem;
		height: 2rem;
		padding-top: .25em;
	}
}