.manage-collaborators-dialog {
	background-color: #FFF;

	.autofit-col > div.form-group {
		margin: 0;
	}

	h4 {
		margin-bottom: 0;
	}

	input[type="date"] {
		width: 140px;
	}

	.list-group-item {
		border: 0;
		padding: .5rem;

		.expiration-icon {
			visibility: hidden;
		}

		&.active .expiration-icon {
			visibility: visible;
		}
	}

	.modal-body.inline-scroller {
		padding: 0 20px;
	}

	.modal-footer {
		bottom: 0;
		position: absolute;
		rigth: 0;
		width: 100%;
	}

	select.form-control:not([multiple]):not([size]) {
		background-color: transparent;
		font-size: .875rem;
		height: 2rem;
		padding-top: .25em;
	}

	ul.list-group {
		margin-bottom: 0;
		margin-top: 1em;
	}
}