.sharing-modal-content {
	background-color: #fff;

	.custom-radio .form-text {
		font-weight: normal;
		margin-bottom: 1rem;
		margin-top: 0;
		padding-left: 1.5rem;
	}

	.modal-body.inline-scroller {
		max-height: 400px;
	}
}

.sharing-autocomplete-sticker {
	margin-right: 1rem;
}
