.hide {
	display: none !important;
}

.hide-accessible {
	clip: rect(0 0 0 0) !important;
	position: absolute !important;
}

.force-offset {
	display: block !important;
	position: absolute !important;
	visibility: hidden !important;
}

.unselectable,
.unselectable * {
	@include user-select(none);
}
