body.open-admin-panel {
	@include media-breakpoint-up(sm) {
		padding-right: $admin-panel-width;
	}
}

body.open-admin-panel,
body.sidenav-transition {
	@include media-breakpoint-up(sm) {
		overflow-x: hidden;
	}
}

.lfr-add-panel.open-admin-panel.sidenav-menu-slider {
	visibility: visible;
	width: $admin-panel-width;
}

.lfr-admin-panel {
	&.sidenav-menu-slider {
		z-index: $admin-panel-zindex;

		.product-menu {
			width: $admin-panel-width;
		}
	}

	.sidebar-body {
		padding: 0;
	}
}

.lfr-add-panel {
	.search-bar {
		display: block;
		margin: 10px;

		.form-control {
			display: block;
			float: none;
			padding-right: 32px;
		}
	}

	.input-group-btn {
		display: block;
		margin-top: -8px;
		position: absolute;
		right: 20px;
		top: 50%;
		z-index: 4;
	}

	.list-group-heading {
		font-size: 0.875rem;
	}
}

.lfr-add-panel .add-content-menu {
	.add-application-panel .lfr-content-item {
		margin-bottom: 0.5rem;
		padding: 0 16px 0 8px;

		&.lfr-archived-setup {
			padding-left: 30px;
		}
	}

	.add-content-panel .lfr-content-item {
		color: #272833;
	}

	.display-style-bar {
		padding: 4px 16px;

		.display-style {
			align-items: center;
			display: inline-flex;
			height: 32px;
			justify-content: center;
			margin-left: 8px;
			width: 32px;

			&.active {
				color: #869cad;
			}
		}

		.dropdown-toggle {
			align-items: center;
			display: inline-flex;
			height: 32px;
			padding-left: 4px;
			padding-right: 4px;
			text-decoration: none;

			.lexicon-icon-caret-double {
				margin-left: 0.3rem;
			}
		}
	}

	.add-content-button {
		.nav > li {
			padding: 4px 16px;
		}

		.dropdown-toggle {
			align-items: center;
			display: inline-flex;
			height: 32px;
			line-height: 1;
			padding: 0 4px;

			.lexicon-icon-caret-bottom {
				margin-left: 0.3rem;
			}
		}
	}

	.nav > li > a:before {
		right: 0;
	}
}
