.my-sites-menu {
	.site-type {
		color: #fff;
		display: none;
		float: right;
		font-size: 0.8em;
		font-weight: normal;
		margin-right: 10px;
		position: absolute;
		right: 100%;
	}

	a:hover .site-type {
		color: #fff;
		display: inline-block;
	}
}
