<div class="fjord-quote fjord-section">
	<section class="bg-dark bg-image fjord-quote-image jumbotron jumbotron-fluid mb-0 text-white" data-lfr-background-image-id="fjord-quote">
		<div class="container py-5 py-7">
			<div class="row">
				<div class="col-12">
					<blockquote class="blockquote text-center">
						<lfr-editable id="fjord-quote-text" type="rich-text">
							<h2 class="display-4 fjord-blockquote">I use this every single day. I will definitely be recommending to my friends.</h2>
						</lfr-editable>

						<lfr-editable id="fjord-quote-author" type="rich-text">
							<footer class="blockquote-footer text-reset">Alexandra F., Satisfied Customer</footer>
						</lfr-editable>
					</blockquote>
				</div>
			</div>
		</div>
	</section>
</div>