.fragment-vertical-rhythm {
	margin: 0;
	padding: 0;
}

.fragment-vertical-rhythm {
	font-size: 18px;
	margin: 0 auto;
	max-width: 75em;
	overflow-x: hidden;
	padding: 0;
	padding: 3em;
	position: relative;
	text-align: justify;
}

.fragment-vertical-rhythm p {
	line-height: 1.5em;
	margin-bottom: 1.5em;
}

.fragment-vertical-rhythm figure {
	background-color: #FAFAFA;
	box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
	box-sizing: border-box;
	height: 18em;
	margin: 3em;
	max-width: 50%;
	overflow: hidden;
	padding: 1.5em;
	text-align: center;
	width: 32em;
}

.fragment-vertical-rhythm .img {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: calc(100% - 1.5em);
	margin: 0 auto;
	width: 100%;
}

.fragment-vertical-rhythm figcaption {
	box-sizing: border-box;
	font-style: italic;
	height: 1.5em;
	line-height: 1.5em;
	margin: 0 auto;
	margin-top: 0.75em;
	max-width: 75%;
	overflow: hidden;
	padding: 0 2em;
	text-overflow: ellipsis;
	white-space: nowrap;
}