<div class="fragment_porygon_39501">
	<div class="aspect-ratio aspect-ratio-16-to-9 aspect-ratio-21-to-9">
		<lfr-editable id="porygon_detail_header" type="image">
			<img src="$content_16.jpg$" />
		</lfr-editable>
	</div>
</div>

<div class="container-fluid container-fluid-max-xl container-form-lg">
	<div class="row">
		<div class="col-md-10 col-lg-8 mx-auto">
			<div aria-level="1" class="text-center" role="heading">
				<lfr-editable id="porygon_detail_content_title" type="text">Title</lfr-editable>
			</div>

			<h2 class="text-center">
				<lfr-editable id="porygon_detail_content_subtitle" type="text">Sub title</lfr-editable>
			</h2>

			<div class="mt-3">
				<lfr-editable id="porygon_detail_content" type="rich-text">
					Editable content text
				</lfr-editable>
			</div>
		</div>
	</div>
</div>