@import 'atlas-variables';

$target-overlay-background-color: rgba(128, 172, 255, 0.1);
$target-overlay-background-color-hover: rgba(128, 172, 255, 0.2);
$target-overlay-border-color: rgb(11, 95, 255);

// You would think we could use Liferay.zIndex.OVERLAY (1000) here, but
// we can't: see _variables.scss from layout-content-page-editor-web for
// z-indices in the high 900s that apply to the top nav of the control
// menu, and which we have to slide under while scrolling.
$target-z-index: 900;

.lfr-segments-experiment-click-goal-root {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: $target-z-index;
}

.lfr-segments-experiment-click-goal-target {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	pointer-events: none;
	position: absolute;
}

.lfr-segments-experiment-click-goal-target-delete {
	cursor: pointer;
}

.lfr-segments-experiment-click-goal-target-overlay {
	background-color: $target-overlay-background-color;
	border: 2px solid $target-overlay-border-color;
	cursor: pointer;
	pointer-events: auto;
	position: relative;

	&:before {
		border: 2px solid rgba(247, 248, 249, 1);
		bottom: 0;
		content: '';
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	&:hover {
		background-color: $target-overlay-background-color-hover;
	}

	&.lfr-segments-experiment-click-goal-target-overlay-selected {
		border-color: $target-overlay-border-color;
		border-color: #0053f0;
	}
}

.lfr-segments-experiment-click-goal-target-popover {
	background-color: $white;
	border-color: $dropdown-border-color;
	border-radius: 4px;
	border-width: $dropdown-border-width;
	box-shadow: $dropdown-box-shadow;
	cursor: initial;
	font-size: $dropdown-font-size;
	pointer-events: auto;
	z-index: 10;
}

.lfr-segments-experiment-click-goal-target-topper {
	background-color: $target-overlay-border-color;
	border-radius: 2px 2px 0 0;
	cursor: initial;
	pointer-events: auto;
	position: absolute;
}
