<div class="fragment_37359">
<div class="card-type-asset form-check form-check-card form-check-top-left image-card">
	<div class="card">
		<div class="aspect-ratio card-item-first">
			<div class="custom-control custom-checkbox">
				<label>
					<input class="custom-control-input" type="checkbox" />

					<span class="custom-control-label"></span>

					<img alt="thumbnail" class="aspect-ratio-item-center-middle aspect-ratio-item-fluid" src="[resources:Liferay.png]" />

					<span class="sticker sticker-bottom-left sticker-danger rounded-circle">JPG</span>
				</label>
			</div>
		</div>

		<div class="card-body">
			<div class="card-row">
				<div class="autofit-col autofit-col-expand">
					<div class="card-title text-truncate" title="thumbnail_coffee.jpg">Liferay.jpg</div>
					<div class="card-subtitle text-truncate" title="Author Action">Author Action</div>
					<div class="card-detail">
						<span class="label label-success">
							<span class="label-item label-item-expand">Approved</span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>