.multiselect-root {
	.react-select__control {
		background-color: $lightBackground;
		border-color: $mainLighten74;
		box-shadow: none;

		&:hover {
			border-color: $mainLighten74;
		}

		.react-select__multi-value,
		.react-select__multi-value__label,
		.react-select__multi-value__remove {
			background-color: $white;
			border: 0;
			border-color: $mainLighten65;
			color: $mainLighten28;
		}
	}

	.react-select__control--is-focused {
		background-color: $primaryL3;
		border-color: $primaryL1;
		box-shadow: none;
		color: #272833;
		outline: 0;

		&:hover {
			border-color: $primaryL1;
			box-shadow: none;
		}
	}
}
