<li class="control-menu-nav-item hidden-xs analytics-reports-icon ${cssClass}">
	<a aria-label="${title}" class="control-menu-icon lfr-portal-tooltip product-menu-toggle sidenav-toggler" data-content="body" data-open-class="lfr-has-analytics-reports-panel open-admin-panel" data-target="#${portletNamespace}analyticsReportsPanelId" data-title="${title}" data-toggle="liferay-sidenav" data-type="fixed-push" data-type-mobile="fixed" data-url="${analyticsReportsPanelURL}" href="javascript:;" id="${portletNamespace}analyticsReportsPanelToggleId">
		${iconTag}
	</a>
</li>