/*
** Measures
*/
$baseline: 1rem;

/*
** Colors
*/
$active-blue: #0b5fff;
$dark-blue-100: rgba(179, 205, 255, 0.3);
$light-400: #dee4e9;
$light-blue-100: #f0f5ff;
$light-blue-200: #80acff;
$light-blue-500: #2e5aac;
$light: #fff;
