@import "bourbon";
@import "mixins";

body.open-admin-panel {
	&, .control-menu, .affix {
		@include sm() {
			padding-right: $admin-panel-width;
		}
	}

	.control-menu-level-2 {
		@include sm() {
			right: $admin-panel-width;
		}
	}
}

body.open-admin-panel, body.sidenav-transition {
	@include sm() {
		overflow-x: hidden;
	}
}

.lfr-add-panel.open-admin-panel.sidenav-menu-slider {
	visibility: visible;
	width: $admin-panel-width;
}

.lfr-admin-panel {
	&.sidenav-menu-slider {
		z-index: $admin-panel-zindex;

		.product-menu {
			width: $admin-panel-width;
		}
	}

	.sidebar-body {
		padding: 0;
	}
}

.lfr-add-panel {
	.search-bar {
		display: block;
		margin: 10px;

		.form-control {
			display: block;
			float: none;
			padding-right: 32px;
		}
	}

	.input-group-btn {
		display: block;
		margin-top: -8px;
		position: absolute;
		right: 20px;
		top: 50%;
		z-index: 4;
	}
}

.lfr-add-panel .add-content-menu {
	.add-portlet-message {
		background-color: #1B2228;
		margin: 20px;
		padding: 5px 20px;

		.info-message {
			margin: 20px 0;
		}
	}

	.add-application-panel .lfr-content-item {
		height: 40px;
		padding: 0 16px;

		&.lfr-archived-setup {
			padding-left: 30px;
		}
	}

	.display-style-bar {
		margin: 10px;

		.display-style {
			padding: 5px;

			&.active {
				color: #869CAD;
			}
		}
	}
}

// DXP overrides

.lfr-admin-panel {
	.sidebar-body {
		border-left: 1px solid $product-menu-panel-title-active-bg;
		border-right-width: 0;
	}
}

.lfr-add-panel {
	.add-content-menu {
		.add-portlet-message {
			background-color: $product-menu-panel-title-active-bg;
		}
	}
}

.lfr-simulation-panel {
	.lfr-device-item.selected {
		color: $control-menu-level-2-bg;

		.icon {
			background-color: $control-menu-level-2-bg;
			color: $control-menu-level-2-color;
		}
	}

	.custom-devices {
		background-color: $control-menu-level-2-color;
	}
}

.lfr-add-panel, .lfr-simulation-panel {
	.product-menu .sidebar-header {
		background-color: $control-menu-level-2-bg;
		padding: 16px 24px;
	}

	.sidebar-inverse {
		.nav > li > a:hover {
			color: $control-menu-level-1-bg;
		}
	}
}