.border-left-blue {
	border-left-color: #2e5aac;
	border-left-width: 0.45rem;
}

.border-left-green {
	border-left-color: #28a745;
	border-left-width: 0.45rem;
}

.border-left-orange {
	border-left-color: #b95000;
	border-left-width: 0.45rem;
}

.border-left-red {
	border-left-color: #da1414;
	border-left-width: 0.45rem;
}

.blue {
	color: blue;
}

.change-lists-history-sheet {
	margin-top: 1.5rem;
}

.process-card {
	background-color: #fff;
	border-color: #e7e7ed;
	border-radius: 0.25rem;
	border-style: solid;
	border-width: 0.063rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	margin-bottom: 1.5rem;
	margin-left: 22%;
	margin-right: 22%;
	margin-top: 1.5rem;
	padding-bottom: 2rem;
	padding-top: 1.5rem;
}

.process-card-text {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.no-left-padding {
	padding-left: 0px;
}

.strong {
	font-weight: bold;
}
