.change-lists-history-sheet {
	margin-top: 1.5rem;
}

.process-card {
	background-color: #FFF;
	border-color: #E7E7ED;
	border-radius: 0.25rem;
	border-style: solid;
	border-width: 0.063rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	margin-bottom: 1.5rem;
	margin-left: 22%;
	margin-right: 22%;
	margin-top: 1.5rem;
	padding-bottom: 2rem;
	padding-top: 1.5rem;
}

.border-left-blue {
	border-left-color: #2E5AAC;
	border-left-width: 0.45rem;
}

.border-left-green {
	border-left-color: #28A745;
	border-left-width: 0.45rem;
}

.border-left-orange {
	border-left-color: #B95000;
	border-left-width: 0.45rem;
}

.border-left-red {
	border-left-color: #DA1414;
	border-left-width: 0.45rem;
}

.process-card-text {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}