@import 'partials/variables';

@import 'partials/backgrounds';
@import 'partials/buttons';
@import 'partials/contents';
@import 'partials/fonts';
@import 'partials/footer';
@import 'partials/header';
@import 'partials/portlet_decorator';
@import 'partials/text-formats';

.img-spacing {
	margin-bottom: 15px;
}

.form-control {
	background-color: transparent;
}

body {
	background-color: $main-bg-color;
}

#wrapper {
	padding: 0;

	#content .portlet-layout {
		margin-left: 0;
		margin-right: 0;
		min-height: 400px;
	}
}

.modify-pages .delete-tab {
	color: #f00;
	height: 20px;
	left: -15px;
	right: inherit;
	top: 22px;
}

.add-page-editor {
	.input-group {
		top: 8px;
	}

	.btn {
		padding: 3px 10px;
	}
}

.lfr-portlet-title-editable .btn {
	padding: 3px 10px;
}
