@import 'atlas-variables';

.miller-columns__drag-preview {
	cursor: grabbing;
	height: 100%;
	left: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 3;

	&__content {
		background-color: $white;
		border-radius: 4px;
		box-shadow: 0 8px 16px rgba(39, 40, 51, 0.16);
		color: $secondary-d2;
		cursor: grabbing;
		display: block;
		font-size: 12px;
		font-weight: 600;
		height: 32px;
		padding: 8px;
		position: absolute;
		text-align: left;
		text-overflow: ellipsis;
		width: 246px;
		word-wrap: break-word;

		.lexicon-icon {
			font-size: 14px;
		}
	}
}
