@import "mixins";

.layout-column {
	margin: 0;
	padding: 0;

	& + & {
		border-left: solid #CCC thin;
	}

	&--placeholder {
		display: none;
	}

	.active-item {
		background-color: #F0F5FF;
	}

	.list-group-item {
		border-left: none;
		border-right: none;
	}

	.quick-action-menu {
		position: static;
	}

	@include md {
		height: calc(100vh - 384px);
		min-height: 10rem;
		overflow-y: scroll;

		&--placeholder {
			display: block;
			opacity: 0.5;
		}
	}
}