@import "mixins";

.layout-column {
	margin: 0;
	padding: 0;

	& + & {
		border-left: solid #CCC thin;
	}

	&--placeholder {
		display: none;
	}

	.active-item {
		background-color: #F7F8F9;
	}

	.list-group-item {
		border-left: none;
		border-right: none;

		&:first-child {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-top-width: 0;
		}
	}

	.quick-action-menu {
		position: static;
	}

	@include md {
		height: calc(100vh - 384px);
		min-height: 10rem;
		overflow-y: scroll;

		&--placeholder {
			display: block;
			opacity: 0.5;
		}
	}
}

.layout-column .list-group-item.layout-column-item-drag-top:first-child {
	box-shadow: inset 0 2px 0 0 #0B5FFF;
	transition-delay: 0s;
}

.layout-column-item-dragged {
	opacity: 0.4;
}

.layout-column-item-drag-inside {
	box-shadow: inset 0 0 0 2px #0B5FFF;
}

.layout-column-item-subtitle {
	font-weight: normal;
}

.layout-drag-handler {
	align-items: center;
	color: #CDCED9;
	cursor: move;
	display: inline-flex;
	position: relative;
	top: 1px;

	svg {
		height: 24px;
		width: 24px;
	}
}

.layout-has-child-col {
	align-items: center;
	color: #CDCED9;
	display: inline-flex;
	min-width: 16px;
}

.list-group-item.layout-item {
	height: 68px;
	max-height: 68px;
	position: relative;
	transition: box-shadow 0s ease-out 32ms;

	.layout-column-item-title {
		pointer-events: none;
	}

	.layout-column-item-click-mask {
		background: transparent;
		border: none;
		cursor: pointer;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;

		&:focus {
			outline: 0;
		}
	}
}

.list-group-item.layout-item:last-child {
	border-radius: 0;
}

.list-group-item.layout-item.layout-column-item-drag-bottom {
	box-shadow: inset 0 -2px 0 0 #0B5FFF;
	transition-delay: 0s;
}

.list-group-item.layout-item.layout-column-item-drag-top {
	box-shadow: 0 -2px 0 0 #0B5FFF;
	transition-delay: 0s;
}

.list-group-item.layout-drag-item.dragging {
	background-color: #F0F5FF;
	border: none;
	border-radius: 4px;
	box-shadow: 2px 3px 6px 0 rgba(39, 40, 51, 0.15);
	height: 48px;
	width: 240px;

	.flex-col {
		.btn-link,
		.component-action,
		.custom-checkbox,
		.dropdown,
		.list-group-subtitle,
		.quick-action-menu {
			display: none;
		}

		.list-group-title {
			margin-top: 0;
		}
	}
}

.select-item-checkbox-label {
	&:after, &:before {
		top: 0;
	}
}